openapi: 3.2.0
info:
  title: Visma.net ERP Attachment API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: Attachment
paths:
  /v1/attachment/{attachmentId}:
    get:
      tags:
      - Attachment
      summary: Get latest revision of a specific Attachment
      operationId: Attachment_GetByattachmentId
      parameters:
      - name: attachmentId
        in: path
        description: Identifies the attachment
        required: true
        schema:
          type: string
          format: uuid
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - Attachment
      summary: Update a specific Attachment
      description: The the Response Message has StatusCode NoContent if Put operation succeed
      operationId: Attachment_PutByattachmentId
      parameters:
      - name: attachmentId
        in: path
        description: Identifies the Attachment to update
        required: true
        schema:
          type: string
          format: uuid
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Attachment to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentMetadataUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/AttachmentMetadataUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/AttachmentMetadataUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/AttachmentMetadataUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttachmentMetadataUpdateDto'
        required: true
        x-bodyName: metadataDto
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    AttachmentMetadataUpdateDto:
      type: object
      properties:
        sendToAutoinvoice:
          type: object
          properties:
            value:
              type: boolean
          description: The field SendToAutoinvoice only applies to files attached to Customer documents
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
