openapi: 3.2.0
info:
  title: Visma.net ERP Fixed Asset API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: FixedAsset
paths:
  /v1/fixedAsset/{FixedAssetID}:
    get:
      tags:
      - FixedAsset
      summary: Get a specific Fixed Asset - Screen ID:FA303000
      operationId: FixedAsset_GetByFixedAssetID
      parameters:
      - name: FixedAssetID
        in: path
        description: Identifies the fixed asset
        required: true
        schema:
          type: string
      - name: ExpandAccounts
        in: query
        description: Set to True to include accounts and subaccounts. Default value is False
        schema:
          type: boolean
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAssetDto'
            text/json:
              schema:
                $ref: '#/components/schemas/FixedAssetDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/fixedAsset:
    get:
      tags:
      - FixedAsset
      summary: Get a range of Fixed Assets - Screen ID:FA303000
      operationId: FixedAsset_GetAll
      parameters:
      - name: assetID
        in: query
        description: Fixed Asset ID that identifies the asset.
        schema:
          type: string
      - name: classID
        in: query
        description: View all fixed assets with this Fixed Asset Class ID.
        schema:
          type: string
      - name: status
        in: query
        description: 'View all fixed assets with this Status. Available statuses are: Active, Disposed, FullyDepriciated, Hold, Reversed, Suspended.'
        schema:
          enum:
          - Active
          - Disposed
          - FullyDepreciated
          - Hold
          - Reversed
          - Suspended
          type: string
      - name: fromDate
        in: query
        description: 'From ''Placed in service date'' inclusive. Date format: YYYY-MM-DD.'
        schema:
          type: string
          format: date-time
      - name: toDate
        in: query
        description: 'To ''Placed in service date'' inclusive. Date format: YYYY-MM-DD.'
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: expandAccounts
        in: query
        description: Set to True to include accounts and subaccounts. Default value is False
        schema:
          type: boolean
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FixedAssetDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FixedAssetDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    disposalMethodInDetailsDto:
      properties:
        description:
          type: string
          description: The description of the disposal method
      description: The disposal method details of this fixed asset
    typeInFixedAssetDto:
      properties:
        assetTypeID:
          type: string
          description: The type id of this fixed asset
        description:
          type: string
          description: The type description
      description: The type of this fixed asset
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    FixedAssetDto:
      type: object
      properties:
        assetID:
          type: string
          description: The id that identifies this fixed asset
        recordType:
          type: string
          description: The type of the record. This value is 'A' for fixed assets
        parentAssetID:
          type: string
          description: The asset id of the parent of this fixed asset
        description:
          type: string
          description: The description of this fixed asset
        classID:
          type: string
          description: The class id of this fixed asset
        isTangible:
          type: boolean
          description: Indicates whether this fixed asset is tangible or not
        quantity:
          type: number
          description: The quantity of this fixed asset
          format: double
        depreciable:
          type: boolean
          description: Indicates if this fixed asset can be depreciated or not
        usefulLife:
          type: number
          description: Useful life of this fixed asset in years
          format: double
        accounts:
          $ref: '#/components/schemas/accountsInFixedAssetDto'
        details:
          $ref: '#/components/schemas/detailsInFixedAssetDto'
        bookBalance:
          $ref: '#/components/schemas/bookBalanceInFixedAssetDto'
        location:
          $ref: '#/components/schemas/locationInFixedAssetDto'
        propertyTax:
          $ref: '#/components/schemas/propertyTaxInFixedAssetDto'
        type:
          $ref: '#/components/schemas/typeInFixedAssetDto'
        lastModifiedDateTime:
          type: string
          description: A system generated date/time that indicates the last change for this fixed asset
          format: date-time
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents an attribute in FixedAssetController. Used for getting data.
    leaseAndRentInfoInDetailsDto:
      properties:
        lessorID:
          type: string
        lessorName:
          type: string
        leaseRentTerm:
          type: integer
          format: int32
        leaseNumber:
          type: string
        rentAmount:
          type: number
          format: double
        retailCost:
          type: number
          format: double
        manufacturingYear:
          type: string
      description: The lease and rent infor for this fixed asset
    detailsInFixedAssetDto:
      properties:
        propertyType:
          enum:
          - Property
          - GrantProperty
          - Leased
          - LeasedtoOthers
          - Rented
          - RentedtoOthers
          - Credit
          type: string
          description: Type can be
        status:
          enum:
          - Active
          - Disposed
          - FullyDepreciated
          - Hold
          - Reversed
          - Suspended
          type: string
          description: Status can be
        receiptDate:
          type: string
          description: The date of the receipt
          format: date-time
        depreciateFromDate:
          type: string
          description: The date this asset is placed in service
          format: date-time
        acquisitionCost:
          type: number
          description: The acquisition cost of this fixed asset
          format: double
        salvageAmount:
          type: number
          description: The salvage amount of this fixed asset
          format: double
        disposalDate:
          type: string
          description: The date of the disposal of this fixed asset
          format: date-time
        disposalPeriodID:
          type: string
          description: The period of the disposal of this fixed asset
        disposalMethodID:
          type: integer
          description: The disposal method of this fixed asset
          format: int32
        saleAmount:
          type: number
          description: The disposal amount of this fixed asset
          format: double
        billNumber:
          type: string
          description: The bill number of the fixed asset invoice
        serialNumber:
          type: string
          description: The serial number of this fixed asset
        disposalMethod:
          $ref: '#/components/schemas/disposalMethodInDetailsDto'
        leaseAndRentInfo:
          $ref: '#/components/schemas/leaseAndRentInfoInDetailsDto'
      description: The details of this fixed asset
    locationInFixedAssetDto:
      properties:
        departmentID:
          type: string
          description: The current department id of this fixed asset
        branchID:
          type: string
          description: The current branch id of this fixed asset
      description: The current location of this fixed asset
    propertyTaxInFixedAssetDto:
      properties:
        propertyTaxID:
          type: string
          description: The property tax group id of this fixed asset
        description:
          type: string
          description: The description of the property tax group of this fixed asset
      description: The property tax group this fixed asset is conntected to
    accountsInFixedAssetDto:
      properties:
        accountID:
          type: string
          description: The fixed asset account for this fixed asset
        subAccountID:
          type: string
          description: The sub account for this fixed asset
        accrualAccountID:
          type: string
          description: The accrual account for this fixed asset
        accrualSubAccountID:
          type: string
          description: The accrual sub account for this fixed asset
        accumulatedDepreciationAccountID:
          type: string
          description: The accumulated depreciation account for this fixed asset
        accumulatedDepreciationSubAccountID:
          type: string
          description: The accumulated depreciation sub for this fixed asset
        depreciatedExpenseAccountID:
          type: string
          description: The depreciation expense account for this fixed asset
        depreciatedExpenseSubAccountID:
          type: string
          description: The depreciation expense sub for this fixed asset
        disposalAccountID:
          type: string
          description: The proceeds account for this fixed asset
        disposalSubAccountID:
          type: string
          description: The proceeds sub for this fixed asset
        gainAccountID:
          type: string
          description: The gain account for this fixed asset
        gainSubAccountID:
          type: string
          description: The gain sub for this fixed asset
        lossAccountID:
          type: string
          description: The loss account for this fixed asset
        lossSubAccountID:
          type: string
          description: The loss sub for this fixed asset
        debitAccountID:
          type: string
          description: The debit account
        debitSubAccountID:
          type: string
          description: The debit sub account
        creditAccountID:
          type: string
          description: The credit account
        creditSubAccountID:
          type: string
          description: The credit sub account
      description: All accounts selected for this fixed asset
    bookBalanceInFixedAssetDto:
      properties:
        acquisitionCost:
          type: number
          description: The acquisition cost of this fixed asset
          format: double
        depreciationMethodID:
          type: string
          description: The depreciation method id of this fixed asset
        depreciationFromDate:
          type: string
          description: The date this asset is placed in service
          format: date-time
        depreciationFromPeriod:
          type: string
          description: The first period this fixed asset will start/has started depreciating
        depreciationToPeriod:
          type: string
          description: The last period this fixed asset will depreciate/ was depreciated
        lastDepreciationPeriod:
          type: string
          description: The last period this asset has been depreciated
        salvageAmount:
          type: number
          description: The salvage amount of this fixed asset
          format: double
        usefulLife:
          type: number
          description: The useful life of this fixed asset in years
          format: double
        book:
          $ref: '#/components/schemas/bookInBookBalanceDto'
      description: The book balance details for this fixed asset
    bookInBookBalanceDto:
      properties:
        bookID:
          type: string
          description: The book id of this fixed asset
        description:
          type: string
          description: The description of the book
      description: The book details of this fixed asset
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
