openapi: 3.2.0
info:
  title: Visma.net ERP Supplier Payment API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: SupplierPayment
paths:
  /v1/supplierPayment/{paymentNumber}:
    get:
      tags:
      - SupplierPayment
      summary: Get a specific SupplierPayment
      description: 'Data for a single supplier payment.


        The response headers include an ETag after a successful GET operation.'
      operationId: SupplierPayment_GetBypaymentNumber
      parameters:
      - name: paymentNumber
        in: path
        description: Identifies the SupplierPayment
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierPaymentDto'
            text/json:
              schema:
                $ref: '#/components/schemas/SupplierPaymentDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - SupplierPayment
      summary: Update a specific SupplierPayment
      description: 'Response Message has StatusCode NoContent if PUT operation succeed.


        Response Message has StatusCode BadRequest if PUT operation failed.


        The response headers include an ETag after a successful PUT operation.'
      operationId: SupplierPayment_PutBypaymentNumber
      parameters:
      - name: paymentNumber
        in: path
        description: Identifies the Payment to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Payment to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierPaymentUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SupplierPaymentUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/SupplierPaymentUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/SupplierPaymentUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SupplierPaymentUpdateDto'
        required: true
        x-bodyName: payment
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Supplier payment version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierPayment/{paymentType}/{paymentNumber}:
    get:
      tags:
      - SupplierPayment
      summary: Get a specific SupplierPayment by type and number
      description: 'Data for a single supplier payment.


        The response headers include an ETag after a successful GET operation.'
      operationId: SupplierPayment_GetByTypeBypaymentTypepaymentNumber
      parameters:
      - name: paymentType
        in: path
        description: Identifies the Supplier document type
        required: true
        schema:
          type: string
      - name: paymentNumber
        in: path
        description: Identifies the Supplier document number
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierPaymentDto'
            text/json:
              schema:
                $ref: '#/components/schemas/SupplierPaymentDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierPayment:
    get:
      tags:
      - SupplierPayment
      summary: Get all SupplierPayments.
      operationId: SupplierPayment_GetAllPayments
      parameters:
      - name: invoiceRefNbr
        in: query
        schema:
          type: string
      - name: paymentType
        in: query
        description: 'The top part &gt; Type &gt;The type of supplier ledger payment document. The following types are available: Payment, PUrchase credit note, Prepayment, Supplier refund, Voided payment.'
        schema:
          enum:
          - Payment
          - DebitAdj
          - Prepayment
          - Refund
          - VoidPayment
          - VoidRefund
          type: string
      - name: greaterThanValue
        in: query
        description: Enter the from-value for Ref. no.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: supplier
        in: query
        description: Filter by Supplier
        schema:
          type: string
      - name: branch
        in: query
        description: Filter by Branch
        schema:
          type: string
      - name: docDate
        in: query
        description: 'This value indicates the document date. Use it to retrieve all records that have the Document Date since that time, up to the future.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```


          _Note:_ __DocDate__ and __DocDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
          format: date-time
      - name: docDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Document Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __DocDate__ and __DocDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: dueDate
        in: query
        description: 'This value indicates the date the document is due for payment. Use it to retrieve all records that have the Due date since that time, up to the future.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```


          _Note:_ __DueDate__ and __DueDateConditionCondition__ are __mutually inclusive__.'
        schema:
          type: string
          format: date-time
      - name: dueDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Due Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __DueDate__ and __DueDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: financialPeriod
        in: query
        description: Filter by financial period, format YYYYPP
        schema:
          type: string
      - name: balance
        in: query
        description: 'This value represents balance of the payment remaining to be applied and released. Only released applications will count towards the balance.


          _Note:_ __Balance__ and __BalanceCondition__ are __mutually inclusive__.'
        schema:
          type: number
          format: double
      - name: balanceCondition
        in: query
        description: 'This value represents the condition to be applied to the Balance when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __Balance__ and __BalanceCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: status
        in: query
        description: Filter by document status
        schema:
          enum:
          - Hold
          - Balanced
          - Voided
          - Scheduled
          - Open
          - Closed
          - Printed
          - Prebooked
          - PendingApproval
          - Rejected
          - Reserved
          - PendingPrint
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierPaymentDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierPaymentDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - SupplierPayment
      summary: Create a SupplierPayment
      description: 'Response Message has StatusCode Created if POST operation succeed.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.


        The response headers include an ETag after a successful POST operation.'
      operationId: SupplierPayment_CreateSupplierPayment
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the SupplierPayment to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierPaymentUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SupplierPaymentUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/SupplierPaymentUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/SupplierPaymentUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SupplierPaymentUpdateDto'
        required: true
        x-bodyName: payment
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierPayment/{paymentNumber}/action/release:
    post:
      tags:
      - SupplierPayment
      summary: Release payment operation
      description: 'The action result dto contains information about the result of running the action.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.'
      operationId: SupplierPayment_ReleasePaymentBypaymentNumber
      parameters:
      - name: paymentNumber
        in: path
        description: Reference number of the payment to be released
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: Contains the type of the payment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseSupplierPaymentActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ReleaseSupplierPaymentActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ReleaseSupplierPaymentActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ReleaseSupplierPaymentActionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ReleaseSupplierPaymentActionDto'
        required: true
        x-bodyName: releaseActionDto
      responses:
        '412':
          description: Supplier payment version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierPayment/{paymentType}/{paymentNumber}/action/writeoff:
    post:
      tags:
      - SupplierPayment
      summary: Write-off payment operation
      description: 'The action result dto contains information about the result of running the action.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.'
      operationId: SupplierPayment_WriteoffPaymentBypaymentTypepaymentNumber
      parameters:
      - name: paymentType
        in: path
        description: The type of the payment to be written off
        required: true
        schema:
          type: string
      - name: paymentNumber
        in: path
        description: Reference number of the payment to be written off
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '200':
          description: Operation accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WriteoffPaymentActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/WriteoffPaymentActionResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/WriteoffPaymentActionResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/WriteoffPaymentActionResultDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WriteoffPaymentActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/WriteoffPaymentActionResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/WriteoffPaymentActionResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/WriteoffPaymentActionResultDto'
        '412':
          description: Supplier payment version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    currencyInSupplierPaymentDto:
      properties:
        id:
          type: string
          description: Currency Id.
        description:
          type: string
          description: Currency description.
        symbol:
          type: string
          description: Currency symbol.
        isBaseCurrency:
          type: boolean
          description: Identify if the currency is the base currency.
        decimalPrecision:
          type: integer
          description: Decimal precision.
          format: int32
        isUsedForAccounting:
          type: boolean
          description: Identify if is used for accounting.
      description: The top part &gt; Currency &gt; The currency of the payment; by default, it is the currency associated with the cash account.
    DtoValueOfDecimal:
      type: object
      properties:
        value:
          type: number
          format: double
    DtoValueOfNullableOfSupplierInvoiceTypes:
      type: object
      properties:
        value:
          enum:
          - Invoice
          - CreditAdj
          - DebitAdj
          - Prepayment
          - Refund
          - Payment
          type: string
    supplierInSupplierPaymentDto:
      properties:
        internalId:
          type: integer
          format: int32
        number:
          type: string
          description: The identifier of the particular destination of the selected type.
        name:
          type: string
          description: The name of the particular destination of the selected type.
      description: 'Mandatory field: The top part &gt; Supplier* &gt; The supplier.'
    SupplierPaymentUpdateDto:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/typeInSupplierPaymentUpdateDto'
        referenceNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        hold:
          $ref: '#/components/schemas/DtoValueOfBoolean'
        applicationDate:
          $ref: '#/components/schemas/DtoValueOfDateTime'
        applicationPeriod:
          $ref: '#/components/schemas/DtoValueOfString'
        paymentRef:
          $ref: '#/components/schemas/DtoValueOfString'
        supplier:
          $ref: '#/components/schemas/DtoValueOfString'
        location:
          $ref: '#/components/schemas/DtoValueOfString'
        paymentMethod:
          $ref: '#/components/schemas/DtoValueOfString'
        cashAccount:
          $ref: '#/components/schemas/DtoValueOfString'
        currency:
          $ref: '#/components/schemas/DtoValueOfString'
        description:
          $ref: '#/components/schemas/DtoValueOfString'
        paymentAmount:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        branch:
          $ref: '#/components/schemas/DtoValueOfString'
        paymentLines:
          type: array
          items:
            $ref: '#/components/schemas/SupplierPaymentAdjustmentUpdateDto'
        overrideNumberSeries:
          $ref: '#/components/schemas/DtoValueOfBoolean'
    SupplierPaymentAdjustmentDto:
      type: object
      properties:
        branch:
          type: string
        batchNumber:
          type: string
        docType:
          enum:
          - Invoice
          - CreditAdj
          - DebitAdj
          - Prepayment
          - Refund
          - Payment
          type: string
        invoiceRefNbr:
          type: string
        amountPaid:
          type: number
          format: double
        cashDiscountTaken:
          type: number
          format: double
        withholdingTax:
          type: number
          format: double
        applicationPeriod:
          type: string
        date:
          type: string
          format: date-time
        dueDate:
          type: string
          format: date-time
        cashDiscountDate:
          type: string
          format: date-time
        balance:
          type: number
          format: double
        cashDiscountBalance:
          type: number
          format: double
        description:
          type: string
        currency:
          type: string
        postPeriod:
          type: string
        supplierRef:
          type: string
    DtoValueOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    ReleaseSupplierPaymentActionDto:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/DtoValueOfNullableOfSupplierPaymentTypes'
    DtoValueOfString:
      type: object
      properties:
        value:
          type: string
    locationInSupplierPaymentDto:
      properties:
        countryId:
          type: string
          description: Location*.
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: 'Mandatory field: The top part &gt; Location* &gt; The supplier''s location. Main location by default.'
    DtoValueOfDateTime:
      type: object
      properties:
        value:
          type: string
          format: date-time
    DtoValueOfNullableOfDecimal:
      type: object
      properties:
        value:
          type: number
          format: double
    DtoValueOfNullableOfSupplierPaymentTypes:
      type: object
      properties:
        value:
          enum:
          - Payment
          - DebitAdj
          - Prepayment
          - Refund
          - VoidPayment
          - VoidRefund
          type: string
    WriteoffPaymentActionResultDto:
      type: object
      properties:
        actionId:
          type: string
          format: uuid
        actionResult:
          enum:
          - Queued
          - InProcess
          - Failed
          - Done
          type: string
        errorInfo:
          type: string
    SupplierPaymentAdjustmentUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        documentType:
          $ref: '#/components/schemas/DtoValueOfNullableOfSupplierInvoiceTypes'
        refNbr:
          $ref: '#/components/schemas/DtoValueOfString'
        amountPaid:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        cashDiscountTaken:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        crossRate:
          $ref: '#/components/schemas/DtoValueOfDecimal'
    SupplierPaymentDto:
      type: object
      properties:
        type:
          enum:
          - Payment
          - DebitAdj
          - Prepayment
          - Refund
          - VoidPayment
          - VoidRefund
          type: string
          description: 'The top part &gt; Type &gt;The type of supplier ledger payment document. The following types are available: Payment, PUrchase credit note, Prepayment, Supplier refund, Voided payment.'
        documentType:
          type: string
          description: The top part &gt; Voucher no. &gt; The unique identifier of the supplier ledger document.
        refNbr:
          type: string
          description: The top part &gt; Voucher no. &gt; The unique identifier of the supplier ledger document.
        status:
          enum:
          - Hold
          - Balanced
          - Voided
          - Scheduled
          - Open
          - Closed
          - Printed
          - Prebooked
          - PendingApproval
          - Rejected
          - Reserved
          - PendingPrint
          type: string
          description: 'The top part &gt; Status &gt; The status of the supplier ledger document, which can be one of the following: On Hold, Printed, Open, Reserved, Closed, Voided, Released.'
        hold:
          type: boolean
          description: The top part &gt; Hold &gt; A check box that means (if selected) that the status of the document is On hold.
        applicationDate:
          type: string
          description: 'Mandatory field: The top part &gt; Date* &gt; The date when the payment is applied. The default value is the current business date.'
          format: date-time
        applicationPeriod:
          type: string
          description: 'MAndatory field: The top part &gt; Financial period* &gt; The financial period of payment application.'
        paymentRef:
          type: string
          description: The top part &gt; Payment ref. &gt; A payment reference number.
        supplier:
          $ref: '#/components/schemas/supplierInSupplierPaymentDto'
        location:
          $ref: '#/components/schemas/locationInSupplierPaymentDto'
        paymentMethod:
          type: string
          description: 'Mandatory field: The top part &gt; Payment method* &gt; The payment method associated with the supplier.'
        cashAccount:
          type: string
          description: 'Mandatory field: The top part &gt; Cash account* &gt; The cash account associated with the payment method.'
        currency:
          $ref: '#/components/schemas/currencyInSupplierPaymentDto'
        description:
          type: string
          description: The top part &gt; Description &gt; A description for the payment. You may use up to 50 alphanumeric characters.
        paymentAmount:
          type: number
          description: The top part &gt; Payment amount &gt; The total payment amount that should be applied to the documents.
          format: double
        financeCharges:
          type: number
          description: The top part &gt; Finance charges &gt; The total on all finance charges applied to this document.
          format: double
        balance:
          type: number
          description: Balance of the payment remaining to be applied and released. Only released applications will count towards the balance.
          format: double
        unappliedBalance:
          type: number
          description: The top part &gt; Unapplied balance &gt; The balance that has not been applied. This will be a non-zero value if the payment amount is not equal to a document's total amount. Checks shall always have a zero unapplied balance.
          format: double
        appliedAmount:
          type: number
          description: The top part &gt; Amount &gt; The amount to be applied on the application date.
          format: double
        released:
          type: boolean
          description: 'Background information: if this check box is selected, the document has been released.'
        lastModifiedDateTime:
          type: string
          description: 'Background information: The date and time when the document has been last modified.'
          format: date-time
        branch:
          type: string
        paymentLines:
          type: array
          items:
            $ref: '#/components/schemas/SupplierPaymentAdjustmentDto'
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    typeInSupplierPaymentUpdateDto:
      properties:
        value:
          enum:
          - Payment
          - DebitAdj
          - Prepayment
          - Refund
          - VoidPayment
          - VoidRefund
          type: string
      description: Reference number for the document. Can be used when manual numbering is enabled.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
