openapi: 3.2.0
info:
  title: Visma.net ERP General Ledger Balance V2 API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: GeneralLedgerBalanceV2
paths:
  /v2/generalLedgerBalance:
    get:
      tags:
      - GeneralLedgerBalanceV2
      summary: Get a range of General Ledger Balances.
      operationId: GeneralLedgerBalanceV2_GetGeneralLedgerBalances
      parameters:
      - name: periodId
        in: query
        description: 'Period to retrieve balance for. Mandatory if ''LastModifiedDateTime'' not provided. Format: ''yyyyMM'''
        schema:
          type: string
      - name: account
        in: query
        description: Account to retrieve balance for
        schema:
          type: string
      - name: subaccount
        in: query
        description: Subaccount to retrieve balance for
        schema:
          type: string
      - name: ledger
        in: query
        description: Ledger to retrieve balance for
        schema:
          type: string
      - name: branch
        in: query
        description: Branch to retrieve balance for
        schema:
          type: string
      - name: balanceType
        in: query
        description: Balance Type of the ledger to be exported
        schema:
          enum:
          - Actual
          - Report
          - Statistical
          - Budget
          type: string
      - name: toggleBalanceSigns
        in: query
        description: Parameter can be used in order to change the balance sign for liability and income accounts
        schema:
          type: boolean
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.

          Mandatory if ''PeriodId'' is not provided.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```'
        schema:
          type: string
          format: date-time
      - name: excludeYTDAccount
        in: query
        schema:
          type: boolean
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneralLedgerBalanceDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneralLedgerBalanceDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    BranchNumberDto:
      type: object
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    GeneralLedgerBalanceDto:
      type: object
      properties:
        branch:
          $ref: '#/components/schemas/BranchNumberDto'
        ledger:
          $ref: '#/components/schemas/LedgerDescriptionDto'
        balanceType:
          enum:
          - Actual
          - Report
          - Statistical
          - Budget
          type: string
        financialPeriod:
          type: string
          description: The financial period to which the transactions recorded in the document should be posted. Format YYYYMM.
        account:
          $ref: '#/components/schemas/AccountNumberDescriptionDto'
        subaccount:
          $ref: '#/components/schemas/subaccountInGeneralLedgerBalanceDto'
        subaccountId:
          type: string
          description: '[This field has been deprecated and will be removed in future versions. Use ''subaccount.subaccountId'' instead.]

            This field has been deprecated and will be removed in future versions. Use ''subaccount.subaccountId'' instead.'
        subAccountCd:
          type: string
          description: '[This field has been deprecated and will be removed in future versions. Use ''subaccount.subaccountNumber'' instead.]

            This field has been deprecated and will be removed in future versions. Use ''subaccount.subaccountNumber'' instead.'
        currencyId:
          type: string
        periodToDateDebit:
          type: number
          description: The total of all debit movements for the selected period.
          format: double
        periodToDateCredit:
          type: number
          description: The total of all credit movements for the selected period.
          format: double
        beginningBalance:
          type: number
          description: The total account balance at the start of the selected period.
          format: double
        yearToDateBalance:
          type: number
          description: The total account balance at the end of the selected period.
          format: double
        periodToDateDebitInCurrency:
          type: number
          description: The total of all debit movements in the currency of the selected account for the selected period.
          format: double
        periodToDateCreditInCurrency:
          type: number
          description: The total of all credit movements in the currency of the selected account for the selected period.
          format: double
        beginningBalanceInCurrency:
          type: number
          description: The total account balance in the currency of the selected account at the start of the selected period.
          format: double
        yearToDateBalanceInCurrency:
          type: number
          description: The total account balance in the currency of the selected account at the end of the selected period.
          format: double
        yearClosed:
          type: boolean
          description: True when the last period of a financial year is  closed in all modules.
        lastModifiedDateTime:
          type: string
          format: date-time
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents a General Ledger Balance in GeneralLedgerBalanceController. Used by getting data.
    AccountNumberDescriptionDto:
      type: object
      properties:
        type:
          enum:
          - Asset
          - Liability
          - Income
          - Expense
          type: string
        externalCode1:
          type: string
          description: ExternalCode1 is deprecated, please use ExternalCode1Info instead.
        externalCode2:
          type: string
          description: ExternalCode2 is deprecated, please use ExternalCode2Info instead.
        externalCode1Info:
          $ref: '#/components/schemas/ExternalCodeNumberDescriptionDto'
        externalCode2Info:
          $ref: '#/components/schemas/ExternalCodeNumberDescriptionDto'
        glConsolAccountCD:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
    subaccountInGeneralLedgerBalanceDto:
      properties:
        subaccountNumber:
          type: string
          description: The subaccount number / code. Format 9-XX.
        subaccountId:
          type: integer
          description: The internal SubID identifier of the subaccount.
          format: int32
      description: The subaccount of the balance row.
    ExternalCodeNumberDescriptionDto:
      type: object
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
    LedgerDescriptionDto:
      type: object
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
