openapi: 3.2.0
info:
  title: Visma.net ERP Inventory API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: Inventory
paths:
  /v1/inventory/itemClass:
    get:
      tags:
      - Inventory
      summary: Get Inventory Item Classes
      operationId: Inventory_GetItemClasses
      parameters:
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ItemClassDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ItemClassDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventory/itemclass/{itemClassNumber}:
    get:
      tags:
      - Inventory
      summary: Get Specific Inventory Item Class
      operationId: Inventory_GetSpecificItemClassByitemClassNumber
      parameters:
      - name: itemClassNumber
        in: path
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemClassDto'
            text/json:
              schema:
                $ref: '#/components/schemas/ItemClassDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventory/itemPostClass:
    get:
      tags:
      - Inventory
      summary: Get Inventory Item Post Classes
      operationId: Inventory_GetItemPostClasses
      parameters:
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PostingClassDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PostingClassDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventory/internal/{inventoryId}:
    get:
      tags:
      - Inventory
      summary: Get a specific Inventory item by its internal ID
      operationId: Inventory_GetByinventoryId
      parameters:
      - name: inventoryId
        in: path
        description: Identifies the Inventory item
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryDto'
            text/json:
              schema:
                $ref: '#/components/schemas/InventoryDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventory/{inventoryNumber}:
    get:
      tags:
      - Inventory
      summary: Get a specific Inventory item
      operationId: Inventory_GetByinventoryNumber
      parameters:
      - name: inventoryNumber
        in: path
        description: Identifies the Inventory item
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryDto'
            text/json:
              schema:
                $ref: '#/components/schemas/InventoryDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - Inventory
      summary: Update a specific inventory item
      description: Response Message has StatusCode NoContent if PUT operation succeed
      operationId: Inventory_PutByinventoryNumber
      parameters:
      - name: inventoryNumber
        in: path
        description: Identifies the inventory item to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: The data to update for inventory item
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/InventoryUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/InventoryUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/InventoryUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InventoryUpdateDto'
        required: true
        x-bodyName: inventory
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventory:
    get:
      tags:
      - Inventory
      summary: Get a range of Inventory items - ScreenId=IN202000 and IN202500
      description: Data for Inventory
      operationId: Inventory_GetAll
      parameters:
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.

          MaxPageSize will be set to 5000 from 1. April 2022'
        schema:
          type: integer
          format: int32
      - name: alternateID
        in: query
        description: Applies for both Stock and Non-stock items.  Some fields in this filter applies only for one of these.
        schema:
          type: string
      - name: inventoryNumber
        in: query
        description: The Item ID.
        schema:
          type: string
      - name: salesCategory
        in: query
        description: The Category ID for the sales category, found on the Attributes tab.
        schema:
          type: integer
          format: int32
      - name: addCostPriceStatistics
        in: query
        description: This filter can be used only for stock items, from the Price/cost information tab.
        schema:
          type: boolean
      - name: attributes
        in: query
        description: " Attributes (additional information) connected to the entity.\n Examples:\n{{base}}/inventory?attributes={\"AttributeID\":\"ValueID\",\"AttributeID\":\"ValueID\"}\n{{base}}/inventory?attributes={\"AttributeID\":\"ValueID1,ValueID2\"}"
        schema:
          type: string
      - name: description
        in: query
        description: A brief description of the stock item from the Top part of the window.
        schema:
          type: string
      - name: availabilityLastModifiedDateTime
        in: query
        description: System retrieved information.
        schema:
          type: string
      - name: availabilityLastModifiedDateTimeCondition
        in: query
        description: System retrieved information for state/condition.
        schema:
          type: string
      - name: inventoryTypes
        in: query
        description: 'Filter on one or more inventory types: NonStockItem, LaborItem, ServiceItem, ChargeItem, ExpenseItem, FinishedGoodItem, ComponentPartItem or SubassemblyItem'
        style: form
        schema:
          type: array
          items:
            type: string
      - name: expandCrossReference
        in: query
        description: "These expand fields are by default set to true, but will be changed in the future. \nSet to true to retrieve information about the cross-references (item ID and suppliers/customers ID for the item connected to the item."
        schema:
          type: boolean
      - name: expandAttachment
        in: query
        description: Set to true to retrieve information about the attachments connected to the item.
        schema:
          type: boolean
      - name: expandAttribute
        in: query
        description: Set to true to retrieve the attribute descriptions used for the item.
        schema:
          type: boolean
      - name: expandWarehouseDetail
        in: query
        description: Set to true to retrieve information about the warehouse connected to the item.
        schema:
          type: boolean
      - name: expandAccountInformation
        in: query
        description: Set to true to retrieve information about the account information connected to the item.
        schema:
          type: boolean
      - name: expandInventoryUnits
        in: query
        description: Set to true to retrieve information about the units of measure connected to the item.
        schema:
          type: boolean
      - name: expandSupplierDetails
        in: query
        description: Set to true to retrieve details about the supplier connected to the item.
        schema:
          type: boolean
      - name: expandSalesCategories
        in: query
        description: Set to true to retrieve details about the sales categories connected to the item.
        schema:
          type: boolean
      - name: expandNote
        in: query
        description: Set to true to retrieve the note value connected to the item.
        schema:
          type: boolean
      - name: attachmentLastModifiedDateTime
        in: query
        description: System retrieved information for last modified date and time for attachment.
        schema:
          type: string
      - name: attachmentLastModifiedDateTimeCondition
        in: query
        description: System retrieved information for state/condition for attachment.
        schema:
          type: string
      - name: status
        in: query
        description: The inventory item status
        schema:
          enum:
          - Active
          - NoSales
          - NoPurchases
          - NoRequest
          - Inactive
          - MarkedForDeletion
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: greaterThanValue
        in: query
        description: Greater than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryDto'
        '404':
          description: NotFound
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - Inventory
      summary: Create an inventory item
      description: Response Message has StatusCode Created if POST operation succed
      operationId: Inventory_Post
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Define the data for the inventory item to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/InventoryUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/InventoryUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/InventoryUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InventoryUpdateDto'
        required: true
        x-bodyName: inventory
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventory/barcode/shipment/{shipmentNbr}:
    get:
      tags:
      - Inventory
      summary: Get a range of barcodes for a specific shipment
      operationId: Inventory_GetInventoryShipmentBarCodesByshipmentNbr
      parameters:
      - name: shipmentNbr
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventory/barcode/salesorder/{orderNbr}:
    get:
      tags:
      - Inventory
      summary: Get a range of barcodes for a specific sales order
      operationId: Inventory_GetInventorySalesOrderBarCodesByorderNbr
      parameters:
      - name: orderNbr
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventory/barcode/stocktake/{referenceNumber}:
    get:
      tags:
      - Inventory
      summary: Get a range of barcodes for a specific stock count
      operationId: Inventory_GetInventoryStockTakeBarCodesByreferenceNumber
      parameters:
      - name: referenceNumber
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventory/barcode/purchasereceipt/{receiptNbr}:
    get:
      tags:
      - Inventory
      summary: Get a range of barcodes for a specific purchase receipt
      operationId: Inventory_GetInventoryPOReceiptTakeBarCodesByreceiptNbr
      parameters:
      - name: receiptNbr
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BarCodeDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventory/{inventoryNumber}/crossReferences:
    get:
      tags:
      - Inventory
      summary: Get a range of cross-reference for a specific inventory
      operationId: Inventory_GetInventoryCrossReferencesByinventoryNumber
      parameters:
      - name: inventoryNumber
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryCrossReferenceDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryCrossReferenceDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryCrossReferenceDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryCrossReferenceDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - Inventory
      summary: Creates a cross reference for a specific inventory
      operationId: Inventory_CreateInventoryCrossReferencesByinventoryNumber
      parameters:
      - name: inventoryNumber
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryCrossReferenceUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/InventoryCrossReferenceUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/InventoryCrossReferenceUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/InventoryCrossReferenceUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InventoryCrossReferenceUpdateDto'
        required: true
        x-bodyName: crossReferenceUpdateDto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventory/{inventoryCd}/action/updateCost:
    post:
      tags:
      - Inventory
      summary: Update Cost action on Non-Stock Item
      description: The action result dto contains information about the result of running the action
      operationId: Inventory_UpdateCostNonStockItemByinventoryCd
      parameters:
      - name: inventoryCd
        in: path
        description: Identifies the inventory item to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCostActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/UpdateCostActionResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/UpdateCostActionResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/UpdateCostActionResultDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventory/{inventoryNumber}/attachment:
    post:
      tags:
      - Inventory
      summary: Creates an attachment and associates it with a Inventory Item.
      description: Response Message has StatusCode Created if POST operation succeed
      operationId: Inventory_CreateInventoryAttachmentByinventoryNumber
      parameters:
      - name: inventoryNumber
        in: path
        description: Identifies the Inventory Item
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventory/action/changeInventoryNbr/{internalId}:
    post:
      tags:
      - Inventory
      summary: Updates the InventoryNbr for the specified Inventory
      description: The action result dto contains information about the result of running the action
      operationId: Inventory_ChangeInventoryNbrActionByinternalId
      parameters:
      - name: internalId
        in: path
        description: Internal identifier of the Inventory for which the Inventory Nbr will be changed
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the new Inventory number for the Inventory
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeInventoryNbrActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeInventoryNbrActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ChangeInventoryNbrActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ChangeInventoryNbrActionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChangeInventoryNbrActionDto'
        required: true
        x-bodyName: changeInventoryNbrActionDto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeInventoryNbrActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/ChangeInventoryNbrActionResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ChangeInventoryNbrActionResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ChangeInventoryNbrActionResultDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventory/internal/{inventoryID}:
    put:
      tags:
      - Inventory
      summary: Update a specific inventory item
      description: Response Message has StatusCode NoContent if PUT operation succeed
      operationId: Inventory_PutByinventoryID
      parameters:
      - name: inventoryID
        in: path
        description: Identifies the inventory item to update
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: The data to update for inventory item
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/InventoryUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/InventoryUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/InventoryUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InventoryUpdateDto'
        required: true
        x-bodyName: inventory
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventory/{inventoryNumber}/crossReferences/{alternateType}/{alternateId}:
    put:
      tags:
      - Inventory
      summary: Updates a specific cross reference for a specific inventory
      operationId: Inventory_UpdateInventoryCrossReferencesByinventoryNumberalternateTypealternateId
      parameters:
      - name: inventoryNumber
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: alternateType
        in: path
        description: ''
        required: true
        schema:
          enum:
          - CPN
          - VPN
          - Global
          - Barcode
          type: string
      - name: alternateId
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryCrossReferenceUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/InventoryCrossReferenceUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/InventoryCrossReferenceUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/InventoryCrossReferenceUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InventoryCrossReferenceUpdateDto'
        required: true
        x-bodyName: crossReferenceUpdateDto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    expenseEuAccountInInventoryAccountInformationDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: Expense EU account &gt; The income account to be used for this stock item to record EU expenses.
    cogsSubaccountInInventoryAccountInformationDto:
      properties:
        active:
          type: boolean
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Only used for Stock items.

        COGS sub. &gt; The subaccount to be used for this item with the COGS account.'
    CrossReferenceUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        alternateType:
          $ref: '#/components/schemas/alternateTypeInCrossReferenceUpdateDto'
        bAccount:
          $ref: '#/components/schemas/DtoValueOfString'
        alternateID:
          $ref: '#/components/schemas/DtoValueOfString'
        description:
          $ref: '#/components/schemas/DtoValueOfString'
        uom:
          $ref: '#/components/schemas/DtoValueOfString'
    ItemClassDto:
      type: object
      properties:
        type:
          enum:
          - NonStockItem
          - LaborItem
          - ServiceItem
          - ChargeItem
          - ExpenseItem
          - FinishedGoodItem
          - ComponentPartItem
          - SubassemblyItem
          type: string
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/ClassAttributeDto'
        id:
          type: string
          description: The identifier.
        description:
          type: string
          description: The description.
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    InventoryDto:
      type: object
      properties:
        inventoryId:
          type: integer
          description: The unique internal identifier of the  item as is stored in the database. This Id is not visible in the window.
          format: int32
        inventoryNumber:
          type: string
          description: 'Mandatory field: The top part &gt; Item Id* &gt; The unique alphanumeric identifier of the stock item.'
        status:
          enum:
          - Active
          - NoSales
          - NoPurchases
          - NoRequest
          - Inactive
          - MarkedForDeletion
          - Unknown
          type: string
          description: 'The top part &gt; Item status &gt; The status of the stock item. The alternatives are: Active, No sales, No purchases, No request, Inactive, Marked for deletion.'
        type:
          enum:
          - NonStockItem
          - LaborItem
          - ServiceItem
          - ChargeItem
          - ExpenseItem
          - FinishedGoodItem
          - ComponentPartItem
          - SubassemblyItem
          type: string
          description: General information tab &gt; Item defaults section &gt; Type &gt; The type of stock item.
        description:
          type: string
          description: The top part &gt; Description *&gt; A brief description of the stock item.
        body:
          type: string
          description: The top part &gt; Body *&gt; A brief description of the stock item.
        itemClass:
          $ref: '#/components/schemas/itemClassInInventoryDto'
        postingClass:
          $ref: '#/components/schemas/postingClassInInventoryDto'
        vatCode:
          $ref: '#/components/schemas/vatCodeInInventoryDto'
        lotSerialClass:
          $ref: '#/components/schemas/lotSerialClassInInventoryDto'
        defaultPrice:
          type: number
          description: Price/cost information tab &gt; Price management section &gt; Default price &gt; The price of the stock item.
          format: double
        pendingCost:
          type: number
          description: Price/cost information tab &gt; Standard cost section &gt; Pending cost &gt; The pending standard cost for the stock item.
          format: double
        pendingCostDate:
          type: string
          description: Price/cost information tab &gt; Standard cost section &gt; Pending cost date &gt; The date when the pending standard cost becomes effective.
          format: date-time
        currentCost:
          type: number
          description: Price/cost information tab &gt; Standard cost section &gt; Current cost &gt; Read-only. This field displays the current standard cost for the stock item.
          format: double
        effectiveDate:
          type: string
          description: Price/cost information tab &gt; Standard cost section &gt; Effective date &gt; Read-only. This field shows the effective date for the current standard cost of the stock item.
          format: date-time
        lastCost:
          type: number
          description: Price/cost information tab &gt; Standard cost section &gt; Last cost &gt; Read-only. This field showing the last standard cost defined for the stock item.
          format: double
        lastModifiedDateTime:
          type: string
          description: Information collected from system.
          format: date-time
        baseUnit:
          type: string
          description: 'Mandatory field: General information tab &gt; Unit of measurement section &gt; Base unit* &gt; The UoM used as the base unit for this stock item.'
        salesUnit:
          type: string
          description: 'Mandatory field: General information tab &gt; Unit of measurement section &gt; Sales unit *&gt; The UoM to be used as the sales unit for the stock item.'
        purchaseUnit:
          type: string
          description: 'Mandatory field: General information tab &gt; Unit of measurement section &gt; Purchase unit *&gt; The UoM to be used as the purchase unit for the stock item.'
        unspsc:
          type: string
          description: General information tab &gt; UNSPSC Code &gt; The UNSPSC code for the stock item.
        stockItem:
          type: boolean
        kitItem:
          type: boolean
        accountInformation:
          $ref: '#/components/schemas/accountInformationInInventoryDto'
        costPriceStatistics:
          $ref: '#/components/schemas/costPriceStatisticsInInventoryDto'
        crossReferences:
          type: array
          items:
            $ref: '#/components/schemas/InventoryCrossReferenceDto'
          description: Cross-reference tab &gt;
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDto'
          description: Attributes tab &gt;
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/AttributeIdValueDto'
        warehouseDetails:
          type: array
          items:
            $ref: '#/components/schemas/WarehouseDetailDto'
          description: Warehouse details tab &gt;
        inventoryUnits:
          type: array
          items:
            $ref: '#/components/schemas/InventoryUnitDto'
          description: General information tab &gt; The Unit conversion table just below the Unit of measurement section. Several fields collected from different parts of the window.
        defaultWarehouse:
          $ref: '#/components/schemas/defaultWarehouseInInventoryDto'
        defaultIssueFrom:
          $ref: '#/components/schemas/defaultIssueFromInInventoryDto'
        defaultReceiptTo:
          $ref: '#/components/schemas/defaultReceiptToInInventoryDto'
        supplierDetails:
          type: array
          items:
            $ref: '#/components/schemas/SupplierDetailsLineDto'
          description: Supplier details tab
        salesCategories:
          type: array
          items:
            $ref: '#/components/schemas/SalesCategoryLineDto'
          description: Attributes tab &gt; Sales categories grid
        packaging:
          $ref: '#/components/schemas/packagingInInventoryDto'
        intrastat:
          $ref: '#/components/schemas/intrastatInInventoryDto'
        recommendedPrice:
          type: number
          description: The Price/cost information tab &gt; Price management section &gt; List price &gt; The manufacturer's suggested retail price (MSRP) of the stock item.
          format: double
        priceManagerID:
          type: string
          description: The Price/cost information tab &gt; Price management section &gt; Price manager &gt; The ID of the manager responsible for the product pricing.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        priceManager:
          $ref: '#/components/schemas/priceManagerInInventoryDto'
        priceClass:
          $ref: '#/components/schemas/priceClassInInventoryDto'
        priceWorkgroupID:
          type: integer
          description: The Price/cost information tab &gt; Price management section &gt; Price work group &gt; The work group responsible for product pricing. Select the pricing work group for the stock item.
          format: int32
        priceClassID:
          type: string
          description: The Price/cost information tab &gt; Price management section &gt; Price class &gt; The price class of the item.
        note:
          type: string
          description: Icon Notes on top of the window &gt; Pop-up window for providing any user-defined text connected to the inventory item.
        timestamp:
          type: string
          description: Timestamp of the inventory item record
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    CostPriceStatisticsUpdateDto:
      type: object
      properties:
        lastCost:
          $ref: '#/components/schemas/lastCostInCostPriceStatisticsUpdateDto'
    salesAccountInInventoryAccountInformationDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: 'Mandatory field: Sales account *&gt; The income account to be used for this stock item to record sales.'
    ClassAttributeDetailDto:
      type: object
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
    InventoryCrossReferenceDto:
      type: object
      properties:
        alternateType:
          enum:
          - CPN
          - VPN
          - Global
          - Barcode
          type: string
          description: Alternate type &gt; The type of alternate codification used for the item if applicable.
        bAccount:
          $ref: '#/components/schemas/bAccountInInventoryCrossReferenceDto'
        alternateID:
          type: string
          description: 'Mandatory field: Alternate ID &gt; The alternate ID of the stock item (under the specified item ID) as used by the supplier or customer.'
        description:
          type: string
          description: Description &gt; Any comments applicable to the specified cross-reference.
        isDefault:
          type: boolean
          description: Default &gt; Indicates whether this cross-reference is marked as the default one.
        uom:
          type: string
          description: UoM &gt; The unit of measure used for this component.
        timestamp:
          type: string
          description: Timestamp of the inventory item the crossreference belongs to
    defaultIssueFromInInventoryUpdateDto:
      properties:
        value:
          type: string
      description: General information tab &gt; Warehouse defaults section &gt; Default issue from &gt; The location of the warehouse to be used by default to issue quantities of the selected stock item.
    expenseAccountInInventoryUpdateDto:
      properties:
        value:
          type: string
      description: Only used for Non-stock items
    InventoryUpdateDto:
      type: object
      properties:
        inventoryNumber:
          $ref: '#/components/schemas/inventoryNumberInInventoryUpdateDto'
        status:
          $ref: '#/components/schemas/DtoValueOfInventoryStatus'
        type:
          $ref: '#/components/schemas/DtoValueOfInventoryType'
        description:
          $ref: '#/components/schemas/DtoValueOfString'
        body:
          $ref: '#/components/schemas/DtoValueOfString'
        itemClass:
          $ref: '#/components/schemas/itemClassInInventoryUpdateDto'
        postingClass:
          $ref: '#/components/schemas/postingClassInInventoryUpdateDto'
        lotSerialClass:
          $ref: '#/components/schemas/lotSerialClassInInventoryUpdateDto'
        vatCode:
          $ref: '#/components/schemas/vatCodeInInventoryUpdateDto'
        defaultPrice:
          $ref: '#/components/schemas/defaultPriceInInventoryUpdateDto'
        baseUnit:
          $ref: '#/components/schemas/DtoValueOfString'
        salesUnit:
          $ref: '#/components/schemas/DtoValueOfString'
        purchaseUnit:
          $ref: '#/components/schemas/DtoValueOfString'
        unspsc:
          $ref: '#/components/schemas/unspscInInventoryUpdateDto'
        expenseAccrualAccount:
          $ref: '#/components/schemas/expenseAccrualAccountInInventoryUpdateDto'
        inventoryAccount:
          $ref: '#/components/schemas/inventoryAccountInInventoryUpdateDto'
        expenseAccount:
          $ref: '#/components/schemas/expenseAccountInInventoryUpdateDto'
        cogsAccount:
          $ref: '#/components/schemas/cogsAccountInInventoryUpdateDto'
        expenseNonTaxableAccount:
          $ref: '#/components/schemas/DtoValueOfString'
        expenseEuAccount:
          $ref: '#/components/schemas/DtoValueOfString'
        expenseImportAccount:
          $ref: '#/components/schemas/DtoValueOfString'
        expenseSubaccount:
          type: array
          items:
            $ref: '#/components/schemas/SegmentUpdateDto'
          description: Only used for Non-stock items
        cogsSubaccount:
          type: array
          items:
            $ref: '#/components/schemas/SegmentUpdateDto'
          description: Only used for Stock items
        salesAccount:
          $ref: '#/components/schemas/DtoValueOfString'
        salesNonTaxableAccount:
          $ref: '#/components/schemas/DtoValueOfString'
        salesEuAccount:
          $ref: '#/components/schemas/DtoValueOfString'
        salesExportAccount:
          $ref: '#/components/schemas/DtoValueOfString'
        salesSubaccount:
          type: array
          items:
            $ref: '#/components/schemas/SegmentUpdateDto'
        attributeLines:
          type: array
          items:
            $ref: '#/components/schemas/AttributeLineUpdateDto'
        packaging:
          $ref: '#/components/schemas/PackagingUpdateDto'
        costPriceStatistics:
          $ref: '#/components/schemas/CostPriceStatisticsUpdateDto'
        supplierDetails:
          type: array
          items:
            $ref: '#/components/schemas/SupplierDetailsDto'
        warehouseDetails:
          type: array
          items:
            $ref: '#/components/schemas/WarehouseDetailUpdateDto'
        intrastat:
          $ref: '#/components/schemas/IntrastatUpdateDto'
        crossReferences:
          type: array
          items:
            $ref: '#/components/schemas/CrossReferenceUpdateDto'
        defaultWarehouse:
          $ref: '#/components/schemas/defaultWarehouseInInventoryUpdateDto'
        defaultIssueFrom:
          $ref: '#/components/schemas/defaultIssueFromInInventoryUpdateDto'
        defaultReceiptTo:
          $ref: '#/components/schemas/defaultReceiptToInInventoryUpdateDto'
        kitItem:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        note:
          $ref: '#/components/schemas/DtoValueOfString'
    AttributeIdValueDto:
      type: object
      properties:
        id:
          type: string
        value:
          type: string
          description: Value &gt; The value of the attribute.
        description:
          type: string
          description: Attribute &gt; The description of the attribute.
    SupplierDetailsDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        active:
          $ref: '#/components/schemas/DtoValueOfBoolean'
        default:
          $ref: '#/components/schemas/DtoValueOfBoolean'
        supplierID:
          $ref: '#/components/schemas/DtoValueOfString'
        location:
          $ref: '#/components/schemas/DtoValueOfString'
        purchaseUnit:
          $ref: '#/components/schemas/DtoValueOfString'
        supplierItemID:
          $ref: '#/components/schemas/DtoValueOfString'
        override:
          $ref: '#/components/schemas/DtoValueOfBoolean'
        shipmentLeadTime:
          $ref: '#/components/schemas/DtoValueOfInt16'
        minOrderFreq:
          $ref: '#/components/schemas/DtoValueOfInt32'
        minOrderQty:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        maxOrderQty:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        lotSize:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        eoq:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        currencyID:
          $ref: '#/components/schemas/DtoValueOfString'
    lastCostInCostPriceStatisticsUpdateDto:
      properties:
        value:
          type: number
          format: double
      description: Cost price statistics section &gt; Last cost &gt; The last standard cost used for the stock item.
    expenseAccrualAccountInInventoryUpdateDto:
      properties:
        value:
          type: string
      description: Only used for Non-stock items
    defaultWarehouseInInventoryDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: General information tab &gt; Warehouse defaults section &gt; Default warehouse &gt; The default warehouse used to store the stock item with the specified item ID.
    itemClassInInventoryDto:
      properties:
        type:
          enum:
          - NonStockItem
          - LaborItem
          - ServiceItem
          - ChargeItem
          - ExpenseItem
          - FinishedGoodItem
          - ComponentPartItem
          - SubassemblyItem
          type: string
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/ClassAttributeDto'
        id:
          type: string
          description: The identifier.
        description:
          type: string
          description: The description.
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: 'Mandatory field: General information tab &gt; Item defaults section &gt; Item class* &gt; The item class to which the stock item is assigned.'
    IntrastatUpdateDto:
      type: object
      properties:
        cN8:
          $ref: '#/components/schemas/cN8InIntrastatUpdateDto'
        countryOfOrigin:
          $ref: '#/components/schemas/countryOfOriginInIntrastatUpdateDto'
        supplementaryMeasureUnit:
          $ref: '#/components/schemas/supplementaryMeasureUnitInIntrastatUpdateDto'
      description: This class represents a Intrastat part of InventoryItem in InventoryItemController. Used for insert/update data.
    intrastatInInventoryDto:
      properties:
        cN8:
          type: string
          description: 'Represents the 8 digit level Combine Nomenclature commodity code specific for the year

            for which the creating / actualizations Intrastat declarations is drafted.'
        countryOfOrigin:
          type: string
          description: 'The country of origin of the commodity will be selected,

            that country where the good has been produced or had the last substantial transformation.'
        supplementaryMeasureUnit:
          type: string
          description: 'The requirement for Supplementary Measure Units applies only to certain classes of goods(NC8 Positions)

            that may be expressed from quantitative point of view in other measurement units but kilo also.'
      description: General information tab &gt; Intrastat section
    DtoValueOfDecimal:
      type: object
      properties:
        value:
          type: number
          format: double
    SalesCategoryLineDto:
      type: object
      properties:
        categoryId:
          type: integer
          format: int32
        description:
          type: string
    DtoValueOfNullableOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    itemClassInInventoryUpdateDto:
      properties:
        value:
          type: string
      description: Mandatory, the item class to which the item is assigned. Selecting a class provides default settings for the item.
    BarCodeDto:
      type: object
      properties:
        barCode:
          type: string
        inventoryNumber:
          type: string
        metadata:
          $ref: '#/components/schemas/BarCodeMetadataDto'
    salesEuAccountInInventoryAccountInformationDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: Sales - EU account &gt; The income account to be used for this stock item to record EU sales.
    salesNonTaxableAccountInInventoryAccountInformationDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: Sales - non-taxable account &gt; The income account to be used for this stock item to record non-taxable sales.
    DtoValueOfInt16:
      type: object
      properties:
        value:
          type: integer
          format: int32
    BarCodeMetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
    cogsAccountInInventoryAccountInformationDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: 'Only used for Stock items.

        COGS account &gt; The expense account to be used for this stock item to record the cost of goods sold (COGS) once the sales order is released.'
    expenseAccountInInventoryAccountInformationDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: 'Only used for Non-stock items.

        Mandatory field: Expense account* &gt; The default expense account to be used for this non-stock item.'
    salesSubaccountInInventoryAccountInformationDto:
      properties:
        active:
          type: boolean
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Mandatory field: Sales sub. *&gt; The subaccount to be used for this item to record sales.'
    InventoryUnitDto:
      type: object
      properties:
        unitType:
          type: integer
          format: int32
        itemClass:
          $ref: '#/components/schemas/ItemClassDto'
        inventoryID:
          type: integer
          description: The top part &gt; Item ID &gt; The unique alphanumeric identifier of the stock item.
          format: int32
        toUnit:
          type: string
          description: To unit &gt; The unit of measure selected as the base unit for the item.
        sampleToUnit:
          type: string
        fromUnit:
          type: string
          description: 'Mandatory field: From unit &gt; The unit of measure for which the conversion parameters are specified.'
        unitMultDiv:
          type: string
          description: Multiply/divide &gt; The operation to be performed for unit conversion.
        unitRate:
          type: number
          format: double
        priceAdjustmentMultiplier:
          type: number
          description: Price adjustment multiplier &gt; Changes the price automatically if you change the UoM.
          format: double
        recordID:
          type: integer
          format: int64
    expenseSubaccountInInventoryAccountInformationDto:
      properties:
        active:
          type: boolean
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Only used for Non-stock items.

        Mandatory field: Expense sub* &gt; The subaccount to be used by default with the expense account for transactions related to this non-stock item.'
    DtoValueOfInventoryType:
      type: object
      properties:
        value:
          enum:
          - NonStockItem
          - LaborItem
          - ServiceItem
          - ChargeItem
          - ExpenseItem
          - FinishedGoodItem
          - ComponentPartItem
          - SubassemblyItem
          type: string
    defaultIssueFromInInventoryDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: General information tab &gt; Warehouse defaults section &gt; Default issue from &gt; The location of the warehouse to be used by default to issue quantities of the selected stock item.
    WarehouseDetailDto:
      type: object
      properties:
        isDefault:
          type: boolean
        warehouse:
          type: string
          description: Warehouse &gt; The warehouse where the stock item is available.
        quantityOnHand:
          type: number
          description: Qty. on hand &gt; The quantity of this item available (on hand) at the warehouse.
          format: double
        available:
          type: number
          format: double
        availableForShipment:
          type: number
          format: double
        lastModifiedDateTime:
          type: string
          format: date-time
      description: This class represents a WarehouseDetail part of InventoryItem in InventoryItemController. Used for getting data.
    defaultReceiptToInInventoryDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: General information tab &gt; Warehouse defaults section &gt; Default receipt to &gt; The location of warehouse to be used by default to receive certain quantities of the specified stock item.
    vatCodeInInventoryDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Mandatory field: General information tab &gt; Item defaults section &gt; VAT category* &gt; The VAT code of the stock item, which by default is the VAT code associated with the item class.'
    volumeUOMInPackagingUpdateDto:
      properties:
        value:
          type: string
      description: The <see cref="!:INUnit">Unit of Measure</see> used for the <see cref="P:Visma.net.ERP.Web.Api.Model.V1.IN.PackagingUpdateDto.BaseItemVolume">Volume</see> of the item.
    inventoryAccountInInventoryAccountInformationDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: 'Only used for Stock items.

        Inventory account &gt; The asset account to be used to keep the inventory balance resulting from transactions with this stock item.'
    unspscInInventoryUpdateDto:
      properties:
        value:
          type: string
      description: 'General information tab &gt; UNSPSC Code &gt; The UNSPSC code for the item.

        Must contain exactly 8 digits.'
    alternateTypeInCrossReferenceUpdateDto:
      properties:
        value:
          enum:
          - CPN
          - VPN
          - Global
          - Barcode
          type: string
      description: 'The alternate type field. Select one of the following predefined types: CPN, VPN, Global, Barcode'
    UpdateCostActionResultDto:
      type: object
      properties:
        actionId:
          type: string
          format: uuid
        actionResult:
          enum:
          - Queued
          - InProcess
          - Failed
          - Done
          type: string
        errorInfo:
          type: string
    postingClassInInventoryDto:
      properties:
        id:
          type: string
          description: The identifier.
        description:
          type: string
          description: The description.
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: 'Mandatory field: General information tab &gt; Item defaults section &gt; Posting class* &gt; The posting class of the stock item, which by default is the posting class assigned to the item class.'
    attributeIdInAttributeLineUpdateDto:
      properties:
        value:
          type: string
      description: The ID of the attribute on the line.
    supplementaryMeasureUnitInIntrastatUpdateDto:
      properties:
        value:
          type: string
      description: 'The requirement for Supplementary Measure Units applies only to certain classes of goods(NC8 Positions)

        that may be expressed from quantitative point of view in other measurement units but kilo also.'
    lotSerialClassInInventoryUpdateDto:
      properties:
        value:
          type: string
      description: The lot/serial class of the item, which by default is the lot/serial class assigned to the item class.
    DtoValueOfInt32:
      type: object
      properties:
        value:
          type: integer
          format: int32
    DtoValueOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    DtoValueOfInventoryStatus:
      type: object
      properties:
        value:
          enum:
          - Active
          - NoSales
          - NoPurchases
          - NoRequest
          - Inactive
          - MarkedForDeletion
          - Unknown
          type: string
    defaultWarehouseInInventoryUpdateDto:
      properties:
        value:
          type: string
      description: General information tab &gt; Warehouse defaults section &gt; Default warehouse &gt; The default warehouse used to store the stock item with the specified item ID.
    packagingInInventoryDto:
      properties:
        baseItemWeight:
          type: number
          description: The weight of the <see cref="!:BaseUnit">Base Unit</see> of the item.
          format: double
        weightUOM:
          type: string
          description: The <see cref="!:INUnit">Unit of Measure</see> used for the <see cref="P:Visma.net.ERP.Web.Api.Model.V1.IN.PackagingDto.BaseItemWeight">Weight</see> of the item.
        baseItemVolume:
          type: number
          description: The volume of the <see cref="!:BaseUnit">Base Unit</see> of the item.
          format: double
        volumeUOM:
          type: string
          description: The <see cref="!:INUnit">Unit of Measure</see> used for the <see cref="P:Visma.net.ERP.Web.Api.Model.V1.IN.PackagingDto.BaseItemVolume">Volume</see> of the item.
      description: Packaging tab
    PostingClassDto:
      type: object
      properties:
        id:
          type: string
          description: The identifier.
        description:
          type: string
          description: The description.
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    lotSerialClassInInventoryDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Mandatory field: General information tab &gt; Item defaults section &gt; Lot/Serial Class* &gt; The lot serial class ID of the stock item, which by default is the ID associated with the item class.'
    ChangeInventoryNbrActionDto:
      type: object
      properties:
        inventoryNbr:
          type: string
    baseItemVolumeInPackagingUpdateDto:
      properties:
        value:
          type: number
          format: double
      description: The volume of the <see cref="!:BaseUnit">Base Unit</see> of the item.
    expenseNonTaxableAccountInInventoryAccountInformationDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: Expense account, non-taxable &gt; The income account to be used for this stock item to record non-taxable expenses.
    PackagingUpdateDto:
      type: object
      properties:
        baseItemWeight:
          $ref: '#/components/schemas/baseItemWeightInPackagingUpdateDto'
        weightUOM:
          $ref: '#/components/schemas/weightUOMInPackagingUpdateDto'
        baseItemVolume:
          $ref: '#/components/schemas/baseItemVolumeInPackagingUpdateDto'
        volumeUOM:
          $ref: '#/components/schemas/volumeUOMInPackagingUpdateDto'
      description: This class represents a Packaging part of InventoryItem in InventoryItemController. Used for insert/update data.
    priceManagerInInventoryDto:
      properties:
        id:
          type: string
        name:
          type: string
      description: The Price/cost information tab &gt; Price management section &gt; Price manager &gt; The manager responsible for the product pricing.
    cogsAccountInInventoryUpdateDto:
      properties:
        value:
          type: string
      description: Only used for Stock items
    ChangeInventoryNbrActionResultDto:
      type: object
      properties:
        actionId:
          type: string
          format: uuid
        actionResult:
          enum:
          - Queued
          - InProcess
          - Failed
          - Done
          type: string
        errorInfo:
          type: string
    expenseAccrualAccountInInventoryAccountInformationDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: 'Only used for Non-stock items.

        Purchase accrual account &gt; Purchase order accrual account &gt; The liability account to be used for this stock item to accrue amounts on purchase orders related to this item.'
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    AttachmentDto:
      type: object
      properties:
        name:
          type: string
          description: The name of the attachment.
        id:
          type: string
          description: The ID of the attachment
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        revision:
          type: integer
          description: The version of the attachment.
          format: int32
    SegmentUpdateDto:
      type: object
      properties:
        segmentId:
          type: integer
          format: int32
        segmentValue:
          type: string
    accountInformationInInventoryDto:
      properties:
        expenseAccrualAccount:
          $ref: '#/components/schemas/expenseAccrualAccountInInventoryAccountInformationDto'
        inventoryAccount:
          $ref: '#/components/schemas/inventoryAccountInInventoryAccountInformationDto'
        expenseAccount:
          $ref: '#/components/schemas/expenseAccountInInventoryAccountInformationDto'
        cogsAccount:
          $ref: '#/components/schemas/cogsAccountInInventoryAccountInformationDto'
        expenseNonTaxableAccount:
          $ref: '#/components/schemas/expenseNonTaxableAccountInInventoryAccountInformationDto'
        expenseEuAccount:
[...]
