openapi: 3.2.0
info:
  title: Visma.net ERP Contract Template API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: ContractTemplate
paths:
  /v1/contractTemplate:
    get:
      tags:
      - ContractTemplate
      summary: Get a range of Contract Templates - ScreenId=CT202000
      operationId: ContractTemplate_GetAll
      parameters:
      - name: greaterThanValue
        in: query
        schema:
          type: string
      - name: numberToRead
        in: query
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        schema:
          type: integer
          format: int32
      - name: lastModifiedDateTime
        in: query
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        schema:
          type: string
      - name: expandAttributes
        in: query
        schema:
          type: boolean
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContractTemplateDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContractTemplateDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    ClassAttributeDetailDto:
      type: object
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
    ClassAttributeDto:
      type: object
      properties:
        attributeId:
          type: string
          description: The Attributes tab &gt; Attribute ID &gt; The identifier of the attribute.
        description:
          type: string
          description: The Attributes tab &gt; Description &gt; A read-only column that displays the detailed description of the attribute.
        sortOrder:
          type: integer
          description: The Attributes tab &gt; Sort order &gt; A number that represents the order of the attribute in the list of class attributes.The lower the number, the higher the attribute will be in the list of class attributes.
          format: int32
        required:
          type: boolean
          description: The Attributes tab &gt; Required &gt; This check box indicates (if selected) that the attribute value is required for items of the class.
        attributeType:
          enum:
          - Text
          - Combo
          - MultiSelectCombo
          - Lookup
          - Checkbox
          - Datetime
          type: string
        defaultValue:
          type: string
          description: The Attributes tab &gt; Default value &gt; The default value of the attribute.
        details:
          type: array
          items:
            $ref: '#/components/schemas/ClassAttributeDetailDto'
    ContractTemplateDto:
      type: object
      properties:
        lastModifiedDateTime:
          type: string
          format: date-time
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/ClassAttributeDto'
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
