openapi: 3.2.0
info:
  title: Visma.net ERP Project API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: Project
paths:
  /v1/project/{projectID}:
    get:
      tags:
      - Project
      summary: Get a specific Project
      description: 'Data for a single project


        The response headers include an ETag after a successful GET operation.'
      operationId: Project_GetByprojectID
      parameters:
      - name: projectID
        in: path
        description: Identifies the Project
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDto'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/project/internal/{internalID}:
    get:
      tags:
      - Project
      summary: Get a specific Project by internal ID
      description: 'Data for a single project


        The response headers include an ETag after a successful GET operation.'
      operationId: Project_GetByinternalID
      parameters:
      - name: internalID
        in: path
        description: Identifies the Project
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDto'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/project:
    get:
      tags:
      - Project
      summary: Get a range of Projects - ScreenId=PM301000 The requested page size must be…
      operationId: Project_GetAll
      parameters:
      - name: status
        in: query
        description: Use drop down and select Status.
        schema:
          enum:
          - Planned
          - Active
          - Completed
          - Cancelled
          - OnHold
          - PendingApproval
          type: string
      - name: systemTemplate
        in: query
        description: If the project is a template
        schema:
          type: boolean
      - name: visibleInAP
        in: query
        description: If the project is visible in AP
        schema:
          type: boolean
      - name: startDate
        in: query
        description: Project’s start date
        schema:
          type: string
          format: date-time
      - name: expandAttribute
        in: query
        description: Expands project atributes
        schema:
          type: boolean
      - name: attributes
        in: query
        description: Identifies the attributes
        schema:
          type: string
      - name: taskStatus
        in: query
        description: Use drop down and select Status.
        schema:
          enum:
          - Planned
          - Active
          - Cancelled
          - Canceled
          - Completed
          type: string
      - name: taskVisibleInAp
        in: query
        description: If the project task is visible in the Supplier ledger
        schema:
          type: boolean
      - name: taskVisibleInAr
        in: query
        description: If the project task is visible in the Customer ledger
        schema:
          type: boolean
      - name: taskVisibleInCa
        in: query
        description: If the project task is visible in the Cash management workspace
        schema:
          type: boolean
      - name: taskVisibleInCr
        in: query
        description: If the project task is visible in the CRM workspace
        schema:
          type: boolean
      - name: taskVisibleInEa
        in: query
        description: If the project task is visible in the Expense workspace
        schema:
          type: boolean
      - name: taskVisibleInGl
        in: query
        description: If the project task is visible in the General ledger workspace
        schema:
          type: boolean
      - name: taskVisibleInIn
        in: query
        description: If the project task is visible in the Inventory workspace
        schema:
          type: boolean
      - name: taskVisibleInPo
        in: query
        description: If the project task is visible in the Purchases workspace
        schema:
          type: boolean
      - name: taskVisibleInSo
        in: query
        description: If the project task is visible in the Sales workspace
        schema:
          type: boolean
      - name: taskVisibleInTa
        in: query
        description: If the project task is visible in the Time entities workspace
        schema:
          type: boolean
      - name: nonProject
        in: query
        description: Set to true to return the non-project.
        schema:
          type: boolean
      - name: publicId
        in: query
        description: Identifies the Project by its publicId
        schema:
          type: string
          format: uuid
      - name: restrictedEmployee
        in: query
        description: ID of the employee where access restrictions apply
        schema:
          type: string
      - name: restrictedUser
        in: query
        description: Id of the odp user where access restrictions apply
        schema:
          type: integer
          format: int64
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: branch
        in: query
        description: The branch name.
        schema:
          type: string
      - name: onHold
        in: query
        description: If the project is on hold
        schema:
          type: boolean
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - Project
      summary: Create an project
      description: 'Response Message has StatusCode Created if POST operation succeed.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.


        The response headers include an ETag after a successful POST operation.'
      operationId: Project_Post
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Define the data for the project to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ProjectUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProjectUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProjectUpdateDto'
        required: true
        x-bodyName: projectUpdateDto
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/project/tasks:
    get:
      tags:
      - Project
      summary: Get all tasks for a project
      operationId: Project_GetTasks
      parameters:
      - name: projectId
        in: query
        description: Identifies the Project
        schema:
          type: string
      - name: publicId
        in: query
        description: Identifies the project by publicId
        schema:
          type: string
          format: uuid
      - name: projectInternalId
        in: query
        description: Identifies the project by internal id
        schema:
          type: integer
          format: int32
      - name: description
        in: query
        description: Identifies the Project task description
        schema:
          type: string
      - name: taskCd
        in: query
        description: Identifies the Project task ID
        schema:
          type: string
      - name: taskCdDesc
        in: query
        description: Identifies the Project task ID and description
        schema:
          type: string
      - name: status
        in: query
        description: The status of the document.
        schema:
          enum:
          - Planned
          - Active
          - Cancelled
          - Canceled
          - Completed
          type: string
      - name: expandAttribute
        in: query
        description: Expands project atributes
        schema:
          type: boolean
      - name: visibleInAp
        in: query
        description: If the project task is visible in the Supplier ledger
        schema:
          type: boolean
      - name: visibleInAr
        in: query
        description: If the project task is visible in the Customer ledger
        schema:
          type: boolean
      - name: visibleInCa
        in: query
        description: If the project task is visible in the Cash management workspace
        schema:
          type: boolean
      - name: visibleInCr
        in: query
        description: If the project task is visible in the CRM workspace
        schema:
          type: boolean
      - name: visibleInEa
        in: query
        description: If the project task is visible in the Expense workspace
        schema:
          type: boolean
      - name: visibleInGl
        in: query
        description: If the project task is visible in the General ledger workspace
        schema:
          type: boolean
      - name: visibleInIn
        in: query
        description: If the project task is visible in the Inventory workspace
        schema:
          type: boolean
      - name: visibleInPo
        in: query
        description: If the project task is visible in the Purchases workspace
        schema:
          type: boolean
      - name: visibleInSo
        in: query
        description: If the project task is visible in the Sales workspace
        schema:
          type: boolean
      - name: visibleInTa
        in: query
        description: If the project task is visible in the Time entities workspace
        schema:
          type: boolean
      - name: restrictedEmployee
        in: query
        description: Id of the employee where access restrictions apply
        schema:
          type: string
      - name: restrictedUser
        in: query
        description: Id of the Odp User where access restrictions apply
        schema:
          type: integer
          format: int64
      - name: greaterThanValue
        in: query
        description: Greater than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskExtendedDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskExtendedDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/project/action/changeProjectId/{internalId}:
    post:
      tags:
      - Project
      summary: Updates the ProjectID for the specified project
      description: 'The action result dto contains information about the result of running the action.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.'
      operationId: Project_ChangeProjectIDActionByinternalId
      parameters:
      - name: internalId
        in: path
        description: Internal identifier of the project for which the project ID will be changed
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: Defines the new project ID for the poject
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeProjectIdActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeProjectIdActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ChangeProjectIdActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ChangeProjectIdActionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChangeProjectIdActionDto'
        required: true
        x-bodyName: changeProjectIdActionDto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeProjectIdActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/ChangeProjectIdActionResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ChangeProjectIdActionResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ChangeProjectIdActionResultDto'
        '412':
          description: Project version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/project/{projectId}:
    put:
      tags:
      - Project
      summary: Update a specific Project
      description: 'Response Message has StatusCode NoContent if PUT operation succeed.


        Response Message has StatusCode BadRequest if PUT operation failed.


        The response headers include an ETag after a successful PUT operation.'
      operationId: Project_PutByprojectId
      parameters:
      - name: projectId
        in: path
        description: Identifies the Project
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Project to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ProjectUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProjectUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProjectUpdateDto'
        required: true
        x-bodyName: projectUpdateDto
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Project version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/project/internal/{internalId}:
    put:
      tags:
      - Project
      summary: Update a specific Project
      description: 'Response Message has StatusCode NoContent if PUT operation succeed.


        Response Message has StatusCode BadRequest if PUT operation failed.


        The response headers include an ETag after a successful PUT operation.'
      operationId: Project_PutByinternalId
      parameters:
      - name: internalId
        in: path
        description: Identifies the Project by its internalID
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Project to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ProjectUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProjectUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProjectUpdateDto'
        required: true
        x-bodyName: projectUpdateDto
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Project version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    templateInProjectDto:
      properties:
        status:
          enum:
          - Planned
          - Active
          - Completed
          - Cancelled
          - OnHold
          - PendingApproval
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: The top part &gt; Templated ID &gt; The template used for creating this project, if applicable.
    branchInTaskExtendedDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: 'Summary tab &gt; Billing and Allocation settings &gt; Branch information: branch number and name.'
    TaskEmployeeUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        employeeId:
          $ref: '#/components/schemas/DtoValueOfString'
    VisibilityUpdateDto:
      type: object
      properties:
        visibleInGl:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        visibleInAp:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        visibleInAr:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        visibleInSo:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        visibleInPo:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        visibleInEa:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        visibleInTa:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        visibleInIn:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        visibleInCa:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        visibleInCr:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
    ProjectUpdateDto:
      required:
      - description
      - startDate
      type: object
      properties:
        projectID:
          $ref: '#/components/schemas/DtoValueOfString'
        internalID:
          $ref: '#/components/schemas/DtoValueOfNullableOfInt32'
        customer:
          $ref: '#/components/schemas/DtoValueOfString'
        description:
          $ref: '#/components/schemas/descriptionInProjectUpdateDto'
        hold:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        template:
          $ref: '#/components/schemas/DtoValueOfString'
        status:
          $ref: '#/components/schemas/DtoValueOfNullableOfProjectStatus'
        defAccount:
          $ref: '#/components/schemas/DtoValueOfString'
        defSub:
          type: array
          items:
            $ref: '#/components/schemas/SegmentUpdateDto'
          description: Mandatory field when Project Template is not specified.
        defAccrualAccount:
          $ref: '#/components/schemas/DtoValueOfString'
        defAccrualSub:
          type: array
          items:
            $ref: '#/components/schemas/SegmentUpdateDto'
        startDate:
          $ref: '#/components/schemas/startDateInProjectUpdateDto'
        endDate:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        billingPeriod:
          $ref: '#/components/schemas/DtoValueOfNullableOfBillingPeriod'
        allocationRule:
          $ref: '#/components/schemas/DtoValueOfString'
        billingRule:
          $ref: '#/components/schemas/DtoValueOfString'
        branch:
          $ref: '#/components/schemas/branchInProjectUpdateDto'
        rateTable:
          $ref: '#/components/schemas/DtoValueOfString'
        projectManger:
          $ref: '#/components/schemas/DtoValueOfString'
        projectManagerInternalId:
          $ref: '#/components/schemas/DtoValueOfNullableOfInt32'
        autoAllocate:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        automaticReleaseArDoc:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        restricEmployees:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        restricEquipment:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        customerLocation:
          $ref: '#/components/schemas/DtoValueOfString'
        visibility:
          $ref: '#/components/schemas/VisibilityUpdateDto'
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/TaskUpdateDto'
        employees:
          type: array
          items:
            $ref: '#/components/schemas/ProjectEmployeeUpdateDto'
        note:
          $ref: '#/components/schemas/DtoValueOfString'
      description: This class represent a Project in Project Controller. Used to pass data to server for creating or updating an project
    ChangeProjectIdActionResultDto:
      type: object
      properties:
        actionId:
          type: string
          format: uuid
        actionResult:
          enum:
          - Queued
          - InProcess
          - Failed
          - Done
          type: string
        errorInfo:
          type: string
    DtoValueOfNullableOfBillingPeriod:
      type: object
      properties:
        value:
          enum:
          - Weekly
          - Monthly
          - Quarterly
          - Annual
          - OnDemand
          type: string
    SegmentUpdateDto:
      type: object
      properties:
        segmentId:
          type: integer
          format: int32
        segmentValue:
          type: string
    contactInEmployeeDto:
      properties:
        employeeContact:
          type: string
          description: Employee contact &gt; The link to the contact record associated with the employee.
        title:
          enum:
          - Doctor
          - Miss
          - Mr
          - Mrs
          - Ms
          - Prof
          type: string
          description: Title &gt; The courtesy title to be used for the employee.
        firstName:
          type: string
          description: First name &gt; The first name of the employee.
        midName:
          type: string
          description: Middle name &gt; The middle name of the employee.
        lastName:
          type: string
          description: 'Mandatory field: Last name* &gt; The last name of the employee.'
        phone3:
          type: string
          description: Phone 3 &gt; An additional phone number of the employee.
        contactId:
          type: integer
          format: int32
        name:
          type: string
          description: Name &gt; The legal name of to appear on the documents.
        attention:
          type: string
          description: Attention &gt; The attention line as it is used in your customer's/supplier's/company's business letters. The intention of this line is to direct the letter to the right person if the letter is not addressed to any specific person.
        email:
          type: string
          description: Email &gt; The email address of the customer/supplier/company as a business entity.
        web:
          type: string
          description: Web &gt; The website of the company, if one exists.
        phone1:
          type: string
          description: Phone 1 &gt; The default phone number.
        phone2:
          type: string
          description: Phone 2 &gt; An additional phone number.
        fax:
          type: string
          description: Fax &gt; The fax number.
      description: General information tab &gt; Contact section &gt;
    DtoValueOfNullableOfProjectStatus:
      type: object
      properties:
        value:
          enum:
          - Planned
          - Active
          - Completed
          - Cancelled
          - OnHold
          - PendingApproval
          type: string
    TaskUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        taskId:
          $ref: '#/components/schemas/DtoValueOfString'
        description:
          $ref: '#/components/schemas/DtoValueOfString'
        plannedStart:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        plannedEnd:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        startDate:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        rateTable:
          $ref: '#/components/schemas/DtoValueOfString'
        status:
          $ref: '#/components/schemas/DtoValueOfNullableOfProjTaskStatus'
        restrictEmployees:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        employees:
          type: array
          items:
            $ref: '#/components/schemas/TaskEmployeeUpdateDto'
    DtoValueOfNullableOfDateTime:
      type: object
      properties:
        value:
          type: string
          format: date-time
    DtoValueOfNullableOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    branchInProjectUpdateDto:
      properties:
        value:
          type: string
      description: 'Summary tab &gt; Billing and Allocation Settings &gt; The branch information: branch number and name.'
    rateTableInProjectDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Summary tab &gt; Invoicing and allocation settings section &gt; Rate table &gt; The rate table to be used with the allocation rules, if applicable.
    descriptionInProjectUpdateDto:
      properties:
        value:
          type: string
      description: Mandatory field
    customerInProjectDto:
      properties:
        number:
          type: string
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: The top part &gt; Customer &gt; The customer for the project if this project is external.
    countryInAddressDto:
      properties:
        id:
          type: string
          description: 'Mandatory field: Country ID* &gt; The unique two-letter country ID according to international standard ISO 3166.'
        name:
          type: string
          description: 'Mandatory field: Country name* &gt; The complete name of the country.'
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: Country &gt; The country.
    ProjectEmployeeUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        employeeId:
          $ref: '#/components/schemas/DtoValueOfString'
    rateTableInTaskExtendedDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Rate table &gt; The rate table to be used in the allocation rules, if applicable.
    DtoValueOfNullableOfProjTaskStatus:
      type: object
      properties:
        value:
          enum:
          - Planned
          - Active
          - Cancelled
          - Canceled
          - Completed
          type: string
    VisibilityDto:
      type: object
      properties:
        visibleInGl:
          type: boolean
          description: General ledger
        visibleInAp:
          type: boolean
          description: Supplier ledger
        visibleInAr:
          type: boolean
          description: Customer ledger
        visibleInSo:
          type: boolean
          description: Sales
        visibleInPo:
          type: boolean
          description: Purchases
        visibleInEa:
          type: boolean
          description: Expenses
        visibleInTa:
          type: boolean
          description: Time entries
        visibleInIn:
          type: boolean
          description: Inventory
        visibleInCa:
          type: boolean
          description: Cash management
        visibleInCr:
          type: boolean
    defAccountInTaskExtendedDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: General ledger accounts tab &gt; Default values section &gt; Default account &gt; The account to be used as one of the sources of possible accounts for the invoices and transactions for the project task.
    addressInEmployeeDto:
      properties:
        addressId:
          type: integer
          format: int32
        addressLine1:
          type: string
          description: Address 1 &gt; The first line of the customer's/supplier's/company's/employee's contact address.
        addressLine2:
          type: string
          description: Address 2 &gt; The second line of the address.
        addressLine3:
          type: string
          description: Address 3 &gt; The third line of the address.
        postalCode:
          type: string
          description: Postcode &gt; The postcode.
        city:
          type: string
          description: City &gt; The city.
        country:
          $ref: '#/components/schemas/countryInAddressDto'
        county:
          $ref: '#/components/schemas/countyInAddressDto'
      description: General information tab &gt; Address info section &gt;
    ChangeProjectIdActionDto:
      type: object
      properties:
        projectId:
          type: string
    RateTableIdDescriptionDto:
      type: object
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
    branchInTaskDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: 'Summary tab &gt; Billing and Allocation settings &gt; Branch information: branch number and name.'
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    BranchNumberDto:
      type: object
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
    DtoValueOfNullableOfInt32:
      type: object
      properties:
        value:
          type: integer
          format: int32
    projectManagerInProjectDto:
      properties:
        employeeUserId:
          type: string
          description: Employee internal user ID. This is the ID of the user linked to the employee
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        employeeId:
          type: integer
          description: 'Mandatory field: The top part &gt; Employee ID* &gt; The unique identifier, which is assigned to the employee in accordance with the configuration of the EMPLOYEE segmented key.'
          format: int32
        employeeNumber:
          type: string
          description: General information tab &gt; Employee settings section &gt; Employee ref. no. &gt; A reference number for the employee.
        employeeName:
          type: string
          description: The top part &gt; Employee name &gt; The name of this employee.
        status:
          enum:
          - Active
          - OnHold
          - HoldPayments
          - Inactive
          - OneTime
          type: string
          description: 'Mandatory field: The top part &gt; Status &gt; The status of the employee. The following options are available: Active, On hold, Hold payments, Inactive, One-time.'
        department:
          type: string
          description: 'Mandatory field: General information tab &gt; Employee section &gt; Department* &gt; The department the employee works for.'
        contact:
          $ref: '#/components/schemas/contactInEmployeeDto'
        address:
          $ref: '#/components/schemas/addressInEmployeeDto'
        lastModifiedDateTime:
          type: string
          format: date-time
        employeeClass:
          $ref: '#/components/schemas/employeeClassInEmployeeDto'
        branch:
          $ref: '#/components/schemas/BranchNumberDto'
        calendarID:
          type: string
        employeeLogin:
          type: string
        workGroupDescription:
          type: array
          items:
            type: string
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: Summary tab &gt; Project properties section &gt; Project manager &gt; The person who is responsible for managing the project and authorised to approve the project task and task activities.
    EmployeeDto:
      type: object
      properties:
        employeeUserId:
          type: string
          description: Employee internal user ID. This is the ID of the user linked to the employee
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        employeeId:
          type: integer
          description: 'Mandatory field: The top part &gt; Employee ID* &gt; The unique identifier, which is assigned to the employee in accordance with the configuration of the EMPLOYEE segmented key.'
          format: int32
        employeeNumber:
          type: string
          description: General information tab &gt; Employee settings section &gt; Employee ref. no. &gt; A reference number for the employee.
        employeeName:
          type: string
          description: The top part &gt; Employee name &gt; The name of this employee.
        status:
          enum:
          - Active
          - OnHold
          - HoldPayments
          - Inactive
          - OneTime
          type: string
          description: 'Mandatory field: The top part &gt; Status &gt; The status of the employee. The following options are available: Active, On hold, Hold payments, Inactive, One-time.'
        department:
          type: string
          description: 'Mandatory field: General information tab &gt; Employee section &gt; Department* &gt; The department the employee works for.'
        contact:
          $ref: '#/components/schemas/contactInEmployeeDto'
        address:
          $ref: '#/components/schemas/addressInEmployeeDto'
        lastModifiedDateTime:
          type: string
          format: date-time
        employeeClass:
          $ref: '#/components/schemas/employeeClassInEmployeeDto'
        branch:
          $ref: '#/components/schemas/BranchNumberDto'
        calendarID:
          type: string
        employeeLogin:
          type: string
        workGroupDescription:
          type: array
          items:
            type: string
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents an Employee in EmployeeController. Used for getting data.
    TaskDto:
      type: object
      properties:
        taskId:
          type: string
          description: 'Mandatory field: &gt; Task ID* &gt; The ID of the task.'
        description:
          type: string
          description: 'Mandatory field: Description &gt; The description of the task.'
        plannedStart:
          type: string
          format: date-time
        plannedEnd:
          type: string
          format: date-time
        startDate:
          type: string
          description: Start date &gt; The date when the task was actually started.
          format: date-time
        endDate:
          type: string
          description: End date &gt; The date when the task was actually finished.
          format: date-time
        branch:
          $ref: '#/components/schemas/branchInTaskDto'
        rateTable:
          $ref: '#/components/schemas/RateTableIdDescriptionDto'
        status:
          enum:
          - Planned
          - Active
          - Cancelled
          - Canceled
          - Completed
          type: string
          description: 'Mandatory field: Status* &gt; The status of the task, which can be one of the following: In planning, Active, Cancelled, Completed.'
        restrictEmployees:
          type: boolean
          description: Summary tab &gt; Task properties section &gt; Restrict employees &gt; A check box that indicates (if selected) that only the employees listed on the Employees tab of this window can create activities and documents associated with the current task.
        visibility:
          $ref: '#/components/schemas/VisibilityDto'
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        employees:
          type: array
          items:
            $ref: '#/components/schemas/EmployeeDto'
          description: The Employees tab &gt; Information in this tab is retreived from EP203000 (Employees)
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/AttributeIdValueDto'
          description: Attributes
    DtoValueOfString:
      type: object
      properties:
        value:
          type: string
    taxCategoryInTaskExtendedDto:
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: VAT category &gt; The tax category for the project task.
    TaskExtendedDto:
      type: object
      properties:
        internalId:
          type: integer
          description: Internal ID* &gt; The internal ID of the task.
          format: int32
        projectInternalId:
          type: integer
          description: Project Internal ID* &gt; The internal ID of the project.
          format: int32
        defAccount:
          $ref: '#/components/schemas/defAccountInTaskExtendedDto'
        defSub:
          $ref: '#/components/schemas/defSubInTaskExtendedDto'
        defAccrualAccount:
          $ref: '#/components/schemas/defAccrualAccountInTaskExtendedDto'
        defAccrualSub:
          $ref: '#/components/schemas/defAccrualSubInTaskExtendedDto'
        taxCategory:
          $ref: '#/components/schemas/taxCategoryInTaskExtendedDto'
        lastModifiedDateTime:
          type: string
          description: Information collected from system.
          format: date-time
        createdDateTime:
          type: string
          description: Information collected from the system. Not visible on the screen.
          format: date-time
        taskId:
          type: string
          description: 'Mandatory field: &gt; Task ID* &gt; The ID of the task.'
        description:
          type: string
          description: 'Mandatory field: Description &gt; The description of the task.'
        plannedStart:
          type: string
          format: date-time
        plannedEnd:
          type: string
          format: date-time
        startDate:
          type: string
          description: Start date &gt; The date when the task was actually started.
          format: date-time
        endDate:
          type: string
          description: End date &gt; The date when the task was actually finished.
          format: date-time
        branch:
          $ref: '#/components/schemas/branchInTaskExtendedDto'
        rateTable:
          $ref: '#/components/schemas/rateTableInTaskExtendedDto'
        status:
          enum:
          - Planned
          - Active
          - Cancelled
          - Canceled
          - Completed
          type: string
          description: 'Mandatory field: Status* &gt; The status of the task, which can be one of the following: In planning, Active, Cancelled, Completed.'
        restrictEmployees:
          type: boolean
          description: Summary tab &gt; Task properties section &gt; Restrict employees &gt; A check box that indicates (if selected) that only the employees listed on the Employees tab of this window can create activities and documents associated with the current task.
        visibility:
          $ref: '#/components/schemas/visibilityInTaskExtendedDto'
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        employees:
          type: array
          items:
            $ref: '#/components/schemas/EmployeeDto'
          description: The Employees tab &gt; Information in this tab is retreived from EP203000 (Employees)
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/AttributeIdValueDto'
          description: Attributes
    AttributeIdValueDto:
      type: object
      properties:
        id:
          type: string
        value:
          type: string
          description: Value &gt; The value of the attribute.
        description:
          type: string
          description: Attribute &gt; The description of the attribute.
    defSubInProjectDto:
      properties:
        active:
          type: boolean
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Mandatory field: General ledger accounts tab &gt; Default values section &gt; Default subaccount* &gt; The subaccount to be used as one of the sources of possible segment values for subaccounts to be used in the invoices and transactions for the project.'
    defAccrualSubInTaskExtendedDto:
      properties:
        active:
          type: boolean
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: General ledger accounts tab &gt; Default values section &gt; Accrual subaccount &gt; The default accrual subaccount to be used in project transactions for the project task.
    defAccrualSubInProjectDto:
      properties:
        active:
          type: boolean
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: General ledger accounts tab &gt; Default values section &gt; Accrual subaccount &gt; The default accrual subaccount to be used in project transactions for the project.
    defSubInTaskExtendedDto:
      properties:
        active:
          type: boolean
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: General ledger accounts tab &gt; Default values section &gt; Default subaccount* &gt; The subaccount to be used as one of the sources of possible segment values for subaccounts to be used in the invoices and transactions for the project task.
    ProjectDto:
      type: object
      properties:
        internalID:
          type: integer
          format: int32
        projectID:
          type: string
          description: 'Mandatory field: The top part &gt; Project ID* &gt; The unique ID for the project.'
        customer:
          $ref: '#/components/schemas/customerInProjectDto'
        hold:
          type: boolean
          description: The top part &gt; Hold &gt; A check box that you select to indicate that the project should have the In planning status.
        status:
          enum:
          - Planned
          - Active
          - Completed
          - Cancelled
          - OnHold
          - PendingApproval
          type: string
          description: 'The top part &gt; Status &gt; The status of the project, which can be one of the following options: In planning, Active, Completed, Suspended, Cancelled.'
        template:
          $ref: '#/components/schemas/templateInProjectDto'
        description:
          type: string
          description: 'Mandatory field: The top part &gt; Description* &gt; The description of the project.'
        assets:
          type: number
          description: The top part &gt; Assest &gt; The actual assets for the project.
          format: double
        liability:
          type: number
          description: The top part &gt; Liabilities &gt; The actual liabilities for the project.
          format: double
        income:
          type: number
          description: The top part &gt; Income &gt; The income expected from the project.
          format: double
        expenses:
          type: number
          description: The top part &gt; Expenses &gt; The total of the current expenses incurred by the project.
          format: double
        startDate:
          type: string
          description: 'Mandatory field: Summary tab &gt; Project properties section &gt; Start date* &gt; The date when the project starts.'
          format: date-time
        endDate:
          type: string
          description: Summary tab &gt; Project properties section &gt; End date &gt; The date when the project is expected to end.
          format: date-time
        projectManager:
          $ref: '#/components/schemas/projectManagerInProjectDto'
        restrictEmployees:
          type: boolean
          description: Summary tab &gt; Project properties section &gt; Restrict employees &gt; A check box that indicates (if selected) that only the employees listed on the Employees tab of this window can create activities and documents associated with the current project.
        restrictEquipment:
          type: boolean
        visibility:
          $ref: '#/components/schemas/visibilityInProjectDto'
        defAccount:
          $ref: '#/components/schemas/defAccountInProjectDto'
        defSub:
          $ref: '#/components/schemas/defSubInProjectDto'
        defAccrualAccount:
          $ref: '#/components/schemas/defAccrualAccountInProjectDto'
        defAccrualSub:
          $ref: '#/components/schemas/defAccrualSubInProjectDto'
        billingPeriod:
          enum:
          - Weekly
          - Monthly
          - Quarterly
          - Annual
          - OnDemand
          type: string
          description: 'Summary tab &gt; Invoicing and allocation settings section &gt; Invoicing period &gt; The frequency of invoicing, which can be one of the following options: Week, Month, Quarter, Year, On demand.'
        nextBillingDate:
          type: string
          description: Summary tab &gt; Invoicing and allocation settings section &gt; Next invoicing date &gt; The date for which the next invoicing is scheduled for the project.
          format: date-time
        lastBillingDate:
          type: string
          description: Summary tab &gt; Invoicing and allocation settings section &gt; Last invoicing date &gt; The date when the latest invoicing was performed for the project.
          format: date-time
        customerLocation:
          $ref: '#/components/schemas/customerLocationInProjectDto'
        allocationRule:
          $ref: '#/components/schemas/allocationRuleInProjectDto'
        billingRule:
          $ref: '#/components/schemas/billingRuleInProjectDto'
        branch:
          $ref: '#/components/schemas/branchInProjectDto'
        rateTable:
          $ref: '#/components/schemas/rateTableInProjectDto'
        autoAllocate:
          type: boolean
          description: Summary tab &gt; Invoicing and allocation settings section &gt; Run allocation when you release project transactions &gt; A check box that indicates (if selected) that allocation is run automatically during the release of the documents associated with this project.
        automaticReleaseAr:
          type: boolean
          description: Summary tab &gt; Invoicing and allocation settings section &gt; Automatically release customer documents &gt; A check box that indicates (if selected) that invoice documents are released automatically after the project invoicing is completed.
        lastModifiedDateTime:
          type: string
          description: System generated information
          format: date-time
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/TaskDto'
          description: Tasks tab &gt;
        employees:
          type: array
          items:
            $ref: '#/components/schemas/EmployeeDto'
          description: The Employees tab &gt; Information in this tab is retreived from EP203000 (Employees)
        publicId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        systemTemplate:
          type: boolean
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/AttributeIdValueDto'
          description: Attributes tab &gt;
        note:
          type: string
          description: The note on the project.
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents a Project in ProjectController. Used for getting data.
    visibilityInProjectDto:
      properties:
        visibleInGl:
          type: boolean
          description: General ledger
        visibleInAp:
          type: boolean
          description: Supplier ledger
        visibleInAr:
          type: boolean
          description: Customer ledger
        visibleInSo:
          type: boolean
          description: Sales
        visibleInPo:
          type: boolean
          description: Purchases
        visibleInEa:
          type: boolean
          description: Expenses
        visibleInTa:
          type: boolean
          description: Time entries
        visibleInIn:
          type: boolean
          description: Inventory
        visibleInCa:
          type: boolean
          description: Cash management
        visibleInCr:
          type: boolean
      description: Summary tab &gt; Visibility settings section &gt;
    branchInProjectDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: 'Summary tab &gt; Billing and Allocation Settings &gt; The branch information: branch number and name.'
    visibilityInTaskExtendedDto:
      properties:
        visibleInGl:
          type: boolean
          description: General ledger
        visibleInAp:
          type: boolean
          description: Supplier ledger
        visibleInAr:
          type: boolean
          description: Customer ledger
        visibleInSo:
          type: boolean
          description: Sales
        visibleInPo:
          type: boolean
          description: Purchases
        visibleInEa:
          type: boolean
          description: Expenses
        visibleInTa:
          type: boolean
          description: Time entries
        visibleInIn:
          type: boolean
          description: Inventory
        visibleInCa:
          type: boolean
          description: Cash management
        visibleInCr:
          type: boolean
      description: Information retrieved from the Summary tab
    customerLocationInProjectDto:
      properties:
        id:
          type: integer
          description: Click the magnifier &gt; The identifier
          format: int32
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: Summary tab &gt; Invoice to section &gt; Customer location &gt; The location of the project's customer.
    billingRuleInProjectDto:
      properties:
        active:
          type: boolean
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Summary tab &gt; Invoicing and allocation settings section &gt; Invoicing rule &gt; The default invoicing rule that is used for the tasks created for the project.
    defAccountInProjectDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: General ledger accounts tab &gt; Default values section &gt; Default account &gt; The account to be used as one of the sources of possible accounts for the invoices and transactions for the project.
    startDateInProjectUpdateDto:
      properties:
        value:
          type: string
          format: date-time
      description: Mandatory field
    defAccrualAccountInProjectDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: General ledger accounts tab &gt; Default values section &gt; Accrual account &gt; The default accrual account to be used in project transactions for the project.
    defAccrualAccountInTaskExtendedDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: General ledger accounts tab &gt; Default values section &gt; Accrual account &gt; The default accrual account to be used in project transactions for the project task.
    allocationRuleInProjectDto:
      properties:
        active:
          type: boolean
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Summary tab &gt; Invoicing and allocation settings section &gt; Allocation rule &gt; The default allocation rule that is used for the tasks created for the project.
    employeeClassInEmployeeDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Additional information about Employee User

        ///'
    countyInAddressDto:
      properties:
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: County &gt; The county or province.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
