openapi: 3.2.0
info:
  title: Visma.net ERP Employee API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: Employee
paths:
  /v1/employee/{employeeCd}:
    get:
      tags:
      - Employee
      summary: Get a specific employee
      description: 'Data for a single employee.


        The response headers include an ETag after a successful GET operation.'
      operationId: Employee_GetEmployeeByemployeeCd
      parameters:
      - name: employeeCd
        in: path
        description: Identifies the employee
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/EmployeeDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - Employee
      summary: Updates a specific employee
      description: 'Response Message has StatusCode NoContent if PUT operation succeed.


        Response Message has StatusCode BadRequest if PUT operation failed.


        The response headers include an ETag after a successful PUT operation.'
      operationId: Employee_PutByemployeeCd
      parameters:
      - name: employeeCd
        in: path
        description: Identifies the employee to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: The data to update for the employee
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateDto'
        required: true
        x-bodyName: employeeDto
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Employee version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/employee:
    get:
      tags:
      - Employee
      summary: Get a range of employees - ScreenId=EP203000 Request page size must be lower or…
      operationId: Employee_GetAllEmployees
      parameters:
      - name: linkedToUser
        in: query
        description: If the employee is linked to a user.
        schema:
          type: boolean
      - name: greaterThanValue
        in: query
        description: Greater-than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        description: This field has been deprecated and will be removed in future versions. The OrderBy parameter has no effect on the result.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmployeeDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmployeeDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - Employee
      summary: Create an employee
      description: 'Response Message has StatusCode Created if POST operation succeed.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.


        The response headers include an ETag after a successful POST operation.'
      operationId: Employee_CreateEmployee
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Define the data for the employee to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeCreateDTO'
          text/json:
            schema:
              $ref: '#/components/schemas/EmployeeCreateDTO'
          application/xml:
            schema:
              $ref: '#/components/schemas/EmployeeCreateDTO'
          text/xml:
            schema:
              $ref: '#/components/schemas/EmployeeCreateDTO'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeeCreateDTO'
        required: true
        x-bodyName: employee
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/employee/{EmployeeCd}/timecards:
    get:
      tags:
      - Employee
      summary: Get a specific employee time cards
      operationId: Employee_GetEmployeeTimeCards
      parameters:
      - name: employeeCd
        in: query
        description: Identifies the employee
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: The status of the document.
        schema:
          enum:
          - Hold
          - Open
          - Approved
          - Rejected
          - Released
          type: string
      - name: week
        in: query
        description: Identifies the week number of the time card
        schema:
          type: string
      - name: type
        in: query
        description: Identifies the type of the time card (Normal, Corrected, NormalCorrected)
        schema:
          enum:
          - Normal
          - Correction
          - NormalCorrected
          type: string
      - name: greaterThanValue
        in: query
        description: Greater-than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        description: This field has been deprecated and will be removed in future versions. The OrderBy parameter has no effect on the result.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: employeeCd
        in: query
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeCardDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeCardDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/employee/{employeeCd}/expenseClaim:
    get:
      tags:
      - Employee
      summary: Get expense claims for a specific employee
      operationId: Employee_GetEmployeeExpenseClaimsByemployeeCd
      parameters:
      - name: employeeCd
        in: path
        description: Identifies the employee
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: The status of the document.
        schema:
          enum:
          - Hold
          - PendingApproval
          - Approved
          - Rejected
          - Released
          type: string
      - name: date
        in: query
        description: The date of the document
        schema:
          type: string
          format: date-time
      - name: customer
        in: query
        description: The customer from the document
        schema:
          type: string
      - name: departmentId
        in: query
        description: Identifies the department
        schema:
          type: string
      - name: greaterThanValue
        in: query
        description: Greater-than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        description: This field has been deprecated and will be removed in future versions. The OrderBy parameter has no effect on the result.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExpenseClaimDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExpenseClaimDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/employee/{employeeCd}/expenseReceipt:
    get:
      tags:
      - Employee
      summary: Get expense receipts for a specific employee
      operationId: Employee_GetEmployeeExpenseReceiptsByemployeeCd
      parameters:
      - name: employeeCd
        in: path
        description: Identifies the employee
        required: true
        schema:
          type: string
      - name: date
        in: query
        description: The date of the document
        schema:
          type: string
      - name: dateCondition
        in: query
        schema:
          type: string
      - name: inventory
        in: query
        description: Identifies the inventory item from the document
        schema:
          type: string
      - name: project
        in: query
        description: Identifies the project from the document
        schema:
          type: string
      - name: claimedBy
        in: query
        description: Identifies the employee from the document
        schema:
          type: string
      - name: projectTask
        in: query
        description: Filter on Task ID.
        schema:
          type: string
      - name: invoiceable
        in: query
        description: If the document is invoiceable
        schema:
          type: boolean
      - name: status
        in: query
        description: The status of the document.
        schema:
          enum:
          - Open
          - Pending
          - Approved
          - Rejected
          - Released
          type: string
      - name: customer
        in: query
        description: Identifies the customer from the document
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExpenseReceiptDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExpenseReceiptDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/employee/action/changeEmployeeCd/{internalId}:
    post:
      tags:
      - Employee
      summary: Updates the EmployeeNr for the specified employee
      description: 'The action result dto contains information about the result of running the action.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.'
      operationId: Employee_ChangeEmployeeNrActionByinternalId
      parameters:
      - name: internalId
        in: path
        description: Internal identifier of the employee for which the employee Nr will be changed
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: Defines the new employee Nr for the employee
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeEmployeeNrActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ChangeEmployeeNrActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ChangeEmployeeNrActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ChangeEmployeeNrActionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChangeEmployeeNrActionDto'
        required: true
        x-bodyName: changeEmployeeNrActionDto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeEmployeeNrActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/ChangeEmployeeNrActionResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ChangeEmployeeNrActionResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ChangeEmployeeNrActionResultDto'
        '412':
          description: Employee version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    expenseClaimInExpenseReceiptDto:
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: Receipt details tab &gt; Expense details section &gt; Expense claim &gt; The expense claim with which the expense receipt is associated.
    ChangeEmployeeNrActionResultDto:
      type: object
      properties:
        actionId:
          type: string
          format: uuid
        actionResult:
          enum:
          - Queued
          - InProcess
          - Failed
          - Done
          type: string
        errorInfo:
          type: string
    expenseAccountInExpenseReceiptDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: Receipt details tab &gt; Financial details section &gt; Expense account &gt; The expense account to which the system records the part of the expense to be paid back to the employee.
    earningTypeInTimeCardSummaryDto:
      properties:
        code:
          type: string
          description: 'Mandatory field: Code* &gt; The unique ID of the type of hour.'
        description:
          type: string
          description: 'Mandatory field: Description &gt; The brief description of the type of hour.'
        isOvertime:
          type: boolean
          description: Overtime &gt; A check box that indicates (if selected) that the type of hour is treated as overtime.
        isBillable:
          type: boolean
          description: Invoicable &gt; A check box that indicates (if selected) that the type is treated as invoiceable by default.
        isActive:
          type: boolean
          description: Active &gt; A check box that indicates (if selected) that the type of hour is active and can be used.
        overtimeMultiplier:
          type: number
          description: Multiplier &gt; The value by which the employee cost for this type of hour is multiplied when the time activity is released.
          format: double
        lastModifiedDateTime:
          type: string
          description: System generated information.
          format: date-time
      description: Earning type &gt; The type of the work time spent by the employee
    AttachmentDto:
      type: object
      properties:
        name:
          type: string
          description: The name of the attachment.
        id:
          type: string
          description: The ID of the attachment
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        revision:
          type: integer
          description: The version of the attachment.
          format: int32
    contactInEmployeeDto:
      properties:
        employeeContact:
          type: string
          description: Employee contact &gt; The link to the contact record associated with the employee.
        title:
          enum:
          - Doctor
          - Miss
          - Mr
          - Mrs
          - Ms
          - Prof
          type: string
          description: Title &gt; The courtesy title to be used for the employee.
        firstName:
          type: string
          description: First name &gt; The first name of the employee.
        midName:
          type: string
          description: Middle name &gt; The middle name of the employee.
        lastName:
          type: string
          description: 'Mandatory field: Last name* &gt; The last name of the employee.'
        phone3:
          type: string
          description: Phone 3 &gt; An additional phone number of the employee.
        contactId:
          type: integer
          format: int32
        name:
          type: string
          description: Name &gt; The legal name of to appear on the documents.
        attention:
          type: string
          description: Attention &gt; The attention line as it is used in your customer's/supplier's/company's business letters. The intention of this line is to direct the letter to the right person if the letter is not addressed to any specific person.
        email:
          type: string
          description: Email &gt; The email address of the customer/supplier/company as a business entity.
        web:
          type: string
          description: Web &gt; The website of the company, if one exists.
        phone1:
          type: string
          description: Phone 1 &gt; The default phone number.
        phone2:
          type: string
          description: Phone 2 &gt; An additional phone number.
        fax:
          type: string
          description: Fax &gt; The fax number.
      description: General information tab &gt; Contact section &gt;
    projectInExpenseReceiptDto:
      properties:
        internalId:
          type: integer
          description: The internal identifier.
          format: int32
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Receipt details tab &gt; Expense details section &gt; Project/contract &gt; The project or contract, which should be specified if the employee incurred the expenses while working on a particular project or contract.
    CompanyTreeInfoDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        active:
          $ref: '#/components/schemas/DtoValueOfBoolean'
        owner:
          $ref: '#/components/schemas/DtoValueOfBoolean'
        workGroupID:
          $ref: '#/components/schemas/DtoValueOfString'
    customerInExpenseClaimDetailDto:
      properties:
        number:
          type: string
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: Customer &gt; The identifier of the customer associated with the expense.
    departmentInEmployeeUpdateDto:
      properties:
        value:
          type: string
      description: 'Mandatory field: General information tab &gt; Employee section &gt; Department* &gt; The department the employee works for.'
    ChangeEmployeeNrActionDto:
      type: object
      properties:
        employeeNr:
          type: string
    projectTaskInTimeCardSummaryDto:
      properties:
        internalId:
          type: integer
          description: The internal identifier.
          format: int32
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Project task &gt; The project task that the employee worked on.
    EmployeeUpdateDto:
      required:
      - contact
      type: object
      properties:
        employeeClass:
          $ref: '#/components/schemas/DtoValueOfString'
        status:
          $ref: '#/components/schemas/statusInEmployeeUpdateDto'
        department:
          $ref: '#/components/schemas/departmentInEmployeeUpdateDto'
        contact:
          $ref: '#/components/schemas/contactInEmployeeUpdateDto'
        address:
          $ref: '#/components/schemas/addressInEmployeeUpdateDto'
        branch:
          $ref: '#/components/schemas/DtoValueOfString'
        calendar:
          $ref: '#/components/schemas/DtoValueOfString'
        companyTreeInfo:
          type: array
          items:
            $ref: '#/components/schemas/CompanyTreeInfoDto'
    branchInExpenseReceiptDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: 'Mandatory field: The top part &gt; Branch &gt; The company branch that will incur the expenses.'
    countryInAddressDto:
      properties:
        id:
          type: string
          description: 'Mandatory field: Country ID* &gt; The unique two-letter country ID according to international standard ISO 3166.'
        name:
          type: string
          description: 'Mandatory field: Country name* &gt; The complete name of the country.'
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: Country &gt; The country.
    projectInTimeCardSummaryDto:
      properties:
        internalId:
          type: integer
          description: The internal identifier.
          format: int32
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Mandatory field: Project* &gt; The project that the employee worked on.'
    statusInEmployeeCreateDTO:
      properties:
        value:
          enum:
          - Active
          - Hold
          - HoldPayments
          - Inactive
          - OneTime
          type: string
      description: 'Mandatory field: The top part &gt; Status &gt; The status of the employee. The following options are available: Active, On hold, Hold payments, Inactive, One-time.'
    expenseAccountInExpenseClaimDetailDto:
      properties:
        type:
          enum:
          - Asset
          - Liability
          - Income
          - Expense
          type: string
          description: Account &gt; The account number.
        externalCode1:
          type: string
          description: Account class &gt; The identifier of the account class.
        externalCode2:
          type: string
          description: Account class &gt; The name of the account class.
        active:
          type: boolean
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: 'Mandatory field: Expense account &gt; The expense account to which the system should record the part of the expense to be paid back to the employee.'
    taxCategoryInExpenseReceiptDto:
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: Receipt details tab &gt; Expense details section &gt; VAT category &gt; The tax category for the expense receipt.
    employeeInTimeCardDto:
      properties:
        internalId:
          type: string
        number:
          type: string
          description: The identifier of the particular destination of the selected type.
        name:
          type: string
          description: The name of the particular destination of the selected type.
      description: The top part &gt; Employee &gt; The name of the employee whose time card is currently open.
    addressInEmployeeDto:
      properties:
        addressId:
          type: integer
          format: int32
        addressLine1:
          type: string
          description: Address 1 &gt; The first line of the customer's/supplier's/company's/employee's contact address.
        addressLine2:
          type: string
          description: Address 2 &gt; The second line of the address.
        addressLine3:
          type: string
          description: Address 3 &gt; The third line of the address.
        postalCode:
          type: string
          description: Postcode &gt; The postcode.
        city:
          type: string
          description: City &gt; The city.
        country:
          $ref: '#/components/schemas/countryInAddressDto'
        county:
          $ref: '#/components/schemas/countyInAddressDto'
      description: General information tab &gt; Address info section &gt;
    TimeCardDto:
      type: object
      properties:
        refNbr:
          type: string
          description: The top part &gt; Ref. no. &gt; The unique reference number of the time card, which Acumatica ERP automatically assigns according to the numbering sequence specified as the Time Card Numbering Sequence on the Time and Expenses Preferences (EP.10.10.00) form.
        status:
          enum:
          - Hold
          - Open
          - Approved
          - Rejected
          - Released
          type: string
          description: The top part &gt; Status &gt; The status of the time card
        approvalStatus:
          enum:
          - New
          - Canceled
          - SentToApproval
          - ReceivedByApproval
          - InProgressApproval
          - RejectedInApproval
          - ApprovedInApproval
          - ActiveWorkflowApproval
          type: string
          description: The top part &gt; Approval status &gt; The approval status of the time card
        week:
          $ref: '#/components/schemas/weekInTimeCardDto'
        employee:
          $ref: '#/components/schemas/employeeInTimeCardDto'
        type:
          enum:
          - Normal
          - Correction
          - NormalCorrected
          type: string
          description: 'The top part &gt; Type &gt; The type of the time card. The following options are available:• Normal: Regular time card• Correction: Corrective time card, which is a time card that updates a released time card'
        origRefNbr:
          type: string
          description: The top part &gt; Orig. ref. no. &gt; The reference number of the time card being corrected. This box is filled in only when Correction is specified in the Type box
        timeSpent:
          type: integer
          description: 'The top part &gt; Regular column: Time spent &gt; The work hours spent by the employee during the week on activities with the Regular Hours earning type.'
          format: int32
        invoiceable:
          type: integer
          description: 'The top part &gt; Regular column: Invoicable &gt; The invoiceable work hours spent by the employee during the week'
          format: int32
        overtimeSpent:
          type: integer
          description: 'The top part &gt; Overtime column: Time spent &gt; The work hours spent by the employee during the week on activities with the Overtime earning type.'
          format: int32
        invoiceableOvertime:
          type: integer
          description: 'The top part &gt; Overtime column: Invoicable &gt; The invoiceable overtime spent by the employee during the week'
          format: int32
        totalTimeSpent:
          type: integer
          description: 'The top part &gt; Total column: Time spent &gt; The total working time (regular and overtime) for the week'
          format: int32
        invoiceableTotalTime:
          type: integer
          description: 'The top part &gt; Total column: Invoicable &gt; The total invoiceable working time (regular and overtime) for the week'
          format: int32
        lastModifiedDateTime:
          type: string
          description: 'System generated information: The last time the time card line was modified'
          format: date-time
        summary:
          type: array
          items:
            $ref: '#/components/schemas/TimeCardSummaryDto'
          description: Summary tab &gt; Time Card summary information
        materials:
          type: array
          items:
            $ref: '#/components/schemas/TimeCardMaterialsDto'
          description: Summary tab &gt; Time Card materials information
        approvalStatusText:
          type: string
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    TimeCardMaterialsDto:
      type: object
      properties:
        lineNumber:
          type: integer
          description: The time card line number
          format: int32
        itemId:
          type: string
          description: Item Id
        description:
          type: string
          description: Description &gt; The description of the reported quantity.
        uoM:
          type: string
          description: The unit of measure of item
        project:
          $ref: '#/components/schemas/projectInTimeCardMaterialsDto'
        projectTask:
          $ref: '#/components/schemas/projectTaskInTimeCardMaterialsDto'
        mon:
          type: number
          description: Mon &gt; The quantity reported for Monday.
          format: double
        tue:
          type: number
          description: Tue &gt; The quantity reported for Tuesday.
          format: double
        wed:
          type: number
          description: Wed &gt; The quantity reported for Wednesday.
          format: double
        thu:
          type: number
          description: Thu &gt; The quantity reported for Thursday.
          format: double
        fri:
          type: number
          description: Fri &gt; The quantity reported for Friday.
          format: double
        sat:
          type: number
          description: Sat &gt; The quantity reported for Saturday.
          format: double
        sun:
          type: number
          description: Sun &gt; The quantity reported for Sunday.
          format: double
        totalQty:
          type: number
          description: Total Qty
          format: double
        lastModifiedDateTime:
          type: string
          format: date-time
    branchInExpenseClaimDetailDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: 'Mandatory field: Branch &gt; The branch that will reimburse the expenses to the employee.'
    expenseSubaccountInExpenseClaimDetailDto:
      properties:
        active:
          type: boolean
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'MAndatory field: Expense sub. &gt; The corresponding subaccount the system uses to record the part of the expense to be paid back to the employee.'
    EmployeeCreateDTO:
      required:
      - employeeCd
      - department
      - employeeClass
      - branch
      - calendar
      - contact
      type: object
      properties:
        employeeCd:
          $ref: '#/components/schemas/DtoValueOfString'
        department:
          $ref: '#/components/schemas/DtoValueOfString'
        employeeClass:
          $ref: '#/components/schemas/DtoValueOfString'
        branch:
          $ref: '#/components/schemas/DtoValueOfString'
        calendar:
          $ref: '#/components/schemas/DtoValueOfString'
        contact:
          $ref: '#/components/schemas/EmployeeContactUpdateDto'
        address:
          $ref: '#/components/schemas/AddressUpdateDto'
        status:
          $ref: '#/components/schemas/statusInEmployeeCreateDTO'
    statusInEmployeeUpdateDto:
      properties:
        value:
          enum:
          - Active
          - Hold
          - HoldPayments
          - Inactive
          - OneTime
          type: string
      description: 'Mandatory field: The top part &gt; Status &gt; The status of the employee. The following options are available: Active, On hold, Hold payments, Inactive, One-time.'
    DtoValueOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    ExpenseReceiptDto:
      type: object
      properties:
        internalId:
          type: integer
          format: int32
        receiptId:
          type: string
          description: "The top part &gt; Employee &gt; \tThe identifier of the employee whose expense receipts you want to manage."
        date:
          type: string
          description: Both tabs &gt; Date &gt; The date of the expense receipt.
          format: date-time
        taxTotal:
          type: number
          description: The top part &gt; VAT total &gt; The total amount of VAT or taxes calculated for the expense receipt.
          format: double
        currency:
          $ref: '#/components/schemas/currencyInExpenseReceiptDto'
        refNbr:
          type: string
          description: Both tabs &gt; Ref. no. &gt; The reference number, which usually matches the number of the original receipt.
        inventory:
          $ref: '#/components/schemas/InventoryNumberDescriptionDto'
        description:
          type: string
          description: 'Open the receipt

            Mandatory field: Receipt details tab &gt; Expense details section &gt; Description* &gt; The expense description, which is displayed as a link.'
        uom:
          type: string
          description: Receipt details tab &gt; Expense details section &gt; UoM &gt; The unit of measure of the expense item.
        quantity:
          type: number
          description: Receipt details tab &gt; Expense details section &gt; Quantity &gt; The quantity of the expense item that the employee purchased according to the receipt.
          format: double
        unitCost:
          type: number
          description: Receipt details tab &gt; Expense details section &gt; Unit cost &gt; The cost of one unit of the expense item.
          format: double
        totalAmount:
          type: number
          description: Receipt details tab &gt; Expense details section &gt; Amount &gt; The total amount of the receipt (for VAT-inclusive taxes), or the total amount before taxes (for VAT-exclusive taxes).
          format: double
        employeePart:
          type: number
          description: Receipt details tab &gt; Expense details section &gt; Employee part  &gt; The part of the total amount that will not be paid back to the employee.
          format: double
        claimAmount:
          type: number
          description: Receipt details tab &gt; Expense details section &gt; Expense claim &gt; The expense claim with which the expense receipt is associated.
          format: double
        status:
          enum:
          - Open
          - Pending
          - Approved
          - Rejected
          - Released
          type: string
          description: 'Receipt details tab &gt; Expense details section &gt; Expense claim status &gt; The current status of the associated expense claim, which can be one of the following options: On hold, Pending apporval, Approved, Rejected, Released.'
        claimedBy:
          $ref: '#/components/schemas/claimedByInExpenseReceiptDto'
        branch:
          $ref: '#/components/schemas/branchInExpenseReceiptDto'
        expenseClaim:
          $ref: '#/components/schemas/expenseClaimInExpenseReceiptDto'
        invoiceable:
          type: boolean
          description: Receipt details tab &gt; Financial details section &gt; Invoiceable &gt; A check box that indicates (if selected) that the customer should be invoiced for the claim amount.
        project:
          $ref: '#/components/schemas/projectInExpenseReceiptDto'
        projectTask:
          $ref: '#/components/schemas/projectTaskInExpenseReceiptDto'
        customer:
          $ref: '#/components/schemas/customerInExpenseReceiptDto'
        location:
          $ref: '#/components/schemas/locationInExpenseReceiptDto'
        expenseAccount:
          $ref: '#/components/schemas/expenseAccountInExpenseReceiptDto'
        expenseSub:
          $ref: '#/components/schemas/expenseSubInExpenseReceiptDto'
        salesAccount:
          $ref: '#/components/schemas/salesAccountInExpenseReceiptDto'
        salesSub:
          $ref: '#/components/schemas/salesSubInExpenseReceiptDto'
        taxCategory:
          $ref: '#/components/schemas/taxCategoryInExpenseReceiptDto'
        image:
          $ref: '#/components/schemas/imageInExpenseReceiptDto'
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
      description: This class represents a Expense Receipt in ExpenseReceiptController. Used by getting data.
    projectTaskInExpenseReceiptDto:
      properties:
        internalId:
          type: integer
          description: The internal identifier.
          format: int32
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Receipt details tab &gt; Expense details section &gt; Project task &gt; The project task to which the expenses are related.
    salesAccountInExpenseClaimDetailDto:
      properties:
        type:
          enum:
          - Asset
          - Liability
          - Income
          - Expense
          type: string
          description: Account &gt; The account number.
        externalCode1:
          type: string
          description: Account class &gt; The identifier of the account class.
        externalCode2:
          type: string
          description: Account class &gt; The name of the account class.
        active:
          type: boolean
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: Sales account &gt; The sales account to which the system should record the part of the amount to charge the customer for. This is applicable only when a customer has been specified.
    projectInExpenseClaimDetailDto:
      properties:
        internalId:
          type: integer
          description: The internal identifier.
          format: int32
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Mandatory field: Project &gt; The project or customer contract associated with the expense claim, if the work performed was for a project or contract. Project Task The task associated with the contract or project.'
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    salesAccountInExpenseReceiptDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: Receipt details tab &gt; Financial details section &gt; Sales account &gt; The sales account to which the system records the part of the amount to charge the customer for.
    BranchNumberDto:
      type: object
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
    projectInTimeCardMaterialsDto:
      properties:
        internalId:
          type: integer
          description: The internal identifier.
          format: int32
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Mandatory field: Project* &gt; The project that the employee worked on.'
    currencyInExpenseReceiptDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Both tabs &gt; Currency &gt; The currency of the expense receipt.
    EmployeeDto:
      type: object
      properties:
        employeeUserId:
          type: string
          description: Employee internal user ID. This is the ID of the user linked to the employee
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        employeeId:
          type: integer
          description: 'Mandatory field: The top part &gt; Employee ID* &gt; The unique identifier, which is assigned to the employee in accordance with the configuration of the EMPLOYEE segmented key.'
          format: int32
        employeeNumber:
          type: string
          description: General information tab &gt; Employee settings section &gt; Employee ref. no. &gt; A reference number for the employee.
        employeeName:
          type: string
          description: The top part &gt; Employee name &gt; The name of this employee.
        status:
          enum:
          - Active
          - OnHold
          - HoldPayments
          - Inactive
          - OneTime
          type: string
          description: 'Mandatory field: The top part &gt; Status &gt; The status of the employee. The following options are available: Active, On hold, Hold payments, Inactive, One-time.'
        department:
          type: string
          description: 'Mandatory field: General information tab &gt; Employee section &gt; Department* &gt; The department the employee works for.'
        contact:
          $ref: '#/components/schemas/contactInEmployeeDto'
        address:
          $ref: '#/components/schemas/addressInEmployeeDto'
        lastModifiedDateTime:
          type: string
          format: date-time
        employeeClass:
          $ref: '#/components/schemas/employeeClassInEmployeeDto'
        branch:
          $ref: '#/components/schemas/BranchNumberDto'
        calendarID:
          type: string
        employeeLogin:
          type: string
        workGroupDescription:
          type: array
          items:
            type: string
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents an Employee in EmployeeController. Used for getting data.
    DtoValueOfString:
      type: object
      properties:
        value:
          type: string
    customerInExpenseClaimDto:
      properties:
        number:
          type: string
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: The top part &gt; Customer &gt; The applicable customer.
    projectTaskInTimeCardMaterialsDto:
      properties:
        internalId:
          type: integer
          description: The internal identifier.
          format: int32
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Project task &gt; The project task that the employee worked on.
    claimedByInExpenseReceiptDto:
      properties:
        employeeUserId:
          type: string
          description: Employee internal user ID. This is the ID of the user linked to the employee
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        employeeId:
          type: integer
          description: 'Mandatory field: The top part &gt; Employee ID* &gt; The unique identifier, which is assigned to the employee in accordance with the configuration of the EMPLOYEE segmented key.'
          format: int32
        employeeNumber:
          type: string
          description: General information tab &gt; Employee settings section &gt; Employee ref. no. &gt; A reference number for the employee.
        employeeName:
          type: string
          description: The top part &gt; Employee name &gt; The name of this employee.
        status:
          enum:
          - Active
          - OnHold
          - HoldPayments
          - Inactive
          - OneTime
          type: string
          description: 'Mandatory field: The top part &gt; Status &gt; The status of the employee. The following options are available: Active, On hold, Hold payments, Inactive, One-time.'
        department:
          type: string
          description: 'Mandatory field: General information tab &gt; Employee section &gt; Department* &gt; The department the employee works for.'
        contact:
          $ref: '#/components/schemas/contactInEmployeeDto'
        address:
          $ref: '#/components/schemas/addressInEmployeeDto'
        lastModifiedDateTime:
          type: string
          format: date-time
        employeeClass:
          $ref: '#/components/schemas/employeeClassInEmployeeDto'
        branch:
          $ref: '#/components/schemas/BranchNumberDto'
        calendarID:
          type: string
        employeeLogin:
          type: string
        workGroupDescription:
          type: array
          items:
            type: string
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: "Mandatory field: The top part &gt; Claimed by* &gt; \tThe name of the employee who is claiming the expenses."
    EmployeeContactUpdateDto:
      required:
      - lastName
      - email
      type: object
      properties:
        firstName:
          $ref: '#/components/schemas/DtoValueOfString'
        lastName:
          $ref: '#/components/schemas/DtoValueOfString'
        middleName:
          $ref: '#/components/schemas/DtoValueOfString'
        email:
          $ref: '#/components/schemas/DtoValueOfString'
        phone1:
          $ref: '#/components/schemas/DtoValueOfString'
        phone2:
          $ref: '#/components/schemas/DtoValueOfString'
        phone3:
          $ref: '#/components/schemas/DtoValueOfString'
        fax:
          $ref: '#/components/schemas/DtoValueOfString'
    locationInExpenseClaimDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The top part &gt; Location &gt; The company location associated with the claim.
    projectTaskInExpenseClaimDetailDto:
      properties:
        internalId:
          type: integer
          description: The internal identifier.
          format: int32
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Project task &gt; The task associated with the contract or project.
    locationInExpenseReceiptDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Receipt details tab &gt; Financial details section &gt; Location &gt; The location of the customer related to the expenses.
    locationInExpenseClaimDetailDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Location &gt; The identifier of the customer location associated with the expense.
    expenseItemInExpenseClaimDetailDto:
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: 'Mandatory field: Expense item* &gt; The expense identifier, if an expense of this type is listed as an inventory nonstock item.'
    ExpenseClaimDto:
      type: object
      properties:
        refNbr:
          type: string
          description: The top part &gt; Ref. no. &gt; The unique reference number of the expense claim document.
        status:
          enum:
          - Hold
          - PendingApproval
          - Approved
          - Rejected
          - Released
          type: string
          description: 'The top part &gt; Status &gt; The current status of the expense claim: On Hold/Pending Approval/Approved/Rejected/Released.'
        approvalStatus:
          enum:
          - New
          - Canceled
          - SentToApproval
          - ReceivedByApproval
          - InProgressApproval
          - RejectedInApproval
          - ApprovedInApproval
          - ActiveWorkflowApproval
          type: string
          description: The top part &gt; Approval status &gt; The status of the claim in Approval.
        date:
          type: string
          description: 'Mandatory field: The top part &gt; Date* &gt; The date when the claim was entered.'
          format: date-time
        description:
          type: string
          description: 'Mandatory field: The top part &gt; Description &gt; A description of the claim.'
        claimedBy:
          $ref: '#/components/schemas/claimedByInExpenseClaimDto'
        claimTotal:
          type: number
          description: The top part &gt; Claim total &gt; The total amount of the claim.
          format: double
        vatTaxableTotal:
          type: number
          description: The top part &gt; VAT taxable total &gt; The document total that is subjected to VAT.
          format: double
        vatExemptTotal:
          type: number
          description: The top part &gt; VAT exempt total &gt; The document total that is exempt from VAT.
          format: double
        customer:
          $ref: '#/components/schemas/customerInExpenseClaimDto'
        currency:
          type: string
          description: The top part &gt; Currency &gt; The currency of the claim.
        approvalDate:
          type: string
          description: The top part &gt; Approval date &gt; The date when the claim was approved.
          format: date-time
        department:
          $ref: '#/components/schemas/departmentInExpenseClaimDto'
        location:
          $ref: '#/components/schemas/locationInExpenseClaimDto'
        lastModifiedDateTime:
          type: string
          description: 'System generated information: The lastest time the expense claim was modified'
          format: date-time
        details:
          type: array
          items:
            $ref: '#/components/schemas/ExpenseClaimDetailDto'
          description: Expence claim details tab &gt;
        approvalStatusText:
          type: string
          description: The top part &gt; Approval status &gt; A text field.
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents a Expense Claim in ExpenseClaimController. Used for getting data.
    AddressUpdateDto:
      type: object
      properties:
        addressLine1:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine2:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine3:
          $ref: '#/components/schemas/DtoValueOfString'
        postalCode:
          $ref: '#/components/schemas/DtoValueOfString'
        city:
          $ref: '#/components/schemas/DtoValueOfString'
        countryId:
          $ref: '#/components/schemas/DtoValueOfString'
        county:
          $ref: '#/components/schemas/DtoValueOfString'
    expenseSubInExpenseReceiptDto:
      properties:
        active:
          type: boolean
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Receipt details tab &gt; Financial details section &gt; Expense sub. &gt; The corresponding subaccount the system uses to record the part of the expense to be paid back to the employee.
    departmentInExpenseClaimDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Mandatory field: The top part &gt; Department ID &gt; The department associated with the expense claim.'
    InventoryNumberDescriptionDto:
      type: object
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
    employeeClassInEmployeeDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Additional information about Employee User

        ///'
    TimeCardSummaryDto:
      type: object
      properties:
        lineNumber:
          type: integer
          description: The time card line number
          format: int32
        lineId:
          type: string
          description: The time card line id
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        earningType:
          $ref: '#/components/schemas/earningTypeInTimeCardSummaryDto'
        project:
          $ref: '#/components/schemas/projectInTimeCardSummaryDto'
        mon:
          type: integer
          description: Mon &gt; The work time reported for Monday, including overtime.
          format: int32
        tue:
          type: integer
          description: Tue &gt; The work time reported for Tuesday, including overtime.
          format: int32
        wed:
          type: integer
          description: Wed &gt; The work time reported for Wednesday, including overtime.
          format: int32
        thu:
          type: integer
          description: Thu &gt; The work time reported for Thursday, including overtime.
          format: int32
        fri:
          type: integer
          description: Fri &gt; The work time reported for Friday, including overtime.
          format: int32
        sat:
          type: integer
          description: Sat &gt; The work time reported for Saturday, including overtime.
          format: int32
        sun:
          type: integer
          description: Sun &gt; The work time reported for Sunday, including overtime.
          format: int32
        invoiceable:
          type: boolean
          description: Invoicable &gt; A check box that you select to indicate that these work hours are invoiceable.
        projectTask:
          $ref: '#/components/schemas/projectTaskInTimeCardSummaryDto'
        timeSpent:
          type: integer
          description: Time spent &gt; The work time (regular and overtime) that the employee spent on the project and task during the week.
          format: int32
        description:
          type: string
          description: Description &gt; The description of the reported work hours.
        approvalStatus:
          enum:
          - New
          - Canceled
          - SentToApproval
          - ReceivedByApproval
          - InProgressApproval
          - RejectedInApproval
          - ApprovedInApproval
          - ActiveWorkflowApproval
          type: string
          description: Approval status &gt; The approval status, which indicates whether the summary row requires approval and, if it does, what the current state of approval is.
        approver:
          type: string
          description: The identifier of the person authorized to approve the activity, if approval is required. This is either the approver of the project task or, if no approver is assigned to the project task, the project manager.
        approvalStatusText:
          type: string
          description: last approval comment &gt; The approval status text suitable for display
        lastModifiedDateTime:
          type: string
          description: The last time the time card line was modified
          format: date-time
    weekInTimeCardDto:
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: The top part &gt; Week &gt; The week for which the time card has been created.
    taxCategoryInExpenseClaimDetailDto:
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: VAT category &gt; The VAT category associated with the expense item.
    customerInExpenseReceiptDto:
      properties:
        number:
          type: string
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: Receipt details tab &gt; Financial details section &gt; Customer &gt; The customer, which should be specified if the employee incurred the expenses while working for a particular customer.
    addressInEmployeeUpdateDto:
      properties:
        addressLine1:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine2:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine3:
          $ref: '#/components/schemas/DtoValueOfString'
        postalCode:
          $ref: '#/components/schemas/DtoValueOfString'
        city:
          $ref: '#/components/schemas/DtoValueOfString'
        countryId:
          $ref: '#/components/schemas/DtoValueOfString'
        county:
          $ref: '#/components/schemas/DtoValueOfString'
      description: General information tab &gt; Address info section &gt;
    ExpenseClaimDetailDto:
      type: object
      properties:
        claimDetailId:
          type: integer
          description: Identifies the expense claim detail id, necessary when updating detail information
          format: int32
        lineId:
          type: string
          description: The expense claim line id
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        date:
          type: string
          description: 'Mandatory field: Date &gt; The date when the expense was incurred.'
          format: date-time
        expenseItem:
          $ref: '#/components/schemas/expenseItemInExpenseClaimDetailDto'
        description:
          type: string
          description: 'Mandatory field: Description* &gt; A description of the transaction.'
        quantity:
          type: number
          description: Quantity &gt; The quantity of this expense item.
          format: double
        uom:
          type: string
          description: 'Mandatory field: UoM &gt; The unit of measure in which the quantity is shown.'
        unitCost:
          type: number
          description: Unit cost &gt; The cost of a unit of the item.
          format: double
        currency:
          type: string
          description: Currency &gt; The currency of the expense receipt. However, if you enter a claim line directly, the currency value is read-only and matching the claim currency.
        totalAmount:
          type: number
          description: Amount &gt; The total amount paid for the expense item in the specified quantity.
          format: double
        invoiceable:
          type: boolean
          description: Invoicable &gt; A check box that, if selected, indicates that the claim amount is invoiceable to the customer (the total amount minus the employee's part).
        claimAmount:
          type: number
          description: Claim amount &gt; The amount claimed by the employee, which is calculated as the total claim amount minus the employee part.
          format: double
        amountInClaimCurr:
          type: number
          description: Amount in claim currency &gt; The amount claimed by the employee, which is expressed in the currency of the expense claim.
          format: double
        project:
          $ref: '#/components/schemas/projectInExpenseClaimDetailDto'
        projectTask:
          $ref: '#/components/schemas/projectTaskInExpenseClaimDetailDto'
        expenseAccount:
          $ref: '#/components/schemas/expenseAccountInExpenseClaimDetailDto'
        expenseSubaccount:
          $ref: '#/components/schemas/expenseSubaccountInExpenseClaimDetailDto'
        branch:
          $ref: '#/components/schemas/branchInExpenseClaimDetailDto'
        taxCategory:
          $ref: '#/components/schemas/taxCategoryInExpenseClaimDetailDto'
        refNbr:
          type: string
          description: Ref. no. &gt; The identifier of the transaction.
        salesAccount:
          $ref: '#/components/schemas/salesAccountInExpenseClaimDetailDto'
        salesSubaccount:
          $ref: '#/components/schemas/salesSubaccountInExpenseClaimDetailDto'
        employeePart:
          type: number
          description: Employee part &gt; The part of the total amount that will not be paid back to the employee. The percentage depends on the company policy.
          format: double
        customer:
          $ref: '#/components/schemas/customerInExpenseClaimDetailDto'
        location:
          $ref: '#/components/schemas/locationInExpenseClaimDetailDto'
        arReferenceNbr:
          type: string
          description: REef.no. customer &gt; The reference number of the customer ledger document.
        approvalStatus:
          enum:
          - New
          - Canceled
          - SentToApproval
          - ReceivedByApproval
          - InProgressApproval
          - RejectedInApproval
          - ApprovedInApproval
          - ActiveWorkflowApproval
          type: string
          description: Approval status &gt; The approval status, which indicates whether the detail row requires approval and, if it does, what the current state of approval is.
        approvalStatusText:
          type: string
          description: Last approval comment &gt; The approval status text suitable for display
        approver:
          type: string
          description: Pending approver &gt; The identifier of the person authorized to approve the activity, if approval is required. This is either the approver of the project task or, if no approver is assigned to the project task, the project manager.
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDto'
          description: Expense claim detail line attachtments
    claimedByInExpenseClaimDto:
      properties:
        internalId:
          type: string
        number:
          type: string
          description: The identifier of the particular destination of the selected type.
        name:
          type: string
          description: The name of the particular destination of the selected type.
      description: 'Mandatory field: The top part &gt; Claimed by &gt; The employee who is claiming the expenses. If the claim is released, an Accounts Payable bill will be generated to this employee.'
    imageInExpenseReceiptDto:
      properties:
        name:
          type: string
          description: The name of the attachment.
        id:
          type: string
          description: The ID of the attachment
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        revision:
          type: integer
          description: The version of the attachment.
          format: int32
      description: Receipt details tab &gt; Image section
    salesSubaccountInExpenseClaimDetailDto:
      properties:
        active:
          type: boolean
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Sales sub. &gt; The corresponding subaccount the system uses to record the amount to charge the customer for. This is applicable only when a customer has been specified.
    salesSubInExpenseReceiptDto:
      properties:
        active:
          type: boolean
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Receipt details tab &gt; Financial details section &gt; Sales sub. &gt; The corresponding subaccount the system uses to record the amount to charge the customer for.
    contactInEmployeeUpdateDto:
      properties:
        firstName:
          $ref: '#/components/schemas/DtoValueOfString'
        lastName:
          $ref: '#/components/schemas/DtoValueOfString'
        middleName:
          $ref: '#/components/schemas/DtoValueOfString'
        email:
          $ref: '#/components/schemas/DtoValueOfString'
        phone1:
          $ref: '#/components/schemas/DtoValueOfString'
        phone2:
          $ref: '#/components/schemas/DtoValueOfString'
        phone3:
          $ref: '#/components/schemas/DtoValueOfString'
        fax:
          $ref: '#/components/schemas/DtoValueOfString'
      description: General information tab &gt; Contact section &gt;
    countyInAddressDto:
      properties:
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: County &gt; The county or province.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
