openapi: 3.2.0
info:
  title: Visma.net ERP Supplier Document API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: SupplierDocument
paths:
  /v1/supplierdocument:
    get:
      tags:
      - SupplierDocument
      summary: Gets a range of supplier documents - ScreenId=AP301000 Get a range of Purchase…
      operationId: SupplierDocument_GetAllDocumentsForSupplier
      parameters:
      - name: supplier
        in: query
        description: Filter by Supplier
        schema:
          type: string
      - name: documentType
        in: query
        description: By type of document.
        schema:
          enum:
          - Invoice
          - CreditAdj
          - DebitAdj
          - Prepayment
          - Refund
          - Payment
          type: string
      - name: released
        in: query
        description: Parameter for showing if invoice has been released or not.
        schema:
          type: integer
          format: int32
      - name: project
        in: query
        description: Filter by the project with which the document is associated.
        schema:
          type: string
      - name: expandApproval
        in: query
        description: Set to true to include approval information.
        schema:
          type: boolean
      - name: expandNote
        in: query
        description: Set to true to include description.
        schema:
          type: boolean
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: status
        in: query
        description: The status of the document
        schema:
          enum:
          - Hold
          - Balanced
          - Voided
          - Scheduled
          - Open
          - Closed
          - Printed
          - Prebooked
          - Reserved
          type: string
      - name: expandLinePrebookAccounts
        in: query
        description: Expland line-level pre-booking account and sub-account information.
        schema:
          type: boolean
      - name: branch
        in: query
        description: Filter by Branch
        schema:
          type: string
      - name: financialPeriod
        in: query
        description: Filter by Financial Period, format YYYYPP
        schema:
          type: string
      - name: dueDate
        in: query
        description: 'This value indicates the date the document is due for payment. Use it to retrieve all records that have the Due date since that time, up to the future.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```


          _Note:_ __DueDate__ and __DueDateConditionCondition__ are __mutually inclusive__.'
        schema:
          type: string
          format: date-time
      - name: dueDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Due Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __DueDate__ and __DueDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: docDate
        in: query
        description: 'This value indicates the document date. Use it to retrieve all records that have the Document Date since that time, up to the future.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```


          _Note:_ __Docate__ and __DocDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
          format: date-time
      - name: docDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Document Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __DocumentDate__ and __DocumentDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: item
        in: query
        description: Filter by Item used into the document lines
        schema:
          type: string
      - name: balance
        in: query
        description: 'This value represents balance of the payment remaining to be applied and released. Only released applications will count towards the balance.


          _Note:_ __Balance__ and __BalanceCondition__ are __mutually inclusive__.'
        schema:
          type: number
          format: double
      - name: balanceCondition
        in: query
        description: 'This value represents the condition to be applied to the Balance when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __Balance__ and __BalanceCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: greaterThanValue
        in: query
        description: Greater than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierDocumentDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierDocumentDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    SupplierDocumentDto:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/accountInSupplierDocumentDto'
        subaccount:
          $ref: '#/components/schemas/subaccountInSupplierDocumentDto'
        amount:
          type: number
          description: Document details tab &gt; Amount &gt; Read-only. The total amount for the specified quantity of items or services of this type (after the discount has been taken).
          format: double
        amountInCurrency:
          type: number
          description: An automatic calculation of the amount with the currency set as default for supplier.
          format: double
        branch:
          $ref: '#/components/schemas/branchInSupplierDocumentDto'
        supplier:
          $ref: '#/components/schemas/supplierInSupplierDocumentDto'
        documentType:
          enum:
          - Check
          - CreditAdj
          - DebitAdj
          - Invoice
          - Prepayment
          - QuickCheck
          - Refund
          - VoidCheck
          - VoidQuickCheck
          type: string
          description: 'The top part &gt; Top part &gt; Type &gt; The type of the document. The following types are available: Purchase invoice, credit adjustment, purchase credit note, prepayment.'
        referenceNumber:
          type: string
        postPeriod:
          type: string
          description: The Top part &gt; Post period* &gt; The post period of the payment document. Format MMYYYY.
        financialPeriod:
          type: string
          description: The financial period to which the transactions recorded in the document should be posted. Format YYYYMM.
        date:
          type: string
          description: The Top part &gt; Date* &gt; The date of the original supplier ledger document; by default, it is the current date, which can be changed.
          format: date-time
        origInvoiceDate:
          type: string
          description: The Top part &gt; OrigInvoiceDate* &gt; The original invoice date of the original supplier ledger document; by default, it is the current date, which can be changed.
          format: date-time
        dueDate:
          type: string
          description: The Top part &gt; Due date* &gt; The date when payment for the document is due in accordance with the supplier's credit terms.
          format: date-time
        approvalStatus:
          enum:
          - New
          - Canceled
          - SentToApproval
          - ReceivedByApproval
          - InProgressApproval
          - RejectedInApproval
          - ApprovedInApproval
          - ActiveWorkflowApproval
          type: string
          description: The Top part &gt; Approval status &gt; The status of the document in Visma.net Approval. [New, Canceled, SentToApproval, ReceivedByApproval, InProgressApproval, RejectedInApproval, ApprovedInApproval, ActiveWorkflowApproval.
        status:
          enum:
          - Hold
          - Balanced
          - Voided
          - Scheduled
          - Open
          - Closed
          - Printed
          - Prebooked
          - Reserved
          type: string
          description: The Top part &gt; Document status &gt; A read-only field that shows the status of the supplier ledger document:[Hold, Balanced, Voided, Scheduled, Open, Closed, Printed, Prebooked, Reserved]
        currencyId:
          type: string
          description: The Top part &gt; Currency &gt; The currency of the document.
        balance:
          type: number
          description: The Top part &gt; Balance &gt; The balance of the supplier ledger document after VAT (if inclusive) and the discount as specified in the tabs below.
          format: double
        balanceInCurrency:
          type: number
          description: Background calculation giving you the Balance in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        cashDiscount:
          type: number
          description: The Top part &gt; Cash discount &gt; The cash discount amount that has been or will be taken in the document, which the system calculates based in the specified credit terms.
          format: double
        cashDiscountInCurrency:
          type: number
          description: Background calculation giving you the Cash discount in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        paymentMethod:
          $ref: '#/components/schemas/paymentMethodInSupplierDocumentDto'
        supplierReference:
          type: string
          description: The Top part &gt; Supplier ref. &gt; The document's original reference number as assigned by the supplier (for informational purposes).
        description:
          type: string
          description: The Top part &gt; Description &gt; A user-provided description for this supplier ledger document.
        createdDateTime:
          type: string
          format: date-time
        lastModifiedDateTime:
          type: string
          format: date-time
        note:
          type: string
          description: The table &gt; Document details tab and Applications tab &gt; Icon Notes &gt; Pop-up window for providing any user-defined text connected with to invoice.
        closedFinancialPeriod:
          type: string
          description: Format YYYYMM.
        location:
          $ref: '#/components/schemas/locationInSupplierDocumentDto'
        vatTotal:
          type: number
          description: The Top part &gt; VAT total &gt; The total amount of tax paid in the document.
          format: double
        vatTotalInCurrency:
          type: number
          description: Background calculation giving you the VAT total in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        branchNumber:
          $ref: '#/components/schemas/BranchNumberDto'
        payDate:
          type: string
          description: The Financial details tab &gt; The Payment information section &gt; Pay date* &gt; The date when the invoice should be paid. The date is the difference between the document due date or discount date and the number of days specified in the Payment lead time field in AP303000.
          format: date-time
        paymentMessage:
          type: string
          description: The Financial details tab &gt; The Payment information section &gt; Payment message &gt; The message connected with the payment.
        cashAccount:
          type: string
          description: Financial details tab &gt; The payment information section &gt; Cash account &gt; The cash account associated with the payment method.
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    paymentMethodInSupplierDocumentDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The Financial details tab &gt; Payment method &gt; The payment method used for the payment.
    BranchNumberDto:
      type: object
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
    accountInSupplierDocumentDto:
      properties:
        type:
          enum:
          - Asset
          - Liability
          - Income
          - Expense
          type: string
          description: Account &gt; The account number.
        externalCode1:
          type: string
          description: Account class &gt; The identifier of the account class.
        externalCode2:
          type: string
          description: Account class &gt; The name of the account class.
        active:
          type: boolean
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: 'Mandatory field: Document details tab &gt; Account* &gt; The expense account to be updated by this transaction.'
    subaccountInSupplierDocumentDto:
      properties:
        subaccountNumber:
          type: string
          description: 'Mandatory field: Subaccount* &gt; The subaccount number. Format 9-XX.'
        subaccountId:
          type: integer
          description: SubID &gt; The  identifier of the subaccount.
          format: int32
        description:
          type: string
          description: Description &gt; The description of the identifier.
        lastModifiedDateTime:
          type: string
          description: System generated information.
          format: date-time
        active:
          type: boolean
          description: Active &gt; The status of the identifier.
        segments:
          type: array
          items:
            $ref: '#/components/schemas/SegmentDto'
          description: Segments are entities that you use to define the structure of IDs for the subaccount.  This information is collected from window CS202000.
        timeStamp:
          type: string
          description: The timestamp of the subaccount, used for concurrency control.
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: 'Mandatory field: Document details tab &gt; Subaccount* &gt; The corresponding subaccount to be used for invoices and adjustments.'
    SegmentDto:
      type: object
      properties:
        segmentId:
          type: integer
          description: The Segment values window &gt; The Top part &gt; The ID of the segment.
          format: int32
        segmentDescription:
          type: string
          description: The Segment values window &gt; The Top part &gt; The description of the segment.
        segmentValue:
          type: string
          description: The Segment values window &gt; The table &gt; The value of the segment, alphanumeric.
        segmentValueDescription:
          type: string
          description: The Segment values window &gt; The table &gt; The description of the segment value.
    branchInSupplierDocumentDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: Branch is deprecated, please use BranchNumber instead.
    locationInSupplierDocumentDto:
      properties:
        countryId:
          type: string
          description: Location*.
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: The Top part &gt; Location* &gt; The supplier location associated with the purchase.
    supplierInSupplierDocumentDto:
      properties:
        internalId:
          type: integer
          description: The internal id of the supplier
          format: int64
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: The Top part &gt; Supplier* &gt; The identifier of the supplier referred to in the document.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
