openapi: 3.2.0
info:
  title: Visma.net ERP General Ledger Transactions API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: GeneralLedgerTransactions
paths:
  /v1/GeneralLedgerTransactions:
    get:
      tags:
      - GeneralLedgerTransactions
      summary: Get a range of General Ledger Transactions - ScreenId=GL404000 Please use a…
      operationId: GeneralLedgerTransactions_GetAll
      parameters:
      - name: branch
        in: query
        description: The branch CD
        schema:
          type: string
      - name: ledger
        in: query
        description: Mandatory. The ledger in which you want to view the account balances.
        required: true
        schema:
          type: string
      - name: fromPeriod
        in: query
        description: The financial period that begins the date range of the batches you want to view. Format YYYYPP
        schema:
          type: string
      - name: toPeriod
        in: query
        description: The financial period that ends the date range of the batches you want to view. Format YYYYPP
        schema:
          type: string
      - name: account
        in: query
        description: The account CD for which you want to view activities in the selected financial period.
        schema:
          type: string
      - name: subaccountId
        in: query
        description: The Subaccount
        schema:
          type: string
      - name: fromDate
        in: query
        description: The first date of the interval within the period. Format YYYY-MM-DD
        schema:
          type: string
      - name: toDate
        in: query
        description: The last date of the interval within the selected period. Format YYYY-MM-DD
        schema:
          type: string
      - name: includeUnposted
        in: query
        description: Checkmark indicating if unposted batches are included.
        schema:
          type: boolean
      - name: includeUnreleased
        in: query
        description: Checkmark indicating if unreleased (balanced) batches are included.
        schema:
          type: boolean
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: expandAccountInfo
        in: query
        description: 'By default, if no value is provided, False and the account information will include only Number, Description, Type and GlConsolAccountCD.

          If True, each transaction returned will include extended information about account.'
        schema:
          type: boolean
      - name: expandBranchInfo
        in: query
        description: 'By default, if no value is provided, False and branch information will include only branch number.

          If True, each transaction returned will include extended information about Branch (number and name).'
        schema:
          type: boolean
      - name: includeTransactionBalance
        in: query
        description: 'By default, if no value is provided, False and the transactions returned will not include their balances (fields BegBalance, EndingBalance, CurrBegBalance, CurrEndingBalance)

          If True, each transaction returned will include its balance.'
        schema:
          type: boolean
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneralLedgerTransactionDetailsDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneralLedgerTransactionDetailsDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    branchInGeneralLedgerTransactionDetailsDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: Branch &gt; The branch of the company.
    accountInGeneralLedgerTransactionDetailsDto:
      properties:
        type:
          enum:
          - Asset
          - Liability
          - Income
          - Expense
          type: string
        externalCode1:
          type: string
          description: ExternalCode1 is deprecated, please use ExternalCode1Info instead.
        externalCode2:
          type: string
          description: ExternalCode2 is deprecated, please use ExternalCode2Info instead.
        externalCode1Info:
          $ref: '#/components/schemas/ExternalCodeNumberDescriptionDto'
        externalCode2Info:
          $ref: '#/components/schemas/ExternalCodeNumberDescriptionDto'
        glConsolAccountCD:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: Account &gt; The account updated by the batch transactions.
    ExternalCodeNumberDescriptionDto:
      type: object
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
    GeneralLedgerTransactionDetailsDto:
      type: object
      properties:
        lineNumber:
          type: integer
          format: int32
        module:
          type: string
          description: Workspace &gt; The workspace where the transaction originated.
        batchNumber:
          type: string
          description: Batch number &gt; The reference number of the batch (generated for the transaction) that updated the balance of the selected account.
        tranDate:
          type: string
          description: Trans date &gt; The date of the transaction.
          format: date-time
        period:
          type: string
          description: Period &gt; The financial period of the transaction.
        description:
          type: string
          description: Description &gt; The user-defined description of the transaction.
        refNumber:
          type: string
          description: Ref. number &gt; The reference number of the external document on which this transaction is based.
        branch:
          $ref: '#/components/schemas/branchInGeneralLedgerTransactionDetailsDto'
        account:
          $ref: '#/components/schemas/accountInGeneralLedgerTransactionDetailsDto'
        ledger:
          $ref: '#/components/schemas/ledgerInGeneralLedgerTransactionDetailsDto'
        subaccount:
          type: string
          description: Subaccount &gt; The subaccount used in the batch.
        begBalance:
          type: number
          description: Beg. balance &gt; The running total of the account's beginning balance calculated in the order of transactions displayed in the table.
          format: double
        debitAmount:
          type: number
          description: Debit amount &gt; The transaction debit amount charged to the account during the selected financial period.
          format: double
        creditAmount:
          type: number
          description: Credit amount &gt; The transaction credit amount charged to the account during the selected financial period.
          format: double
        endingBalance:
          type: number
          description: Ending balance &gt; The running total of the account's ending balance calculated in the order of transactions displayed in the table.
          format: double
        currency:
          type: string
          description: 'Click the Show currency details check box to view the below fields in the window.

            Currency &gt; The currency of transactions in the account. If it is not specified, the balance is in the base currency.'
        currBegBalance:
          type: number
          description: Beg. balance (currency) &gt; The account balance in the selected currency at the start of the selected period.
          format: double
        currDebitAmount:
          type: number
          description: Debit amount (currency) &gt; The debit amount in the selected currency for the specified account over the selected period.
          format: double
        currCreditAmount:
          type: number
          description: Credit amount (currency) &gt; The credit amount in the selected currency for the specified account over the selected period.
          format: double
        currEndingBalance:
          type: number
          description: Ending balance (currency) &gt; The account balance in the selected currency at the start of the selected period.
          format: double
        lastModifiedDateTime:
          type: string
          description: System generated information reflecting when the last change was done.
          format: date-time
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    ledgerInGeneralLedgerTransactionDetailsDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Ledger &gt; The ledger used for the batch.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
