openapi: 3.2.0
info:
  title: Visma.net ERP Customer Invoice API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: CustomerInvoice
paths:
  /v1/customerinvoice/worktypes:
    get:
      tags:
      - CustomerInvoice
      summary: Get all Work Types
      description: Data for the Work Type
      operationId: CustomerInvoice_GetWorkTypes
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkTypeDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkTypeDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkTypeDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkTypeDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customerinvoice/{invoiceNumber}:
    get:
      tags:
      - CustomerInvoice
      summary: Get a specific Invoice
      description: 'Data for Customer Invoice

        The response headers include an ETag after a successful GET operation.'
      operationId: CustomerInvoice_GetByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Identifies the Invoice
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerInvoiceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerInvoiceDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - CustomerInvoice
      summary: Update a specific Invoice
      description: 'Response Message has StatusCode NoContent if PUT operation succeed


        Response Message has StatusCode BadRequest if PUT operation failed


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.'
      operationId: CustomerInvoice_UpdateByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Identifies the Invoice to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Invoice to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInvoiceUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerInvoiceUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/CustomerInvoiceUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/CustomerInvoiceUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerInvoiceUpdateDto'
        required: true
        x-bodyName: invoice
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Customer invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    delete:
      tags:
      - CustomerInvoice
      summary: Deletes a specific Customer Invoice
      description: Response Message has StatusCode NoContent if DELETE operation succeed
      operationId: CustomerInvoice_DeleteByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Identifies the Customer Invoice to delete
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customerinvoice/{refNbr}/rotrut:
    get:
      tags:
      - CustomerInvoice
      summary: Get Rot Rut informations for a Customer Invoice
      description: Data for the Rot Rut
      operationId: CustomerInvoice_GetRotRutByrefNbr
      parameters:
      - name: refNbr
        in: path
        description: Identify the customer invoice for which to return data
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotRutDto'
            text/json:
              schema:
                $ref: '#/components/schemas/RotRutDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customerinvoice/{refNbr}/print:
    get:
      tags:
      - CustomerInvoice
      summary: Get the print report of a Customer Invoice
      description: The File is in Content of the message
      operationId: CustomerInvoice_PrintInvoiceByrefNbr
      parameters:
      - name: refNbr
        in: path
        description: Identifies the customer invoice
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customerinvoice:
    get:
      tags:
      - CustomerInvoice
      summary: Get a range of Invoices - ScreenId=AR301000 Request page size must be lower or…
      description: Data for Customer Invoice
      operationId: CustomerInvoice_GetAll
      parameters:
      - name: documentType
        in: query
        description: The field is deprecated for specific customer document endpoints. It will only be usable from customer document endpoint.
        schema:
          enum:
          - Invoice
          - DebitNote
          - CreditNote
          - Payment
          - VoidPayment
          - Prepayment
          - Refund
          - FinCharge
          - SmallBalanceWo
          - SmallCreditWo
          - CashSale
          - CashReturn
          - Undefined
          - NoUpdate
          type: string
      - name: released
        in: query
        description: Parameter for showing if invoice has been released or not.
        schema:
          type: integer
          format: int32
      - name: dunningLevel
        in: query
        description: The dunning level of the document.
        schema:
          type: integer
          format: int32
      - name: closedFinancialPeriod
        in: query
        description: The date of the closing of the financial period.
        schema:
          type: string
      - name: dunningLetterDateTime
        in: query
        description: The date and time for when the document last released a dunning letter.
        schema:
          type: string
      - name: dunningLetterDateTimeCondition
        in: query
        description: Set time/date as before (&lt;), after (&gt;), before and including (=&lt;) OR after and including (=&gt;) to filter on time frame.
        schema:
          type: string
      - name: project
        in: query
        description: The project with which the document is associated.
        schema:
          type: string
      - name: expandApplications
        in: query
        description: True if you want to see all dunning information regarding this document.
        schema:
          type: boolean
      - name: expandDunningInformation
        in: query
        schema:
          type: boolean
      - name: expandAttachments
        in: query
        description: True if you want to see all attachments regarding this document.
        schema:
          type: boolean
      - name: expandTaxDetails
        in: query
        description: True if you want to see all VAT details regarding this document.
        schema:
          type: boolean
      - name: expandInvoiceAddress
        in: query
        description: True if you want to see all information regarding the invoice address for this document.
        schema:
          type: boolean
      - name: financialPeriod
        in: query
        description: The financial period to which the transactions recorded in the document is posted. Format YYYYMM.
        schema:
          type: string
      - name: documentDueDate
        in: query
        description: The date when payment for the document is due, in accordance with the credit terms.
        schema:
          type: string
          format: date-time
      - name: documentDueDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Due Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal'
        schema:
          type: string
      - name: status
        in: query
        description: The status of the document. Use the dropdown to select status.
        schema:
          enum:
          - Hold
          - Balanced
          - Voided
          - Scheduled
          - Open
          - Closed
          - PendingPrint
          - PendingEmail
          - CreditHold
          - CcHold
          - Reserved
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: externalReference
        in: query
        description: The top part &gt; External reference &gt; The external reference used in AutoInvoice.
        schema:
          type: string
      - name: paymentReference
        in: query
        description: The top part &gt; Payment ref. &gt; The reference number of the document, as automatically generated by the system in accordance with the number series assigned to cash sales in the Customer ledger preferences window..
        schema:
          type: string
      - name: customerRefNumber
        in: query
        description: The top part &gt; External reference &gt; The external reference used in AutoInvoice.
        schema:
          type: string
      - name: customer
        in: query
        description: Filter by Customer
        schema:
          type: string
      - name: branch
        in: query
        description: Filter by Branch
        schema:
          type: string
      - name: documentDate
        in: query
        description: 'This value indicates the document date. Use it to retrieve all records that have the Document Date since that time, up to the future.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```


          _Note:_ __DocumentDate__ and __DocumentDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
          format: date-time
      - name: documentDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Document Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __DocumentDate__ and __DocumentDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: greaterThanValue
        in: query
        description: Greater than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerInvoiceDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerInvoiceDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - CustomerInvoice
      summary: Create an Invoice.
      description: Response Message has StatusCode Created if POST operation succeed
      operationId: CustomerInvoice_Create
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Invoice to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInvoiceUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerInvoiceUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/CustomerInvoiceUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/CustomerInvoiceUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerInvoiceUpdateDto'
        required: true
        x-bodyName: invoice
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v1/customerinvoice/{invoiceNumber}/attachment:
    post:
      tags:
      - CustomerInvoice
      summary: Creates an attachment and associates it with an invoice.
      description: 'Response Message has StatusCode Created if POST operation succeed


        Response Message has StatusCode BadRequest if POST operation failed


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.


        The response headers include an ETag after a successful POST operation.


        Request Format:


        This endpoint expects a multipart/form-data request with the following parts:


        1. file (required): The attachment file to upload


        2. metadata (optional): JSON object with additional settings


        Example metadata JSON:


        {

        "includeAttachmentInvoiceEmail": true

        }'
      operationId: CustomerInvoice_CreateHeaderAttachmentByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Identifies the invoice
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Customer invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customerinvoice/{invoiceNumber}/{lineNumber}/attachment:
    post:
      tags:
      - CustomerInvoice
      summary: Creates an attachment and associates it with a certain invoice line.
      description: 'Response Message has StatusCode Created if POST operation succeed


        Response Message has StatusCode BadRequest if POST operation failed


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.


        The response headers include an ETag after a successful POST operation.


        Request Format:


        This endpoint expects a multipart/form-data request with the following parts:


        1. file (required): The attachment file to upload


        2. metadata (optional): JSON object with additional settings


        Example metadata JSON:


        {

        "includeAttachmentInvoiceEmail": true

        }'
      operationId: CustomerInvoice_CreateLineAttachmentByinvoiceNumberlineNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Identifies the invoice
        required: true
        schema:
          type: string
      - name: lineNumber
        in: path
        description: Specifies line number
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Customer invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customerinvoice/{invoiceNumber}/action/release:
    post:
      tags:
      - CustomerInvoice
      summary: Release invoice operation
      description: 'The action result dto contains information about the result of running the action


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.'
      operationId: CustomerInvoice_ReleaseInvoiceByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Reference number of the invoice to be released
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '412':
          description: Customer invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '200':
          description: If invoked without header erp-api-background set, operation starts in the background and 200-OK is returned with a reference. No notification is sent when action is done.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseInvoiceActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/ReleaseInvoiceActionResultDto'
        '202':
          description: If invoked with header erp-api-background set, operation starts in the background, 202-Accepted will be returned and a webhook will be posted upon action done event.
          content:
            application/json: {}
            text/json: {}
      security:
      - interactiveapi: []
  /v1/customerinvoice/{invoiceNumber}/action/sendToAutoInvoice:
    post:
      tags:
      - CustomerInvoice
      summary: SendToAutoInvoice invoice operation
      description: 'The action result dto contains information about the result of running the action


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.'
      operationId: CustomerInvoice_SendToAutoInvoiceByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Reference number of the invoice to be send to AutoInvoice
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '412':
          description: Customer invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customerinvoice/{invoiceNumber}/action/correct:
    post:
      tags:
      - CustomerInvoice
      summary: Create a correction document for a released document
      description: 'Response Message has StatusCode BadRequest or InternalServerError if POST operation failed


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.


        The response headers include an ETag for the new corrected invoice after a successful POST operation.'
      operationId: CustomerInvoice_CorrectInvoiceByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '412':
          description: Customer invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customerinvoice/{invoiceNumber}/action/reverse:
    post:
      tags:
      - CustomerInvoice
      summary: Reverse an Invoice
      description: 'The action result dto contains information about the result of running the action


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.


        The response headers include an ETag for the returned credit note after a successful POST operation.'
      operationId: CustomerInvoice_ReverseInvoiceByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Reference number of the released invoice to be reversed
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: The action the dto use to condition the action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReverseInvoiceActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ReverseInvoiceActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ReverseInvoiceActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ReverseInvoiceActionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ReverseInvoiceActionDto'
        required: true
        x-bodyName: reverseActionDto
      responses:
        '412':
          description: Customer invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customerinvoice/{invoiceNumber}/action/reverseandapplytonote:
    post:
      tags:
      - CustomerInvoice
      summary: Reverse and Apply to Note
      description: 'The action result dto contains information about the result of running the action


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.


        The response headers include an ETag for the returned credit note after a successful POST operation.'
      operationId: CustomerInvoice_ReverseInvoiceAndApplyToNoteByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Reference number of the released invoice to be reversed and applied to Memo
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: The action the dto use to condition the action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReverseInvoiceActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ReverseInvoiceActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ReverseInvoiceActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ReverseInvoiceActionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ReverseInvoiceActionDto'
        required: true
        x-bodyName: reverseActionDto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json: {}
            text/json: {}
        '401':
          description: Unauthorized
          content:
            application/json: {}
            text/json: {}
        '403':
          description: Forbidden
          content:
            application/json: {}
            text/json: {}
        '404':
          description: Not Found
          content:
            application/json: {}
            text/json: {}
        '412':
          description: Customer invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '500':
          description: Internal Server Error
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    financialPeriodInCustomerInvoiceUpdateDto:
      properties:
        value:
          type: string
      description: The financial period to which the transactions recorded in the document should be posted. Use the format YYYYMM.
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    typeOfWorkInCustomerInvoiceLinesUpdateDto:
      properties:
        value:
          type: string
      description: The property is now considered obsolete. Please define typeOfWork on the item level instead.
    DtoValueOfNullableOfRutRotTypes:
      type: object
      properties:
        value:
          enum:
          - Rut
          - Rot
          type: string
    TaxDetailDto:
      type: object
      properties:
        taxId:
          type: string
          description: 'Mandatory field: VAT ID* &gt; The ID of the VAT applied to the document.'
        recordId:
          type: integer
          description: The id as stored in the database. It can be used when we want to update a VAT record.
          format: int32
        vatId:
          $ref: '#/components/schemas/vatIdInTaxDetailDto'
        vatRate:
          type: number
          description: VAT rate &gt; The rate of the VAT.
          format: double
        taxableAmount:
          type: number
          description: Taxable amount &gt; The taxable amount for the VAT, which is calculated at the document level.
          format: double
        vatAmount:
          type: number
          description: VAT &gt; The VAT amount for the specific VAT, which is calculated at the document level.
          format: double
        expenseAmount:
          type: number
          description: Expense Amount for the VAT type that has been added.
          format: double
      description: This class represents a VAT Detail Line. Used for getting data.
    DtoValueOfDecimal:
      type: object
      properties:
        value:
          type: number
          format: double
    SegmentUpdateDto:
      type: object
      properties:
        segmentId:
          type: integer
          format: int32
        segmentValue:
          type: string
    salesPersonIDInCustomerInvoiceUpdateDto:
      properties:
        value:
          type: integer
          format: int32
      description: The field is deprecated for customer document endpoints, please use Salesperson instead
    AttachmentDto:
      type: object
      properties:
        name:
          type: string
          description: The name of the attachment.
        id:
          type: string
          description: The ID of the attachment
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        revision:
          type: integer
          description: The version of the attachment.
          format: int32
    DtoValueOfNullableOfDateTime:
      type: object
      properties:
        value:
          type: string
          format: date-time
    TaxDetailUpdateDto:
      type: object
      properties:
        taxId:
          $ref: '#/components/schemas/DtoValueOfString'
        taxableAmount:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        vatAmount:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        expenseAmount:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
      description: This class represents a Tax Detail Line. Used to pass data to server for updating a tax line
    DtoValueOfNullableOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    postPeriodInCustomerInvoiceUpdateDto:
      properties:
        value:
          type: string
      description: The financial period to which the transactions recorded in the document should be posted. Use the format MMYYYY.
    DtoValueOfNullableOfGuid:
      type: object
      properties:
        value:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    vatIdInTaxDetailDto:
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: VAT ID &gt; The ID of the specific VAT applied.
    SalesInvoiceAddressUpdateDto:
      type: object
      properties:
        overrideAddress:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        addressLine1:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine2:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine3:
          $ref: '#/components/schemas/DtoValueOfString'
        postalCode:
          $ref: '#/components/schemas/DtoValueOfString'
        city:
          $ref: '#/components/schemas/DtoValueOfString'
        countryId:
          $ref: '#/components/schemas/DtoValueOfString'
        county:
          $ref: '#/components/schemas/DtoValueOfString'
    SalesInvoiceContactUpdateDto:
      type: object
      properties:
        overrideContact:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        name:
          $ref: '#/components/schemas/DtoValueOfString'
        attention:
          $ref: '#/components/schemas/DtoValueOfString'
        email:
          $ref: '#/components/schemas/DtoValueOfString'
        phone1:
          $ref: '#/components/schemas/DtoValueOfString'
    accountInCustomerInvoiceDto:
      properties:
        type:
          enum:
          - Asset
          - Liability
          - Income
          - Expense
          type: string
          description: Account &gt; The account number.
        externalCode1:
          type: string
          description: Account class &gt; The identifier of the account class.
        externalCode2:
          type: string
          description: Account class &gt; The name of the account class.
        active:
          type: boolean
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: The Document details tab &gt;  Account * &gt; The sales account used for the transaction.
    CustomerInvoiceLinesUpdateDto:
      type: object
      properties:
        discountCode:
          $ref: '#/components/schemas/DtoValueOfString'
        domesticServicesDeductible:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        itemType:
          $ref: '#/components/schemas/itemTypeInCustomerInvoiceLinesUpdateDto'
        typeOfWork:
          $ref: '#/components/schemas/typeOfWorkInCustomerInvoiceLinesUpdateDto'
        taskId:
          $ref: '#/components/schemas/DtoValueOfString'
        startDate:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        endDate:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        inventoryNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        lineNumber:
          $ref: '#/components/schemas/DtoValueOfInt32'
        description:
          $ref: '#/components/schemas/DtoValueOfString'
        quantity:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        unitPriceInCurrency:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        manualAmountInCurrency:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        accountNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        vatCodeId:
          $ref: '#/components/schemas/DtoValueOfString'
        uom:
          $ref: '#/components/schemas/DtoValueOfString'
        discountPercent:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        discountAmountInCurrency:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        manualDiscount:
          $ref: '#/components/schemas/DtoValueOfBoolean'
        subaccount:
          type: array
          items:
            $ref: '#/components/schemas/SegmentUpdateDto'
        salesperson:
          $ref: '#/components/schemas/DtoValueOfString'
        deferralSchedule:
          $ref: '#/components/schemas/DtoValueOfInt32'
        deferralCode:
          $ref: '#/components/schemas/DtoValueOfString'
        termStartDate:
          $ref: '#/components/schemas/DtoValueOfDateTime'
        termEndDate:
          $ref: '#/components/schemas/DtoValueOfDateTime'
        note:
          $ref: '#/components/schemas/DtoValueOfString'
        branchNumber:
          $ref: '#/components/schemas/DtoValueOfString'
    branchNumberInCustomerInvoiceLineDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: 'Mandatory field: Branch* &gt; The branch that sells the line item or provides the service.'
    DtoValueOfSalesInvoiceAddressUpdateDto:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/SalesInvoiceAddressUpdateDto'
    ArAdjustDto:
      type: object
      properties:
        docType:
          type: string
        customerCD:
          type: string
        refNbr:
          type: string
        amountPaid:
          type: number
          format: double
        cashDiscountTaken:
          type: number
          format: double
        balance:
          type: number
          format: double
        pendingPPD:
          type: boolean
        released:
          type: boolean
        hold:
          type: boolean
        voided:
          type: boolean
        ppdCrMemoRefNbr:
          type: string
        paymentRef:
          type: string
        status:
          type: string
        applicationDate:
          type: string
          format: date-time
        applicationPeriod:
          type: string
        invoiceText:
          type: string
    DirectDebitMandateDto:
      type: object
      properties:
        id:
          type: string
          description: Mandate Guid as stored in the database.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        mandateId:
          type: string
          description: The id shown on Billing Address tab
        mandateDescription:
          type: string
          description: Mandate description show on Billing Address tab
      description: This class represents a Customer Mandate
    creditTermsInCustomerInvoiceDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Mandatory field: The top part &gt; Terms* &gt; The credit terms used in relations with the customer.'
    accountInCustomerInvoiceLineDto:
      properties:
        type:
          enum:
          - Asset
          - Liability
          - Income
          - Expense
          type: string
          description: Account &gt; The account number.
        externalCode1:
          type: string
          description: Account class &gt; The identifier of the account class.
        externalCode2:
          type: string
          description: Account class &gt; The name of the account class.
        active:
          type: boolean
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: 'Mandatory field: Account* &gt; The sales account used for the transaction.'
    ReleaseInvoiceActionResultDto:
      type: object
      properties:
        actionId:
          type: string
          format: uuid
        actionResult:
          enum:
          - Queued
          - InProcess
          - Failed
          - Done
          type: string
        errorInfo:
          type: string
    debtCollectionInCustomerInvoiceDto:
      properties:
        caseNumber:
          type: string
          description: Debt Collection Case Number
        caseType:
          type: string
          description: Debt Collection Case Number
        caseStatus:
          type: string
          description: Debt Collection Case Number
        caseUrl:
          type: string
          description: Debt Collection Case Number
      description: Debt Collection information
    branchNumberInCustomerInvoiceDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: The Financial details tab &gt; Branch &gt; The branch with which this invoice or memo is associated. The field is available if your company is set up with branches.
    customerInCustomerInvoiceDto:
      properties:
        number:
          type: string
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: The top part &gt; Customer &gt; The customer associated with the document.
    locationInCustomerInvoiceDto:
      properties:
        countryId:
          type: string
          description: Location*.
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: 'The top part &gt; Location &gt; The location of the customer related to the document. By default, it is the default

        location of the selected customer or, if the invoice is created from an opportunity,

        it is the customer location specified for the opportunity.'
    DtoValueOfSalesInvoiceContactUpdateDto:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/SalesInvoiceContactUpdateDto'
    DtoValueOfInt32:
      type: object
      properties:
        value:
          type: integer
          format: int32
    RotRutUpdateDto:
      type: object
      properties:
        distributedAutomaticaly:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        type:
          $ref: '#/components/schemas/DtoValueOfNullableOfRutRotTypes'
        appartment:
          $ref: '#/components/schemas/DtoValueOfString'
        estate:
          $ref: '#/components/schemas/DtoValueOfString'
        organizationNbr:
          $ref: '#/components/schemas/DtoValueOfString'
        distribution:
          type: array
          items:
            $ref: '#/components/schemas/RotRutDistributionUpdateDto'
    DtoValueOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    salespersonInCustomerInvoiceUpdateDto:
      properties:
        value:
          type: string
      description: The identifier of the salesperson involved.
    sellerInCustomerInvoiceLineDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Salesperson ID &gt; The identifier of the salesperson involved.
    CustomerInvoiceLineDto:
      type: object
      properties:
        termStartDate:
          type: string
          description: ' Term start date &gt; The date when the process of deferred revenue recognition should start for the selected item; this date can be specified manually if the deferral code assigned to the item is based on the Flexible by periods, prorate by days or Flexible by days in period recognition method.

            This column only appears if the Deferred revenue management functionality is enabled in the(CS100000) window.'
          format: date-time
        termEndDate:
          type: string
          description: ' Term end date &gt; The date when the process of the deferred revenue recognition should finish for the selected item; this date can be specified manually if the deferral code assigned to the item is based on the Flexible by periods, prorate by days or Flexible by days in period recognition method.

            This column only appears if the Deferred revenue management functionality is enabled in the(CS100000) window.'
          format: date-time
        isRotRutDeductible:
          type: boolean
        itemType:
          enum:
          - Service
          - MaterialCost
          - OtherCost
          type: string
        typeOfWork:
          $ref: '#/components/schemas/WorkTypeDto'
        deductableAmount:
          type: number
          format: double
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDto'
        projectTask:
          $ref: '#/components/schemas/ProjectTaskIdDescriptionDto'
        lineType:
          type: string
          description: 'Transaction line type.

            Possible Values:

            -&gt; Inventory = "GI";

            -&gt; NonInventory = "GN";

            -&gt; MiscCharge = "MI";

            -&gt; Freight = "FR";

            -&gt; Discount = "DS";

            -&gt; Reallocation = "RA";'
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        soShipmentNbr:
          type: string
        soOrderType:
          type: string
        soOrderNbr:
          type: string
        lineNumber:
          type: integer
          description: Line no. &gt; A counter of lines in the overview of cash sales document overview.
          format: int32
        inventoryNumber:
          type: string
          description: Item ID &gt; The item ID of the line item, if applicable. Only a non-stock item can be selected.
        description:
          type: string
          description: Transaction descr. &gt; Any brief comment relevant to the transaction.The alphanumeric string may contain up to 30 characters.
        quantity:
          type: number
          description: Quantity &gt; The quantity of items (goods or services) of a particular type sold to the customer.
          format: double
        unitPrice:
          type: number
          description: 'Unit price &gt; The unit price set for the item or service. If you want to update the unit price

            automatically to the current value(that is, the applicable sales or default price),

            you can use the Recalculate Prices and Discounts action.If you have modified

            the unit price and saved the document, the value will not be updated by the

            system if you change the document date.'
          format: double
        unitPriceInCurrency:
          type: number
          description: Background calculation giving you the Unit price in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        manualAmount:
          type: number
          description: Manual amount &gt; a check box indicating that the amount has been entered manually.
          format: double
        manualAmountInCurrency:
          type: number
          description: Background calculation giving you the Manual amount in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        amount:
          type: number
          description: 'Amount &gt; The amount after the discount has been applied. The value of this read-only box

            is calculated automatically by deducting the discount amount from the extended price.'
          format: double
        cost:
          type: number
          description: "Cost &gt; The total cost of the line in default currency. \nThe value will always be 0 for unreleased documents."
          format: double
        amountInCurrency:
          type: number
          description: Background calculation giving you the Amount in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        account:
          $ref: '#/components/schemas/accountInCustomerInvoiceLineDto'
        vatCode:
          $ref: '#/components/schemas/vatCodeInCustomerInvoiceLineDto'
        uom:
          type: string
          description: UoM &gt; The unit of measure (UoM) for the item.
        discountPercent:
          type: number
          description: 'Discount percent &gt; The percent of the line-level discount that has been applied manually or

            automatically.The system selects the Manual Discount check box and

            calculates the discount amount after you have entered the percent manually and

            saved your changes or added a new line.'
          format: double
        discountAmount:
          type: number
          description: 'Discount amount &gt; The amount of the line-level discount that has been applied manually or

            automatically to this line.The system selects the Manual Discount check box

            and calculates the line amount after you have entered the discount amount

            manually and save your changes or added a new line.'
          format: double
        discountAmountInCurrency:
          type: number
          description: Background calculation giving you the Discount amount in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        manualDiscount:
          type: boolean
          description: 'Manual discount &gt; A check box that indicates (if selected) that the discount has been applied

            manually.If you clear the check box, the system clears entered discount percent,

            or discount amount, or selected discount code.'
        subaccount:
          $ref: '#/components/schemas/subaccountInCustomerInvoiceLineDto'
        salesperson:
          type: string
          description: The field is deprecated for customer document endpoints, please use Seller instead
        seller:
          $ref: '#/components/schemas/sellerInCustomerInvoiceLineDto'
        deferralSchedule:
          type: integer
          description: Original deferral schedule &gt; A read-only column filled in by the system in the Cash return documents created by the reversing process. It shows the identifier of the deferral schedule associated with the original Cash sale document.
          format: int32
        deferralCode:
          type: string
          description: 'The deferral code assigned to the stock item or non-stock item specified in this

            document line.Upon release of the document, the system generates a deferral

            schedule (or schedules) based on the settings defined in this deferral code.'
        discountCode:
          type: string
          description: The code of the line discount that has been applied to this line automatically or manually.
        note:
          type: string
          description: Table &gt; Icon Notes &gt; Pop-up window for providing any user-defined text connected to the order.
        branchNumber:
          $ref: '#/components/schemas/branchNumberInCustomerInvoiceLineDto'
        externalLink:
          type: string
    salesPersonInCustomerInvoiceDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The document details tab &gt; Salesperson ID &gt; The salesperson involved.
    DtoValueOfNullableOfInt32:
      type: object
      properties:
        value:
          type: integer
          format: int32
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    RotRutDto:
      type: object
      properties:
        docType:
          enum:
          - Invoice
          - DebitNote
          - CreditNote
          - Payment
          - VoidPayment
          - Prepayment
          - Refund
          - FinCharge
          - SmallBalanceWo
          - SmallCreditWo
          - CashSale
          - CashReturn
          - Undefined
          - NoUpdate
          type: string
        refNbr:
          type: string
        distributedAutomaticaly:
          type: boolean
        type:
          enum:
          - Rut
          - Rot
          type: string
        totalDeductableAmount:
          type: number
          format: double
        otherCost:
          type: number
          format: double
        materialCost:
          type: number
          format: double
        workPrice:
          type: number
          format: double
        distributedAmount:
          type: number
          format: double
        appartment:
          type: string
        estate:
          type: string
        organizationNbr:
          type: string
        distribution:
          type: array
          items:
            $ref: '#/components/schemas/RotRutDistributionDto'
      description: This class represents a RutRot in RutRotController. Used for getting data.
    countryInCustomerDocumentAddressDto:
      properties:
        id:
          type: string
          description: 'Mandatory field: Country ID* &gt; The unique two-letter country ID according to international standard ISO 3166.'
        name:
          type: string
          description: 'Mandatory field: Country name* &gt; The complete name of the country.'
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: Country &gt; The country.
    DtoValueOfString:
      type: object
      properties:
        value:
          type: string
    projectInCustomerInvoiceDto:
      properties:
        internalId:
          type: integer
          description: The internal identifier.
          format: int32
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The top part &gt; Project* &gt; The identifier and description of the project with which this document is associated, or the code indicating that this document is not associated with any project; the non-project code is specified in the Project accounting preferences (PM101000) window.
    DtoValueOfDateTime:
      type: object
      properties:
        value:
          type: string
          format: date-time
    paymentMethodInCustomerInvoiceDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The Financial details tab &gt; The Payment information section &gt; Payment method &gt; The identifier for the payment method that the customer will use to pay the document.
    CustomerInvoiceUpdateDto:
      type: object
      properties:
        paymentMethodId:
          $ref: '#/components/schemas/DtoValueOfString'
        creditTermsId:
          $ref: '#/components/schemas/DtoValueOfString'
        currencyId:
          $ref: '#/components/schemas/DtoValueOfString'
        customerRefNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        cashDiscountDate:
          $ref: '#/components/schemas/DtoValueOfDateTime'
        documentDueDate:
          $ref: '#/components/schemas/DtoValueOfDateTime'
        externalReference:
          $ref: '#/components/schemas/DtoValueOfString'
        customerProject:
          $ref: '#/components/schemas/DtoValueOfString'
        exchangeRate:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        domesticServicesDeductibleDocument:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        rotRutDetails:
          $ref: '#/components/schemas/RotRutUpdateDto'
        paymentReference:
          $ref: '#/components/schemas/DtoValueOfString'
        contact:
          $ref: '#/components/schemas/DtoValueOfNullableOfInt32'
        project:
          $ref: '#/components/schemas/DtoValueOfString'
        taxDetailLines:
          type: array
          items:
            $ref: '#/components/schemas/TaxDetailUpdateDto'
        invoiceLines:
          type: array
          items:
            $ref: '#/components/schemas/CustomerInvoiceLinesUpdateDto'
        sendToAutoInvoice:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        customerVatZoneId:
          $ref: '#/components/schemas/DtoValueOfString'
        billingAddress:
          $ref: '#/components/schemas/DtoValueOfSalesInvoiceAddressUpdateDto'
        invoiceContact:
          $ref: '#/components/schemas/DtoValueOfSalesInvoiceContactUpdateDto'
        startDate:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        endDate:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        accountingCostRef:
          $ref: '#/components/schemas/DtoValueOfString'
        originatorDocRef:
          $ref: '#/components/schemas/DtoValueOfString'
        contractDocRef:
          $ref: '#/components/schemas/DtoValueOfString'
        revoked:
          $ref: '#/components/schemas/DtoValueOfBoolean'
        overrideNumberSeries:
          $ref: '#/components/schemas/overrideNumberSeriesInCustomerInvoiceUpdateDto'
        directDebitMandateId:
          $ref: '#/components/schemas/DtoValueOfNullableOfGuid'
        excludeDebtCollection:
          $ref: '#/components/schemas/DtoValueOfBoolean'
        debtCollectionCaseNbr:
          $ref: '#/components/schemas/DtoValueOfString'
        debtCollectionCaseStatus:
          $ref: '#/components/schemas/DtoValueOfString'
        debtCollectionCaseType:
          $ref: '#/components/schemas/DtoValueOfString'
        debtCollectionCaseUrl:
          $ref: '#/components/schemas/DtoValueOfString'
        referenceNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        customerNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        childCustomerNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        consolidateInvoices:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        documentDate:
          $ref: '#/components/schemas/DtoValueOfDateTime'
        origInvoiceDate:
          $ref: '#/components/schemas/DtoValueOfDateTime'
        hold:
          $ref: '#/components/schemas/DtoValueOfBoolean'
        postPeriod:
          $ref: '#/components/schemas/postPeriodInCustomerInvoiceUpdateDto'
        financialPeriod:
          $ref: '#/components/schemas/financialPeriodInCustomerInvoiceUpdateDto'
        invoiceText:
          $ref: '#/components/schemas/DtoValueOfString'
        locationId:
          $ref: '#/components/schemas/DtoValueOfString'
        salesPersonID:
          $ref: '#/components/schemas/salesPersonIDInCustomerInvoiceUpdateDto'
        salesperson:
          $ref: '#/components/schemas/salespersonInCustomerInvoiceUpdateDto'
        note:
          $ref: '#/components/schemas/DtoValueOfString'
        branchNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        cashAccount:
          $ref: '#/components/schemas/DtoValueOfString'
        dontPrint:
          $ref: '#/components/schemas/DtoValueOfBoolean'
        dontEmail:
          $ref: '#/components/schemas/DtoValueOfBoolean'
    SegmentDto:
      type: object
      properties:
        segmentId:
          type: integer
          description: The Segment values window &gt; The Top part &gt; The ID of the segment.
          format: int32
        segmentDescription:
          type: string
          description: The Segment values window &gt; The Top part &gt; The description of the segment.
        segmentValue:
          type: string
          description: The Segment values window &gt; The table &gt; The value of the segment, alphanumeric.
        segmentValueDescription:
          type: string
          description: The Segment values window &gt; The table &gt; The description of the segment value.
    DtoValueOfNullableOfDecimal:
      type: object
      properties:
        value:
          type: number
          format: double
    vatCodeInCustomerInvoiceLineDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: VAT category &gt; The VAT category (if applied) for the transaction. The category represents the type of goods or services.
    ReverseInvoiceActionDto:
      type: object
      properties:
        returnCreditNote:
          type: boolean
    invoiceContactInCustomerInvoiceDto:
      properties:
        contactId:
          type: integer
          format: int32
        businessName:
          type: string
        attention:
          type: string
        email:
          type: string
        phone1:
          type: string
        overrideContact:
          type: boolean
      description: The Invoice address tab &gt; The Invoice contact section.
    invoiceAddressInCustomerInvoiceDto:
      properties:
        addressId:
          type: integer
          format: int32
        addressLine1:
          type: string
          description: Address 1 &gt; The first line of the customer's contact address.
        addressLine2:
          type: string
          description: Address 2 &gt; The second line of the address.
        addressLine3:
          type: string
          description: Address 3 &gt; The third line of the address.
        postalCode:
          type: string
          description: Postcode &gt; The postcode.
        city:
          type: string
          description: City &gt; The city.
        country:
          $ref: '#/components/schemas/countryInCustomerDocumentAddressDto'
        county:
          $ref: '#/components/schemas/countyInCustomerDocumentAddressDto'
        overrideAddress:
          type: boolean
          description: Override address &gt; A check box that indicates (if selected) that the invoice address is not the default invoice address of the customer.
      description: The Invoice address tab &gt; The Invoice address section.
    customerVatZoneInCustomerInvoiceDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The Financial details tab &gt; The VAT info section &gt; Dunning letter date &gt;
    subaccountInCustomerInvoiceDto:
      properties:
        subaccountNumber:
          type: string
          description: 'Mandatory field: Subaccount* &gt; The subaccount number. Format 9-XX.'
        subaccountId:
          type: integer
          description: SubID &gt; The  identifier of the subaccount.
          format: int32
        description:
          type: string
          description: Description &gt; The description of the identifier.
        lastModifiedDateTime:
          type: string
          description: System generated information.
          format: date-time
        active:
          type: boolean
          description: Active &gt; The status of the identifier.
        segments:
          type: array
          items:
            $ref: '#/components/schemas/SegmentDto'
          description: Segments are entities that you use to define the structure of IDs for the subaccount.  This information is collected from window CS202000.
        timeStamp:
          type: string
          description: The timestamp of the subaccount, used for concurrency control.
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: The Document details tab &gt; Subaccount* &gt; The corresponding subaccount used for this transaction.
    RotRutDistributionDto:
      type: object
      properties:
        lineNbr:
          type: integer
          format: int32
        personalId:
          type: string
        amount:
          type: number
          format: double
        extra:
          type: boolean
      description: This class represents a RutRot Distribution Line For RutRot in RutRotController. Used for getting data.
    WorkTypeDto:
      type: object
      properties:
        rutRotType:
          enum:
          - Rut
          - Rot
          type: string
        description:
          type: string
        xmlTag:
          type: string
    CustomerInvoiceDto:
      type: object
      properties:
        creditTerms:
          $ref: '#/components/schemas/creditTermsInCustomerInvoiceDto'
        documentDueDate:
          type: string
          description: 'Mandatory field: The top part &gt; Due date* &gt; The date when payment for the document is due, in accordance with the credit terms.'
          format: date-time
        cashDiscountDate:
          type: string
          description: 'Mandatory field: The top part &gt; Cash discount date * &gt; The end date of the cash discount period, which the system calculates by using the credit terms.'
          format: date-time
        externalReference:
          type: string
          description: The top part &gt; External reference &gt; The external reference used in AutoInvoice.
        isRotRutDeductible:
          type: boolean
          description: The top part &gt; Domestic services deductible document &gt; A check box indicating if the document is Rot/rut deductible (applicable for the Swedish markets)
        exchangeRate:
          type: number
          format: double
        dunningLetterDate:
          type: string
          description: The Financial details tab &gt; The dunning info section &gt; Dunning letter date &gt; The date of the last released dunning letter in which the document was listed.
          format: date-time
        dunningLetterLevel:
          type: integer
          description: The Financial details tab &gt; The dunning info section &gt; Dunning level &gt; The dunning level of the document.
          format: int32
        contact:
          $ref: '#/components/schemas/contactInCustomerInvoiceDto'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDto'
        taxDetails:
          type: array
          items:
            $ref: '#/components/schemas/TaxDetailDto'
          description: VAT details tab
        invoiceLines:
          type: array
          items:
            $ref: '#/components/schemas/CustomerInvoiceLineDto'
          description: Documents details tab
        sendToAutoInvoice:
          type: boolean
          description: The Attachment tab &gt; Send the file to AutoInvoice &gt; The selected files will be attached to the invoice.
        roundingDiff:
          type: number
          description: The top part &gt; Rounding diff. &gt; The difference between the original amount and the rounded amount.
          format: double
        customerVatZone:
          $ref: '#/components/schemas/customerVatZoneInCustomerInvoiceDto'
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        accountingCostRef:
          type: string
        originatorDocRef:
          type: string
        contractDocRef:
          type: string
        childRecord:
          $ref: '#/components/schemas/ChildRecordDto'
        directDebitMandate:
          $ref: '#/components/schemas/DirectDebitMandateDto'
        excludeDebtCollection:
          type: boolean
          description: Exclude Debt Collection for Autocollect
        debtCollection:
          $ref: '#/components/schemas/debtCollectionInCustomerInvoiceDto'
        timeStamp:
          type: string
[...]
