openapi: 3.2.0
info:
  title: Visma.net ERP Inventory Summary API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: InventorySummary
paths:
  /v1/inventorysummary/{inventoryNumber}:
    get:
      tags:
      - InventorySummary
      summary: Get a range of InventorySummary - ScreenId=IN401000
      operationId: InventorySummary_GetAllInventorySummaryByinventoryNumber
      parameters:
      - name: inventoryNumber
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: warehouse
        in: query
        schema:
          type: string
      - name: location
        in: query
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventorySummaryDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventorySummaryDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    InventorySummaryDto:
      type: object
      properties:
        inventory:
          $ref: '#/components/schemas/inventoryInInventorySummaryDto'
        warehouse:
          $ref: '#/components/schemas/warehouseInInventorySummaryDto'
        location:
          $ref: '#/components/schemas/locationInInventorySummaryDto'
        available:
          type: number
          description: The table &gt; Available &gt; The quantity of the stock items available at the specific warehouse and location.
          format: double
        availableForShipment:
          type: number
          description: The table &gt; Available for shipment &gt; The quantity of the stock items available at the specific warehouse and location calculated based on the quantity on hand with the quantities shipped and on shipping deducted.
          format: double
        notAvailable:
          type: number
          description: The table &gt; Not available &gt; The quantity of the stock items on locations for which the Include in qty. available option is not selected.
          format: double
        soBooked:
          type: number
          description: The table &gt; Sales order booked &gt; The quantity of the stock items booked according to sales orders.
          format: double
        soAllocated:
          type: number
          description: The table &gt; Sales order allocated &gt; The quantity of stock items set aside according to sales orders.
          format: double
        soShipped:
          type: number
          description: The table &gt; Sales orders shipped &gt; The quantity of the stock items shipped according to the confirmed shipments.
          format: double
        soBackOrdered:
          type: number
          description: The table &gt; Back orders &gt; The quantity of the stock items on sales orders with the Back order status.
          format: double
        inIssues:
          type: number
          description: The table &gt; Inventory issues &gt; The quantity of the stock items included in the inventory issue documents that have not yet been released.
          format: double
        inReceipts:
          type: number
          description: The table &gt; Invnetory receipts &gt; The quantity of the stock items included in the inventory receipt documents that have not yet been released.
          format: double
        inTransit:
          type: number
          description: The table &gt; In transit &gt; The quantity of the stock items included as in transit quantities in the inventory transfer documents that have not yet been released.
          format: double
        inAssemblyDemand:
          type: number
          description: The table &gt; In assembly demand &gt; The quantity of the stock items included in unreleased kit assembly documents as components or kits, depending on whether the item is a kit or a kit component.
          format: double
        inAssemblySupply:
          type: number
          description: The table &gt; In assembly supply &gt; The quantity of the stock items listed on unreleased kit assembly documents.
          format: double
        purchasePrepared:
          type: number
          description: The table &gt; Purchase prepared &gt; The quantity of the stock items listed on purchase orders pending approval and on hold.
          format: double
        purchaseOrders:
          type: number
          description: The table &gt; Purchase orders &gt; The quantity of the stock items included in open purchase orders. To view the purchase orders, open the Purchase orders (PO301000) window.
          format: double
        poReceipts:
          type: number
          description: The table &gt; Purchase order receipts &gt; The quantity of the stock items included in the purchase receipts that have not yet been released. To view the purchase receipts, open the Purchase receipts (PO302000) window.
          format: double
        expired:
          type: number
          description: The table &gt; Expired &gt; The quantity of the stock items that has reached its expiration date.
          format: double
        onHand:
          type: number
          description: The table &gt; On hand &gt; The quantity of the stock items available on hand at the specified warehouse and location.
          format: double
        soToPurchase:
          type: number
          description: The table &gt; Sales order to purchase &gt; The quantity of the stock items included in unreleased sales orders requiring creating purchase orders.
          format: double
        purchaseForSO:
          type: number
          description: The table &gt; Purchase for sales order. &gt; The quantity of the stock items listed on open purchase orders created for sales orders.
          format: double
        purchaseForSOPrepared:
          type: number
          description: The table &gt; Purchase for sales order prepared &gt; The quantity of the stock items listed on purchase orders yet on hold or pending approval and created for back orders.
          format: double
        purchaseForSOReceipts:
          type: number
          description: The table &gt; Purchase for sales order receipts &gt; The quantity of the stock items listed on purchase receipts for orders that were created for sales orders.
          format: double
        soToDropShip:
          type: number
          description: The table &gt; Sales order to drop-ship &gt; The quantity of the stock items included in open purchase orders created for drop-ship orders.
          format: double
        dropShipForSO:
          type: number
          description: The table &gt; Drop-ship for sales order &gt; The quantity of the stock items listed on open drop-ship orders. This value is not included in the quantity available.
          format: double
        dropShipForSOPrepared:
          type: number
          description: The table &gt; Drop-ship for sales order, prepared &gt; The quantity of the stock items listed on drop-ship sales orders with a status of On hold or Pending approval; this value is not included in the quantity available.
          format: double
        dropShipForSOReceipts:
          type: number
          description: The table &gt; Drop-ship for sales order, receipts &gt; The quantity of the stock items listed on receipts for drop-ship sales orders; this value is not included in the quantity available.
          format: double
        baseUnit:
          type: string
          description: The table &gt; Base unit &gt; The unit of measure (UoM) selected as the base unit for the stock items in the Stock items (IN202500) window.
        estimatedUnitCost:
          type: number
          description: The table &gt; Estimated unit cost &gt; The estimated unit cost of the selected stock items.
          format: double
        estimatedTotalCost:
          type: number
          description: The table &gt; Estimated total cost &gt; The estimated total cost of the stock items available at the specified warehouse and location.
          format: double
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents a InventorySummary in InventorySummaryController. Used by getting data.
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    locationInInventorySummaryDto:
      properties:
        id:
          type: integer
          description: Click the magnifier &gt; The identifier
          format: int32
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: The top part &gt; Location &gt; The location for which you want to view data; select a location, or make no selection to view data for all locations.
    warehouseInInventorySummaryDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The top part &gt; Warehouse &gt; The warehouse for which you want to view data.
    inventoryInInventorySummaryDto:
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: "Mandatory field: The top part &gt; Item ID* &gt; \tThe stock item for which you want to view data. Click the magnifier."
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
