openapi: 3.2.0
info:
  title: Bookkeeping & Invoicing/eAccounting API V2 Attachment Links…
  description: 'Visit our complete Bookkeeping & Invoicing/eAccounting API docs for how to get started, information about authentication, error handling, query customization and more.


    ✉ API Support'
  version: v2
servers:
- url: https://eaccountingapi.vismaonline.com/v2/
tags:
- name: AttachmentLinks
  description: 'Links that connect attachments, such as documents or images, to related records like invoices or vouchers.


    ___


    Available in any of the following variants:

    * Pro

    * Standard

    * Invoicing

    * Bookkeeping

    * Solo'
paths:
  /attachmentlinks:
    post:
      tags:
      - AttachmentLinks
      summary: Create new links between an existing document and a set of attachments
      description: 'Create news link between an existing document and a set of attachments.


        ___

        Requires any of the following scopes:

        * ea:accounting

        * ea:purchase'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentLinkApi'
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentLinkApi'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
      operationId: postAttachmentlinks
      x-operation-id-source: derived
  /attachmentlinks/{attachmentId}:
    delete:
      tags:
      - AttachmentLinks
      summary: Delete the link between an existing document and its attachment
      description: 'Delete a link between an existing document and an attachment.


        ___

        Requires any of the following scopes:

        * ea:accounting

        * ea:purchase'
      parameters:
      - name: attachmentId
        in: path
        description: The attachment Id to unlink
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Request successful
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
      operationId: deleteAttachmentlinksByAttachmentId
      x-operation-id-source: derived
components:
  schemas:
    CommonExtendedBadRequest:
      type: object
      properties:
        ErrorCode:
          type: integer
          format: int32
        DeveloperErrorMessage:
          type:
          - string
          - 'null'
        ErrorId:
          type: string
          format: uuid
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CommonError'
      additionalProperties: false
    CommonError:
      type: object
      properties:
        Field:
          type:
          - string
          - 'null'
        ErrorCode:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Key:
          type:
          - string
          - 'null'
      additionalProperties: false
    AttachmentLinkApi:
      required:
      - AttachmentIds
      - DocumentType
      type: object
      properties:
        DocumentId:
          type: string
          description: 'The id from the system of the corresponding linked document. Source: Get from endpoints corresponding to your document type'
          format: uuid
        DocumentType:
          type: integer
          description: <strong>Possible values:</strong><br/>0 = None,<br/>1 = SupplierInvoice,<br/>2 = Receipt,<br/>3 = Voucher,<br/>4 = SupplierInvoiceDraft,<br/>5 = AllocationPeriod,<br/>6 = Transfer,<br/>8 = BankTransaction,<br/>9 = VoucherDraft
          format: int32
        AttachmentIds:
          type: array
          items:
            type: string
            format: uuid
          description: List of guids representing the attachment ids fetched from the system
      additionalProperties: false
x-tagGroups:
- name: Sales
  tags:
  - ArticleLabels
  - Articles
  - CustomerInvoiceDrafts
  - CustomerInvoiceOffsets
  - CustomerInvoices
  - CustomerInvoiceValuationHistories
  - CustomerLabels
  - CustomerLedgerItems
  - Customers
  - DeliveryMethods
  - DeliveryTerms
  - DiscountAgreements
  - Orders
  - QuoteDrafts
  - Quotes
  - SalesPriceLists
  - TermsOfPayment
  - WebshopOrders
- name: Purchase
  tags:
  - BankAccounts
  - ForeignPaymentCodes
  - PurchaseReceiptDrafts
  - SupplierInvoiceDrafts
  - SupplierInvoices
  - SupplierInvoiceValuationHistories
  - SupplierLedgerItems
  - Suppliers
- name: Common
  tags:
  - Approval
  - AppStoreActivationStatus
  - AttachmentLinks
  - Attachments
  - AutoInvoice
  - Bank
  - Charts
  - CompanySettings
  - Company
  - Countries
  - Currencies
  - Documents
  - IdentityLookup
  - MessageThreads
  - Mobile
  - Notes
  - PartnerResourceLinks
  - SalesDocumentAttachments
  - Trials
  - Units
  - Users
  - VoTokenValidation
  - WebHooks
  - Zapier
- name: Accounting
  tags:
  - AccountBalance
  - Accounts
  - AccountTypes
  - AllocationPeriods
  - ArticleAccountCodings
  - BankTransactions
  - CostCenterItems
  - CostCenters
  - FiscalYears
  - InventoryItems
  - PaymentVoucher
  - Projects
  - SieFileImportExport
  - VatCode
  - VatReport
  - VoucherDrafts
  - Vouchers
  - VoucherWithOverunderPayment
