openapi: 3.2.0
info:
  title: Bookkeeping & Invoicing/eAccounting API V2 Voucher With…
  description: 'Visit our complete Bookkeeping & Invoicing/eAccounting API docs for how to get started, information about authentication, error handling, query customization and more.


    ✉ API Support'
  version: v2
servers:
- url: https://eaccountingapi.vismaonline.com/v2/
tags:
- name: VoucherWithOverunderPayment
  description: 'Transactions within your business organized by voucher entries with debit and credit rows, for handling customer or supplier payment differences.

    This endpoint is not available for Swedish companies.


    ___


    Available in any of the following variants:

    * Pro

    * Standard

    * Bookkeeping

    * Invoicing

    * Solo'
paths:
  /voucherwithoverunderpayment/{voucherId}:
    get:
      tags:
      - VoucherWithOverunderPayment
      summary: Get voucher relations
      description: 'Get all customer or supplier references for a specific voucher with over or under payment.

        This endpoint is not available for Swedish companies.


        ___

        Requires any of the following scopes:

        * ea:accounting

        * ea:accounting_readonly'
      parameters:
      - name: voucherId
        in: path
        description: The voucher Id to get relations for
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfLedgerVoucherRelationApi'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
      operationId: getVoucherwithoverunderpaymentByVoucherId
      x-operation-id-source: derived
  /voucherwithoverunderpayment:
    post:
      tags:
      - VoucherWithOverunderPayment
      summary: Create over/under payment voucher
      description: 'Create a new voucher with over or under payment details for handling customer or supplier payment differences.

        This endpoint is not available for Swedish companies.


        ___

        Requires any of the following scopes:

        * ea:accounting

        * ea:accounting_readonly'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoucherWithOverunderPaymentApi'
      responses:
        '201':
          description: Voucher created successfully
          content:
            application/json:
              schema:
                type: string
                format: uuid
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
      operationId: postVoucherwithoverunderpayment
      x-operation-id-source: derived
components:
  schemas:
    CommonPaginationMetadata:
      required:
      - CurrentPage
      - PageSize
      - ServerTimeUtc
      - TotalNumberOfPages
      - TotalNumberOfResults
      type: object
      properties:
        CurrentPage:
          type: integer
          description: The current page number
          format: int32
        PageSize:
          type: integer
          description: The number of results per page
          format: int32
        TotalNumberOfPages:
          type: integer
          description: The total number of pages available
          format: int32
        TotalNumberOfResults:
          type: integer
          description: The total number of results available for the query
          format: int32
        ServerTimeUtc:
          type: string
          description: <strong>Possible values:</strong><br/>2017-07-21T17:32:28Z<br/><br/>The date-time notation as defined by RFC 3339, section 5.6.
          format: date-time
      additionalProperties: false
    LedgerVoucherRelationApi:
      type: object
      properties:
        Amount:
          type: number
          description: The remaining amount for this relation
          format: double
          readOnly: true
        CustomerId:
          type:
          - string
          - 'null'
          description: Customer Id fetch from the system, if this relation is for a customer
          format: uuid
          readOnly: true
        SupplierId:
          type:
          - string
          - 'null'
          description: Supplier Id fetch from the system, if this relation is for a supplier
          format: uuid
          readOnly: true
      additionalProperties: false
    VoucherWithOverunderPaymentRowApi:
      required:
      - AccountNumber
      type: object
      properties:
        AccountNumber:
          maximum: 9999999999
          minimum: 1
          type: integer
          description: The account number for this row
          format: int64
        DebitAmount:
          maximum: 1000000000
          minimum: 0
          type: number
          description: Debit amount with maximum 2 decimals
          format: double
        CreditAmount:
          maximum: 1000000000
          minimum: 0
          type: number
          description: Credit amount with maximum 2 decimals
          format: double
        CostCenterItemId1:
          type:
          - string
          - 'null'
          description: Cost center item ID 1
          format: uuid
        CostCenterItemId2:
          type:
          - string
          - 'null'
          description: Cost center item ID 2
          format: uuid
        CostCenterItemId3:
          type:
          - string
          - 'null'
          description: Cost center item ID 3
          format: uuid
        VatCodeId:
          type:
          - string
          - 'null'
          description: VAT code ID for this row
          format: uuid
        Quantity:
          type:
          - number
          - 'null'
          description: Quantity for Dutch agriculture support
          format: double
        Weight:
          type:
          - number
          - 'null'
          description: Weight for Dutch agriculture support
          format: double
        DeliveryDate:
          type:
          - string
          - 'null'
          description: Delivery date for Dutch agriculture support
          format: date-time
        HarvestYear:
          type:
          - integer
          - 'null'
          description: Harvest year for Dutch agriculture support
          format: int32
        ProjectId:
          type:
          - string
          - 'null'
          description: Project ID
          format: uuid
        CustomerId:
          type:
          - string
          - 'null'
          description: Customer Id for this row
          format: uuid
        SupplierId:
          type:
          - string
          - 'null'
          description: Supplier Id for this row
          format: uuid
      additionalProperties: false
    PaginatedResponseOfLedgerVoucherRelationApi:
      required:
      - Data
      - Meta
      type: object
      properties:
        Meta:
          $ref: '#/components/schemas/CommonPaginationMetadata'
        Data:
          type: array
          items:
            $ref: '#/components/schemas/LedgerVoucherRelationApi'
      additionalProperties: false
    CommonError:
      type: object
      properties:
        Field:
          type:
          - string
          - 'null'
        ErrorCode:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Key:
          type:
          - string
          - 'null'
      additionalProperties: false
    CommonExtendedBadRequest:
      type: object
      properties:
        ErrorCode:
          type: integer
          format: int32
        DeveloperErrorMessage:
          type:
          - string
          - 'null'
        ErrorId:
          type: string
          format: uuid
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CommonError'
      additionalProperties: false
    VoucherWithOverunderPaymentApi:
      required:
      - Rows
      - VoucherDate
      type: object
      properties:
        VoucherDate:
          type: string
          description: The voucher date
          format: date-time
        VoucherText:
          maxLength: 1000
          minLength: 0
          type:
          - string
          - 'null'
          description: Optional voucher text description
        Rows:
          type: array
          items:
            $ref: '#/components/schemas/VoucherWithOverunderPaymentRowApi'
          description: The voucher rows containing the accounting details
        Attachments:
          $ref: '#/components/schemas/AttachmentLinkApi'
      additionalProperties: false
    AttachmentLinkApi:
      required:
      - AttachmentIds
      - DocumentType
      type: object
      properties:
        DocumentId:
          type: string
          description: 'The id from the system of the corresponding linked document. Source: Get from endpoints corresponding to your document type'
          format: uuid
        DocumentType:
          type: integer
          description: <strong>Possible values:</strong><br/>0 = None,<br/>1 = SupplierInvoice,<br/>2 = Receipt,<br/>3 = Voucher,<br/>4 = SupplierInvoiceDraft,<br/>5 = AllocationPeriod,<br/>6 = Transfer,<br/>8 = BankTransaction,<br/>9 = VoucherDraft
          format: int32
        AttachmentIds:
          type: array
          items:
            type: string
            format: uuid
          description: List of guids representing the attachment ids fetched from the system
      additionalProperties: false
x-tagGroups:
- name: Sales
  tags:
  - ArticleLabels
  - Articles
  - CustomerInvoiceDrafts
  - CustomerInvoiceOffsets
  - CustomerInvoices
  - CustomerInvoiceValuationHistories
  - CustomerLabels
  - CustomerLedgerItems
  - Customers
  - DeliveryMethods
  - DeliveryTerms
  - DiscountAgreements
  - Orders
  - QuoteDrafts
  - Quotes
  - SalesPriceLists
  - TermsOfPayment
  - WebshopOrders
- name: Purchase
  tags:
  - BankAccounts
  - ForeignPaymentCodes
  - PurchaseReceiptDrafts
  - SupplierInvoiceDrafts
  - SupplierInvoices
  - SupplierInvoiceValuationHistories
  - SupplierLedgerItems
  - Suppliers
- name: Common
  tags:
  - Approval
  - AppStoreActivationStatus
  - AttachmentLinks
  - Attachments
  - AutoInvoice
  - Bank
  - Charts
  - CompanySettings
  - Company
  - Countries
  - Currencies
  - Documents
  - IdentityLookup
  - MessageThreads
  - Mobile
  - Notes
  - PartnerResourceLinks
  - SalesDocumentAttachments
  - Trials
  - Units
  - Users
  - VoTokenValidation
  - WebHooks
  - Zapier
- name: Accounting
  tags:
  - AccountBalance
  - Accounts
  - AccountTypes
  - AllocationPeriods
  - ArticleAccountCodings
  - BankTransactions
  - CostCenterItems
  - CostCenters
  - FiscalYears
  - InventoryItems
  - PaymentVoucher
  - Projects
  - SieFileImportExport
  - VatCode
  - VatReport
  - VoucherDrafts
  - Vouchers
  - VoucherWithOverunderPayment
