openapi: 3.2.0
info:
  title: Visma.net ERP Fixed Asset Property Tax Group API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: FixedAssetPropertyTaxGroup
paths:
  /v1/fixedAssetPropertyTaxGroup/{PropertyTaxID}:
    get:
      tags:
      - FixedAssetPropertyTaxGroup
      summary: 'Get a specific Fixed Asset Property Tax Group - Screen ID: FA209000'
      operationId: FixedAssetPropertyTaxGroup_GetByPropertyTaxID
      parameters:
      - name: PropertyTaxID
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAssetPropertyTaxDto'
            text/json:
              schema:
                $ref: '#/components/schemas/FixedAssetPropertyTaxDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/fixedAssetPropertyTaxGroup:
    get:
      tags:
      - FixedAssetPropertyTaxGroup
      summary: 'Get a range of Fixed Asset Property Tax Groups - Screen ID: FA209000'
      operationId: FixedAssetPropertyTaxGroup_GetAll
      parameters:
      - name: propertyTaxID
        in: query
        description: Property Tax ID that identifies the property tax group.
        schema:
          type: string
      - name: active
        in: query
        description: Set to True to select active fixed asset property tax groups.
        schema:
          type: boolean
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FixedAssetPropertyTaxDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FixedAssetPropertyTaxDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    FixedAssetPropertyTaxDto:
      type: object
      properties:
        propertyTaxID:
          type: string
          description: The property tax id of this property tax group
        description:
          type: string
          description: The description of this property tax group
        active:
          type: boolean
          description: A flag that indicates whether this fixed asset property tax group is active.
        details:
          type: array
          items:
            $ref: '#/components/schemas/FixedAssetPropertyTaxDetailsDto'
          description: Fixed Asset Property Tax Details
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents an attribute in FixedAssetPropertyTaxGroup. Used for getting data.
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    FixedAssetPropertyTaxDetailsDto:
      type: object
      properties:
        date:
          type: string
          description: The date
          format: date-time
        propertyValue:
          type: number
          description: The property value
          format: double
        minPercent:
          type: number
          description: The minimum value percentage
          format: double
      description: This class represents an attribute in FixedAssetPropertyTaxGroup. Used for getting data.
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
