openapi: 3.2.0
info:
  title: Visma.net ERP Customer Sales Price API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: CustomerSalesPrice
paths:
  /v1/customerSalesPrice:
    get:
      tags:
      - CustomerSalesPrice
      summary: Get a range of Customer Sales Prices - ScreenId=AR202000 Request page size must…
      operationId: CustomerSalesPrice_GetCustomerSalesPrices
      parameters:
      - name: greaterThanValue
        in: query
        schema:
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: priceType
        in: query
        schema:
          enum:
          - All
          - Base
          - Customer
          - CustomerPriceClass
          type: string
      - name: priceCode
        in: query
        schema:
          type: string
      - name: inventoryId
        in: query
        schema:
          type: string
      - name: effectiveAsOf
        in: query
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTime
        in: query
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerSalesPriceDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerSalesPriceDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - CustomerSalesPrice
      summary: Create a new Customer Sales Price
      description: 'Response Message has StatusCode Created if POST operation succeed


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed


        The response headers include an ETag after a successful POST operation.'
      operationId: CustomerSalesPrice_PostCustomerSalesPrice
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: The CustomerSalesPriceUpdateDto to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerSalesPriceUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerSalesPriceUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/CustomerSalesPriceUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/CustomerSalesPriceUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerSalesPriceUpdateDto'
        required: true
        x-bodyName: customerSalesPriceDto
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customerSalesPrice/{recordId}:
    get:
      tags:
      - CustomerSalesPrice
      summary: Get a specific Customer Sales Price by recordId
      description: The response headers include an ETag after a successful GET operation.
      operationId: CustomerSalesPrice_GetCustomerSalesPriceByrecordId
      parameters:
      - name: recordId
        in: path
        description: The recordId of the Customer Sales Price
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSalesPriceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerSalesPriceDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - CustomerSalesPrice
      summary: Update an existing Customer Sales Price
      description: 'Response Message has StatusCode NoContent if PUT operation succeed


        Response Message has StatusCode BadRequest if PUT operation failed


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.'
      operationId: CustomerSalesPrice_PutCustomerSalesPriceByrecordId
      parameters:
      - name: recordId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: The CustomerSalesPriceUpdateDto to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerSalesPriceUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerSalesPriceUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/CustomerSalesPriceUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/CustomerSalesPriceUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerSalesPriceUpdateDto'
        required: true
        x-bodyName: customerSalesPriceDto
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Customer sales price version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    CustomerSalesPriceDto:
      type: object
      properties:
        recordId:
          type: integer
          description: 'Mandatory field: The Sales price table &gt; Item ID* &gt; The ID of the stock or non-stock stock item for which price information is listed.'
          format: int32
        priceType:
          enum:
          - All
          - Base
          - Customer
          - CustomerPriceClass
          type: string
          description: 'The Sales price table or the top part &gt; Price type &gt; The type of prices you want to view: All prices, Base, Customer, Customer price class.'
        priceCode:
          type: string
          description: The Sales price table or the top part &gt; Price code &gt; The customer or a customer price class for which you want to create or edit a price list.
        inventoryId:
          type: string
          description: The Sales price table or the top part &gt; Warehouse &gt; The warehouse in which the price applies.
        description:
          type: string
          description: The Sales price table &gt; Description &gt; The description of the stock item.
        uoM:
          type: string
          description: 'Mandatory field: The Sales price table &gt; UoM* &gt; The unit of measure (UoM) used for the item.'
        promotion:
          type: boolean
          description: The Sales price table &gt; Promotion &gt; A check box that indicates (if selected) that the price for this item is promotional.
        breakQty:
          type: number
          description: The Sales price table &gt; Break quantity &gt; The quantity to define a lower bound for a quantity tier with the specific price.
          format: double
        price:
          type: number
          description: The Sales Price table &gt; Price &gt; The price for the item.
          format: double
        currency:
          type: string
          description: 'Mandatory field: The Sales price table &gt; Currency* &gt; The currency in which this price is specified.'
        vat:
          type: string
          description: The Sales price table &gt; VAT &gt; The VAT amount that is included in the sales price.
        effectiveDate:
          type: string
          description: The Sales price table &gt; Effective date &gt; The date when the price became effective.
          format: date-time
        expirationDate:
          type: string
          description: The Sales price table &gt; Ecpiration date &gt; The date when the price expires.
          format: date-time
        lastModifiedDateTime:
          type: string
          format: date-time
        warehouse:
          type: string
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents a CustomerSalesPrice in CustomerSalesPriceController.
    DtoValueOfString:
      type: object
      properties:
        value:
          type: string
    DtoValueOfNullableOfDateTime:
      type: object
      properties:
        value:
          type: string
          format: date-time
    DtoValueOfNullableOfDecimal:
      type: object
      properties:
        value:
          type: number
          format: double
    CustomerSalesPriceUpdateDto:
      type: object
      properties:
        priceType:
          $ref: '#/components/schemas/DtoValueOfNullableOfPriceTypesForUpdate'
        priceCode:
          $ref: '#/components/schemas/DtoValueOfString'
        inventoryId:
          $ref: '#/components/schemas/DtoValueOfString'
        uoM:
          $ref: '#/components/schemas/DtoValueOfString'
        promotion:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        breakQty:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        price:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        currency:
          $ref: '#/components/schemas/DtoValueOfString'
        vat:
          $ref: '#/components/schemas/DtoValueOfString'
        effectiveDate:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        expirationDate:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        warehouse:
          $ref: '#/components/schemas/DtoValueOfString'
    DtoValueOfNullableOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    DtoValueOfNullableOfPriceTypesForUpdate:
      type: object
      properties:
        value:
          enum:
          - Base
          - Customer
          - CustomerPriceClass
          type: string
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
