openapi: 3.2.0
info:
  title: Bookkeeping & Invoicing/eAccounting API V2 Article Account…
  description: 'Visit our complete Bookkeeping & Invoicing/eAccounting API docs for how to get started, information about authentication, error handling, query customization and more.


    ✉ API Support'
  version: v2
servers:
- url: https://eaccountingapi.vismaonline.com/v2/
tags:
- name: ArticleAccountCodings
  description: 'Article account codings define the accounting rules and VAT settings for articles (products/services) in the system.

    Overview of Article Account Codings Functionality: Article Account Codings


    ___


    Available in any of the following variants:

    * Pro

    * Standard

    * Invoicing

    * Solo'
paths:
  /articleaccountcodings:
    get:
      tags:
      - ArticleAccountCodings
      summary: Get article account codings
      description: 'Get all article account codings, or add query parameters to filter the results. The response will include a list of article account codings with their accounting rules, VAT settings, and account numbers for different sales scenarios.


        ___

        Requires any of the following scopes:

        * ea:sales

        * ea:sales_readonly'
      parameters:
      - name: vatRateDate
        in: query
        description: Date to get VAT rates for. Defaults to today
        schema:
          type: string
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfArticleAccountCodingApi'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
      operationId: getArticleaccountcodings
      x-operation-id-source: derived
  /articleaccountcodings/{articleAccountCodingId}:
    get:
      tags:
      - ArticleAccountCodings
      summary: Get a specific article account coding
      description: 'Get a specific article account coding by its unique identifier. The response will include the article account coding''s details such as name, type, VAT rate information, and account numbers for different sales scenarios.


        ___

        Requires any of the following scopes:

        * ea:sales

        * ea:sales_readonly'
      parameters:
      - name: articleAccountCodingId
        in: path
        description: The ID of the article account coding to retrieve
        required: true
        schema:
          type: string
          format: uuid
      - name: vatRateDate
        in: query
        description: Date to get VAT rates for. Defaults to today
        schema:
          type: string
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleAccountCodingApi'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
      operationId: getArticleaccountcodingsByArticleAccountCodingId
      x-operation-id-source: derived
components:
  schemas:
    PaginatedResponseOfArticleAccountCodingApi:
      required:
      - Data
      - Meta
      type: object
      properties:
        Meta:
          $ref: '#/components/schemas/CommonPaginationMetadata'
        Data:
          type: array
          items:
            $ref: '#/components/schemas/ArticleAccountCodingApi'
      additionalProperties: false
    CommonPaginationMetadata:
      required:
      - CurrentPage
      - PageSize
      - ServerTimeUtc
      - TotalNumberOfPages
      - TotalNumberOfResults
      type: object
      properties:
        CurrentPage:
          type: integer
          description: The current page number
          format: int32
        PageSize:
          type: integer
          description: The number of results per page
          format: int32
        TotalNumberOfPages:
          type: integer
          description: The total number of pages available
          format: int32
        TotalNumberOfResults:
          type: integer
          description: The total number of results available for the query
          format: int32
        ServerTimeUtc:
          type: string
          description: <strong>Possible values:</strong><br/>2017-07-21T17:32:28Z<br/><br/>The date-time notation as defined by RFC 3339, section 5.6.
          format: date-time
      additionalProperties: false
    ArticleAccountCodingApi:
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the article account coding.
          format: uuid
          readOnly: true
        Name:
          type:
          - string
          - 'null'
          description: The name of the article account coding.
        NameEnglish:
          type:
          - string
          - 'null'
          description: The English name of the article account coding.
        Type:
          type:
          - string
          - 'null'
          description: The type of the article account coding.
        VatRate:
          type:
          - string
          - 'null'
          description: The VAT rate code of the article account coding.
        IsActive:
          type: boolean
          description: Indicates whether the article account coding is active.
        VatRatePercent:
          type: number
          description: The VAT rate percent of the article account coding.
          format: double
        DomesticSalesSubjectToReversedConstructionVatAccountNumber:
          type:
          - integer
          - 'null'
          description: The account number for domestic sales subject to reversed construction VAT.
          format: int64
        DomesticSalesSubjectToVatAccountNumber:
          type:
          - integer
          - 'null'
          description: The account number for domestic sales subject to VAT.
          format: int64
        DomesticSalesVatExemptAccountNumber:
          type:
          - integer
          - 'null'
          description: The account number for domestic sales exempt from VAT.
          format: int64
        ForeignSalesSubjectToMossAccountNumber:
          type:
          - integer
          - 'null'
          description: The account number for foreign sales subject to MOSS.
          format: int64
        ForeignSalesSubjectToThirdPartySalesAccountNumber:
          type:
          - integer
          - 'null'
          description: The account number for foreign sales to third party.
          format: int64
        ForeignSalesSubjectToVatWithinEuAccountNumber:
          type:
          - integer
          - 'null'
          description: The account number for foreign sales subject to VAT within EU.
          format: int64
        ForeignSalesVatExemptOutsideEuAccountNumber:
          type:
          - integer
          - 'null'
          description: The account number for foreign sales exempt from VAT outside EU.
          format: int64
        ForeignSalesVatExemptWithinEuAccountNumber:
          type:
          - integer
          - 'null'
          description: The account number for foreign sales exempt from VAT within EU.
          format: int64
        DomesticSalesVatCodeExemptAccountNumber:
          type:
          - integer
          - 'null'
          description: The account number for domestic sales exempt.
          format: int64
        ChangedUtc:
          type: string
          description: Last time this article account coding was changed
          format: date-time
          readOnly: true
      additionalProperties: false
    CommonError:
      type: object
      properties:
        Field:
          type:
          - string
          - 'null'
        ErrorCode:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Key:
          type:
          - string
          - 'null'
      additionalProperties: false
    CommonExtendedBadRequest:
      type: object
      properties:
        ErrorCode:
          type: integer
          format: int32
        DeveloperErrorMessage:
          type:
          - string
          - 'null'
        ErrorId:
          type: string
          format: uuid
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CommonError'
      additionalProperties: false
x-tagGroups:
- name: Sales
  tags:
  - ArticleLabels
  - Articles
  - CustomerInvoiceDrafts
  - CustomerInvoiceOffsets
  - CustomerInvoices
  - CustomerInvoiceValuationHistories
  - CustomerLabels
  - CustomerLedgerItems
  - Customers
  - DeliveryMethods
  - DeliveryTerms
  - DiscountAgreements
  - Orders
  - QuoteDrafts
  - Quotes
  - SalesPriceLists
  - TermsOfPayment
  - WebshopOrders
- name: Purchase
  tags:
  - BankAccounts
  - ForeignPaymentCodes
  - PurchaseReceiptDrafts
  - SupplierInvoiceDrafts
  - SupplierInvoices
  - SupplierInvoiceValuationHistories
  - SupplierLedgerItems
  - Suppliers
- name: Common
  tags:
  - Approval
  - AppStoreActivationStatus
  - AttachmentLinks
  - Attachments
  - AutoInvoice
  - Bank
  - Charts
  - CompanySettings
  - Company
  - Countries
  - Currencies
  - Documents
  - IdentityLookup
  - MessageThreads
  - Mobile
  - Notes
  - PartnerResourceLinks
  - SalesDocumentAttachments
  - Trials
  - Units
  - Users
  - VoTokenValidation
  - WebHooks
  - Zapier
- name: Accounting
  tags:
  - AccountBalance
  - Accounts
  - AccountTypes
  - AllocationPeriods
  - ArticleAccountCodings
  - BankTransactions
  - CostCenterItems
  - CostCenters
  - FiscalYears
  - InventoryItems
  - PaymentVoucher
  - Projects
  - SieFileImportExport
  - VatCode
  - VatReport
  - VoucherDrafts
  - Vouchers
  - VoucherWithOverunderPayment
