openapi: 3.2.0
info:
  title: Visma.net ERP Customer API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: Customer
paths:
  /v1/customer/customerClass:
    get:
      tags:
      - Customer
      summary: Get Customer Classes - ScreenId=AR201000
      operationId: Customer_GetCustomerClasses
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerClassDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerClassDto'
        '400':
          description: Bad Request
          content:
            application/json: {}
            text/json: {}
        '401':
          description: Unauthorized
          content:
            application/json: {}
            text/json: {}
        '404':
          description: Not Found
          content:
            application/json: {}
            text/json: {}
        '500':
          description: Internal Server Error
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer/customerClass/{customerClassId}:
    get:
      tags:
      - Customer
      summary: Get a specific customer class - ScreenId=AR201000
      operationId: Customer_GetSpecificCustomerClassBycustomerClassId
      parameters:
      - name: customerClassId
        in: path
        description: Identifies the customer class
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerClassDto'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerClassDto'
        '400':
          description: Bad Request
          content:
            application/json: {}
            text/json: {}
        '401':
          description: Unauthorized
          content:
            application/json: {}
            text/json: {}
        '404':
          description: Not Found
          content:
            application/json: {}
            text/json: {}
        '500':
          description: Internal Server Error
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer/{customerCd}/balance:
    get:
      tags:
      - Customer
      summary: Get a specific customer's balance - ScreenId=AR303000
      operationId: Customer_GetCustomerBalanceBycustomerCd
      parameters:
      - name: customerCd
        in: path
        description: Identifies the customer for which to return data
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerBalanceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerBalanceDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/CustomerBalanceDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/CustomerBalanceDto'
        '400':
          description: Bad Request
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '401':
          description: Unauthorized
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: Not Found
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '500':
          description: Internal Server Error
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer/{customerCd}/directdebit:
    get:
      tags:
      - Customer
      summary: Get direct debit information for a specific customer(only for Netherlands)
      operationId: Customer_GetCustomerDirectDebitBycustomerCd
      parameters:
      - name: customerCd
        in: path
        description: Identifies the customer for which to return data
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerDirectDebitDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerDirectDebitDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerDirectDebitDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerDirectDebitDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer/{customerCd}/salesorder:
    get:
      tags:
      - Customer
      summary: Get a range of SO Orders of a specific customer
      operationId: Customer_GetAllOrderForCustomerBycustomerCd
      parameters:
      - name: customerCd
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: orderType
        in: query
        description: Filter by Order type.
        schema:
          type: string
      - name: status
        in: query
        description: Select to filter on status on order.
        schema:
          enum:
          - Open
          - Hold
          - CreditHold
          - Completed
          - Cancelled
          - BackOrder
          - Shipping
          - Invoiced
          - PendingApproval
          - Voided
          type: string
      - name: greaterThanValue
        in: query
        description: Filter on Order no. greater than value.
        schema:
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        description: This field has been deprecated and will be removed in future versions. The OrderBy parameter has no effect on the result.
        schema:
          type: string
      - name: showNotes
        in: query
        description: Set to true to include notes.
        schema:
          type: boolean
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer/{customerCd}/salesorderbasic:
    get:
      tags:
      - Customer
      summary: Get a range of SO Orders Basic of a specific customer
      operationId: Customer_GetAllSalesOrderBasicForCustomerBycustomerCd
      parameters:
      - name: customerCd
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: orderType
        in: query
        description: Filter by Order type.
        schema:
          type: string
      - name: status
        in: query
        description: Select to filter on status on order.
        schema:
          enum:
          - Open
          - Hold
          - CreditHold
          - Completed
          - Cancelled
          - BackOrder
          - Shipping
          - Invoiced
          - PendingApproval
          - Voided
          type: string
      - name: greaterThanValue
        in: query
        description: Filter on Order no. greater than value.
        schema:
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        description: This field has been deprecated and will be removed in future versions. The OrderBy parameter has no effect on the result.
        schema:
          type: string
      - name: showNotes
        in: query
        description: Set to true to include notes.
        schema:
          type: boolean
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderBasicDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderBasicDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer/{customerCd}/contact:
    get:
      tags:
      - Customer
      summary: Get a range of Contacts of a specific customer
      operationId: Customer_GetAllContactsForCustomerBycustomerCd
      parameters:
      - name: customerCd
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: displayName
        in: query
        schema:
          type: string
      - name: active
        in: query
        schema:
          type: string
      - name: firstName
        in: query
        schema:
          type: string
      - name: lastName
        in: query
        schema:
          type: string
      - name: businessAccount
        in: query
        schema:
          type: string
      - name: email
        in: query
        schema:
          type: string
      - name: greaterThanValue
        in: query
        schema:
          type: string
      - name: numberToRead
        in: query
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer/{customerCd}/salespersons:
    get:
      tags:
      - Customer
      summary: Get a range of Sales Persons of a specific customer
      operationId: Customer_GetSalesPersonsForCustomerBycustomerCd
      parameters:
      - name: customerCd
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustSalesPersonsDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustSalesPersonsDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer/balance:
    get:
      tags:
      - Customer
      summary: Get the balance for a range of customers
      operationId: Customer_GetAllCustomerBalance
      parameters:
      - name: greaterThanValue
        in: query
        schema:
          type: string
      - name: numberToRead
        in: query
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerBalanceDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerBalanceDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerBalanceDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerBalanceDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer/{customerCd}/note:
    get:
      tags:
      - Customer
      summary: Get a specific customer's note
      operationId: Customer_GetCustomerNoteBycustomerCd
      parameters:
      - name: customerCd
        in: path
        description: Identifies the customer for which to return data
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteDto'
            text/json:
              schema:
                $ref: '#/components/schemas/NoteDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/NoteDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/NoteDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer/internal/{internalID}:
    get:
      tags:
      - Customer
      summary: Get a specific customer by internalID
      description: 'Data for the customer


        The response headers include an ETag after a successful GET operation.'
      operationId: Customer_GetByinternalID
      parameters:
      - name: internalID
        in: path
        description: Identifies the customer
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDto'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - Customer
      summary: Updates a specific customer using the internalID
      description: 'Response Message has StatusCode NoContent if PUT operation succeed


        Response Message has StatusCode BadRequest if PUT operation failed


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.'
      operationId: Customer_PutByinternalID
      parameters:
      - name: internalID
        in: path
        description: Identifies the customer to update by its internalID
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: The data to update for the customer
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
        required: true
        x-bodyName: customer
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Customer version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer/{customerCd}:
    get:
      tags:
      - Customer
      summary: Get a specific customer
      description: 'Data for the customer


        The response headers include an ETag after a successful GET operation.'
      operationId: Customer_GetBycustomerCd
      parameters:
      - name: customerCd
        in: path
        description: Identifies the customer
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDto'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomerDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - Customer
      summary: Updates a specific customer
      description: 'Response Message has StatusCode NoContent if PUT operation succeed


        Response Message has StatusCode BadRequest if PUT operation failed


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.'
      operationId: Customer_PutBycustomerCd
      parameters:
      - name: customerCd
        in: path
        description: Identifies the customer to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: The data to update for the customer
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
        required: true
        x-bodyName: customer
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Customer version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer:
    get:
      tags:
      - Customer
      summary: Get a range of customers - ScreenId=AR303000
      operationId: Customer_GetAll
      parameters:
      - name: greaterThanValue
        in: query
        description: This field does not work and has been deprecated. It will be removed in future versions.
        schema:
          type: string
      - name: numberToRead
        in: query
        description: '[This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.]

          Tells the service to return only {numberToRead} number of records.'
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: '[This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.]

          Tells the service to return only records after the first {skipRecords} number of records.'
        schema:
          type: integer
          format: int32
      - name: name
        in: query
        description: Contains Customer name.
        schema:
          type: string
      - name: status
        in: query
        description: Drop down and select Status.
        schema:
          enum:
          - Active
          - OnHold
          - CreditHold
          - Inactive
          - OneTime
          type: string
      - name: corporateId
        in: query
        description: Equals Corporate ID from Delivery settings tab.
        schema:
          type: string
      - name: vatRegistrationId
        in: query
        description: Equals VAT registration ID from Delivery settings tab.
        schema:
          type: string
      - name: email
        in: query
        description: Equals Email for customer.
        schema:
          type: string
      - name: phone
        in: query
        description: Equals Phone 1 for customer.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: expandAccountInformation
        in: query
        schema:
          type: boolean
      - name: expandPaymentMethods
        in: query
        schema:
          type: boolean
      - name: expandDirectDebit
        in: query
        description: Expand direct debit info
        schema:
          type: boolean
      - name: attributes
        in: query
        description: " Attributes (additional information) connected to the entity.\n Examples:\n{{base}}/customer?attributes={\"AttributeID\":\"ValueID\",\"AttributeID\":\"ValueID\"}\n{{base}}/customer?attributes={\"AttributeID\":\"ValueID1,ValueID2\"}"
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - Customer
      summary: Creates a customer
      description: 'Response Message has StatusCode Created if POST operation succeed


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed


        The response headers include an ETag after a successful GET operation.'
      operationId: Customer_Post
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the customer to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
        required: true
        x-bodyName: customer
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer/{customerNumber}/invoice:
    get:
      tags:
      - Customer
      summary: Get a range of invoices for a specific customer
      operationId: Customer_GetAllInvoicesForCustomerBycustomerNumber
      parameters:
      - name: customerNumber
        in: path
        description: Identifies the customer for which to return data
        required: true
        schema:
          type: string
      - name: documentType
        in: query
        description: The field is deprecated for specific customer document endpoints. It will only be usable from customer document endpoint.
        schema:
          enum:
          - Invoice
          - DebitNote
          - CreditNote
          - Payment
          - VoidPayment
          - Prepayment
          - Refund
          - FinCharge
          - SmallBalanceWo
          - SmallCreditWo
          - CashSale
          - CashReturn
          - Undefined
          - NoUpdate
          type: string
      - name: released
        in: query
        description: Parameter for showing if invoice has been released or not.
        schema:
          type: integer
          format: int32
      - name: dunningLevel
        in: query
        description: The dunning level of the document.
        schema:
          type: integer
          format: int32
      - name: closedFinancialPeriod
        in: query
        description: The date of the closing of the financial period.
        schema:
          type: string
      - name: dunningLetterDateTime
        in: query
        description: The date and time for when the document last released a dunning letter.
        schema:
          type: string
      - name: dunningLetterDateTimeCondition
        in: query
        description: Set time/date as before (&lt;), after (&gt;), before and including (=&lt;) OR after and including (=&gt;) to filter on time frame.
        schema:
          type: string
      - name: project
        in: query
        description: The project with which the document is associated.
        schema:
          type: string
      - name: expandApplications
        in: query
        description: True if you want to see all dunning information regarding this document.
        schema:
          type: boolean
      - name: expandDunningInformation
        in: query
        schema:
          type: boolean
      - name: expandAttachments
        in: query
        description: True if you want to see all attachments regarding this document.
        schema:
          type: boolean
      - name: expandTaxDetails
        in: query
        description: True if you want to see all VAT details regarding this document.
        schema:
          type: boolean
      - name: expandInvoiceAddress
        in: query
        description: True if you want to see all information regarding the invoice address for this document.
        schema:
          type: boolean
      - name: financialPeriod
        in: query
        description: The financial period to which the transactions recorded in the document is posted. Format YYYYMM.
        schema:
          type: string
      - name: documentDueDate
        in: query
        description: The date when payment for the document is due, in accordance with the credit terms.
        schema:
          type: string
          format: date-time
      - name: documentDueDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Due Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal'
        schema:
          type: string
      - name: status
        in: query
        description: The status of the document. Use the dropdown to select status.
        schema:
          enum:
          - Hold
          - Balanced
          - Voided
          - Scheduled
          - Open
          - Closed
          - PendingPrint
          - PendingEmail
          - CreditHold
          - CcHold
          - Reserved
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: externalReference
        in: query
        description: The top part &gt; External reference &gt; The external reference used in AutoInvoice.
        schema:
          type: string
      - name: paymentReference
        in: query
        description: The top part &gt; Payment ref. &gt; The reference number of the document, as automatically generated by the system in accordance with the number series assigned to cash sales in the Customer ledger preferences window..
        schema:
          type: string
      - name: customerRefNumber
        in: query
        description: The top part &gt; External reference &gt; The external reference used in AutoInvoice.
        schema:
          type: string
      - name: customer
        in: query
        description: Filter by Customer
        schema:
          type: string
      - name: branch
        in: query
        description: Filter by Branch
        schema:
          type: string
      - name: documentDate
        in: query
        description: 'This value indicates the document date. Use it to retrieve all records that have the Document Date since that time, up to the future.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```


          _Note:_ __DocumentDate__ and __DocumentDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
          format: date-time
      - name: documentDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Document Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __DocumentDate__ and __DocumentDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: greaterThanValue
        in: query
        description: Greater than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerInvoiceDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerInvoiceDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer/{customerNumber}/cashSale:
    get:
      tags:
      - Customer
      summary: Get a range of cash sales for a specific customer
      operationId: Customer_GetAllCashSalesForCustomerBycustomerNumber
      parameters:
      - name: customerNumber
        in: path
        description: Identifies the customer for which to return data
        required: true
        schema:
          type: string
      - name: documentType
        in: query
        description: The field is deprecated for specific customer document endpoints. It will only be usable from customer document endpoint.
        schema:
          enum:
          - Invoice
          - DebitNote
          - CreditNote
          - Payment
          - VoidPayment
          - Prepayment
          - Refund
          - FinCharge
          - SmallBalanceWo
          - SmallCreditWo
          - CashSale
          - CashReturn
          - Undefined
          - NoUpdate
          type: string
      - name: released
        in: query
        description: Parameter for showing if invoice has been released or not.
        schema:
          type: integer
          format: int32
      - name: dunningLevel
        in: query
        description: The dunning level of the document.
        schema:
          type: integer
          format: int32
      - name: closedFinancialPeriod
        in: query
        description: The date of the closing of the financial period.
        schema:
          type: string
      - name: dunningLetterDateTime
        in: query
        description: The date and time for when the document last released a dunning letter.
        schema:
          type: string
      - name: dunningLetterDateTimeCondition
        in: query
        description: Set time/date as before (&lt;), after (&gt;), before and including (=&lt;) OR after and including (=&gt;) to filter on time frame.
        schema:
          type: string
      - name: project
        in: query
        description: The project with which the document is associated.
        schema:
          type: string
      - name: expandApplications
        in: query
        description: True if you want to see all dunning information regarding this document.
        schema:
          type: boolean
      - name: expandDunningInformation
        in: query
        schema:
          type: boolean
      - name: expandAttachments
        in: query
        description: True if you want to see all attachments regarding this document.
        schema:
          type: boolean
      - name: expandTaxDetails
        in: query
        description: True if you want to see all VAT details regarding this document.
        schema:
          type: boolean
      - name: expandInvoiceAddress
        in: query
        description: True if you want to see all information regarding the invoice address for this document.
        schema:
          type: boolean
      - name: financialPeriod
        in: query
        description: The financial period to which the transactions recorded in the document is posted. Format YYYYMM.
        schema:
          type: string
      - name: documentDueDate
        in: query
        description: The date when payment for the document is due, in accordance with the credit terms.
        schema:
          type: string
          format: date-time
      - name: documentDueDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Due Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal'
        schema:
          type: string
      - name: status
        in: query
        description: The status of the document. Use the dropdown to select status.
        schema:
          enum:
          - Hold
          - Balanced
          - Voided
          - Scheduled
          - Open
          - Closed
          - PendingPrint
          - PendingEmail
          - CreditHold
          - CcHold
          - Reserved
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: externalReference
        in: query
        description: The top part &gt; External reference &gt; The external reference used in AutoInvoice.
        schema:
          type: string
      - name: paymentReference
        in: query
        description: The top part &gt; Payment ref. &gt; The reference number of the document, as automatically generated by the system in accordance with the number series assigned to cash sales in the Customer ledger preferences window..
        schema:
          type: string
      - name: customerRefNumber
        in: query
        description: The top part &gt; External reference &gt; The external reference used in AutoInvoice.
        schema:
          type: string
      - name: customer
        in: query
        description: Filter by Customer
        schema:
          type: string
      - name: branch
        in: query
        description: Filter by Branch
        schema:
          type: string
      - name: documentDate
        in: query
        description: 'This value indicates the document date. Use it to retrieve all records that have the Document Date since that time, up to the future.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```


          _Note:_ __DocumentDate__ and __DocumentDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
          format: date-time
      - name: documentDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Document Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __DocumentDate__ and __DocumentDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: greaterThanValue
        in: query
        description: Greater than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CashSaleDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CashSaleDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer/{customerNumber}/document:
    get:
      tags:
      - Customer
      summary: Gets a range of documents for a specific customer
      operationId: Customer_GetAllDocumentsForCustomerBycustomerNumber
      parameters:
      - name: customerNumber
        in: path
        description: Identifies the customer for which to return data
        required: true
        schema:
          type: string
      - name: documentType
        in: query
        description: The field is deprecated for specific customer document endpoints. It will only be usable from customer document endpoint.
        schema:
          enum:
          - Invoice
          - DebitNote
          - CreditNote
          - Payment
          - VoidPayment
          - Prepayment
          - Refund
          - FinCharge
          - SmallBalanceWo
          - SmallCreditWo
          - CashSale
          - CashReturn
          - Undefined
          - NoUpdate
          type: string
      - name: released
        in: query
        description: Parameter for showing if invoice has been released or not.
        schema:
          type: integer
          format: int32
      - name: dunningLevel
        in: query
        description: The dunning level of the document.
        schema:
          type: integer
          format: int32
      - name: closedFinancialPeriod
        in: query
        description: The date of the closing of the financial period.
        schema:
          type: string
      - name: dunningLetterDateTime
        in: query
        description: The date and time for when the document last released a dunning letter.
        schema:
          type: string
      - name: dunningLetterDateTimeCondition
        in: query
        description: Set time/date as before (&lt;), after (&gt;), before and including (=&lt;) OR after and including (=&gt;) to filter on time frame.
        schema:
          type: string
      - name: project
        in: query
        description: The project with which the document is associated.
        schema:
          type: string
      - name: expandApplications
        in: query
        description: True if you want to see all dunning information regarding this document.
        schema:
          type: boolean
      - name: expandDunningInformation
        in: query
        schema:
          type: boolean
      - name: expandAttachments
        in: query
        description: True if you want to see all attachments regarding this document.
        schema:
          type: boolean
      - name: expandTaxDetails
        in: query
        description: True if you want to see all VAT details regarding this document.
        schema:
          type: boolean
      - name: expandInvoiceAddress
        in: query
        description: True if you want to see all information regarding the invoice address for this document.
        schema:
          type: boolean
      - name: financialPeriod
        in: query
        description: The financial period to which the transactions recorded in the document is posted. Format YYYYMM.
        schema:
          type: string
      - name: documentDueDate
        in: query
        description: The date when payment for the document is due, in accordance with the credit terms.
        schema:
          type: string
          format: date-time
      - name: documentDueDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Due Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal'
        schema:
          type: string
      - name: status
        in: query
        description: The status of the document. Use the dropdown to select status.
        schema:
          enum:
          - Hold
          - Balanced
          - Voided
          - Scheduled
          - Open
          - Closed
          - PendingPrint
          - PendingEmail
          - CreditHold
          - CcHold
          - Reserved
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: externalReference
        in: query
        description: The top part &gt; External reference &gt; The external reference used in AutoInvoice.
        schema:
          type: string
      - name: paymentReference
        in: query
        description: The top part &gt; Payment ref. &gt; The reference number of the document, as automatically generated by the system in accordance with the number series assigned to cash sales in the Customer ledger preferences window..
        schema:
          type: string
      - name: customerRefNumber
        in: query
        description: The top part &gt; External reference &gt; The external reference used in AutoInvoice.
        schema:
          type: string
      - name: customer
        in: query
        description: Filter by Customer
        schema:
          type: string
      - name: branch
        in: query
        description: Filter by Branch
        schema:
          type: string
      - name: documentDate
        in: query
        description: 'This value indicates the document date. Use it to retrieve all records that have the Document Date since that time, up to the future.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```


          _Note:_ __DocumentDate__ and __DocumentDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
          format: date-time
      - name: documentDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Document Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __DocumentDate__ and __DocumentDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: greaterThanValue
        in: query
        description: Greater than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerDocumentDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerDocumentDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/customer/{customer}/action/createDunningLetter:
    post:
      tags:
      - Customer
      summary: Creates dunning letters for a specific customer
      description: The action result dto contains information about the result of running the action
      operationId: Customer_CreateDunningLetterActionBycustomer
      parameters:
      - name: customer
        in: path
        description: Reference number of the customer for which the dunning letters will be created
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the dunning letters to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDunningLetterActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateDunningLetterActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateDunningLetterActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateDunningLetterActionDto'
[...]
