openapi: 3.2.0
info:
  title: Visma.net ERP Lot Serial Class API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: LotSerialClass
paths:
  /v1/lotserialclass/{id}:
    get:
      tags:
      - LotSerialClass
      summary: Get a specific
      operationId: LotSerialClass_GetByid
      parameters:
      - name: id
        in: path
        description: Identifies the LotSerialClass
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LotSerialClassDto'
            text/json:
              schema:
                $ref: '#/components/schemas/LotSerialClassDto'
        '400':
          description: Bad Request
          content:
            application/json: {}
            text/json: {}
        '401':
          description: Unauthorized
          content:
            application/json: {}
            text/json: {}
        '404':
          description: Not Found
          content:
            application/json: {}
            text/json: {}
        '500':
          description: Internal Server Error
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/lotserialclass:
    get:
      tags:
      - LotSerialClass
      summary: Get a range of lot serial classes - ScreenId=IN207000 Request page size must be…
      operationId: LotSerialClass_GetAllLotSerialClass
      parameters:
      - name: description
        in: query
        schema:
          type: string
      - name: trackingMethod
        in: query
        schema:
          enum:
          - NotNumbered
          - LotNumbered
          - SerialNumbered
          type: string
      - name: trackExpirationDate
        in: query
        schema:
          type: boolean
      - name: requiredForDropShip
        in: query
        schema:
          type: boolean
      - name: assignmentMethod
        in: query
        schema:
          enum:
          - WhenReceived
          - WhenUsed
          type: string
      - name: issueMethod
        in: query
        schema:
          enum:
          - FIFO
          - LIFO
          - Sequential
          - Expiration
          - UserEnterable
          type: string
      - name: autoIncrementalValueBetweenClasses
        in: query
        schema:
          type: boolean
      - name: autoIncrementalValue
        in: query
        schema:
          type: string
      - name: autoGenerateNextNumber
        in: query
        schema:
          type: boolean
      - name: lastModifiedDateTime
        in: query
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LotSerialClassDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LotSerialClassDto'
        '400':
          description: Bad Request
          content:
            application/json: {}
            text/json: {}
        '401':
          description: Unauthorized
          content:
            application/json: {}
            text/json: {}
        '404':
          description: Not Found
          content:
            application/json: {}
            text/json: {}
        '500':
          description: Internal Server Error
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    LotSerialClassDto:
      type: object
      properties:
        id:
          type: string
          description: The Id of the Lot Serial Class
        description:
          type: string
          description: The description of the Lot Serial Class
        trackingMethod:
          enum:
          - NotNumbered
          - LotNumbered
          - SerialNumbered
          type: string
          description: Method used to track the Lot Serial Class
        trackExpirationDate:
          type: boolean
          description: Option for enable/disable expiration date tracking of the Lot Serial Class
        requiredForDropShip:
          type: boolean
          description: Option for enable/disable require drop shipping of the Lot Serial Class
        assignmentMethod:
          enum:
          - WhenReceived
          - WhenUsed
          type: string
          description: Assignment method used for the Lot Serial Class (When Used, When Received)
        issueMethod:
          enum:
          - FIFO
          - LIFO
          - Sequential
          - Expiration
          - UserEnterable
          type: string
          description: Issue method used for the Lot Serial Class (FIFO, LIFO, Sequential, Expiration, User-Enterable)
        autoIncrementalValueBetweenClasses:
          type: boolean
          description: Option for enable/disable auto incremental values between classes for the Lot Serial Class
        autoIncrementalValue:
          type: string
          description: Value used for the auto incremental value when AutoIncrementalValueBetweenClasses is enabled
        autoGenerateNextNumber:
          type: boolean
          description: Option for enable/disable auto generating the next number for the Lot Serial Class
        lastModifiedDateTime:
          type: string
          description: System generated information.
          format: date-time
        details:
          type: array
          items:
            $ref: '#/components/schemas/LotSerialClassDetailDto'
          description: Lot Serial Class details (Segment Number, Type, Value)
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    LotSerialClassDetailDto:
      type: object
      properties:
        id:
          type: string
          description: The Id of the Lot Serial Class
        segmentNumber:
          type: integer
          description: Segment number for the Lot Serial segment
          format: int32
        type:
          enum:
          - NumericVal
          - FixedConst
          - DateConst
          - DayConst
          - MonthConst
          - MonthLongConst
          - YearConst
          - YearLongConst
          type: string
          description: Segment type for the Lot Serial segment
        value:
          type: string
          description: Segment value for the Lot Serial segment
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
