openapi: 3.2.0
info:
  title: Visma.net ERP Cash Account API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: CashAccount
paths:
  /v1/cashaccount/{accountNumber}:
    get:
      tags:
      - CashAccount
      summary: Get a specific cash account
      operationId: CashAccount_GetByaccountNumber
      parameters:
      - name: accountNumber
        in: path
        description: Identifies the cash account
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashAccountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/CashAccountDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/cashaccount:
    get:
      tags:
      - CashAccount
      summary: Get all Cash Accounts - ScreenId=CA202000
      operationId: CashAccount_GetAll
      parameters:
      - name: greaterThanValue
        in: query
        description: Filter Cass account identifier greater than.
        schema:
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions.
        schema:
          type: integer
          format: int32
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CashAccountDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CashAccountDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    defaultOffsetSubaccountInEntryTypeDto:
      properties:
        active:
          type: boolean
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Default offset subaccount &gt; The corresponding subaccount.
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    offsetAccountOverrideInEntryTypeDto:
      properties:
        type:
          enum:
          - Asset
          - Liability
          - Income
          - Expense
          type: string
          description: Account &gt; The account number.
        externalCode1:
          type: string
          description: Account class &gt; The identifier of the account class.
        externalCode2:
          type: string
          description: Account class &gt; The name of the account class.
        active:
          type: boolean
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: "Reclassification account override &gt; The account that should be used as the offset account for this entry type with this cash account instead of the default offset account specified on the Entry types tab. \nWe recommend that for the disbursement type of transaction, you specify an expense account. For the receipt type of transaction, specify an asset account."
    defaultOffsetAccountInEntryTypeDto:
      properties:
        type:
          enum:
          - Asset
          - Liability
          - Income
          - Expense
          type: string
          description: Account &gt; The account number.
        externalCode1:
          type: string
          description: Account class &gt; The identifier of the account class.
        externalCode2:
          type: string
          description: Account class &gt; The name of the account class.
        active:
          type: boolean
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: Default offset account &gt; The account that is used by default as the offset account for this entry type.
    reclasificationAccountOverrideInEntryTypeDto:
      properties:
        type:
          enum:
          - Asset
          - Liability
          - Income
          - Expense
          type: string
          description: Account &gt; The account number.
        externalCode1:
          type: string
          description: Account class &gt; The identifier of the account class.
        externalCode2:
          type: string
          description: Account class &gt; The name of the account class.
        active:
          type: boolean
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: The account that should be used instead of the reclassification account specified as the default one on the Entry types tab.
    subaccountInCashAccountDto:
      properties:
        subaccountNumber:
          type: string
          description: 'Mandatory field: Subaccount* &gt; The subaccount number. Format 9-XX.'
        subaccountId:
          type: integer
          description: SubID &gt; The  identifier of the subaccount.
          format: int32
        description:
          type: string
          description: Description &gt; The description of the identifier.
        lastModifiedDateTime:
          type: string
          description: System generated information.
          format: date-time
        active:
          type: boolean
          description: Active &gt; The status of the identifier.
        segments:
          type: array
          items:
            $ref: '#/components/schemas/SegmentDto'
          description: Segments are entities that you use to define the structure of IDs for the subaccount.  This information is collected from window CS202000.
        timeStamp:
          type: string
          description: The timestamp of the subaccount, used for concurrency control.
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: The subaccount to be used for the cash account.
    TaxCategoryNumberDescriptionDto:
      type: object
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
    reclasificationAccountInEntryTypeDto:
      properties:
        type:
          enum:
          - Asset
          - Liability
          - Income
          - Expense
          type: string
          description: Account &gt; The account number.
        externalCode1:
          type: string
          description: Account class &gt; The identifier of the account class.
        externalCode2:
          type: string
          description: Account class &gt; The name of the account class.
        active:
          type: boolean
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: 'Reclassification account &gt;  &gt; The cash account that is used to temporary hold payments that came to the bank account but cannot be entered as valid payments because the customer or supplier is unknown.

        The parameter is used together with the Use for payments reclassification check box.'
    vatZoneInEntryTypeDto:
      properties:
        id:
          type: string
          description: Click the magnifier. The identifier for the VAT zone of the supplier, which is specified in the  AP303000 window.
        description:
          type: string
          description: Click the magnifier. The description for the VAT zone of the supplier, which is specified in the  AP303000 window.
        defaultVatCategory:
          type: string
          description: Click the magnifier. The Default VAT category for the VAT zone of the supplier, which is specified in the  AP303000 window.
        defaultTaxCategory:
          $ref: '#/components/schemas/TaxCategoryNumberDescriptionDto'
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: VAT zone &gt; The VAT zone to be used by default with this entry type.
    businessAccountInEntryTypeDto:
      properties:
        type:
          enum:
          - Asset
          - Liability
          - Income
          - Expense
          type: string
          description: Account &gt; The account number.
        externalCode1:
          type: string
          description: Account class &gt; The identifier of the account class.
        externalCode2:
          type: string
          description: Account class &gt; The name of the account class.
        active:
          type: boolean
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: 'Business account &gt; The supplier account, if the entry type is used to record transactions that involve a particular supplier, or the customer account,

        if the entry type is used to record transactions that involve a particular customer.'
    SegmentDto:
      type: object
      properties:
        segmentId:
          type: integer
          description: The Segment values window &gt; The Top part &gt; The ID of the segment.
          format: int32
        segmentDescription:
          type: string
          description: The Segment values window &gt; The Top part &gt; The description of the segment.
        segmentValue:
          type: string
          description: The Segment values window &gt; The table &gt; The value of the segment, alphanumeric.
        segmentValueDescription:
          type: string
          description: The Segment values window &gt; The table &gt; The description of the segment value.
    CashAccountDto:
      type: object
      properties:
        lastModifiedDateTime:
          type: string
          description: A system generated date/time to indicate when the document was last changed.
          format: date-time
        entryTypes:
          type: array
          items:
            $ref: '#/components/schemas/EntryTypeDto'
          description: The Entry types tab &gt;
        currency:
          type: string
        account:
          $ref: '#/components/schemas/accountInCashAccountDto'
        subaccount:
          $ref: '#/components/schemas/subaccountInCashAccountDto'
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
    EntryTypeDto:
      type: object
      properties:
        entryTypeId:
          type: string
          description: Entry type ID* &gt; The entry type, selected by its identifier.
        disableReceipt:
          enum:
          - Disbursement
          - Receipt
          type: string
          description: 'Disb/receipt &gt; The basic type of cash transaction designated by this entry type: Receipt or Disbursement.'
        module:
          type: string
          description: Module &gt; The way the entry type is used in the system.
        defaultOffsetAccountBranch:
          $ref: '#/components/schemas/defaultOffsetAccountBranchInEntryTypeDto'
        defaultOffsetAccount:
          $ref: '#/components/schemas/defaultOffsetAccountInEntryTypeDto'
        defaultOffsetSubaccount:
          $ref: '#/components/schemas/defaultOffsetSubaccountInEntryTypeDto'
        reclasificationAccount:
          $ref: '#/components/schemas/reclasificationAccountInEntryTypeDto'
        businessAccount:
          $ref: '#/components/schemas/businessAccountInEntryTypeDto'
        description:
          type: string
          description: Description &gt; A detailed description of the entry type that is used as transaction description by default.
        useForPaymentsReclasification:
          type: boolean
          description: A check box that you select if this entry type is used to record unknown payments that need to be reclassified later.
        reclasificationAccountOverride:
          $ref: '#/components/schemas/reclasificationAccountOverrideInEntryTypeDto'
        offsetAccountOverride:
          $ref: '#/components/schemas/offsetAccountOverrideInEntryTypeDto'
        offsetSubaccountOverride:
          $ref: '#/components/schemas/offsetSubaccountOverrideInEntryTypeDto'
        offsetAccountBranch:
          $ref: '#/components/schemas/offsetAccountBranchInEntryTypeDto'
        vatZone:
          $ref: '#/components/schemas/vatZoneInEntryTypeDto'
        taxCalculationMode:
          enum:
          - TaxSetting
          - Gross
          - Net
          type: string
          description: Tax calculation mode &gt; The tax calculation mode to be used by default with this entry type
        lastModifiedDateTime:
          type: string
          format: date-time
    accountInCashAccountDto:
      properties:
        type:
          type: string
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: The account added to the cash account.
    offsetSubaccountOverrideInEntryTypeDto:
      properties:
        active:
          type: boolean
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Offset account override &gt; The subaccount for this entry type to be used with this cash account instead of the default offset subaccount specified in the Entry types window.
    offsetAccountBranchInEntryTypeDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: Default offset account branch &gt; The branch to which the overriding offset account belongs.
    defaultOffsetAccountBranchInEntryTypeDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: The branch to which the default offset account belongs.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
