openapi: 3.2.0
info:
  title: Visma.net ERP Currency Rate API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: CurrencyRate
paths:
  /v2/currencyrate:
    get:
      tags:
      - CurrencyRate
      summary: Get all currency rates
      operationId: CurrencyRate_GetAll
      parameters:
      - name: fromDate
        in: query
        description: From effective date.
        schema:
          type: string
          format: date-time
      - name: toDate
        in: query
        description: To effective date.
        schema:
          type: string
          format: date-time
      - name: fromCurrency
        in: query
        description: Identifies from currency.
        schema:
          type: string
      - name: toCurrency
        in: query
        description: Identifies to currency.
        schema:
          type: string
      - name: rateType
        in: query
        description: Identifies rate type.
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CurrencyRateDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CurrencyRateDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CurrencyRateDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CurrencyRateDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - CurrencyRate
      summary: Create currency rate
      description: 'Response Message has StatusCode Created if POST operation succeed.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.


        The response headers include an ETag after a successful POST operation.'
      operationId: CurrencyRate_PostCurrencyRate
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Currency Rate to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCurrencyRateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCurrencyRateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateCurrencyRateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateCurrencyRateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCurrencyRateDto'
        required: true
        x-bodyName: currencyRate
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v2/currencyrate/{currencyRateId}:
    put:
      tags:
      - CurrencyRate
      summary: Update Currency rate
      description: 'Response Message has StatusCode NoContent if PUT operation succeed.


        Response Message has StatusCode BadRequest if PUT operation failed.


        The response headers include an ETag after a successful PUT operation.'
      operationId: CurrencyRate_PutCurrencyRateBycurrencyRateId
      parameters:
      - name: currencyRateId
        in: path
        description: Identifies the currency rate id.
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: Defines the data for the currency rate to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCurrencyRateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCurrencyRateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateCurrencyRateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateCurrencyRateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateCurrencyRateDto'
        required: true
        x-bodyName: currencyRate
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Currency rate version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    toCurrencyIdInCreateCurrencyRateDto:
      properties:
        value:
          type: string
      description: To currency id.
    fromCurrencyIdInCreateCurrencyRateDto:
      properties:
        value:
          type: string
      description: From currency id.
    multDivInUpdateCurrencyRateDto:
      properties:
        value:
          enum:
          - Multiply
          - Divide
          type: string
      description: Mult/Div.
    rateInCreateCurrencyRateDto:
      properties:
        value:
          type: number
          format: double
      description: Currency rate.
    CreateCurrencyRateDto:
      type: object
      properties:
        fromCurrencyId:
          $ref: '#/components/schemas/fromCurrencyIdInCreateCurrencyRateDto'
        toCurrencyId:
          $ref: '#/components/schemas/toCurrencyIdInCreateCurrencyRateDto'
        rateType:
          $ref: '#/components/schemas/rateTypeInCreateCurrencyRateDto'
        effectiveDate:
          $ref: '#/components/schemas/effectiveDateInCreateCurrencyRateDto'
        rate:
          $ref: '#/components/schemas/rateInCreateCurrencyRateDto'
        multDiv:
          $ref: '#/components/schemas/multDivInCreateCurrencyRateDto'
    effectiveDateInCreateCurrencyRateDto:
      properties:
        value:
          type: string
          format: date-time
      description: Currency effective date.
    rateTypeInCreateCurrencyRateDto:
      properties:
        value:
          type: string
      description: Currency rate type.
    rateInUpdateCurrencyRateDto:
      properties:
        value:
          type: number
          format: double
      description: Currency rate.
    CurrencyRateDto:
      type: object
      properties:
        id:
          type: integer
          description: Currency rate Id.
          format: int32
        fromCurrencyId:
          type: string
          description: From Currency Id.
        toCurrencyId:
          type: string
          description: To Currency Id.
        rateType:
          type: string
          description: Currency rate type.
        rate:
          type: number
          description: Currency rate.
          format: double
        effectiveDate:
          type: string
          description: EffectiveDate
          format: date-time
        multDiv:
          type: string
          description: Mult/Div
        rateReciprocal:
          type: number
          description: Rate reciprocal
          format: double
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
    UpdateCurrencyRateDto:
      type: object
      properties:
        rate:
          $ref: '#/components/schemas/rateInUpdateCurrencyRateDto'
        multDiv:
          $ref: '#/components/schemas/multDivInUpdateCurrencyRateDto'
    multDivInCreateCurrencyRateDto:
      properties:
        value:
          enum:
          - Multiply
          - Divide
          type: string
      description: Mult/Div.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
