openapi: 3.2.0
info:
  title: Visma.net ERP Project Budget API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: ProjectBudget
paths:
  /v1/projectbudget:
    get:
      tags:
      - ProjectBudget
      summary: Get a range of Project Budgets - ScreenId=PM309000
      operationId: ProjectBudget_GetAll
      parameters:
      - name: project
        in: query
        description: Identifies the Project
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectBudgetDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectBudgetDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - ProjectBudget
      summary: Creates a Project Budget
      description: Response Message has StatusCode Created if POST operation succeed
      operationId: ProjectBudget_Post
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the ProjectBudget to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectBudgetUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectBudgetUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ProjectBudgetUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProjectBudgetUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProjectBudgetUpdateDto'
        required: true
        x-bodyName: projectBudgetUpdateDto
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/projectbudget/{project}/{projectTask}/{accountGroup}:
    put:
      tags:
      - ProjectBudget
      summary: Update a Project Budget
      description: 'Response Message has StatusCode NoContent if PUT operation succeed


        Response Message has StatusCode BadRequest if PUT operation failed'
      operationId: ProjectBudget_PutByprojectprojectTaskaccountGroup
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: projectTask
        in: path
        required: true
        schema:
          type: string
      - name: accountGroup
        in: path
        required: true
        schema:
          type: string
      - name: inventoryItem
        in: query
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectBudgetUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ProjectBudgetUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ProjectBudgetUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProjectBudgetUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProjectBudgetUpdateDto'
        required: true
        x-bodyName: projectBudgetUpdateDto
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    ProjectBudgetDto:
      type: object
      properties:
        projectID:
          type: string
        projectTaskID:
          type: string
        accountGroupID:
          type: string
        inventoryNumber:
          type: string
        description:
          type: string
        uom:
          type: string
        rate:
          type: number
          format: double
        originalBudgetQty:
          type: number
          format: double
        originalBudgetAmount:
          type: number
          format: double
        revisedBudgetQty:
          type: number
          format: double
        revisedBudgetAmount:
          type: number
          format: double
        actualQty:
          type: number
          format: double
        actualAmount:
          type: number
          format: double
        type:
          type: string
        committedQty:
          type: number
          format: double
        committedAmount:
          type: number
          format: double
        committedOpenQty:
          type: number
          format: double
        committedOpenAmount:
          type: number
          format: double
        committedReceivedQty:
          type: number
          format: double
        committedInvoicedQty:
          type: number
          format: double
        committedInvoicedAmount:
          type: number
          format: double
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    ProjectBudgetUpdateDto:
      type: object
      properties:
        projectID:
          $ref: '#/components/schemas/DtoValueOfString'
        projectTaskID:
          $ref: '#/components/schemas/DtoValueOfString'
        accountGroupID:
          $ref: '#/components/schemas/DtoValueOfString'
        inventoryNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        description:
          $ref: '#/components/schemas/DtoValueOfString'
        uom:
          $ref: '#/components/schemas/DtoValueOfString'
        rate:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        originalBudgetQty:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        originalBudgetAmount:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        revisedBudgetQty:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        revisedBudgetAmount:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
    DtoValueOfString:
      type: object
      properties:
        value:
          type: string
    DtoValueOfNullableOfDecimal:
      type: object
      properties:
        value:
          type: number
          format: double
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
