openapi: 3.2.0
info:
  title: Visma.net ERP Customer Document API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: CustomerDocument
paths:
  /v1/customerdocument:
    get:
      tags:
      - CustomerDocument
      summary: Gets a range of Customer Documents - ScreenId=AR301000 Request page size must…
      description: Data for Customer Document
      operationId: CustomerDocument_GetAllDocuments
      parameters:
      - name: documentType
        in: query
        description: The field is deprecated for specific customer document endpoints. It will only be usable from customer document endpoint.
        schema:
          enum:
          - Invoice
          - DebitNote
          - CreditNote
          - Payment
          - VoidPayment
          - Prepayment
          - Refund
          - FinCharge
          - SmallBalanceWo
          - SmallCreditWo
          - CashSale
          - CashReturn
          - Undefined
          - NoUpdate
          type: string
      - name: released
        in: query
        description: Parameter for showing if invoice has been released or not.
        schema:
          type: integer
          format: int32
      - name: dunningLevel
        in: query
        description: The dunning level of the document.
        schema:
          type: integer
          format: int32
      - name: closedFinancialPeriod
        in: query
        description: The date of the closing of the financial period.
        schema:
          type: string
      - name: dunningLetterDateTime
        in: query
        description: The date and time for when the document last released a dunning letter.
        schema:
          type: string
      - name: dunningLetterDateTimeCondition
        in: query
        description: Set time/date as before (&lt;), after (&gt;), before and including (=&lt;) OR after and including (=&gt;) to filter on time frame.
        schema:
          type: string
      - name: project
        in: query
        description: The project with which the document is associated.
        schema:
          type: string
      - name: expandApplications
        in: query
        description: True if you want to see all dunning information regarding this document.
        schema:
          type: boolean
      - name: expandDunningInformation
        in: query
        schema:
          type: boolean
      - name: expandAttachments
        in: query
        description: True if you want to see all attachments regarding this document.
        schema:
          type: boolean
      - name: expandTaxDetails
        in: query
        description: True if you want to see all VAT details regarding this document.
        schema:
          type: boolean
      - name: expandInvoiceAddress
        in: query
        description: True if you want to see all information regarding the invoice address for this document.
        schema:
          type: boolean
      - name: financialPeriod
        in: query
        description: The financial period to which the transactions recorded in the document is posted. Format YYYYMM.
        schema:
          type: string
      - name: documentDueDate
        in: query
        description: The date when payment for the document is due, in accordance with the credit terms.
        schema:
          type: string
          format: date-time
      - name: documentDueDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Due Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal'
        schema:
          type: string
      - name: status
        in: query
        description: The status of the document. Use the dropdown to select status.
        schema:
          enum:
          - Hold
          - Balanced
          - Voided
          - Scheduled
          - Open
          - Closed
          - PendingPrint
          - PendingEmail
          - CreditHold
          - CcHold
          - Reserved
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: externalReference
        in: query
        description: The top part &gt; External reference &gt; The external reference used in AutoInvoice.
        schema:
          type: string
      - name: paymentReference
        in: query
        description: The top part &gt; Payment ref. &gt; The reference number of the document, as automatically generated by the system in accordance with the number series assigned to cash sales in the Customer ledger preferences window..
        schema:
          type: string
      - name: customerRefNumber
        in: query
        description: The top part &gt; External reference &gt; The external reference used in AutoInvoice.
        schema:
          type: string
      - name: customer
        in: query
        description: Filter by Customer
        schema:
          type: string
      - name: branch
        in: query
        description: Filter by Branch
        schema:
          type: string
      - name: documentDate
        in: query
        description: 'This value indicates the document date. Use it to retrieve all records that have the Document Date since that time, up to the future.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```


          _Note:_ __DocumentDate__ and __DocumentDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
          format: date-time
      - name: documentDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Document Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __DocumentDate__ and __DocumentDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: greaterThanValue
        in: query
        description: Greater than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerDocumentDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerDocumentDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    branchInCustomerDocumentDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: Branch is deprecated, please use BranchNumber instead.
    locationInCustomerDocumentDto:
      properties:
        countryId:
          type: string
          description: Location*.
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: 'The top part &gt; Location &gt; The location of the customer related to the document. By default, it is the default

        location of the selected customer or, if the invoice is created from an opportunity,

        it is the customer location specified for the opportunity.'
    accountInCustomerDocumentDto:
      properties:
        type:
          enum:
          - Asset
          - Liability
          - Income
          - Expense
          type: string
          description: Account &gt; The account number.
        externalCode1:
          type: string
          description: Account class &gt; The identifier of the account class.
        externalCode2:
          type: string
          description: Account class &gt; The name of the account class.
        active:
          type: boolean
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: The Document details tab &gt;  Account * &gt; The sales account used for the transaction.
    CustomerDocumentDto:
      type: object
      properties:
        documentDueDate:
          type: string
          format: date-time
        branch:
          $ref: '#/components/schemas/branchInCustomerDocumentDto'
        customer:
          $ref: '#/components/schemas/customerInCustomerDocumentDto'
        documentType:
          enum:
          - Invoice
          - DebitNote
          - CreditNote
          - Payment
          - VoidPayment
          - Prepayment
          - Refund
          - FinCharge
          - SmallBalanceWo
          - SmallCreditWo
          - CashSale
          - CashReturn
          - Undefined
          - NoUpdate
          type: string
          description: 'The top part &gt; Type &gt; The document type. The following types are available: invoice, debit note, credit note, overdue charge, credit write-off'
        referenceNumber:
          type: string
          description: The Top part &gt; Ref. no. &gt; The reference number of the customer ledger document in the system.
        postPeriod:
          type: string
          description: The top part &gt; Post period &gt; The period to which the document should be posted. Format YYYYMM.
        financialPeriod:
          type: string
          description: The financial period to which the transactions recorded in the document should be posted. Format YYYYMM.
        closedFinancialPeriod:
          type: string
          description: Format YYYYMM.
        documentDate:
          type: string
          description: 'The top part &gt; Date* &gt; The date when the customer ledger document was created.

            By default, for a new document, it is the current business date, but you can change the date.'
          format: date-time
        origInvoiceDate:
          type: string
          description: 'The top part &gt; Orig invoice date &gt; The date based on which the Due date and Cash discount date is calculated. Only used if setting "Use Orig Invoice Date" is active in AR Preferences.

            By default, for a new document, it is the current business date, but you can change the date.'
          format: date-time
        status:
          enum:
          - Hold
          - Balanced
          - Voided
          - Scheduled
          - Open
          - Closed
          - PendingPrint
          - PendingEmail
          - CreditHold
          - CcHold
          - Reserved
          type: string
          description: 'The top part &gt; Status &gt; The status of the document, which can be one of the following: Hold, Balanced, Voided, Scheduled, Open, Closed, Pending print, Pending email.'
        currencyId:
          type: string
          description: The top part &gt; Currency &gt; The currency of the document. By default, it is the customer’s default currency,but it can be changed if the Allow Currency Override check box is selected in the AR303000 window.
        amount:
          type: number
          description: 'The top part &gt; Amount &gt; The amount paid by the document. The value appears for new documents if the Validate document totals on entry check box is selected on the AR101000 window.

            If the check box is cleared, then the value appears when the document status is Open.'
          format: double
        amountInCurrency:
          type: number
          description: Background calculation giving you the Amount in your default currency. This field is applicable if the amount is given in a another currency than your default.
          format: double
        balance:
          type: number
          description: "The top part &gt; Balance &gt; For an open customer ledger document, the balance after any cash discount was taken. \nFor a document used in the application process, this is the balance after the payments were applied."
          format: double
        balanceInCurrency:
          type: number
          description: Background calculation giving you the Balance in your default currency. This field is applicable if the amount is given in a another currency than your default.
          format: double
        cashDiscount:
          type: number
          description: The top part &gt; Cash discount &gt; The cash discount amount that has been or will be taken on the document, which the system calculates based on the specified credit terms.
          format: double
        cashDiscountInCurrency:
          type: number
          description: Background calculation giving you the Cash discount in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        paymentMethod:
          $ref: '#/components/schemas/paymentMethodInCustomerDocumentDto'
        customerRefNumber:
          type: string
          description: The top part &gt; External reference &gt; The external reference used in AutoInvoice.
        invoiceText:
          type: string
          description: The top part &gt; Invoice text &gt; Any user-provided description of the customer ledger document.
        lastModifiedDateTime:
          type: string
          description: System generated field for last modification date/time of document.
          format: date-time
        createdDateTime:
          type: string
          description: The Attachments tab &gt; Creation time &gt; The date the attachment was created.
          format: date-time
        note:
          type: string
          description: Icon Notes on top of the window &gt; Pop-up window for providing any user-defined text connected to the document.
        vatTotal:
          type: number
          description: The top part &gt; VAT total &gt; The VAT amount of the document, as defined on the VAT details tab.
          format: double
        vatTotalInCurrency:
          type: number
          description: Background calculation giving you the VAT total in your default currency. This field is applicable if the amount is given in a another currency than your default.
          format: double
        location:
          $ref: '#/components/schemas/locationInCustomerDocumentDto'
        branchNumber:
          $ref: '#/components/schemas/branchNumberInCustomerDocumentDto'
        cashAccount:
          type: string
          description: Financial details tab &gt; The payment information section &gt; Cash account &gt; The cash account associated with the payment method.
        project:
          $ref: '#/components/schemas/projectInCustomerDocumentDto'
        account:
          $ref: '#/components/schemas/accountInCustomerDocumentDto'
        subaccount:
          $ref: '#/components/schemas/subaccountInCustomerDocumentDto'
        customerProject:
          type: string
          description: The top part &gt; Customer project no. &gt; The customer project no. used in AutoInvoice.
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    paymentMethodInCustomerDocumentDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The Financial details tab &gt; The Payment information section &gt; Payment method &gt; The identifier for the payment method that the customer will use to pay the document.
    customerInCustomerDocumentDto:
      properties:
        number:
          type: string
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: The top part &gt; Customer &gt; The customer associated with the document.
    SegmentDto:
      type: object
      properties:
        segmentId:
          type: integer
          description: The Segment values window &gt; The Top part &gt; The ID of the segment.
          format: int32
        segmentDescription:
          type: string
          description: The Segment values window &gt; The Top part &gt; The description of the segment.
        segmentValue:
          type: string
          description: The Segment values window &gt; The table &gt; The value of the segment, alphanumeric.
        segmentValueDescription:
          type: string
          description: The Segment values window &gt; The table &gt; The description of the segment value.
    subaccountInCustomerDocumentDto:
      properties:
        subaccountNumber:
          type: string
          description: 'Mandatory field: Subaccount* &gt; The subaccount number. Format 9-XX.'
        subaccountId:
          type: integer
          description: SubID &gt; The  identifier of the subaccount.
          format: int32
        description:
          type: string
          description: Description &gt; The description of the identifier.
        lastModifiedDateTime:
          type: string
          description: System generated information.
          format: date-time
        active:
          type: boolean
          description: Active &gt; The status of the identifier.
        segments:
          type: array
          items:
            $ref: '#/components/schemas/SegmentDto'
          description: Segments are entities that you use to define the structure of IDs for the subaccount.  This information is collected from window CS202000.
        timeStamp:
          type: string
          description: The timestamp of the subaccount, used for concurrency control.
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: The Document details tab &gt; Subaccount* &gt; The corresponding subaccount used for this transaction.
    projectInCustomerDocumentDto:
      properties:
        internalId:
          type: integer
          description: The internal identifier.
          format: int32
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The top part &gt; Project* &gt; The identifier and description of the project with which this document is associated, or the code indicating that this document is not associated with any project; the non-project code is specified in the Project accounting preferences (PM101000) window.
    branchNumberInCustomerDocumentDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: The Financial details tab &gt; Branch &gt; The branch with which this invoice or memo is associated. The field is available if your company is set up with branches.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
