openapi: 3.2.0
info:
  title: Visma.net ERP Packaging Type API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: PackagingType
paths:
  /v1/packagingType/{boxId}:
    get:
      tags:
      - PackagingType
      summary: Get a specific PackagingType
      operationId: PackagingType_GetByboxId
      parameters:
      - name: boxId
        in: path
        description: Identifies the PackagingType
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackagingTypeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/PackagingTypeDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/packagingType:
    get:
      tags:
      - PackagingType
      summary: Get a range of SO PackagingTypes - ScreenId=CS207600
      operationId: PackagingType_GetAllPackagingTypes
      parameters:
      - name: greaterThanValue
        in: query
        description: This field has been deprecated and will be removed in future versions.
        schema:
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions.
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        description: This field has been deprecated and will be removed in future versions. The OrderBy parameter has no effect on the result.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackagingTypeDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackagingTypeDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    PackagingTypeDto:
      type: object
      properties:
        boxId:
          type: string
          description: 'Mandatory field: The table &gt; Box ID* &gt; The ID of the type of box.'
        description:
          type: string
          description: The table &gt; Description &gt; A description of the box.
        boxWeight:
          type: number
          description: The table &gt; Tare weight &gt; The weight of an empty box of this type, which may include the weight of any packaging material used to pack items inside the box.
          format: double
        maxWeight:
          type: number
          description: The table &gt; Max weight &gt; The maximum weight a box of the type can hold.
          format: double
        weightUoM:
          type: string
          description: The table &gt; Weight UoM &gt; The unit of measure used for the weight.
        maxVolume:
          type: number
          description: The table &gt; Max. volume &gt; The maximum volume of items that can fit into a package of the type.
          format: double
        volumeUoM:
          type: string
          description: The table &gt; Volume UoM &gt; The unit of measure used for the volume as specified in the Inventory preferences (IN101000) window.
        length:
          type: integer
          description: The table &gt; Length &gt; The length of the package.
          format: int32
        width:
          type: integer
          description: The table &gt; Width &gt; The width of the package.
          format: int32
        height:
          type: integer
          description: The table &gt; Height &gt; The height of the package.
          format: int32
        activeByDefault:
          type: boolean
          description: The table &gt; Active by default &gt; If you select this check box, the package will be added by default to the list of packages for each new ship via code.
        lastModifiedDateTime:
          type: string
          description: The table &gt; The date and time when the type was last modified.
          format: date-time
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents a PackagingType in PackagingTypeController. Used by getting data.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
