openapi: 3.2.0
info:
  title: Visma.net ERP Inventory Issue API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: InventoryIssue
paths:
  /v1/inventoryissue/{inventoryIssueNumber}:
    get:
      tags:
      - InventoryIssue
      summary: Get a specific Inventory Issue document
      operationId: InventoryIssue_GetByinventoryIssueNumber
      parameters:
      - name: inventoryIssueNumber
        in: path
        description: Identifies the Inventory Issue document
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryIssueDto'
            text/json:
              schema:
                $ref: '#/components/schemas/InventoryIssueDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - InventoryIssue
      summary: Update a specific inventory item
      description: Response Message has StatusCode NoContent if PUT operation succeed
      operationId: InventoryIssue_PutByinventoryIssueNumber
      parameters:
      - name: inventoryIssueNumber
        in: path
        description: Identifies the inventory item to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: The data to update for inventory item
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryIssueUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/InventoryIssueUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/InventoryIssueUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/InventoryIssueUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InventoryIssueUpdateDto'
        required: true
        x-bodyName: issue
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventoryissue:
    get:
      tags:
      - InventoryIssue
      summary: Get a range of Inventory items - ScreenId=IN302000 Request page size must be…
      operationId: InventoryIssue_GetAll
      parameters:
      - name: status
        in: query
        schema:
          enum:
          - Hold
          - Balanced
          - Released
          type: string
      - name: date
        in: query
        description: "The date when the inventory document was created\n            \nAccepted format:\n* ```yyyy-MM-dd```\n* ```yyyy-MM-dd HH:mm:ss```\n* ```yyyy-MM-dd HH:mm:ss.FFF```\n* ```yyyy-MM-ddTHH:mm:ss```\n* ```yyyy-MM-ddTHH:mm:ss.FFF```\n\n_Note:_ __Date__ and __DateCondition__ are __mutually inclusive__."
        schema:
          type: string
      - name: dateCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records usind the __Date__ filter.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __Date__ and __DateCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: greaterThanValue
        in: query
        schema:
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        description: This field has been deprecated and will be removed in future versions. The OrderBy parameter has no effect on the result.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryIssueDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryIssueDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - InventoryIssue
      summary: Create an inventory item
      description: Response Message has StatusCode Created if POST operation succed
      operationId: InventoryIssue_Post
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Define the data for the inventory issue to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryIssueUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/InventoryIssueUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/InventoryIssueUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/InventoryIssueUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InventoryIssueUpdateDto'
        required: true
        x-bodyName: inventoryIssue
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/inventoryissue/{invoiceNumber}/action/release:
    post:
      tags:
      - InventoryIssue
      summary: Release inventory operation
      description: The action result dto contains information about the result of running the action
      operationId: InventoryIssue_ReleaseDocumentByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Reference number of the released issue to be released
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseInventoryDocumentActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/ReleaseInventoryDocumentActionResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReleaseInventoryDocumentActionResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ReleaseInventoryDocumentActionResultDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    locationInInventoryIssueLineDto:
      properties:
        countryId:
          type: string
          description: Location*.
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: Location &gt; The warehouse location from which the goods are transferred.
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    InventoryIssueLineDto:
      type: object
      properties:
        transactionType:
          enum:
          - Issue
          - Return
          - Invoice
          - DebitNote
          - CreditNote
          type: string
          description: 'Trans. type &gt; The type of inventory issue transaction. Select one of the following types: Issue, Return, Invoice, Debit note, Credit note.'
        warehouse:
          $ref: '#/components/schemas/warehouseInInventoryIssueLineDto'
        unitCost:
          type: number
          description: Unit cost &gt; The cost of the specified unit of this stock item.
          format: double
        extCost:
          type: number
          description: Ext. cost &gt; The extended cost of the specified stock item. An extended cost is calculated automatically as the unit cost multiplied by the quantity of units involved in this transaction.
          format: double
        unitPrice:
          type: number
          description: Unit price &gt; The price of the specified unit of this stock item.
          format: double
        extPrice:
          type: number
          description: Ext. price &gt; The extended price of the specified stock item, calculated automatically as the unit price multiplied by the quantity of the stock item involved in the inventory issue operation.
          format: double
        project:
          $ref: '#/components/schemas/projectInInventoryIssueLineDto'
        projectTask:
          $ref: '#/components/schemas/projectTaskInInventoryIssueLineDto'
        lotSerialNumber:
          type: string
        expirationDate:
          type: string
          format: date-time
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/INAllocationsDto'
        poReceiptNumber:
          type: string
          description: Purchase order receipt number
        lineNumber:
          type: integer
          format: int32
        inventoryItem:
          $ref: '#/components/schemas/inventoryItemInInventoryIssueLineDto'
        location:
          $ref: '#/components/schemas/locationInInventoryIssueLineDto'
        quantity:
          type: number
          description: Quantity &gt; The quantity of the transferred goods (in the units indicated below).
          format: double
        uom:
          type: string
          description: 'Mandatory field: UoM* &gt; The unit of measure (UoM) used for the goods to be transferred.'
        reasonCode:
          $ref: '#/components/schemas/reasonCodeInInventoryIssueLineDto'
        description:
          type: string
          description: Description &gt; A brief description of the goods transfer transaction.
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDto'
        branchNumber:
          $ref: '#/components/schemas/BranchNumberDto'
    AttachmentDto:
      type: object
      properties:
        name:
          type: string
          description: The name of the attachment.
        id:
          type: string
          description: The ID of the attachment
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        revision:
          type: integer
          description: The version of the attachment.
          format: int32
    DtoValueOfNullableOfDateTime:
      type: object
      properties:
        value:
          type: string
          format: date-time
    LocationDescriptionDto:
      type: object
      properties:
        countryId:
          type: string
          description: Location*.
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
    branchNumberInInventoryIssueUpdateDto:
      properties:
        value:
          type: string
      description: The Branch associated
    holdInInventoryIssueUpdateDto:
      properties:
        value:
          type: boolean
      description: A check box that you select to give the receipt the On Hold status. Clear the check box to save the receipt with the Balanced status.
    externalReferenceInInventoryIssueUpdateDto:
      properties:
        value:
          type: string
      description: The external reference number of the inventory issue document (for example, the vendor’s reference code).
    postPeriodInInventoryIssueUpdateDto:
      properties:
        value:
          type: string
      description: The financial period to which the transactions recorded in the document should be posted. Use the format MMYYYY.
    projectInInventoryIssueLineDto:
      properties:
        internalId:
          type: integer
          description: The internal identifier.
          format: int32
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Project
    controlQuantityInInventoryIssueUpdateDto:
      properties:
        value:
          type: number
          format: double
      description: The manually entered quantity of inventory items. Control Qty. is available only if the Validate Document Totals on Entry option is selected on the Inventory Preferences form. If the Control Qty. and Total Qty.values do not match, the system generates a warning message and the issue cannot be saved.
    dateInInventoryIssueUpdateDto:
      properties:
        value:
          type: string
          format: date-time
      description: The date when the receipt was created. All transactions included in this document will have this transaction date.
    projectTaskInInventoryIssueLineDto:
      properties:
        internalId:
          type: integer
          description: The internal identifier.
          format: int32
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Project Task
    INAllocationsDto:
      type: object
      properties:
        lineNbr:
          type: integer
          format: int32
        location:
          $ref: '#/components/schemas/LocationDescriptionDto'
        lotSerialNumber:
          type: string
        quantity:
          type: number
          format: double
        uom:
          type: string
        expirationDate:
          type: string
          format: date-time
      description: This class represents Allocation/Kit Allocation. Used for getting data.
    DtoValueOfInt32:
      type: object
      properties:
        value:
          type: integer
          format: int32
    DtoValueOfNullableOfInventoryTransactionType:
      type: object
      properties:
        value:
          enum:
          - Issue
          - Return
          - Invoice
          - DebitNote
          - CreditNote
          type: string
    descriptionInInventoryIssueUpdateDto:
      properties:
        value:
          type: string
      description: A brief description of the inventory issue or its transactions.
    BranchNumberDto:
      type: object
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    controlAmountInInventoryIssueUpdateDto:
      properties:
        value:
          type: number
          format: double
      description: The manually entered summary amount for all specified inventory items. Control Amount is available only if the Validate Document Totals on Entry option is selected on the Inventory Preferences form. If the Control Amount and Total Amount values do not match, the system generates a warning message and the issue cannot be saved.
    referenceNumberInInventoryIssueUpdateDto:
      properties:
        value:
          type: string
      description: The unique reference number of the receipt, which the system automatically assigns according to the numbering sequence selected for receipts on the Inventory Preferences IN.10.10.00) form.
    DtoValueOfString:
      type: object
      properties:
        value:
          type: string
    InventoryIssueDto:
      type: object
      properties:
        totalAmount:
          type: number
          description: The top part &gt; Total amount &gt; The total amount, calculated as a sum of amounts for all inventory issue operations included in this issue document.
          format: double
        controlAmount:
          type: number
          description: The top part &gt; Control amount &gt; The manually entered summary amount for all specified inventory items. Control Amount is available only if the Validate Document Totals on Entry option is selected on the Inventory Preferences form. If the Control Amount and Total Amount values do not match, the system generates a warning message and the issue cannot be saved.
          format: double
        issueLines:
          type: array
          items:
            $ref: '#/components/schemas/InventoryIssueLineDto'
          description: Transaction details tab &gt;
        referenceNumber:
          type: string
          description: The unique reference number of the receipt, which the system automatically assigns according to the numbering sequence selected for receipts on the Inventory Preferences IN.10.10.00) form.
        status:
          enum:
          - Hold
          - Balanced
          - Released
          type: string
          description: " The current status of the receipt. The following options are available: \nOn Hold:The receipt/issue is a draft and can be edited. Receipts with this status cannot be released.\nBalanced: The receipt/issue data has been validated by the system and the receipt can be released. It also can be modified or deleted, but changes can be saved only if the receipt is balanced.\nReleased: The receipt/issue has been released and cannot be edited or deleted."
        hold:
          type: boolean
          description: A check box that you select to give the receipt the On Hold status. Clear the check box to save the receipt with the Balanced status.
        date:
          type: string
          description: The date when the inventory document was created. All transactions included in this document will have this transaction date.
          format: date-time
        postPeriod:
          type: string
          description: The financial period to which the transactions recorded in the document should be posted. Format MMYYYY.
        externalReference:
          type: string
          description: The external reference number of the inventory issue document (for example, the vendor’s reference code).
        description:
          type: string
          description: A brief description of the inventory issue or its transactions.
        totalQuantity:
          type: number
          description: The total quantity of inventory items, which the system calculates automatically, for the document.
          format: double
        controlQuantity:
          type: number
          description: The manually entered quantity of inventory items. Control Qty. is available only if the Validate Document Totals on Entry option is selected on the Inventory Preferences form. If the Control Qty. and Total Qty.values do not match, the system generates a warning message and the issue cannot be saved.
          format: double
        batchNumber:
          type: string
          description: The reference number of the batch generated for the receipt. Click the number to open the Journal Transactions (GL.30.10.00) form and view the details of the transactions.
        lastModifiedDateTime:
          type: string
          description: The date when the document was last modified.
          format: date-time
        branchNumber:
          $ref: '#/components/schemas/branchNumberInInventoryIssueDto'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDto'
          description: The data containing information about the document attachments
        timestamp:
          type: string
          description: Timestamp of the inventory document
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents a inventory issue in InventoryIssueController. Used by getting data.
    DtoValueOfNullableOfDecimal:
      type: object
      properties:
        value:
          type: number
          format: double
    ReleaseInventoryDocumentActionResultDto:
      type: object
      properties:
        actionId:
          type: string
          format: uuid
        actionResult:
          enum:
          - Queued
          - InProcess
          - Failed
          - Done
          type: string
        errorInfo:
          type: string
    InventoryIssueLineUpdateDto:
      type: object
      properties:
        warehouseId:
          $ref: '#/components/schemas/DtoValueOfString'
        unitCost:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        extCost:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        unitPrice:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        extPrice:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        tranType:
          $ref: '#/components/schemas/DtoValueOfNullableOfInventoryTransactionType'
        lotSerialNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        expirationDate:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/INAllocationsUpdateDto'
        costCode:
          $ref: '#/components/schemas/DtoValueOfString'
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        lineNumber:
          $ref: '#/components/schemas/DtoValueOfInt32'
        inventoryNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        locationId:
          $ref: '#/components/schemas/DtoValueOfString'
        quantity:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        uom:
          $ref: '#/components/schemas/DtoValueOfString'
        reasonCode:
          $ref: '#/components/schemas/DtoValueOfString'
        projectId:
          $ref: '#/components/schemas/DtoValueOfString'
        projectTaskId:
          $ref: '#/components/schemas/DtoValueOfString'
        description:
          $ref: '#/components/schemas/DtoValueOfString'
        branchNumber:
          $ref: '#/components/schemas/DtoValueOfString'
    InventoryIssueUpdateDto:
      type: object
      properties:
        controlAmount:
          $ref: '#/components/schemas/controlAmountInInventoryIssueUpdateDto'
        issueLines:
          type: array
          items:
            $ref: '#/components/schemas/InventoryIssueLineUpdateDto'
          description: The inventory issue lines
        referenceNumber:
          $ref: '#/components/schemas/referenceNumberInInventoryIssueUpdateDto'
        hold:
          $ref: '#/components/schemas/holdInInventoryIssueUpdateDto'
        date:
          $ref: '#/components/schemas/dateInInventoryIssueUpdateDto'
        postPeriod:
          $ref: '#/components/schemas/postPeriodInInventoryIssueUpdateDto'
        externalReference:
          $ref: '#/components/schemas/externalReferenceInInventoryIssueUpdateDto'
        description:
          $ref: '#/components/schemas/descriptionInInventoryIssueUpdateDto'
        controlQuantity:
          $ref: '#/components/schemas/controlQuantityInInventoryIssueUpdateDto'
        branchNumber:
          $ref: '#/components/schemas/branchNumberInInventoryIssueUpdateDto'
      description: This class represents a inventory issue in InventoryIssueController. Used by getting data.
    reasonCodeInInventoryIssueLineDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Reason code &gt; The reason code associated with the transferred goods.
    branchNumberInInventoryIssueDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: The Branch associated
    INAllocationsUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
          description: The operation &gt;  Insert=1, Update=2, Delete=3
        lineNbr:
          $ref: '#/components/schemas/DtoValueOfInt32'
        location:
          $ref: '#/components/schemas/DtoValueOfString'
        lotSerialNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        quantity:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        uom:
          $ref: '#/components/schemas/DtoValueOfString'
        expirationDate:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
      description: This class represents a Kit Allocations from Kit Assembly. Used to add/update data.
    warehouseInInventoryIssueLineDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Mandatory field: Warehouse &gt; (This column appears only if the Warehouses functionality is enabled in your system.) The warehouse from which the item is issued.'
    inventoryItemInInventoryIssueLineDto:
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: 'Mandatory field: Item ID* &gt; The ID of the goods to be transferred.'
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
