openapi: 3.2.0
info:
  title: Visma.net ERP Customer V2 API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: CustomerV2
paths:
  /v2/customer/balance:
    get:
      tags:
      - CustomerV2
      summary: Get the balance for one or multiple customers
      operationId: CustomerV2_GetAllCustomerBalance
      parameters:
      - name: branchNumber
        in: query
        description: Filter by Branch
        schema:
          type: string
      - name: customer
        in: query
        description: Filter by Customer
        schema:
          type: string
      - name: fromFinPeriod
        in: query
        description: 'Filter from financial period, format YYYYPP

          The filte is inclusive, the records for the specified period will be included in the results.

          This filter is required.'
        required: true
        schema:
          type: string
      - name: toFinPeriod
        in: query
        description: 'Filter to financial period, format YYYYPP

          The filte is inclusive, the records for the specified period will be included in the results.

          This filter is required.'
        required: true
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerBalanceV2Dto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerBalanceV2Dto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerBalanceV2Dto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerBalanceV2Dto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    CustomerBalanceV2Dto:
      type: object
      properties:
        branchNumber:
          $ref: '#/components/schemas/branchNumberInCustomerBalanceV2Dto'
        customer:
          $ref: '#/components/schemas/customerInCustomerBalanceV2Dto'
        beginBalance:
          type: number
          description: Begin balance
          format: double
        sales:
          type: number
          description: Purchases
          format: double
        paymentsAndPrepayments:
          type: number
          description: Payments and prepayments
          format: double
        adjustmentsAndDiscounts:
          type: number
          description: Adjustments and discounts
          format: double
        overdueCharges:
          type: number
          description: Overdue charges
          format: double
        yearToDateBalance:
          type: number
          description: Year to date balance
          format: double
      description: CustomerBalanceV2Dto
    customerInCustomerBalanceV2Dto:
      properties:
        internalId:
          type: integer
          format: int32
        number:
          type: string
          description: The identifier of the particular destination of the selected type.
        name:
          type: string
          description: The name of the particular destination of the selected type.
      description: Customer
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    branchNumberInCustomerBalanceV2Dto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: Branch
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
