openapi: 3.2.0
info:
  title: Bookkeeping & Invoicing/eAccounting API V2 Delivery Terms…
  description: 'Visit our complete Bookkeeping & Invoicing/eAccounting API docs for how to get started, information about authentication, error handling, query customization and more.


    ✉ API Support'
  version: v2
servers:
- url: https://eaccountingapi.vismaonline.com/v2/
tags:
- name: Delivery Terms
  description: 'Conditions that define risks and responsibilities during delivery.


    ___


    Available in any of the following variants:

    * Pro

    * Standard

    * Invoicing

    * Solo'
paths:
  /deliveryterms:
    get:
      tags:
      - Delivery Terms
      summary: Get delivery terms
      description: 'Get all delivery terms, or add query parameters to filter the results. The response will include a list of delivery terms with their details, such as name, English name and code.


        ___

        Requires any of the following scopes:

        * ea:sales

        * ea:sales_readonly'
      responses:
        '200':
          description: Request successfull
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfDeliveryTermApi'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
      operationId: getDeliveryterms
      x-operation-id-source: derived
    post:
      tags:
      - Delivery Terms
      summary: Create a delivery term
      description: 'Create a new delivery term.


        ___

        Requires any of the following scopes:

        * ea:sales

        * ea:sales_readonly'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryTermApi'
      responses:
        '200':
          description: Request successfull
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryTermApi'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
      operationId: postDeliveryterms
      x-operation-id-source: derived
  /deliveryterms/{deliveryTermId}:
    get:
      tags:
      - Delivery Terms
      summary: Get a specific delivery term based on id
      description: 'Get a specific delivery term by its unique identifier. The response will include the delivery term details, such as name, English name and code.


        ___

        Requires any of the following scopes:

        * ea:sales

        * ea:sales_readonly'
      parameters:
      - name: deliveryTermId
        in: path
        description: This represents the Id of the delivery term.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Request successfull
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryTermApi'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
      operationId: getDeliverytermsByDeliveryTermId
      x-operation-id-source: derived
components:
  schemas:
    CommonExtendedBadRequest:
      type: object
      properties:
        ErrorCode:
          type: integer
          format: int32
        DeveloperErrorMessage:
          type:
          - string
          - 'null'
        ErrorId:
          type: string
          format: uuid
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CommonError'
      additionalProperties: false
    CommonPaginationMetadata:
      required:
      - CurrentPage
      - PageSize
      - ServerTimeUtc
      - TotalNumberOfPages
      - TotalNumberOfResults
      type: object
      properties:
        CurrentPage:
          type: integer
          description: The current page number
          format: int32
        PageSize:
          type: integer
          description: The number of results per page
          format: int32
        TotalNumberOfPages:
          type: integer
          description: The total number of pages available
          format: int32
        TotalNumberOfResults:
          type: integer
          description: The total number of results available for the query
          format: int32
        ServerTimeUtc:
          type: string
          description: <strong>Possible values:</strong><br/>2017-07-21T17:32:28Z<br/><br/>The date-time notation as defined by RFC 3339, section 5.6.
          format: date-time
      additionalProperties: false
    PaginatedResponseOfDeliveryTermApi:
      required:
      - Data
      - Meta
      type: object
      properties:
        Meta:
          $ref: '#/components/schemas/CommonPaginationMetadata'
        Data:
          type: array
          items:
            $ref: '#/components/schemas/DeliveryTermApi'
      additionalProperties: false
    CommonError:
      type: object
      properties:
        Field:
          type:
          - string
          - 'null'
        ErrorCode:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Key:
          type:
          - string
          - 'null'
      additionalProperties: false
    DeliveryTermApi:
      required:
      - Name
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier for the delivery term
          format: uuid
          readOnly: true
        Name:
          maxLength: 100
          minLength: 0
          type: string
          description: Name of the delivery term
        NameEnglish:
          maxLength: 200
          minLength: 0
          type:
          - string
          - 'null'
          description: English name of the delivery term
        Code:
          maxLength: 20
          minLength: 0
          type:
          - string
          - 'null'
          description: Code of the delivery term
        Editable:
          type: boolean
          description: Indicates if this delivery term is editable or not
      additionalProperties: false
x-tagGroups:
- name: Sales
  tags:
  - ArticleLabels
  - Articles
  - CustomerInvoiceDrafts
  - CustomerInvoiceOffsets
  - CustomerInvoices
  - CustomerInvoiceValuationHistories
  - CustomerLabels
  - CustomerLedgerItems
  - Customers
  - DeliveryMethods
  - DeliveryTerms
  - DiscountAgreements
  - Orders
  - QuoteDrafts
  - Quotes
  - SalesPriceLists
  - TermsOfPayment
  - WebshopOrders
- name: Purchase
  tags:
  - BankAccounts
  - ForeignPaymentCodes
  - PurchaseReceiptDrafts
  - SupplierInvoiceDrafts
  - SupplierInvoices
  - SupplierInvoiceValuationHistories
  - SupplierLedgerItems
  - Suppliers
- name: Common
  tags:
  - Approval
  - AppStoreActivationStatus
  - AttachmentLinks
  - Attachments
  - AutoInvoice
  - Bank
  - Charts
  - CompanySettings
  - Company
  - Countries
  - Currencies
  - Documents
  - IdentityLookup
  - MessageThreads
  - Mobile
  - Notes
  - PartnerResourceLinks
  - SalesDocumentAttachments
  - Trials
  - Units
  - Users
  - VoTokenValidation
  - WebHooks
  - Zapier
- name: Accounting
  tags:
  - AccountBalance
  - Accounts
  - AccountTypes
  - AllocationPeriods
  - ArticleAccountCodings
  - BankTransactions
  - CostCenterItems
  - CostCenters
  - FiscalYears
  - InventoryItems
  - PaymentVoucher
  - Projects
  - SieFileImportExport
  - VatCode
  - VatReport
  - VoucherDrafts
  - Vouchers
  - VoucherWithOverunderPayment
