openapi: 3.2.0
info:
  title: Visma.net ERP Vat Category API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: VatCategory
paths:
  /v1/vatCategory/{taxCategoryId}:
    get:
      tags:
      - VatCategory
      summary: Get a specific VatCategory
      operationId: VatCategory_GetVatCategoryBytaxCategoryId
      parameters:
      - name: taxCategoryId
        in: path
        description: Identifies the VatCategory
        required: true
        schema:
          type: string
      - name: vendorCd
        in: query
        description: Optional vendor number (tax agency) parameter
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VatCategoryDto'
            text/json:
              schema:
                $ref: '#/components/schemas/VatCategoryDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/VatCategoryDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/VatCategoryDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/vatCategory:
    get:
      tags:
      - VatCategory
      summary: Get a range of VatCategories - ScreenId=TX205500
      operationId: VatCategory_GetAllVatCategories
      parameters:
      - name: vendorCd
        in: query
        description: The vendor number associated with the VAT category line.
        schema:
          type: string
      - name: greaterThanValue
        in: query
        description: Greater than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VatCategoryDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VatCategoryDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VatCategoryDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VatCategoryDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    VatCategoryLineDto:
      type: object
      properties:
        vatId:
          type: string
          description: 'Mandatory field: VAT ID* &gt; The ID of the VAT included in the category.'
        vendorCd:
          type: string
          description: Vendor code &gt; The vendor number associated with the VAT category line.
        description:
          type: string
          description: Description &gt; The detailed description of the VAT item.
        type:
          enum:
          - Sales
          - Use
          - Vat
          - Withholding
          - ExemptVat
          - StatisticalVat
          - DirectVat
          - PendingVat
          - ReverseVat
          type: string
          description: VAT type &gt; The type of VAT, which defines how it is processed.
        calculateOn:
          enum:
          - ExtractFromItemAmount
          - ItemAmount
          - ItemTaxAmount
          - DocumentAmount
          - DocumenTaxAmount
          type: string
          description: 'Calculate on &gt; The way the VAT amount is calculated, which can be one of the following options: Extract from item amount, Document amount, Document and VAT amount.'
        cashDiscount:
          enum:
          - ToTaxableAmount
          - ToPromtPayment
          - ToTaxAmount
          - AdjustTax
          - NoAdjust
          type: string
          description: 'Cash discount &gt; The method of calculating the taxable amount if a discount is applied (based on the credit terms). It can be one of the following options: Reduce VAT amount, Does not affect VAT amount.'
        vatRates:
          type: array
          items:
            $ref: '#/components/schemas/VatRateLineDto'
    VatCategoryDto:
      type: object
      properties:
        vatCategoryId:
          type: string
          description: 'Mandatory field: The top part &gt; VAT category ID* &gt; The unique ID of the VAT category. An alphanumeric string of up to six characters can be used.'
        description:
          type: string
          description: The top part &gt; Description &gt; A detailed description of the category.
        active:
          type: boolean
          description: The top part &gt; Active &gt; A check box that means (if selected) that this VAT category is active.
        excludeListedTaxes:
          type: boolean
          description: The top part &gt; Exclude listed taxes &gt; A check box that indicates (if selected) this VAT category should exclude the listed taxes from VAT zones.
        lastModifiedDateTime:
          type: string
          description: Systemgenerated information.
          format: date-time
        vatCategoryLines:
          type: array
          items:
            $ref: '#/components/schemas/VatCategoryLineDto'
          description: The table &gt;
    VatRateLineDto:
      type: object
      properties:
        revisionID:
          type: string
          description: The revision ID of the VAT rate.
        vatRate:
          type: number
          description: The VAT rate of the line.
          format: double
        groupType:
          enum:
          - Output
          - Input
          type: string
          description: The type of the reporting group.
        startDate:
          type: string
          description: The date and time from which the VAT rate is effective.
          format: date-time
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
