openapi: 3.2.0
info:
  title: Visma.net ERP Kit Specifications API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: KitSpecifications
paths:
  /v1/KitSpecifications:
    get:
      tags:
      - KitSpecifications
      summary: Get a range of Kit Specifications - ScreenId = IN209500
      operationId: KitSpecifications_GetAll
      parameters:
      - name: lastModifiedDateTime
        in: query
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: kitInventoryID
        in: query
        schema:
          type: string
      - name: revisionID
        in: query
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePaginationDtoOfKitSpecificationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BasePaginationDtoOfKitSpecificationDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - KitSpecifications
      summary: Creates a KitSpecification
      description: Response Message has StatusCode Created if POST operation succeed
      operationId: KitSpecifications_Post
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the KitSpecification to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KitSpecificationUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/KitSpecificationUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/KitSpecificationUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/KitSpecificationUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/KitSpecificationUpdateDto'
        required: true
        x-bodyName: kitSpecificationUpdateDto
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/KitSpecifications/{kitInventoryID}/{revisionID}:
    get:
      tags:
      - KitSpecifications
      summary: Get a specific KitSpecification
      description: Data for the INKitSpecHdr
      operationId: KitSpecifications_GetBykitInventoryIDrevisionID
      parameters:
      - name: kitInventoryID
        in: path
        description: kitInventoryID
        required: true
        schema:
          type: string
      - name: revisionID
        in: path
        description: revisionID
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KitSpecificationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/KitSpecificationDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - KitSpecifications
      summary: Updates a specific KitSpecification
      description: Response Message has StatusCode NoContent if PUT operation succeed
      operationId: KitSpecifications_PutBykitInventoryIDrevisionID
      parameters:
      - name: kitInventoryID
        in: path
        description: kitInventoryID
        required: true
        schema:
          type: string
      - name: revisionID
        in: path
        description: revisionID
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: The data to update for the KitSpecification
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KitSpecificationUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/KitSpecificationUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/KitSpecificationUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/KitSpecificationUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/KitSpecificationUpdateDto'
        required: true
        x-bodyName: kitSpecificationUpdateDto
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/KitSpecifications/{kitInventoryID}:
    get:
      tags:
      - KitSpecifications
      summary: Get all revisions for a specific KitSpecification
      description: Data for the INKitSpecHdr
      operationId: KitSpecifications_GetBykitInventoryID
      parameters:
      - name: kitInventoryID
        in: path
        description: kitInventoryID
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePaginationDtoOfKitSpecificationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BasePaginationDtoOfKitSpecificationDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    DtoValueOfNullableOfInt32:
      type: object
      properties:
        value:
          type: integer
          format: int32
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    KitSpecificationUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        kitInventoryID:
          $ref: '#/components/schemas/DtoValueOfString'
        revisionID:
          $ref: '#/components/schemas/DtoValueOfString'
        descr:
          $ref: '#/components/schemas/DtoValueOfString'
        isActive:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        allowCompAddition:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        isNonStock:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        stockComponentLines:
          type: array
          items:
            $ref: '#/components/schemas/KitSpecificationStockComponentsUpdateDto'
        nonStockComponentLines:
          type: array
          items:
            $ref: '#/components/schemas/KitSpecificationNonStockComponentsUpdateDto'
    KitSpecificationDto:
      type: object
      properties:
        kitInventoryID:
          type: string
        revision:
          type: string
        description:
          type: string
        isActive:
          type: boolean
        allowComponentAddition:
          type: boolean
        isNonStock:
          type: boolean
        createdDateTime:
          type: string
          format: date-time
        lastModifiedDateTime:
          type: string
          format: date-time
        stockComponentLines:
          type: array
          items:
            $ref: '#/components/schemas/KitSpecificationStockComponentsDto'
        nonStockComponentLines:
          type: array
          items:
            $ref: '#/components/schemas/KitSpecificationNonStockComponentDto'
        timestamp:
          type: string
          description: Timestamp of the kit specification record
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    KitSpecificationNonStockComponentDto:
      type: object
      properties:
        lineNbr:
          type: integer
          format: int32
        componentID:
          type: string
        componentQty:
          type: number
          format: double
        uom:
          type: string
        allowComponentQtyVariance:
          type: boolean
        minComponentQty:
          type: number
          format: double
        maxComponentQty:
          type: number
          format: double
        description:
          type: string
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    DtoValueOfString:
      type: object
      properties:
        value:
          type: string
    BasePaginationDtoOfKitSpecificationDto:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalCount:
          type: integer
          format: int64
        records:
          type: array
          items:
            $ref: '#/components/schemas/KitSpecificationDto'
    KitSpecificationStockComponentsDto:
      type: object
      properties:
        lineNbr:
          type: integer
          format: int32
        componentID:
          type: string
        componentQty:
          type: number
          format: double
        uom:
          type: string
        allowComponentQtyVariance:
          type: boolean
        minComponentQty:
          type: number
          format: double
        maxComponentQty:
          type: number
          format: double
        disassemblyCoeff:
          type: number
          format: double
        allowComponentSubstitution:
          type: boolean
        description:
          type: string
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    KitSpecificationStockComponentsUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        lineNbr:
          $ref: '#/components/schemas/DtoValueOfNullableOfInt32'
        compInventoryID:
          $ref: '#/components/schemas/DtoValueOfString'
        dfltCompQty:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        uom:
          $ref: '#/components/schemas/DtoValueOfString'
        allowQtyVariation:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        minCompQty:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        maxCompQty:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        disassemblyCoeff:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        allowSubstitution:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
    DtoValueOfNullableOfDecimal:
      type: object
      properties:
        value:
          type: number
          format: double
    DtoValueOfNullableOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    KitSpecificationNonStockComponentsUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        lineNbr:
          $ref: '#/components/schemas/DtoValueOfNullableOfInt32'
        compInventoryID:
          $ref: '#/components/schemas/DtoValueOfString'
        dfltCompQty:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        uom:
          $ref: '#/components/schemas/DtoValueOfString'
        allowQtyVariation:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        minCompQty:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        maxCompQty:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
