openapi: 3.2.0
info:
  title: Visma.net ERP Subaccount API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: Sub Account
paths:
  /v1/subaccount/{subAccountNumber}:
    get:
      tags:
      - Sub Account
      summary: Get a specific SubAccount
      description: 'Data for SubAccount


        The response headers include an ETag after a successful GET operation.'
      operationId: Subaccount_GetSubaccountBysubAccountNumber
      parameters:
      - name: subAccountNumber
        in: path
        description: Identifies the SubAccount
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubAccountDto'
            text/json:
              schema:
                $ref: '#/components/schemas/SubAccountDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - Sub Account
      summary: Update a specific Subaccount
      description: 'Response Message has StatusCode NoContent if PUT operation succeed


        Response Message has StatusCode BadRequest if PUT operation failed


        The response headers include an ETag after a successful PUT operation.'
      operationId: Subaccount_PutBysubAccountNumber
      parameters:
      - name: subAccountNumber
        in: path
        description: Identifies the Subaccount to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Subaccount to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubAccountUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SubAccountUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/SubAccountUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/SubAccountUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubAccountUpdateDto'
        required: true
        x-bodyName: subAccountUpdateDto
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: SubAccount version does not match with If-Match header.
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/subaccount:
    get:
      tags:
      - Sub Account
      summary: Get all SubAccounts - ScreenId=GL203000 Request page size must be lower or…
      description: 'Data for SubAccount


        Response Message has StatusCode OK if GET operation succeed'
      operationId: Subaccount_GetAllSubaccounts
      parameters:
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: active
        in: query
        description: If the SubAccount is active
        schema:
          type: boolean
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: Pagination parameter. Number of items to be collected
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubAccountDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubAccountDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - Sub Account
      summary: Create a Subaccount
      description: 'Response Message has StatusCode Created if POST operation succeed


        The response headers include an ETag after a successful POST operation.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed'
      operationId: Subaccount_Post
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for Subaccount to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubAccountUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SubAccountUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/SubAccountUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/SubAccountUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubAccountUpdateDto'
        required: true
        x-bodyName: subAccountUpdateDto
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    SubAccountUpdateDto:
      required:
      - subaccountNumber
      type: object
      properties:
        subaccountNumber:
          $ref: '#/components/schemas/subaccountNumberInSubAccountUpdateDto'
        subaccountId:
          $ref: '#/components/schemas/subaccountIdInSubAccountUpdateDto'
        description:
          $ref: '#/components/schemas/DtoValueOfString'
        active:
          $ref: '#/components/schemas/DtoValueOfBoolean'
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    DtoValueOfString:
      type: object
      properties:
        value:
          type: string
    subaccountIdInSubAccountUpdateDto:
      properties:
        value:
          type: string
      description: The property is now considered obsolete, use SubaccountNumber instead. If SubaccountNumber is specified in a request, this property is ignored.
    SegmentDto:
      type: object
      properties:
        segmentId:
          type: integer
          description: The Segment values window &gt; The Top part &gt; The ID of the segment.
          format: int32
        segmentDescription:
          type: string
          description: The Segment values window &gt; The Top part &gt; The description of the segment.
        segmentValue:
          type: string
          description: The Segment values window &gt; The table &gt; The value of the segment, alphanumeric.
        segmentValueDescription:
          type: string
          description: The Segment values window &gt; The table &gt; The description of the segment value.
    SubAccountDto:
      type: object
      properties:
        subaccountNumber:
          type: string
          description: 'Mandatory field: Subaccount* &gt; The subaccount number. Format 9-XX.'
        subaccountId:
          type: integer
          description: SubID &gt; The  identifier of the subaccount.
          format: int32
        description:
          type: string
          description: Description &gt; The description of the identifier.
        lastModifiedDateTime:
          type: string
          description: System generated information.
          format: date-time
        active:
          type: boolean
          description: Active &gt; The status of the identifier.
        segments:
          type: array
          items:
            $ref: '#/components/schemas/SegmentDto'
          description: Segments are entities that you use to define the structure of IDs for the subaccount.  This information is collected from window CS202000.
        timeStamp:
          type: string
          description: The timestamp of the subaccount, used for concurrency control.
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    subaccountNumberInSubAccountUpdateDto:
      properties:
        value:
          type: string
      description: Mandatory field, identifies the subaccount to update.
    DtoValueOfBoolean:
      type: object
      properties:
        value:
          type: boolean
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
