openapi: 3.2.0
info:
  title: Visma.net ERP Currency Rate Type API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: CurrencyRateType
paths:
  /v2/currencyratetype:
    get:
      tags:
      - CurrencyRateType
      summary: Get currency rate types
      operationId: CurrencyRateType_GetAll
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CurrencyRateTypeDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CurrencyRateTypeDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CurrencyRateTypeDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CurrencyRateTypeDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - CurrencyRateType
      summary: Create currency rate type
      operationId: CurrencyRateType_Post
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the currency rate type to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCurrencyRateTypeDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCurrencyRateTypeDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateCurrencyRateTypeDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateCurrencyRateTypeDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCurrencyRateTypeDto'
        required: true
        x-bodyName: currencyRateType
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    CurrencyRateTypeDto:
      type: object
      properties:
        id:
          type: string
          description: Currency rate type Id.
        description:
          type: string
          description: Description.
        daysEffective:
          type: integer
          description: Days effective.
          format: int32
    descriptionInCreateCurrencyRateTypeDto:
      properties:
        value:
          type: string
      description: Description.
    CreateCurrencyRateTypeDto:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/idInCreateCurrencyRateTypeDto'
        description:
          $ref: '#/components/schemas/descriptionInCreateCurrencyRateTypeDto'
        daysEffective:
          $ref: '#/components/schemas/daysEffectiveInCreateCurrencyRateTypeDto'
    idInCreateCurrencyRateTypeDto:
      properties:
        value:
          type: string
      description: Currency rate type id.
    daysEffectiveInCreateCurrencyRateTypeDto:
      properties:
        value:
          type: integer
          format: int32
      description: Days effective.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
