openapi: 3.2.0
info:
  title: Visma.net ERP Discount V2 API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: DiscountV2
paths:
  /v2/discount:
    get:
      tags:
      - DiscountV2
      summary: Get a range of discounts - ScreenId=AR209500
      operationId: DiscountV2_GetDiscounts
      parameters:
      - name: lastModifiedDateTime
        in: query
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: System retrieved information for state/condition.
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: discountCode
        in: query
        schema:
          type: string
      - name: series
        in: query
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DiscountDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DiscountDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    DiscountCustomerPriceClassDto:
      type: object
      properties:
        priceClassId:
          type: string
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    DiscountWarehouseDto:
      type: object
      properties:
        warehouse:
          type: string
    DiscountItemPriceClassDto:
      type: object
      properties:
        priceClassId:
          type: string
    DiscountBranchDto:
      type: object
      properties:
        branch:
          type: string
    DiscountCustomer2Dto:
      type: object
      properties:
        customer:
          type: string
    DiscountDto:
      type: object
      properties:
        discountCode:
          type: string
          description: 'Mandatory field: The top part &gt; Discount code &gt; The code of the discount for which you want to create a new series or view an existing one.'
        series:
          type: string
          description: 'Mandatory field: The top part &gt; Series &gt; The ID of the series defined for the discount.'
        description:
          type: string
          description: The top part &gt; Description &gt; A brief description of the series.
        discountBy:
          type: string
          description: The top part &gt; Discount by &gt; The way the discount for the series is specified. Percent, Amount, Free item.
        breakBy:
          type: string
          description: The top part &gt; Break by &gt; The way the breakpoints for this discount series are specified. Quantity, Amount.
        promotional:
          type: boolean
          description: The top part &gt; Promotional &gt; A check box that indicates (if selected) that the series is a promotional discount.
        active:
          type: boolean
          description: The top part &gt; Active &gt; A check box that indicates (if selected) that the series is active.
        prorateDiscount:
          type: boolean
          description: The top part &gt; Prorate discount &gt; A check box that indicates (if selected) that the discount can be prorated.
        effectiveDate:
          type: string
          description: The top part &gt; Effective date &gt; The date when the series becomes effective; this field appears for promotional discount series only.
          format: date-time
        expirationDate:
          type: string
          description: The top part &gt; Expiration date &gt; The date when the promotional discount expires. This field appears for the series if the Promotional check box is selected.
          format: date-time
        lastUpdateDate:
          type: string
          description: The top part &gt; Last update date &gt; A read-only field that shows the date when the discount series was last updated.
          format: date-time
        freeItem:
          type: integer
          description: Free item tab &gt; Free item &gt; The free item (by its item ID) that is added to orders as the discount for this series.
          format: int32
        pendingFreeItem:
          type: integer
          description: Free item tab &gt; Pending free item &gt; The free item (by its item ID) that will be added to orders as the discount for this series, starting on the date specified in the Pending date column on the Discount breakpoints tab.
          format: int32
        lastFreeItem:
          type: integer
          description: Free item tab &gt; Last free item &gt; The free item (by its item ID) that had been added to orders as the discount for this series before the date shown in the Last date column on the Discount breakpoints tab.
          format: int32
        lineCntr:
          type: integer
          description: Free item tab &gt; A line counter for the table.
          format: int32
        createdDateTime:
          type: string
          format: date-time
        lastModifiedDateTime:
          type: string
          description: Free item tab &gt; Last update date &gt; A read-only field that shows the date when this discount series has been updated last.
          format: date-time
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        discountBreakpoints:
          type: array
          items:
            $ref: '#/components/schemas/DiscountBreakpointDto'
        customers:
          type: array
          items:
            $ref: '#/components/schemas/DiscountCustomer2Dto'
          description: Customers tab &gt; Customer &gt; The customer to which the series is applicable.
        items:
          type: array
          items:
            $ref: '#/components/schemas/DiscountItemDto'
          description: Items tab &gt; Items ID &gt; The stock or non-stock item, by its item ID, to which the series can be applied.
        warehouses:
          type: array
          items:
            $ref: '#/components/schemas/DiscountWarehouseDto'
          description: Warehouses tab &gt; Warehouse ID &gt; The warehouse to which the series can be applied.
        customerPriceClasses:
          type: array
          items:
            $ref: '#/components/schemas/DiscountCustomerPriceClassDto'
          description: Customer price classes tab &gt; Customer price class ID &gt; The customer price class to which the series is applicable.
        itemPriceClasses:
          type: array
          items:
            $ref: '#/components/schemas/DiscountItemPriceClassDto'
          description: Item price classes tab &gt; Price class ID &gt; The item price class to which the series is applicable.
        branches:
          type: array
          items:
            $ref: '#/components/schemas/DiscountBranchDto'
          description: Branches tab &gt; Branch &gt; The branch to which the series can be applied.
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    DiscountBreakpointDto:
      type: object
      properties:
        lineNbr:
          type: integer
          format: int32
        active:
          type: boolean
          description: The top part &gt; Active &gt; A check box that indicates (if selected) that the series is active.
        breakAmount:
          type: number
          description: Discount breakpoints tab &gt; Break amount &gt; The line amount (break point) that starts the new range for the currently effective series.
          format: double
        amountTo:
          type: number
          format: double
        lastBreakAmount:
          type: number
          description: Discount breakpoints tab &gt; Last break amount &gt; The amount (break point) that started the new range for the previously effective series (the one that was used before the effective date).
          format: double
        lastAmountTo:
          type: number
          format: double
        pendingBreakAmount:
          type: number
          description: Discount breakpoints tab &gt; Pending break amount &gt; The amount (break point) that starts the new range for the pending series (one that is not yet in effect).
          format: double
        breakQuantity:
          type: number
          description: Discount breakpoints tab &gt; Break quantity &gt; The quantity of items (break quantity) that starts the new range for a discount level for the currently effective series. Any break quantity should be specified in the base units.
          format: double
        quantityTo:
          type: number
          format: double
        lastBreakQuantity:
          type: number
          description: Discount breakpoints tab &gt; Last break quantity &gt; The quantity of item (break point) that started the range for the discount series used before the effective date.
          format: double
        lastQuantityTo:
          type: number
          format: double
        pendingBreakQuantity:
          type: number
          description: Discount breakpoints tab &gt; Pending break quantity &gt; The quantity of items (break point) that starts the new range for the pending (not yet effective) series.
          format: double
        discountAmount:
          type: number
          description: Discount breakpoints tab &gt; Discount amount &gt; The discount amount to be used for the quantities that exceed this break quantity if the Amount option is selected as Discount by.
          format: double
        discountPercent:
          type: number
          description: Discount breakpoints tab &gt; Discount percent &gt; The discount percent to be currently used for the quantities that exceed this break quantity if the Percent option is selected as Discount by.
          format: double
        lastDiscountAmount:
          type: number
          description: Discount breakpoints tab &gt; Last discount amount &gt; The amount used as the discount for the discount series that was in effect before the effective date.
          format: double
        lastDiscountPercent:
          type: number
          description: Discount breakpoints tab &gt; Last discount percent &gt; The percentage used for the break point in the previously effective series.
          format: double
        lastDiscount:
          type: number
          description: Discount breakpoints tab &gt; Last discount amount &gt; The amount used as the discount for the discount series that was in effect before the effective date.
          format: double
        pendingDiscountAmount:
          type: number
          description: Discount breakpoints tab &gt; Pending discount amount &gt; The amount to be used as the discount for the pending series if the Amount option is selected as Discount by.
          format: double
        pendingDiscountPercent:
          type: number
          description: Discount breakpoints tab &gt; Pending discount percent &gt; The discount percent to be used for the break point in the pending series.
          format: double
        freeItemQty:
          type: number
          description: Discount breakpoints tab &gt; Free item qty. &gt; The quantity of the free item to be added as the discount to orders for this discount series.
          format: double
        lastFreeItemQty:
          type: number
          description: Discount breakpoints tab &gt; Last free item qty. &gt; The quantity of the free item that was used as the discount for the previously effective series.
          format: double
        pendingFreeItemQty:
          type: number
          description: Discount breakpoints tab &gt; Pending free item qty. &gt; The quantity of the free item to be added as the discount to orders for the pending discount series.
          format: double
        pendingDate:
          type: string
          format: date-time
        effectiveDate:
          type: string
          format: date-time
    DiscountItemDto:
      type: object
      properties:
        itemId:
          type: string
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
