openapi: 3.2.0
info:
  title: Visma.net ERP Ledger API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: Ledger
paths:
  /v1/ledger:
    get:
      tags:
      - Ledger
      summary: Get a range of Ledgers - ScreenId=GL201500
      operationId: Ledger_GetAllLedgers
      parameters:
      - name: greaterThanValue
        in: query
        description: Excludes ledgers with value lower than entry
        schema:
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions.
        schema:
          type: integer
          format: int32
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LedgerDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LedgerDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LedgerDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LedgerDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    consolBranchInLedgerDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: The top part &gt; Consol. branch &gt;  The consolidation branch, which you create when a company has multiple branches that operate within a single legal entity and post transactions to the same ledger.
    LedgerDto:
      type: object
      properties:
        internalId:
          type: integer
          format: int32
        number:
          type: string
          description: 'Mandatory field: The top part &gt; Ledger ID* &gt; An alphanumeric string of up to 10 characters used to identify the ledger.'
        description:
          type: string
          description: The top part &gt; Description &gt; A detailed ledger description.
        balanceType:
          enum:
          - Actual
          - Report
          - Statistical
          - Budget
          type: string
          description: 'The top part &gt; Balance type &gt; The type of balance in the ledger. Select one of the following predefined types: Actual, Budget, Reporting, Statistical.'
        currencyId:
          type: string
          description: 'Mandatory field: The top part &gt; Currency* &gt; The default currency of the ledger.'
        consolidationSource:
          type: boolean
          description: The top part &gt; Consolidation source &gt; A check box that specifies, if selected, that the ledger should be used as a source ledger for consolidation.
        consolBranch:
          $ref: '#/components/schemas/consolBranchInLedgerDto'
        branchAccounting:
          type: boolean
          description: The top part &gt; Branch accounting &gt; A check box that you select to indicate that the system should automatically generate inter-branch transactions for this ledger to balance transactions for all branches involved.
        lastModifiedDateTime:
          type: string
          description: System generated information.
          format: date-time
        postInterCompany:
          type: boolean
          description: Branch accounting &gt; True/False
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
