openapi: 3.2.0
info:
  title: Bookkeeping & Invoicing/eAccounting API V2 Account Balance…
  description: 'Visit our complete Bookkeeping & Invoicing/eAccounting API docs for how to get started, information about authentication, error handling, query customization and more.


    ✉ API Support'
  version: v2
servers:
- url: https://eaccountingapi.vismaonline.com/v2/
tags:
- name: Account Balance
  description: 'The current financial balance of an account, showing the difference between its debits and credits.


    ___


    Available in any of the following variants:

    * Pro

    * Standard

    * Bookkeeping

    * Solo'
paths:
  /accountbalances/{date}:
    get:
      tags:
      - Account Balance
      summary: Get account balances by date
      description: 'Get all account balances at a specific date. The response will include a list of account balances with their details, such as account number, name, and balance at the given date.


        ___

        Requires any of the following scopes:

        * ea:accounting

        * ea:accounting_readonly'
      parameters:
      - name: date
        in: path
        description: Date in format yyyy-MM-dd
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfAccountBalanceApi'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
      operationId: getAccountbalancesByDate
      x-operation-id-source: derived
  /accountbalances/{accountNumber}/{date}:
    get:
      tags:
      - Account Balance
      summary: Get account balance by account number and date
      description: 'Get the balance for a specific account at a specific date. The response will include the account details and the balance at the given date.


        ___

        Requires any of the following scopes:

        * ea:accounting

        * ea:accounting_readonly'
      parameters:
      - name: accountNumber
        in: path
        description: The account number
        required: true
        schema:
          type: integer
          format: int64
      - name: date
        in: path
        description: Date in format yyyy-MM-dd
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalanceApi'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
        '404':
          description: Account not found
      operationId: getAccountbalancesByAccountNumberByDate
      x-operation-id-source: derived
components:
  schemas:
    CommonPaginationMetadata:
      required:
      - CurrentPage
      - PageSize
      - ServerTimeUtc
      - TotalNumberOfPages
      - TotalNumberOfResults
      type: object
      properties:
        CurrentPage:
          type: integer
          description: The current page number
          format: int32
        PageSize:
          type: integer
          description: The number of results per page
          format: int32
        TotalNumberOfPages:
          type: integer
          description: The total number of pages available
          format: int32
        TotalNumberOfResults:
          type: integer
          description: The total number of results available for the query
          format: int32
        ServerTimeUtc:
          type: string
          description: <strong>Possible values:</strong><br/>2017-07-21T17:32:28Z<br/><br/>The date-time notation as defined by RFC 3339, section 5.6.
          format: date-time
      additionalProperties: false
    AccountBalanceApi:
      type: object
      properties:
        AccountNumber:
          type: integer
          description: The account number
          format: int64
          readOnly: true
        AccountName:
          type:
          - string
          - 'null'
          description: The account name
          readOnly: true
        Balance:
          type: number
          description: The total account balance at the given date
          format: double
          readOnly: true
        AccountType:
          type: integer
          description: The account type number. For reports only
          format: int32
          readOnly: true
        AccountTypeDescription:
          type:
          - string
          - 'null'
          description: The Account Type Description. For reports only. Unfilterable property, filter on AccountType instead
          readOnly: true
      additionalProperties: false
    CommonError:
      type: object
      properties:
        Field:
          type:
          - string
          - 'null'
        ErrorCode:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Key:
          type:
          - string
          - 'null'
      additionalProperties: false
    CommonExtendedBadRequest:
      type: object
      properties:
        ErrorCode:
          type: integer
          format: int32
        DeveloperErrorMessage:
          type:
          - string
          - 'null'
        ErrorId:
          type: string
          format: uuid
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CommonError'
      additionalProperties: false
    PaginatedResponseOfAccountBalanceApi:
      required:
      - Data
      - Meta
      type: object
      properties:
        Meta:
          $ref: '#/components/schemas/CommonPaginationMetadata'
        Data:
          type: array
          items:
            $ref: '#/components/schemas/AccountBalanceApi'
      additionalProperties: false
x-tagGroups:
- name: Sales
  tags:
  - ArticleLabels
  - Articles
  - CustomerInvoiceDrafts
  - CustomerInvoiceOffsets
  - CustomerInvoices
  - CustomerInvoiceValuationHistories
  - CustomerLabels
  - CustomerLedgerItems
  - Customers
  - DeliveryMethods
  - DeliveryTerms
  - DiscountAgreements
  - Orders
  - QuoteDrafts
  - Quotes
  - SalesPriceLists
  - TermsOfPayment
  - WebshopOrders
- name: Purchase
  tags:
  - BankAccounts
  - ForeignPaymentCodes
  - PurchaseReceiptDrafts
  - SupplierInvoiceDrafts
  - SupplierInvoices
  - SupplierInvoiceValuationHistories
  - SupplierLedgerItems
  - Suppliers
- name: Common
  tags:
  - Approval
  - AppStoreActivationStatus
  - AttachmentLinks
  - Attachments
  - AutoInvoice
  - Bank
  - Charts
  - CompanySettings
  - Company
  - Countries
  - Currencies
  - Documents
  - IdentityLookup
  - MessageThreads
  - Mobile
  - Notes
  - PartnerResourceLinks
  - SalesDocumentAttachments
  - Trials
  - Units
  - Users
  - VoTokenValidation
  - WebHooks
  - Zapier
- name: Accounting
  tags:
  - AccountBalance
  - Accounts
  - AccountTypes
  - AllocationPeriods
  - ArticleAccountCodings
  - BankTransactions
  - CostCenterItems
  - CostCenters
  - FiscalYears
  - InventoryItems
  - PaymentVoucher
  - Projects
  - SieFileImportExport
  - VatCode
  - VatReport
  - VoucherDrafts
  - Vouchers
  - VoucherWithOverunderPayment
