openapi: 3.2.0
info:
  title: Visma.net ERP Sales Order V2 API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: SalesOrderV2
paths:
  /v2/salesorder/{orderNbr}:
    get:
      tags:
      - SalesOrderV2
      summary: Get a specific SO Order
      description: 'Data for a single Sales Order. OBS: End of life March 31 2026. REPLACED BY v3 ENDPOINT. SEE https://salesorder.visma.net/swagger/index.html'
      operationId: SalesOrderV2_GetByorderNbr
      parameters:
      - name: orderNbr
        in: path
        description: Identifies the Sales Order Number
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDto'
            text/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v2/salesorder:
    get:
      tags:
      - SalesOrderV2
      summary: Get a range of SO Orders - ScreenId=SO301000 Request page size must be lower or…
      description: 'Data for all Sales Orders. Response Message has StatusCode OK if GET operation succeed. OBS: End of life March 31 2026. REPLACED BY v3 ENDPOINT. SEE https://salesorder.visma.net/swagger/index.html'
      operationId: SalesOrderV2_GetAllOrders_V2
      parameters:
      - name: orderType
        in: query
        description: Filter by Order type.
        schema:
          type: string
      - name: status
        in: query
        description: Select to filter on status on order.
        schema:
          enum:
          - Open
          - Hold
          - CreditHold
          - Completed
          - Cancelled
          - BackOrder
          - Shipping
          - Invoiced
          - PendingApproval
          - Voided
          type: string
      - name: greaterThanValue
        in: query
        description: Filter on Order no. greater than value.
        schema:
          type: string
      - name: showNotes
        in: query
        description: Set to true to include notes.
        schema:
          type: boolean
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
    post:
      tags:
      - SalesOrderV2
      summary: Create a Sale Order
      description: 'Response Message has StatusCode Created if POST operation succeed. Response Message has StatusCode BadRequest or InternalServerError if POST operation failed. OBS: End of life March 31 2026. REPLACED BY v3 ENDPOINT. SEE https://salesorder.visma.net/swagger/index.html'
      operationId: SalesOrderV2_Post
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Sale Order to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
        required: true
        x-bodyName: saleOrderUpdateDto
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v2/salesorder/{saleOrderNumber}/action/createShipment:
    post:
      tags:
      - SalesOrderV2
      summary: Create shipment operation
      description: The action result dto contains information about the result of running the action
      operationId: SalesOrderV2_CreateShipmentActionBysaleOrderNumber
      parameters:
      - name: saleOrderNumber
        in: path
        description: Reference number of the sale oreder from which the shipment will be created
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShipmentActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateShipmentActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateShipmentActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateShipmentActionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateShipmentActionDto'
        required: true
        x-bodyName: createShipmentActionDto
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateShipmentActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateShipmentActionResultDto'
        '400':
          description: Bad Request
          content:
            application/json: {}
            text/json: {}
        '401':
          description: Unauthorized
          content:
            application/json: {}
            text/json: {}
        '403':
          description: Forbidden
          content:
            application/json: {}
            text/json: {}
        '404':
          description: Not Found
          content:
            application/json: {}
            text/json: {}
        '409':
          description: Conflict. Order cannot be shipped in full, shipping rule Ship Complete requires all items to be in stock.
          content:
            application/json: {}
            text/json: {}
        '500':
          description: Internal Server Error
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v2/salesorder/{orderType}/{orderNumber}/action/prepareInvoice:
    post:
      tags:
      - SalesOrderV2
      summary: Prepare Invoice operation
      description: The action result dto contains information about the result of running the action
      operationId: SalesOrderV2_PrepareInvoiceActionByorderTypeorderNumber
      parameters:
      - name: orderType
        in: path
        description: Order Type of the sale order from which the invoice will be created
        required: true
        schema:
          type: string
      - name: orderNumber
        in: path
        description: Reference number of the sale order from which the invoice will be created
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepareInvoiceActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/PrepareInvoiceActionResultDto'
        '400':
          description: Bad Request
          content:
            application/json: {}
            text/json: {}
        '401':
          description: Unauthorized
          content:
            application/json: {}
            text/json: {}
        '403':
          description: Forbidden
          content:
            application/json: {}
            text/json: {}
        '404':
          description: Not Found
          content:
            application/json: {}
            text/json: {}
        '500':
          description: Internal Server Error
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v2/salesorder/{orderType}/{orderNumber}/action/sendbymail:
    post:
      tags:
      - SalesOrderV2
      summary: Send by mail operation
      description: The action result dto contains information about the result of running the action
      operationId: SalesOrderV2_SendEmailActionByorderTypeorderNumber
      parameters:
      - name: orderType
        in: path
        description: The type of sale order from which the email will be dispatched.
        required: true
        schema:
          type: string
      - name: orderNumber
        in: path
        description: The number of sale order from which the email will be dispatched.
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/SendEmailActionResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/SendEmailActionResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/SendEmailActionResultDto'
        '400':
          description: Bad Request
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '401':
          description: Unauthorized
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '403':
          description: Forbidden
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '404':
          description: Not Found
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '500':
          description: Internal Server Error
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v2/salesorder/{saleOrderNumber}/action/createPurchaseOrders:
    post:
      tags:
      - SalesOrderV2
      summary: This will create 0..n PO based on SO according to the following rules for the…
      description: The action result dto contains list of created purchase order numbers and list of errors if any
      operationId: SalesOrderV2_CreatePurchaseOrdersActionBysaleOrderNumber
      parameters:
      - name: saleOrderNumber
        in: path
        description: Reference number of the sale oreder from which the purchase order will be created
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePurchaseOrderActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreatePurchaseOrderActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreatePurchaseOrderActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/CreatePurchaseOrderActionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreatePurchaseOrderActionDto'
        required: true
        x-bodyName: createPurchaseOrderActionDto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '207':
          description: Multi-Status
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json: {}
            text/json: {}
        '401':
          description: Unauthorized
          content:
            application/json: {}
            text/json: {}
        '403':
          description: Forbidden
          content:
            application/json: {}
            text/json: {}
        '404':
          description: Not Found
          content:
            application/json: {}
            text/json: {}
        '500':
          description: Internal Server Error
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v2/salesorder/{saleOrderNumber}/action/cancelSalesOrder:
    post:
      tags:
      - SalesOrderV2
      summary: Cancel Order action
      description: 'The action result dto contains information about the result of running the action. Response Message has StatusCode BadRequest or InternalServerError if POST operation failed. OBS: End of life March 31 2026. REPLACED BY v3 ENDPOINT. SEE https://salesorder.visma.net/swagger/index.html'
      operationId: SalesOrderV2_CancelSalesOrderBysaleOrderNumber
      parameters:
      - name: saleOrderNumber
        in: path
        description: Reference number of the sale oreder that will be cancelled
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSalesOrderActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CancelSalesOrderActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/CancelSalesOrderActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/CancelSalesOrderActionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CancelSalesOrderActionDto'
        required: true
        x-bodyName: cancelSalesOrderActionDto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelSalesOrderActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/CancelSalesOrderActionResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/CancelSalesOrderActionResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/CancelSalesOrderActionResultDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v2/salesorder/{salesOrderNumber}/action/reopenSalesOrder:
    post:
      tags:
      - SalesOrderV2
      summary: Reopen and update a specific Sales Order.
      description: 'The action result dto contains information about the result of running the action. OBS: End of life March 31 2026. REPLACED BY v3 ENDPOINT. SEE https://salesorder.visma.net/swagger/index.html'
      operationId: SalesOrderV2_ReopenSalesOrderBysalesOrderNumber
      parameters:
      - name: salesOrderNumber
        in: path
        description: Identifies the Sale Order to reopen
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReopenSalesOrderActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ReopenSalesOrderActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ReopenSalesOrderActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ReopenSalesOrderActionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ReopenSalesOrderActionDto'
        required: true
        x-bodyName: reopenSalesOrderActionDto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReopenSalesOrderActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/ReopenSalesOrderActionResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReopenSalesOrderActionResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ReopenSalesOrderActionResultDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v2/salesorder/{orderNumber}/attachment:
    post:
      tags:
      - SalesOrderV2
      summary: Creates an attachment and associates it with a sales order.
      description: Response Message has StatusCode Created if POST operation succeed
      operationId: SalesOrderV2_CreateHeaderAttachmentByorderNumber
      parameters:
      - name: orderNumber
        in: path
        description: Identifies the sales order
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v2/salesorder/orderType/{orderType}/{orderNumber}/attachment:
    post:
      tags:
      - SalesOrderV2
      summary: Creates an attachment and associates it with a sales order on a specific order…
      description: Response Message has StatusCode Created if POST operation succeed
      operationId: SalesOrderV2_CreateHeaderAttachmentByorderNumberorderType
      parameters:
      - name: orderNumber
        in: path
        description: Identifies the sales order
        required: true
        schema:
          type: string
      - name: orderType
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v2/salesorder/{orderNumber}/{lineNumber}/attachment:
    post:
      tags:
      - SalesOrderV2
      summary: Creates an attachment and associates it with a certain sales order line.
      description: Response Message has StatusCode Created if POST operation succeed
      operationId: SalesOrderV2_CreateLineAttachmentByorderNumberlineNumber
      parameters:
      - name: orderNumber
        in: path
        description: Identifies the sales order
        required: true
        schema:
          type: string
      - name: lineNumber
        in: path
        description: Specifies line number
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v2/salesorder/orderType/{orderType}/{orderNumber}/{lineNumber}/attachment:
    post:
      tags:
      - SalesOrderV2
      summary: Creates an attachment and associates it with a certain sales order line on a…
      description: Response Message has StatusCode Created if POST operation succeed
      operationId: SalesOrderV2_CreateLineAttachmentByorderNumberorderTypelineNumber
      parameters:
      - name: orderNumber
        in: path
        description: Identifies the sales order
        required: true
        schema:
          type: string
      - name: orderType
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: lineNumber
        in: path
        description: Specifies line number
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    glnInSalesOrderUpdateDto:
      properties:
        value:
          type: string
      description: Mandatory field if Customer or VatRegistrationId is not specified.
    WarehouseIdDescriptionDto:
      type: object
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
    DtoValueOfNullableOfRutRotTypes:
      type: object
      properties:
        value:
          enum:
          - Rut
          - Rot
          type: string
    locationInShipmentDto:
      properties:
        countryId:
          type: string
          description: Location*.
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: 'Mandatory field: The top part &gt; Location* &gt; The customer location to receive the shipment.'
    DtoValueOfNullableOfDateTime:
      type: object
      properties:
        value:
          type: string
          format: date-time
    DtoValueOfNullableOfGuid:
      type: object
      properties:
        value:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    CreatePurchaseOrderActionDto:
      required:
      - orderType
      type: object
      properties:
        orderType:
          type: string
          description: Mandatory field
        preferSupplierFromSOLine:
          type: boolean
          description: Supplier
    countyInSalesOrderAddressDto:
      properties:
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: County &gt; The county or province.
    inventoryNumberInSalesOrderLineUpdateDto:
      properties:
        value:
          type: string
      description: Mandatory field
    accountInCustomerInvoiceDto:
      properties:
        type:
          enum:
          - Asset
          - Liability
          - Income
          - Expense
          type: string
          description: Account &gt; The account number.
        externalCode1:
          type: string
          description: Account class &gt; The identifier of the account class.
        externalCode2:
          type: string
          description: Account class &gt; The name of the account class.
        active:
          type: boolean
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: The Document details tab &gt;  Account * &gt; The sales account used for the transaction.
    ownerInShipmentDto:
      properties:
        id:
          type: string
          description: Click the magnifier &gt; The identifier
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: The top part &gt; Owner &gt; The user assigned to approve the document.
    shipViaInSalesOrderDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The Delivery settings tab &gt; Shipping information section &gt; Ship via &gt;  The Ship via code that represents the carrier and its service to be used for shipping the ordered goods.
    vatRegistrationIdInSalesOrderUpdateDto:
      properties:
        value:
          type: string
      description: Mandatory field if Customer or GLN is not specified.
    SalesOrderAddressUpdateDto:
      type: object
      properties:
        overrideAddress:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        addressLine1:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine2:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine3:
          $ref: '#/components/schemas/DtoValueOfString'
        postalCode:
          $ref: '#/components/schemas/DtoValueOfString'
        city:
          $ref: '#/components/schemas/DtoValueOfString'
        countryId:
          $ref: '#/components/schemas/DtoValueOfString'
        county:
          $ref: '#/components/schemas/DtoValueOfString'
    SendEmailActionResultDto:
      type: object
      properties:
        actionId:
          type: string
          format: uuid
        actionResult:
          enum:
          - Queued
          - InProcess
          - Failed
          - Done
          type: string
        errorInfo:
          type: string
    BranchNumberDto:
      type: object
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
    soBillingAddressInSalesOrderDto:
      properties:
        overrideAddress:
          type: boolean
          description: Override address &gt; A check box indicating that you want to override the default address information.
        addressId:
          type: integer
          format: int32
        addressLine1:
          type: string
          description: Address 1 &gt; The first line of the customer's/supplier's/company's/employee's contact address.
        addressLine2:
          type: string
          description: Address 2 &gt; The second line of the address.
        addressLine3:
          type: string
          description: Address 3 &gt; The third line of the address.
        postalCode:
          type: string
          description: Postcode &gt; The postcode.
        city:
          type: string
          description: City &gt; The city.
        country:
          $ref: '#/components/schemas/countryInSalesOrderAddressDto'
        county:
          $ref: '#/components/schemas/countyInSalesOrderAddressDto'
      description: Financial settings tab &gt; Invoice address section
    fobPointInSalesOrderDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Shipping information section &gt; FOB point &gt; The point where ownership of the goods is transferred to the customer.
    SegmentDto:
      type: object
      properties:
        segmentId:
          type: integer
          description: The Segment values window &gt; The Top part &gt; The ID of the segment.
          format: int32
        segmentDescription:
          type: string
          description: The Segment values window &gt; The Top part &gt; The description of the segment.
        segmentValue:
          type: string
          description: The Segment values window &gt; The table &gt; The value of the segment, alphanumeric.
        segmentValueDescription:
          type: string
          description: The Segment values window &gt; The table &gt; The description of the segment value.
    countyInShipmentAddressDto:
      properties:
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: County &gt; The county or province.
    DtoValueOfNullableOfSalesOrderOperations:
      type: object
      properties:
        value:
          enum:
          - Issue
          - Receipt
          type: string
    invoiceContactInCustomerInvoiceDto:
      properties:
        contactId:
          type: integer
          format: int32
        businessName:
          type: string
        attention:
          type: string
        email:
          type: string
        phone1:
          type: string
        overrideContact:
          type: boolean
      description: The Invoice address tab &gt; The Invoice contact section.
    modeOfTrasportInShipmentDto:
      properties:
        id:
          type: integer
          description: Click on the magnifier. &gt; The identifier.
          format: int32
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Intrastat section &gt; Mode of transportation &gt; The method of transportation.
    termsInSalesOrderDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Mandatory field: Financial settings tab &gt; Financial information section &gt; Terms* &gt; The credit terms used in relations with the customer. See also window CS206500.'
    orderTypeInSalesOrderUpdateDto:
      properties:
        value:
          type: string
      description: Mandatory field
    subaccountInCustomerInvoiceDto:
      properties:
        subaccountNumber:
          type: string
          description: 'Mandatory field: Subaccount* &gt; The subaccount number. Format 9-XX.'
        subaccountId:
          type: integer
          description: SubID &gt; The  identifier of the subaccount.
          format: int32
        description:
          type: string
          description: Description &gt; The description of the identifier.
        lastModifiedDateTime:
          type: string
          description: System generated information.
          format: date-time
        active:
          type: boolean
          description: Active &gt; The status of the identifier.
        segments:
          type: array
          items:
            $ref: '#/components/schemas/SegmentDto'
          description: Segments are entities that you use to define the structure of IDs for the subaccount.  This information is collected from window CS202000.
        timeStamp:
          type: string
          description: The timestamp of the subaccount, used for concurrency control.
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: The Document details tab &gt; Subaccount* &gt; The corresponding subaccount used for this transaction.
    customerInSalesOrderUpdateDto:
      properties:
        value:
          type: string
      description: Mandatory field if GLN or VatRegistrationId is not specified.
    WorkTypeDto:
      type: object
      properties:
        rutRotType:
          enum:
          - Rut
          - Rot
          type: string
        description:
          type: string
        xmlTag:
          type: string
    toWarehouseInShipmentDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The top part &gt; To warehouse &gt; The warehouse to which the goods should be shipped in case of a transfer.
    ProjectTaskIdDescriptionDto:
      type: object
      properties:
        internalId:
          type: integer
          description: The internal identifier.
          format: int32
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
    countyInCustomerDocumentAddressDto:
      properties:
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: County &gt; The county or province.
    subaccountInCustomerInvoiceLineDto:
      properties:
        subaccountNumber:
          type: string
          description: 'Mandatory field: Subaccount* &gt; The subaccount number. Format 9-XX.'
        subaccountId:
          type: integer
          description: SubID &gt; The  identifier of the subaccount.
          format: int32
        description:
          type: string
          description: Description &gt; The description of the identifier.
        lastModifiedDateTime:
          type: string
          description: System generated information.
          format: date-time
        active:
          type: boolean
          description: Active &gt; The status of the identifier.
        segments:
          type: array
          items:
            $ref: '#/components/schemas/SegmentDto'
          description: Segments are entities that you use to define the structure of IDs for the subaccount.  This information is collected from window CS202000.
        timeStamp:
          type: string
          description: The timestamp of the subaccount, used for concurrency control.
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: 'Mandatory field: Subaccount* &gt; The corresponding subaccount used for this transaction.'
    DtoValueOfSalesOrderAddressUpdateDto:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/SalesOrderAddressUpdateDto'
    transactionTypeInShipmentDto:
      properties:
        id:
          type: integer
          description: Click on the magnifier. &gt; The identifier.
          format: int32
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Intrastat section &gt; Transaction type &gt; The 1-digit code that describes the nature of the transaction (according to EU regulations for Intrastat reporting).
    contactInCustomerInvoiceDto:
      properties:
        id:
          type: integer
          description: Click the magnifier &gt; The identifier
          format: int32
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: The top part &gt; Contact &gt; The contact associated with the customer.
    soBillingContactInSalesOrderDto:
      properties:
        overrideContact:
          type: boolean
          description: Override contact &gt; A check box indicating that you want to override the default contact information.
        contactId:
          type: integer
          format: int32
        name:
          type: string
          description: Name &gt; The legal name of to appear on the documents.
        attention:
          type: string
          description: Attention &gt; The attention line as it is used in your customer's/supplier's/company's business letters. The intention of this line is to direct the letter to the right person if the letter is not addressed to any specific person.
        email:
          type: string
          description: Email &gt; The email address of the customer/supplier/company as a business entity.
        web:
          type: string
          description: Web &gt; The website of the company, if one exists.
        phone1:
          type: string
          description: Phone 1 &gt; The default phone number.
        phone2:
          type: string
          description: Phone 2 &gt; An additional phone number.
        fax:
          type: string
          description: Fax &gt; The fax number.
      description: The Financial settings tab &gt; The Invoice address section or on the Delivery address section
    DtoValueOfSalesOrderContactUpdateDto:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/SalesOrderContactUpdateDto'
    TaxDetailDto:
      type: object
      properties:
        taxId:
          type: string
          description: 'Mandatory field: VAT ID* &gt; The ID of the VAT applied to the document.'
        recordId:
          type: integer
          description: The id as stored in the database. It can be used when we want to update a VAT record.
          format: int32
        vatId:
          $ref: '#/components/schemas/vatIdInTaxDetailDto'
        vatRate:
          type: number
          description: VAT rate &gt; The rate of the VAT.
          format: double
        taxableAmount:
          type: number
          description: Taxable amount &gt; The taxable amount for the VAT, which is calculated at the document level.
          format: double
        vatAmount:
          type: number
          description: VAT &gt; The VAT amount for the specific VAT, which is calculated at the document level.
          format: double
        expenseAmount:
          type: number
          description: Expense Amount for the VAT type that has been added.
          format: double
      description: This class represents a VAT Detail Line. Used for getting data.
    TaxCategoryNumberDescriptionDto:
      type: object
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
    DtoValueOfNullableOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    ShipmentDetailLineDto:
      type: object
      properties:
        lineNumber:
          type: integer
          description: Document details tab &gt; The line number indicating sequence.
          format: int32
        orderType:
          type: string
          description: Document details tab &gt; The type of the document, which is one of the predefined order types or a custom order type.
        orderNbr:
          type: string
          description: Document details tab &gt; Order no. &gt; The reference number of the document.
        inventoryNumber:
          type: string
          description: Document details tab &gt; Item ID &gt; The ID of the item being shipped.
        freeItem:
          type: boolean
          description: Document details tab &gt; Free item &gt; The free item earned by the customer, if applicable. (This column does not appear for transfer.)
        warehouse:
          $ref: '#/components/schemas/warehouseInShipmentDetailLineDto'
        location:
          $ref: '#/components/schemas/locationInShipmentDetailLineDto'
        uom:
          type: string
          description: Document details tab &gt; UoM &gt; The unit of measure used for the item in shipment.
        shippedQty:
          type: number
          description: Document details tab &gt; Shipped qty. &gt; The quantity of the item shipped with the specified properties.
          format: double
        orderedQty:
          type: number
          description: Document details tab &gt; Ordered qty. &gt; The quantity of the item ordered with the specified properties.
          format: double
        openQty:
          type: number
          description: Document details tab &gt; Open qty. &gt; The number of items with the specified quantities still to be shipped.
          format: double
        lotSerialNbr:
          type: string
          description: Document details tab &gt; Lot/serial no. &gt; The lot or serial number of particular items of the item.
        expirationDate:
          type: string
          description: Document details tab &gt; Expiration date &gt; The expiration date of the item, if it is traced for this item ID.
          format: date-time
        reasonCode:
          type: string
          description: Document details tab &gt; Reason code &gt; The reason code used for shipments.
        description:
          type: string
          description: Document details tab &gt; Description &gt; A short description for the shipment.
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/AllocationsDto'
          description: Document details tab &gt; Allocations button &gt; Opens the Allocations dialog box, so that you can specify the locations, or lot or serial numbers for the units of the of the item.
        orderLineNbr:
          type: integer
          description: Document details tab &gt; Order line no. &gt; Read only. The order's line number that matches this shipment line.
          format: int32
        note:
          type: string
        externalLink:
          type: string
        alternateID:
          type: string
        customStr1:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr2:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr3:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr4:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr5:
          type: string
          description: A free custom colum of type string with max length 100.
        customDec1:
          type: number
          description: A free custom colum of type decimal with max 4 decimals.
          format: double
        customDec2:
          type: number
          description: A free custom colum of type decimal with max 4 decimals.
          format: double
        customInt1:
          type: integer
          description: A free custom colum of type int
          format: int32
        customInt2:
          type: integer
          description: A free custom colum of type int
          format: int32
        customDateTimeUTC1:
          type: string
          description: A free custom colum of type DateTime - in UTC timezone
          format: date-time
    soShippingContactInSalesOrderDto:
      properties:
        overrideContact:
          type: boolean
          description: Override contact &gt; A check box indicating that you want to override the default contact information.
        contactId:
          type: integer
          format: int32
        name:
          type: string
          description: Name &gt; The legal name of to appear on the documents.
        attention:
          type: string
          description: Attention &gt; The attention line as it is used in your customer's/supplier's/company's business letters. The intention of this line is to direct the letter to the right person if the letter is not addressed to any specific person.
        email:
          type: string
          description: Email &gt; The email address of the customer/supplier/company as a business entity.
        web:
          type: string
          description: Web &gt; The website of the company, if one exists.
        phone1:
          type: string
          description: Phone 1 &gt; The default phone number.
        phone2:
          type: string
          description: Phone 2 &gt; An additional phone number.
        fax:
          type: string
          description: Fax &gt; The fax number.
      description: Delivery settings tab &gt; Delivery address contact section
    DirectDebitMandateDto:
      type: object
      properties:
        id:
          type: string
          description: Mandate Guid as stored in the database.
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        mandateId:
          type: string
          description: The id shown on Billing Address tab
        mandateDescription:
          type: string
          description: Mandate description show on Billing Address tab
      description: This class represents a Customer Mandate
    transactionTypeInSalesOrderDto:
      properties:
        id:
          type: integer
          description: Click on the magnifier. &gt; The identifier.
          format: int32
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Intrastat section &gt; Transaction type
    CancelSalesOrderActionResultDto:
      type: object
      properties:
        actionId:
          type: string
          format: uuid
        actionResult:
          enum:
          - Queued
          - InProcess
          - Failed
          - Done
          type: string
        errorInfo:
          type: string
    deliveryContactInShipmentDto:
      properties:
        overrideContact:
          type: boolean
          description: Override contact &gt; A check box that you select to not use+ the default contact information and to type new contact information.
        contactId:
          type: integer
          format: int32
        name:
          type: string
          description: Name &gt; The legal name of to appear on the documents.
        attention:
          type: string
          description: Attention &gt; The attention line as it is used in your customer's/supplier's/company's business letters. The intention of this line is to direct the letter to the right person if the letter is not addressed to any specific person.
        email:
          type: string
          description: Email &gt; The email address of the customer/supplier/company as a business entity.
        web:
          type: string
          description: Web &gt; The website of the company, if one exists.
        phone1:
          type: string
          description: Phone 1 &gt; The default phone number.
        phone2:
          type: string
          description: Phone 2 &gt; An additional phone number.
        fax:
          type: string
          description: Fax &gt; The fax number.
      description: Delivery settings tab &gt; Delivery address contact section &gt;
    DtoValueOfNullableOfInt16:
      type: object
      properties:
        value:
          type: integer
          format: int32
    locationInShipmentDetailLineDto:
      properties:
        countryId:
          type: string
          description: Location*.
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: Document details tab &gt; Location &gt; The location in the warehouse from which the item is shipped.
    branchNumberInSalesOrderDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: 'Mandatory field: Document details tab &gt; Branch* &gt; The branch of the company.'
    CustomerInvoiceLineDto:
      type: object
      properties:
        termStartDate:
          type: string
          description: ' Term start date &gt; The date when the process of deferred revenue recognition should start for the selected item; this date can be specified manually if the deferral code assigned to the item is based on the Flexible by periods, prorate by days or Flexible by days in period recognition method.

            This column only appears if the Deferred revenue management functionality is enabled in the(CS100000) window.'
          format: date-time
        termEndDate:
          type: string
          description: ' Term end date &gt; The date when the process of the deferred revenue recognition should finish for the selected item; this date can be specified manually if the deferral code assigned to the item is based on the Flexible by periods, prorate by days or Flexible by days in period recognition method.

            This column only appears if the Deferred revenue management functionality is enabled in the(CS100000) window.'
          format: date-time
        isRotRutDeductible:
          type: boolean
        itemType:
          enum:
          - Service
          - MaterialCost
          - OtherCost
          type: string
        typeOfWork:
          $ref: '#/components/schemas/WorkTypeDto'
        deductableAmount:
          type: number
          format: double
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDto'
        projectTask:
          $ref: '#/components/schemas/ProjectTaskIdDescriptionDto'
        lineType:
          type: string
          description: 'Transaction line type.

            Possible Values:

            -&gt; Inventory = "GI";

            -&gt; NonInventory = "GN";

            -&gt; MiscCharge = "MI";

            -&gt; Freight = "FR";

            -&gt; Discount = "DS";

            -&gt; Reallocation = "RA";'
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        soShipmentNbr:
          type: string
        soOrderType:
          type: string
        soOrderNbr:
          type: string
        lineNumber:
          type: integer
          description: Line no. &gt; A counter of lines in the overview of cash sales document overview.
          format: int32
        inventoryNumber:
          type: string
          description: Item ID &gt; The item ID of the line item, if applicable. Only a non-stock item can be selected.
        description:
          type: string
          description: Transaction descr. &gt; Any brief comment relevant to the transaction.The alphanumeric string may contain up to 30 characters.
        quantity:
          type: number
          description: Quantity &gt; The quantity of items (goods or services) of a particular type sold to the customer.
          format: double
        unitPrice:
          type: number
          description: 'Unit price &gt; The unit price set for the item or service. If you want to update the unit price

            automatically to the current value(that is, the applicable sales or default price),

            you can use the Recalculate Prices and Discounts action.If you have modified

            the unit price and saved the document, the value will not be updated by the

            system if you change the document date.'
          format: double
        unitPriceInCurrency:
          type: number
          description: Background calculation giving you the Unit price in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        manualAmount:
          type: number
          description: Manual amount &gt; a check box indicating that the amount has been entered manually.
          format: double
        manualAmountInCurrency:
          type: number
          description: Background calculation giving you the Manual amount in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        amount:
          type: number
          description: 'Amount &gt; The amount after the discount has been applied. The value of this read-only box

            is calculated automatically by deducting the discount amount from the extended price.'
          format: double
        cost:
          type: number
          description: "Cost &gt; The total cost of the line in default currency. \nThe value will always be 0 for unreleased documents."
          format: double
        amountInCurrency:
          type: number
          description: Background calculation giving you the Amount in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        account:
          $ref: '#/components/schemas/accountInCustomerInvoiceLineDto'
        vatCode:
          $ref: '#/components/schemas/vatCodeInCustomerInvoiceLineDto'
        uom:
          type: string
          description: UoM &gt; The unit of measure (UoM) for the item.
        discountPercent:
          type: number
          description: 'Discount percent &gt; The percent of the line-level discount that has been applied manually or

            automatically.The system selects the Manual Discount check box and

            calculates the discount amount after you have entered the percent manually and

            saved your changes or added a new line.'
          format: double
        discountAmount:
          type: number
          description: 'Discount amount &gt; The amount of the line-level discount that has been applied manually or

            automatically to this line.The system selects the Manual Discount check box

            and calculates the line amount after you have entered the discount amount

            manually and save your changes or added a new line.'
          format: double
        discountAmountInCurrency:
          type: number
          description: Background calculation giving you the Discount amount in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        manualDiscount:
          type: boolean
          description: 'Manual discount &gt; A check box that indicates (if selected) that the discount has been applied

            manually.If you clear the check box, the system clears entered discount percent,

            or discount amount, or selected discount code.'
        subaccount:
          $ref: '#/components/schemas/subaccountInCustomerInvoiceLineDto'
        salesperson:
          type: string
          description: The field is deprecated for customer document endpoints, please use Seller instead
        seller:
          $ref: '#/components/schemas/sellerInCustomerInvoiceLineDto'
        deferralSchedule:
          type: integer
          description: Original deferral schedule &gt; A read-only column filled in by the system in the Cash return documents created by the reversing process. It shows the identifier of the deferral schedule associated with the original Cash sale document.
          format: int32
        deferralCode:
          type: string
          description: 'The deferral code assigned to the stock item or non-stock item specified in this

            document line.Upon release of the document, the system generates a deferral

            schedule (or schedules) based on the settings defined in this deferral code.'
        discountCode:
          type: string
          description: The code of the line discount that has been applied to this line automatically or manually.
        note:
          type: string
          description: Table &gt; Icon Notes &gt; Pop-up window for providing any user-defined text connected to the order.
        branchNumber:
          $ref: '#/components/schemas/branchNumberInCustomerInvoiceLineDto'
        externalLink:
          type: string
    projectInCustomerInvoiceDto:
      properties:
        internalId:
          type: integer
          description: The internal identifier.
          format: int32
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The top part &gt; Project* &gt; The identifier and description of the project with which this document is associated, or the code indicating that this document is not associated with any project; the non-project code is specified in the Project accounting preferences (PM101000) window.
    paymentMethodInCustomerInvoiceDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The Financial details tab &gt; The Payment information section &gt; Payment method &gt; The identifier for the payment method that the customer will use to pay the document.
    shippingTermsInSalesOrderDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Shipping information section &gt; Shipping terms
    salesPersonInSalesOrderDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The Commissions tab &gt; Salesperson ID &gt; The salesperson.
    invoiceAddressInCustomerInvoiceDto:
      properties:
        addressId:
          type: integer
          format: int32
        addressLine1:
          type: string
          description: Address 1 &gt; The first line of the customer's contact address.
        addressLine2:
          type: string
          description: Address 2 &gt; The second line of the address.
        addressLine3:
          type: string
          description: Address 3 &gt; The third line of the address.
        postalCode:
          type: string
          description: Postcode &gt; The postcode.
        city:
          type: string
          description: City &gt; The city.
        country:
          $ref: '#/components/schemas/countryInCustomerDocumentAddressDto'
        county:
          $ref: '#/components/schemas/countyInCustomerDocumentAddressDto'
        overrideAddress:
          type: boolean
          description: Override address &gt; A check box that indicates (if selected) that the invoice address is not the default invoice address of the customer.
      description: The Invoice address tab &gt; The Invoice address section.
    SalesOrderDto:
      type: object
      properties:
        projectCD:
          type: string
          description: 'Mandatory field: The top part &gt; Project* &gt; The field consists of Project ID and Project description. Project ID: The identifier for the project with which this document is associated, or the code indicating that this document is not associated with any project; the non-project code is specified in the Project accounting preferences (PM101000) window.'
        printDescriptionOnInvoice:
          type: boolean
          description: The top part &gt; Print description on invoice &gt; A check box
        printNoteOnExternalDocuments:
          type: boolean
          description: The top part &gt; Print note on external sales documents &gt; A check box
        printNoteOnInternalDocuments:
          type: boolean
          description: The top part &gt; Print line note on internal sales documents &gt; A check box
        soBillingContact:
          $ref: '#/components/schemas/soBillingContactInSalesOrderDto'
        soBillingAddress:
          $ref: '#/components/schemas/soBillingAddressInSalesOrderDto'
        customerVATZone:
          $ref: '#/components/schemas/customerVATZoneInSalesOrderDto'
        invoiceSeparately:
          type: boolean
          description: Financial settings tab &gt; Financial information section &gt; Invoice separately &gt; A check box that indicating that this document is to be invoiced separately (if that is required).
        invoiceNbr:
          type: string
          description: Financial settings tab &gt; Financial information section &gt; Invoice no.&gt; The invoice number of the invoice generated for this order.
        invoiceDate:
          type: string
          description: Financial settings tab &gt; Financial information section &gt; Invoice date&gt; The date of the invoice generated for the order.
          format: date-time
        terms:
          $ref: '#/components/schemas/termsInSalesOrderDto'
        dueDate:
          type: string
          description: Financial settings tab &gt; Financial information section &gt; Due date &gt; The due date of the invoice according to the credit terms.
          format: date-time
        cashDiscountDate:
          type: string
          description: Financial settings tab &gt; Financial information section &gt; Cash discount date &gt; The date when the cash discount is available for the invoice based on the credit terms.
          format: date-time
        postPeriod:
          type: string
          description: The Financial settings tab &gt; Financial information section &gt; Post period &gt; The period to post the transactions generated by the invoice. Format MMYYYY.
        salesPerson:
          $ref: '#/components/schemas/salesPersonInSalesOrderDto'
        commissionPercent:
          type: string
          description: The Commissions tab &gt; Commission (%) &gt; The percentage of commission generally earned by the salesperson.
        commissionAmount:
          type: string
          description: "The Commissions tab &gt; Commission amt. &gt;\tThe commission amount earned by the salesperson on this document."
        commissionableAmount:
          type: string
          description: "The Commissions tab &gt; Commissionable amount\t&gt; The amount used to calculate the commission."
        owner:
          $ref: '#/components/schemas/ownerInSalesOrderDto'
        origOrderType:
          type: string
          description: 'Mandatory field: The top part &gt; Order type* &gt; The type of the document, which is one of the predefined order types or a custom order type created by using the window SO201000.'
        origOrderNbr:
          type: string
          description: The top part &gt; Order no. &gt; The order number of the document.
        soShippingContact:
          $ref: '#/components/schemas/soShippingContactInSalesOrderDto'
        soShippingAddress:
          $ref: '#/components/schemas/soShippingAddressInSalesOrderDto'
        schedShipment:
          type: string
          description: Delivery settings tab &gt; Shipping information section &gt; Sched. shipment &gt; The date when the ordered goods are scheduled to be shipped.
          format: date-time
        shipSeparately:
          type: boolean
          description: Delivery settings tab &gt; Shipping information section &gt; Ship separately &gt; This check box indicates that the goods for the customer should be shipped separately for each sales order.
        shipComplete:
          enum:
          - BackOrderAllowed
          - CancelRemainder
          - ShipComplete
          type: string
          description: Delivery settings tab &gt; Shipping information section &gt; Shipping rule &gt; An option that controls whether incomplete and partial shipments for the order are allowed.
        cancelBy:
          type: string
          description: Delivery settings tab &gt; Shipping information section &gt; Cancel by &gt; The date when the order should be cancelled if the Back order allowed option has been selected in the Shipping rule field.
          format: date-time
        canceled:
          type: boolean
          description: The Delivery settings tab &gt; The Shipping information section &gt; Cancelled &gt; A check box that indicates that the order has been cancelled on the date specified in Cancel by.
        preferredWarehouse:
          $ref: '#/components/schemas/preferredWarehouseInSalesOrderDto'
        shipVia:
          $ref: '#/components/schemas/shipViaInSalesOrderDto'
        fobPoint:
          $ref: '#/components/schemas/fobPointInSalesOrderDto'
        priority:
          type: integer
          description: Delivery settings tab &gt; Shipping information section &gt; Priority &gt; Field only for informational purposes. The level of priority for processing order of this customer, as specified for the customer on the Shipping settings tab on the AR303000 window.
          format: int32
        shippingTerms:
          $ref: '#/components/schemas/shippingTermsInSalesOrderDto'
        shippingZone:
          $ref: '#/components/schemas/shippingZoneInSalesOrderDto'
        residentialDelivery:
          type: boolean
          description: Delivery settings tab &gt; Shipping information section &gt; Residential delivery &gt; A check box that you select to indicate that the shipment should be delivered to a residential area.
        saturdayDelivery:
          type: boolean
          description: Delivery settings tab &gt; Shipping information section &gt; Saturday delivery &gt; A check box that indicates that the order may be delivered on Saturday.
        insurance:
          type: boolean
          description: Delivery settings tab &gt; Shipping information section &gt; Insurance &gt; A check box that you select to indicate that insurance is required for this order.
        transactionType:
          $ref: '#/components/schemas/transactionTypeInSalesOrderDto'
        paymentMethod:
          $ref: '#/components/schemas/paymentMethodInSalesOrderDto'
        cashAccount:
          type: string
          description: Payment settings tab &gt; Cash account
        paymentRef:
          type: string
          description: Payment settings tab &gt; Payment ref.
        isRotRutDeductible:
          type: boolean
          description: A check box indicating if the document is Rot/rut deductible (applicable for the Swedish markets)
        emailed:
          type: boolean
          description: A check box indicating if the document is emailed
        lines:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrderLineDto'
          description: Document details tab &gt;
        shipments:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrderShipmentDto'
          description: Shipment tab &gt;
        orderType:
          type: string
          description: 'Mandatory field: The top part &gt; Order type &gt; The type of the document, which is one of the predefined order types or a custom order type created by using the (SO201000) window.'
        orderNo:
          type: string
          description: 'The top part &gt; Order no.: &gt; The reference number of the document.'
        status:
          enum:
          - Open
          - Hold
          - CreditHold
          - Completed
          - Cancelled
          - BackOrder
          - Shipping
          - Invoiced
          - PendingApproval
          - Voided
          type: string
          description: 'The top part &gt; Status &gt; The status of the document, which can be one of the following options: On hold, Credit hold, Pending aååroval, Rejected, Open, Cancelled, Shipping, Back order, Invoiced, Completed.'
        hold:
          type: boolean
          description: The top part &gt; Hold &gt; A check box that you select if the document is on hold and should not be processed further at this time.
        date:
          type: string
          description: 'Mandatory field: The top part &gt; Date* &gt;  The date of the document.'
          format: date-time
        requestOn:
          type: string
          description: 'Mandatory field: The top part &gt; Requested on &gt; The date when the customer wants to receive the goods; this date provides the default values for the Requested on dates for order lines.'
          format: date-time
        customerOrder:
          type: string
          description: The top part &gt; Customer order &gt; The reference number of the original customer document that the sales order is based on.
        customerRefNo:
          type: string
          description: The top part &gt; External reference &gt; The reference number of the sales order in a third-party application if Visma.net Financials is integrated with such an application and imports the sales orders from it.
        customer:
          $ref: '#/components/schemas/customerInSalesOrderDto'
        contactId:
          type: integer
          description: The top part &gt; Contact &gt; The contact person of the customer.
          format: int32
        location:
          $ref: '#/components/schemas/locationInSalesOrderDto'
        currency:
          type: string
          description: The top part &gt; Currency &gt; The currency of the document.
        description:
          type: string
          description: The top part &gt; Description &gt; A brief description of the document.
        orderTotal:
          type: number
          description: 'The top part &gt; Order total &gt; The total amount of the document, which is calculated as follows:

            Line Total + Misc.Charges + Freight + Premium Freight – Discount Total+ Tax Total'
          format: double
        orderTotalInBaseCurrency:
          type: number
          format: double
        vatTaxableTotal:
          type: number
          description: The top part &gt; VAT taxable total &gt; The document total that is subject to VAT.
          format: double
        vatTaxableTotalInBaseCurrency:
          type: number
          format: double
        vatExemptTotal:
          type: number
          description: The top part &gt; VAT exempt total &gt; The document total that is exempt from VAT.
          format: double
        vatExemptTotalInBaseCurrency:
          type: number
          format: double
        taxTotal:
          type: number
          description: The top part &gt; VAT total &gt; The total amount of tax paid on the document.
          format: double
        taxTotalInBaseCurrency:
          type: number
          format: double
        exchangeRate:
          type: number
          format: double
        discountTotal:
          type: number
          format: double
        discountTotalInBaseCurrency:
          type: number
          format: double
        lastModifiedDateTime:
          type: string
          description: Background information collected from the system.
          format: date-time
        branchNumber:
          $ref: '#/components/schemas/branchNumberInSalesOrderDto'
        note:
          type: string
          description: Icon Notes on top of the window &gt; Pop-up window for providing any user-defined text connected to the order.
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDto'
          description: The data containing information about the document attachments
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents a SOOrder in SOOrderController. Used by getting data.
    InventoryNumberDescriptionDto:
      type: object
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
    DtoValueOfNullableOfInventoryReplenishmentSources:
      type: object
      properties:
        value:
          enum:
          - DropShipToOrder
          - Manufactured
          - None
          - Purchased
          - PurchaseToOrder
          - Transfer
          type: string
    customerInShipmentDto:
      properties:
        internalId:
          type: integer
          format: int32
        number:
          type: string
          description: The identifier of the particular destination of the selected type.
        name:
          type: string
          description: The name of the particular destination of the selected type.
      description: The top part &gt; Customer &gt; The customer to whom the goods specified in the document should be shipped. (This field does not appear for transfers.)
    AllocationsDto:
      type: object
      properties:
        lineNbr:
          type: integer
          description: Line no. &gt; The line of the purchase order that contains the selected item.
          format: int32
        itemId:
          type: string
          description: ItemId &gt; The id of the item.
        location:
          $ref: '#/components/schemas/locationInAllocationsDto'
        lotSerialNumber:
          type: string
          description: Lot/Serial no. &gt; The lot or serial number of the item.
        quantity:
          type: number
          description: Quantity &gt; The quantity of the stock item with the same lot number. It is 1 for items with serial numbers.
          format: double
        uom:
          type: string
          description: UoM &gt; The unit of measure for the specified quantity of the inventory item.
        expirationDate:
          type: string
          description: Expiration date &gt; The expiration date of the specified quantity of the stock item.
          format: date-time
        description:
          type: string
          description: Description &gt; The description of the stock item.
      description: This class represents a Allocations for Purchase Receipt Line in PurchaseReceiptController. Used for getting data.
    SalesOrderLineDto:
      type: object
      properties:
        invoiceNbr:
          type: string
          description: The reference number of the invoice generated for this order. This number is collected from the system and not visible on the sales order line.
        operation:
          enum:
          - Issue
          - Receipt
          type: string
          description: The operation to be performed in the workspace to fulfil the order. This information is collected from the system and not visible on the sales order line.
        freeItem:
          type: boolean
          description: A check box that indicates (if selected) that the stock item specified in the row is a free item. This information is collected from the system and not visible on the sales order line.
        requestedOn:
          type: string
          description: 'Mandatory field: The top part  &gt; Requested on* &gt; The date when the customer wants to receive the goods. The default value is the current business date.'
          format: date-time
        shipOn:
          type: string
          description: Ship on &gt; The date when the item is to be shipped.
          format: date-time
        shipComplete:
          enum:
          - BackOrderAllowed
          - CancelRemainder
          - ShipComplete
          type: string
          description: 'Shipping rule &gt; An option that controls whether incomplete and partial shipments for the order are allowed. (Values: Ship complete, Back order allowed, Cancel remainder)'
        undershipThreshold:
          type: number
          description: Undership threshold (%) &gt; The minimal percentage of goods shipped (with respect to the ordered quantity) to consider the order shipped completely.
          format: double
        overshipThreshold:
          type: number
          description: Overship threshold (%) &gt; The maximum percentage of goods shipped (with respect to the ordered quantity) allowed by the customer.
          format: double
        completed:
          type: boolean
          description: Completed &gt; A check box that can be selected to indicate to the system that this line is completed.
        markForPO:
          type: boolean
          description: Mark for purchase order &gt; A check box that indicates (if selected) that the order line was marked for purchasing (if it has not been shipped completely).
        poSource:
          enum:
          - DropShipToOrder
          - Manufactured
          - None
          - Purchased
          - PurchaseToOrder
          - Transfer
[...]
