openapi: 3.2.0
info:
  title: Bookkeeping & Invoicing/eAccounting API V2 Partner Resource…
  description: 'Visit our complete Bookkeeping & Invoicing/eAccounting API docs for how to get started, information about authentication, error handling, query customization and more.


    ✉ API Support'
  version: v2
servers:
- url: https://eaccountingapi.vismaonline.com/v2/
tags:
- name: PartnerResourceLinks
  description: 'Links or references related to a partner, such as external resources or connected documents.


    ___


    Available in any of the following variants:

    * Pro

    * Standard

    * Invoicing

    * Bookkeeping

    * Solo'
paths:
  /partnerresourcelinks:
    get:
      tags:
      - PartnerResourceLinks
      summary: Get partner resource links
      description: 'Get all resource links for a partner, or add query parameters to filter the results. The response includes a list of resource links, each with its type, URL, and any associated metadata.


        ___

        Requires any of the following scopes:

        * ea:sales

        * ea:sales_readonly

        * ea:purchase

        * ea:purchase_readonly'
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseOfPartnerResourceLinkApi'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
        '401':
          description: Unauthorized. Access denied.
        '403':
          description: Forbidden. The company is not active, or the startup guide is not completed.
      operationId: getPartnerresourcelinks
      x-operation-id-source: derived
    post:
      tags:
      - PartnerResourceLinks
      summary: Create a partner resource link
      description: 'Create a new partner resource link.


        ___

        Requires any of the following scopes:

        * ea:sales

        * ea:purchase'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerResourceLinkApi'
      responses:
        '201':
          description: Partner resource link created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerResourceLinkApi'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
        '401':
          description: Unauthorized. Access denied.
        '403':
          description: Forbidden. The company is not active, or the startup guide is not completed.
      operationId: postPartnerresourcelinks
      x-operation-id-source: derived
  /partnerresourcelinks/{partnerResourceLinkId}:
    get:
      tags:
      - PartnerResourceLinks
      summary: Get a partner resource link
      description: 'Get a specific partner resource link by its unique identifier. The response includes details about the link, such as its type, URL, and any associated metadata.


        ___

        Requires any of the following scopes:

        * ea:sales

        * ea:sales_readonly

        * ea:purchase

        * ea:purchase_readonly'
      parameters:
      - name: partnerResourceLinkId
        in: path
        description: This represents the Id of the Partner Resource Link.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerResourceLinkApi'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
        '404':
          description: Not Found
        '401':
          description: Unauthorized. Access denied.
        '403':
          description: Forbidden. The company is not active, or the startup guide is not completed.
      operationId: getPartnerresourcelinksByPartnerResourceLinkId
      x-operation-id-source: derived
    put:
      tags:
      - PartnerResourceLinks
      summary: Update a partner resource link
      description: 'Replace an existing partner resource link''s data with the provided new data. The partner resource link must already exist in the system.


        ___

        Requires any of the following scopes:

        * ea:sales

        * ea:purchase'
      parameters:
      - name: partnerResourceLinkId
        in: path
        description: This represents the Id of the Partner Resource Link.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerResourceLinkApi'
      responses:
        '200':
          description: Partner resource link updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerResourceLinkApi'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
        '401':
          description: Unauthorized. Access denied.
        '403':
          description: Forbidden. The company is not active, or the startup guide is not completed.
      operationId: putPartnerresourcelinksByPartnerResourceLinkId
      x-operation-id-source: derived
    delete:
      tags:
      - PartnerResourceLinks
      summary: Delete a partner resource link
      description: 'Delete a specified resource link for a partner.


        ___

        Requires any of the following scopes:

        * ea:sales

        * ea:purchase'
      parameters:
      - name: partnerResourceLinkId
        in: path
        description: This represents the Id of the Partner Resource Link.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Partner resource link deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
        '401':
          description: Unauthorized. Access denied.
        '403':
          description: Forbidden. The company is not active, or the startup guide is not completed.
      operationId: deletePartnerresourcelinksByPartnerResourceLinkId
      x-operation-id-source: derived
components:
  schemas:
    CommonPaginationMetadata:
      required:
      - CurrentPage
      - PageSize
      - ServerTimeUtc
      - TotalNumberOfPages
      - TotalNumberOfResults
      type: object
      properties:
        CurrentPage:
          type: integer
          description: The current page number
          format: int32
        PageSize:
          type: integer
          description: The number of results per page
          format: int32
        TotalNumberOfPages:
          type: integer
          description: The total number of pages available
          format: int32
        TotalNumberOfResults:
          type: integer
          description: The total number of results available for the query
          format: int32
        ServerTimeUtc:
          type: string
          description: <strong>Possible values:</strong><br/>2017-07-21T17:32:28Z<br/><br/>The date-time notation as defined by RFC 3339, section 5.6.
          format: date-time
      additionalProperties: false
    CommonError:
      type: object
      properties:
        Field:
          type:
          - string
          - 'null'
        ErrorCode:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Key:
          type:
          - string
          - 'null'
      additionalProperties: false
    PartnerResourceLinkApi:
      required:
      - Href
      - PartnerCompanyName
      - PartnerSystemName
      - ResourceId
      - ResourceType
      type: object
      properties:
        Id:
          type: string
          description: 'Purpose: Id provided by the system'
          format: uuid
          readOnly: true
        ResourceId:
          type: string
          description: 'Purpose: Link to the resource in the system'
          format: uuid
        ResourceType:
          type: integer
          description: <strong>Possible values:</strong><br/>0 = Article,<br/>1 = Customer,<br/>2 = Supplier,<br/>3 = CustomerInvoice,<br/>4 = SupplierInvoice,<br/>5 = CustomerInvoiceDraft,<br/>6 = SupplierInvoiceDraft
          format: int32
        Href:
          maxLength: 256
          minLength: 0
          type: string
          description: Link to the third party solution page
        PartnerCompanyName:
          maxLength: 100
          minLength: 0
          type: string
          description: Name of the partner company
        PartnerSystemName:
          maxLength: 100
          minLength: 0
          type: string
          description: Name of the partner system
      additionalProperties: false
    CommonExtendedBadRequest:
      type: object
      properties:
        ErrorCode:
          type: integer
          format: int32
        DeveloperErrorMessage:
          type:
          - string
          - 'null'
        ErrorId:
          type: string
          format: uuid
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CommonError'
      additionalProperties: false
    PaginatedResponseOfPartnerResourceLinkApi:
      required:
      - Data
      - Meta
      type: object
      properties:
        Meta:
          $ref: '#/components/schemas/CommonPaginationMetadata'
        Data:
          type: array
          items:
            $ref: '#/components/schemas/PartnerResourceLinkApi'
      additionalProperties: false
x-tagGroups:
- name: Sales
  tags:
  - ArticleLabels
  - Articles
  - CustomerInvoiceDrafts
  - CustomerInvoiceOffsets
  - CustomerInvoices
  - CustomerInvoiceValuationHistories
  - CustomerLabels
  - CustomerLedgerItems
  - Customers
  - DeliveryMethods
  - DeliveryTerms
  - DiscountAgreements
  - Orders
  - QuoteDrafts
  - Quotes
  - SalesPriceLists
  - TermsOfPayment
  - WebshopOrders
- name: Purchase
  tags:
  - BankAccounts
  - ForeignPaymentCodes
  - PurchaseReceiptDrafts
  - SupplierInvoiceDrafts
  - SupplierInvoices
  - SupplierInvoiceValuationHistories
  - SupplierLedgerItems
  - Suppliers
- name: Common
  tags:
  - Approval
  - AppStoreActivationStatus
  - AttachmentLinks
  - Attachments
  - AutoInvoice
  - Bank
  - Charts
  - CompanySettings
  - Company
  - Countries
  - Currencies
  - Documents
  - IdentityLookup
  - MessageThreads
  - Mobile
  - Notes
  - PartnerResourceLinks
  - SalesDocumentAttachments
  - Trials
  - Units
  - Users
  - VoTokenValidation
  - WebHooks
  - Zapier
- name: Accounting
  tags:
  - AccountBalance
  - Accounts
  - AccountTypes
  - AllocationPeriods
  - ArticleAccountCodings
  - BankTransactions
  - CostCenterItems
  - CostCenters
  - FiscalYears
  - InventoryItems
  - PaymentVoucher
  - Projects
  - SieFileImportExport
  - VatCode
  - VatReport
  - VoucherDrafts
  - Vouchers
  - VoucherWithOverunderPayment
