openapi: 3.2.0
info:
  title: Visma.net ERP Project Basic API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: ProjectBasic
paths:
  /v1/projectbasic:
    get:
      tags:
      - ProjectBasic
      summary: Get a range of Projects - ScreenId=PM301000 Request page size must be lower or…
      operationId: ProjectBasic_GetAll
      parameters:
      - name: status
        in: query
        description: Select project status.
        schema:
          enum:
          - Planned
          - Active
          - Completed
          - Cancelled
          - OnHold
          - PendingApproval
          type: string
      - name: description
        in: query
        description: Project name/description
        schema:
          type: string
      - name: projectId
        in: query
        description: Identifies the Project
        schema:
          type: string
      - name: startDate
        in: query
        description: Project's start date
        schema:
          type: string
          format: date-time
      - name: nonProject
        in: query
        description: Set to true to return the non-project.
        schema:
          type: boolean
      - name: projectIdDesc
        in: query
        description: Identifies the Project by ID and description
        schema:
          type: string
      - name: publicId
        in: query
        description: Identifies the Project by its publicId
        schema:
          type: string
          format: uuid
      - name: restrictedEmployee
        in: query
        description: Id of the employee where access restrictions apply
        schema:
          type: string
      - name: restrictedUser
        in: query
        description: Id of the odp user where access restrictions apply
        schema:
          type: integer
          format: int64
      - name: visibleInAp
        in: query
        description: If the project is visible in the Supplier ledger
        schema:
          type: boolean
      - name: visibleInAr
        in: query
        description: If the project is visible in the Customer ledger
        schema:
          type: boolean
      - name: visibleInCa
        in: query
        description: If the project is visible in the Cash management workspace
        schema:
          type: boolean
      - name: visibleInCr
        in: query
        description: If the project is visible in the CRM workspace
        schema:
          type: boolean
      - name: visibleInEa
        in: query
        description: If the project is visible in the Expense workspace
        schema:
          type: boolean
      - name: visibleInGl
        in: query
        description: If the project is visible in the General ledger workspace
        schema:
          type: boolean
      - name: visibleInIn
        in: query
        description: If the project is visible in the Inventory workspace
        schema:
          type: boolean
      - name: visibleInPo
        in: query
        description: If the project is visible in the Purchases workspace
        schema:
          type: boolean
      - name: visibleInSo
        in: query
        description: If the project is visible in the Sales workspace
        schema:
          type: boolean
      - name: visibleInTa
        in: query
        description: If the project is visible in the Time entities workspace
        schema:
          type: boolean
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: greaterThanValue
        in: query
        description: Greater than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectBasicDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectBasicDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    visibilityInProjectBasicDto:
      properties:
        visibleInGl:
          type: boolean
          description: General ledger
        visibleInAp:
          type: boolean
          description: Supplier ledger
        visibleInAr:
          type: boolean
          description: Customer ledger
        visibleInSo:
          type: boolean
          description: Sales
        visibleInPo:
          type: boolean
          description: Purchases
        visibleInEa:
          type: boolean
          description: Expenses
        visibleInTa:
          type: boolean
          description: Time entries
        visibleInIn:
          type: boolean
          description: Inventory
        visibleInCa:
          type: boolean
          description: Cash management
        visibleInCr:
          type: boolean
      description: Summary tab &gt; Visibility settings section &gt;
    customerInProjectBasicDto:
      properties:
        number:
          type: string
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: The top part &gt; Customer &gt; The customer for the project if this project is external.
    ProjectBasicDto:
      type: object
      properties:
        internalID:
          type: integer
          format: int32
        projectID:
          type: string
          description: 'Mandatory field: The top part &gt; Project ID* &gt; The unique ID for the project.'
        customer:
          $ref: '#/components/schemas/customerInProjectBasicDto'
        hold:
          type: boolean
          description: The top part &gt; Hold &gt; A check box that you select to indicate that the project should have the In planning status.
        status:
          enum:
          - Planned
          - Active
          - Completed
          - Cancelled
          - OnHold
          - PendingApproval
          type: string
          description: 'The top part &gt; Status &gt; The status of the project, which can be one of the following options: In planning, Active, Completed, Suspended, Cancelled.'
        description:
          type: string
          description: 'Mandatory field: The top part &gt; Description* &gt; The description of the project.'
        startDate:
          type: string
          description: 'Mandatory field: Summary tab &gt; Project properties section &gt; Start date* &gt; The date when the project starts.'
          format: date-time
        endDate:
          type: string
          description: Summary tab &gt; Project properties section &gt; End date &gt; The date when the project is expected to end.
          format: date-time
        autoAllocate:
          type: boolean
          description: Summary tab &gt; Invoicing and allocation settings section &gt; Run allocation when you release project transactions &gt; A check box that indicates (if selected) that allocation is run automatically during the release of the documents associated with this project.
        automaticReleaseAr:
          type: boolean
          description: Summary tab &gt; Invoicing and allocation settings section &gt; Automatically release customer documents &gt; A check box that indicates (if selected) that invoice documents are released automatically after the project invoicing is completed.
        lastModifiedDateTime:
          type: string
          description: Systemgenerated information.
          format: date-time
        publicId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        visibility:
          $ref: '#/components/schemas/visibilityInProjectBasicDto'
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents a Project (light weight) in ProjectBasicController. Used for getting data.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
