openapi: 3.2.0
info:
  title: Visma.net ERP Multilanguage API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: Multi language
paths:
  /v1/multilanguage/inventory/{inventoryNumber}/{languageISO}:
    get:
      tags:
      - Multi language
      summary: Get a specific translation of the description for a given item and language ISO…
      operationId: Multilanguage_GetSpecificInventoryDescrTranslationByinventoryNumberlanguageISO
      parameters:
      - name: inventoryNumber
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: languageISO
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultilanguageDto'
            text/json:
              schema:
                $ref: '#/components/schemas/MultilanguageDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/MultilanguageDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/MultilanguageDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - Multi language
      summary: Updates item description for given item and language ISO code…
      description: Response Message has StatusCode NoContent if PUT operation succeed
      operationId: Multilanguage_PutSpecificInventoryDescrTranslationByinventoryNumberlanguageISO
      parameters:
      - name: inventoryNumber
        in: path
        description: Identifies the inventory to update
        required: true
        schema:
          type: string
      - name: languageISO
        in: path
        description: Identifies the description language to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the fields and field values to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultilanguageTranslationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/MultilanguageTranslationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/MultilanguageTranslationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/MultilanguageTranslationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MultilanguageTranslationDto'
        required: true
        x-bodyName: translationDto
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - Multi language
      summary: Creates item description for given item and language ISO code…
      description: Response Message has StatusCode Created if POST operation succeed
      operationId: Multilanguage_PostSpecificInventoryDescrTranslationByinventoryNumberlanguageISO
      parameters:
      - name: inventoryNumber
        in: path
        description: Identifies the inventory
        required: true
        schema:
          type: string
      - name: languageISO
        in: path
        description: Identifies the description language
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the fields and field values to be set on created description
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultilanguageTranslationDto'
          text/json:
            schema:
              $ref: '#/components/schemas/MultilanguageTranslationDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/MultilanguageTranslationDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/MultilanguageTranslationDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MultilanguageTranslationDto'
        required: true
        x-bodyName: translationDto
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    delete:
      tags:
      - Multi language
      summary: Deletes the description of an item with the specific language ISO code…
      description: Response Message has StatusCode NoContent if DEL operation succeed
      operationId: Multilanguage_DeleteSpecificInventoryDescrTranslationByinventoryNumberlanguageISO
      parameters:
      - name: inventoryNumber
        in: path
        description: Identifies the inventory to update
        required: true
        schema:
          type: string
      - name: languageISO
        in: path
        description: Identifies the description language to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/multilanguage/inventory/{inventoryNumber}:
    get:
      tags:
      - Multi language
      summary: Get all translations for a given item (screenId:IN202500 and IN202000)
      operationId: Multilanguage_GetInventoryTranslationsByinventoryNumber
      parameters:
      - name: inventoryNumber
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MultilanguageDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MultilanguageDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MultilanguageDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MultilanguageDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/multilanguage/languages:
    get:
      tags:
      - Multi language
      summary: Get all languages (screenId:SM200550)
      operationId: Multilanguage_GetAllActiveLanguages
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActiveMultilanguageDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActiveMultilanguageDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActiveMultilanguageDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActiveMultilanguageDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/multilanguage/defaultlanguage:
    put:
      tags:
      - Multi language
      summary: Set default language (screenId:SM200550).
      operationId: Multilanguage_AddDefaultLanguage
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LanguageUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/LanguageUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/LanguageUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/LanguageUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LanguageUpdateDto'
        required: true
        x-bodyName: languageUpdateDto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    LanguageUpdateDto:
      type: object
      properties:
        languageISO:
          type: string
    MultilanguageDto:
      type: object
      properties:
        languageISO:
          type: string
        translation:
          type: string
        isTranslated:
          type: boolean
    MultilanguageTranslationDto:
      type: object
      properties:
        translation:
          type: string
    ActiveMultilanguageDto:
      type: object
      properties:
        isDefault:
          type: boolean
        languageISO:
          type: string
        nativeName:
          type: string
        isActive:
          type: boolean
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
