openapi: 3.2.0
info:
  title: Visma.net ERP Webhook Notification Feedback API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: WebhookNotificationFeedback
paths:
  /v1/webhooknotificationfeedback:
    post:
      tags:
      - WebhookNotificationFeedback
      summary: Creates/Inserts a WebhookNotificationFeedback
      description: Response Message has StatusCode Created if POST operation succeed
      operationId: WebhookNotificationFeedback_Post
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Define the data for the WebhookNotificationFeedback to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookNotificationFeedbackDto'
          text/json:
            schema:
              $ref: '#/components/schemas/WebhookNotificationFeedbackDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/WebhookNotificationFeedbackDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/WebhookNotificationFeedbackDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WebhookNotificationFeedbackDto'
        required: true
        x-bodyName: webhookNotificationFeedback
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    WebhookNotificationFeedbackDto:
      type: object
      properties:
        notificationId:
          type: string
          description: The ID of the notification.
          format: uuid
        source:
          type: string
          description: The source of the notification
        description:
          type: string
          description: The description text of the notification. Such as "Operation failed".
        isSuccess:
          type: boolean
          description: 'Was the notification successfully consumed: True or false.'
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
