openapi: 3.2.0
info:
  title: Visma.net ERP Supplier Location API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: SupplierLocation
paths:
  /v1/supplierlocation/{bAccountId}/{locationId}:
    get:
      tags:
      - SupplierLocation
      summary: Get a specific Location of a Baccount
      description: 'Data for a single supplier location.


        The response headers include an ETag after a successful GET operation.'
      operationId: SupplierLocation_GetLocationBybAccountIdlocationId
      parameters:
      - name: bAccountId
        in: path
        description: Identifies the BAccount
        required: true
        schema:
          type: string
      - name: locationId
        in: path
        description: Identifies the Location
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierLocationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/SupplierLocationDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - SupplierLocation
      summary: Update a specific Location
      description: 'Response Message has StatusCode NoContent if PUT operation succeed.


        Response Message has StatusCode BadRequest if PUT operation failed.


        The response headers include an ETag after a successful PUT operation.'
      operationId: SupplierLocation_UpdateBybAccountIdlocationId
      parameters:
      - name: bAccountId
        in: path
        description: Identifies the BAccount
        required: true
        schema:
          type: string
      - name: locationId
        in: path
        description: Identifies the Location
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: The data to update for the Location
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierLocationUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SupplierLocationUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/SupplierLocationUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/SupplierLocationUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SupplierLocationUpdateDto'
        required: true
        x-bodyName: location
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Supplier location version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierlocation/{bAccountId}:
    get:
      tags:
      - SupplierLocation
      summary: Get a range of Locations for a BAccount Request page size must be lower or…
      description: Data for the Locations
      operationId: SupplierLocation_GetLocationsForBaccountBybAccountId
      parameters:
      - name: bAccountId
        in: path
        description: Identifies the BAccount
        required: true
        schema:
          type: string
      - name: locationId
        in: query
        schema:
          type: string
      - name: gln
        in: query
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierLocationDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierLocationDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierlocation:
    get:
      tags:
      - SupplierLocation
      summary: Get a range of Locations - List screen=AP3030P1, Entry screen=AP303010 Request…
      description: Data for the Locations
      operationId: SupplierLocation_GetLocations
      parameters:
      - name: locationId
        in: query
        schema:
          type: string
      - name: gln
        in: query
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierLocationDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierLocationDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - SupplierLocation
      summary: Create a Location
      description: 'Response Message has StatusCode Created if POST operation succeed.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.


        The response headers include an ETag after a successful POST operation.'
      operationId: SupplierLocation_Create
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Location to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierLocationUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SupplierLocationUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/SupplierLocationUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/SupplierLocationUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SupplierLocationUpdateDto'
        required: true
        x-bodyName: location
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    DtoValueOfAddressUpdateDto:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/AddressUpdateDto'
    TaxCategoryNumberDescriptionDto:
      type: object
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
    baccountIdInSupplierLocationUpdateDto:
      properties:
        value:
          type: string
      description: Mandatory field for creating a new location. Can not be updated after it has been created.
    SupplierLocationUpdateDto:
      type: object
      properties:
        baccountId:
          $ref: '#/components/schemas/baccountIdInSupplierLocationUpdateDto'
        locationId:
          $ref: '#/components/schemas/locationIdInSupplierLocationUpdateDto'
        locationName:
          $ref: '#/components/schemas/DtoValueOfString'
        active:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        addressIsSameAsMain:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        address:
          $ref: '#/components/schemas/DtoValueOfAddressUpdateDto'
        contactIsSameAsMain:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        contact:
          $ref: '#/components/schemas/DtoValueOfContactInfoUpdateDto'
        vatRegistrationId:
          $ref: '#/components/schemas/DtoValueOfString'
        vatZone:
          $ref: '#/components/schemas/DtoValueOfString'
        ediCode:
          $ref: '#/components/schemas/DtoValueOfString'
        gln:
          $ref: '#/components/schemas/DtoValueOfString'
        corporateId:
          $ref: '#/components/schemas/DtoValueOfString'
      description: This class represents a Location in LocationController. Used to create and update Location.
    DtoValueOfNullableOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    addressInSupplierLocationDto:
      properties:
        addressId:
          type: integer
          format: int32
        addressLine1:
          type: string
          description: Address 1 &gt; The first line of the customer's/supplier's/company's/employee's contact address.
        addressLine2:
          type: string
          description: Address 2 &gt; The second line of the address.
        addressLine3:
          type: string
          description: Address 3 &gt; The third line of the address.
        postalCode:
          type: string
          description: Postcode &gt; The postcode.
        city:
          type: string
          description: City &gt; The city.
        country:
          $ref: '#/components/schemas/countryInAddressDto'
        county:
          $ref: '#/components/schemas/countyInAddressDto'
      description: General information tab &gt; Location address section &gt;
    countryInAddressDto:
      properties:
        id:
          type: string
          description: 'Mandatory field: Country ID* &gt; The unique two-letter country ID according to international standard ISO 3166.'
        name:
          type: string
          description: 'Mandatory field: Country name* &gt; The complete name of the country.'
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: Country &gt; The country.
    DtoValueOfContactInfoUpdateDto:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/ContactInfoUpdateDto'
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    DtoValueOfString:
      type: object
      properties:
        value:
          type: string
    locationIdInSupplierLocationUpdateDto:
      properties:
        value:
          type: string
      description: Mandatory field for creating a new location. Can not be updated after it has been created.
    SupplierLocationDto:
      type: object
      properties:
        baccount:
          $ref: '#/components/schemas/baccountInSupplierLocationDto'
        locationId:
          type: string
          description: 'Mandatory field: The top part &gt; Location ID* &gt; The identifier of the location. Click the magnifier.'
        locationName:
          type: string
          description: The top part &gt; Location name &gt; A descriptive name to help users recognize the location.
        active:
          type: boolean
          description: The top part &gt; Active &gt; A check box that you select if the location is active.
        address:
          $ref: '#/components/schemas/addressInSupplierLocationDto'
        contact:
          $ref: '#/components/schemas/contactInSupplierLocationDto'
        vatRegistrationId:
          type: string
          description: General information tab &gt; Location address section &gt; VAT registration ID &gt; The optional VAT registration ID associated with the location.
        vatZone:
          $ref: '#/components/schemas/vatZoneInSupplierLocationDto'
        ediCode:
          type: string
          description: General information tab &gt; Location address section &gt; EDI code &gt; The EDI code to be used for the customer location.
        gln:
          type: string
          description: General information tab &gt; Location address section &gt; GLN &gt; The GLN to be used for the customer location.
        corporateId:
          type: string
          description: General information tab &gt; Location address section &gt; Corporate ID &gt; The corporate ID associated with the customer location.
        lastModifiedDateTime:
          type: string
          description: System generation information
          format: date-time
        supplierPaymentMethodDetails:
          type: array
          items:
            $ref: '#/components/schemas/SupplierPaymentMethodDetailDto'
          description: Supplier payment method details from the supplier location page.
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents a Location in LocationController. Used for getting data.
    countyInAddressDto:
      properties:
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: County &gt; The county or province.
    AddressUpdateDto:
      type: object
      properties:
        addressLine1:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine2:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine3:
          $ref: '#/components/schemas/DtoValueOfString'
        postalCode:
          $ref: '#/components/schemas/DtoValueOfString'
        city:
          $ref: '#/components/schemas/DtoValueOfString'
        countryId:
          $ref: '#/components/schemas/DtoValueOfString'
        county:
          $ref: '#/components/schemas/DtoValueOfString'
    vatZoneInSupplierLocationDto:
      properties:
        id:
          type: string
          description: Click the magnifier. The identifier for the VAT zone of the supplier, which is specified in the  AP303000 window.
        description:
          type: string
          description: Click the magnifier. The description for the VAT zone of the supplier, which is specified in the  AP303000 window.
        defaultVatCategory:
          type: string
          description: Click the magnifier. The Default VAT category for the VAT zone of the supplier, which is specified in the  AP303000 window.
        defaultTaxCategory:
          $ref: '#/components/schemas/TaxCategoryNumberDescriptionDto'
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: General information tab &gt; Location address section &gt; VAT zone &gt; The VAT zone associated with the account location.
    baccountInSupplierLocationDto:
      properties:
        internalId:
          type: integer
          format: int32
        number:
          type: string
          description: The identifier of the particular destination of the selected type.
        name:
          type: string
          description: The name of the particular destination of the selected type.
      description: 'Mandatory field: The top part &gt; Business connection* &gt; The business account this location is associated with. Click the magnifier.'
    contactInSupplierLocationDto:
      properties:
        contactId:
          type: integer
          format: int32
        name:
          type: string
          description: Name &gt; The legal name of to appear on the documents.
        attention:
          type: string
          description: Attention &gt; The attention line as it is used in your customer's/supplier's/company's business letters. The intention of this line is to direct the letter to the right person if the letter is not addressed to any specific person.
        email:
          type: string
          description: Email &gt; The email address of the customer/supplier/company as a business entity.
        web:
          type: string
          description: Web &gt; The website of the company, if one exists.
        phone1:
          type: string
          description: Phone 1 &gt; The default phone number.
        phone2:
          type: string
          description: Phone 2 &gt; An additional phone number.
        fax:
          type: string
          description: Fax &gt; The fax number.
      description: General information tab &gt; Location contact section &gt;
    ContactInfoUpdateDto:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/DtoValueOfString'
        attention:
          $ref: '#/components/schemas/DtoValueOfString'
        email:
          $ref: '#/components/schemas/DtoValueOfString'
        web:
          $ref: '#/components/schemas/DtoValueOfString'
        phone1:
          $ref: '#/components/schemas/DtoValueOfString'
        phone2:
          $ref: '#/components/schemas/DtoValueOfString'
        fax:
          $ref: '#/components/schemas/DtoValueOfString'
    SupplierPaymentMethodDetailDto:
      type: object
      properties:
        paymentMethodDetailDescription:
          type: string
          description: The description of the payment method detail.
        paymentMethodDetailValue:
          type: string
          description: The ID of the payment method detail.
        paymentMethodDetailBankingDetailType:
          type: string
          description: Payment method banking detail type
        paymentMethodDetailID:
          type: string
          description: payment method detail ID
      description: This class represents a Payment Method Detail in SupplierController. Used to get data for SupplierPaymentMethodDetails of a Supplier.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
