openapi: 3.2.0
info:
  title: Visma.net ERP Supplier Invoice API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: SupplierInvoice
paths:
  /v1/supplierInvoice/{invoiceNumber}:
    get:
      tags:
      - SupplierInvoice
      summary: GET a specific invoice.
      description: 'Data for a single invoice.


        The response headers include an ETag after a successful GET operation.'
      operationId: SupplierInvoice_GetByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Identifies the Invoice
        required: true
        schema:
          type: string
      - name: expandLinePrebookAccounts
        in: query
        description: Expland line-level pre-booking account and sub-account information.
        schema:
          type: boolean
      - name: expandLandedCosts
        in: query
        description: Expland landed costs information.
        schema:
          type: boolean
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoiceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoiceDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - SupplierInvoice
      summary: Update a specific SupplierInvoice
      description: 'Response Message has StatusCode NoContent if PUT operation succeed.


        Response Message has StatusCode BadRequest if PUT operation failed.


        The response headers include an ETag after a successful PUT operation.'
      operationId: SupplierInvoice_PutByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Identifies the SupplierInvoice to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Invoice to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceUpdateDto'
        required: true
        x-bodyName: supplierInvoice
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Supplier invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    delete:
      tags:
      - SupplierInvoice
      summary: Deletes a specific Supplier Invoice
      description: Response Message has StatusCode NoContent if DELETE operation succeed
      operationId: SupplierInvoice_DeleteByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Identifies the Supplier Invoice to delete
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierInvoice/{documentType}/{invoiceNumber}:
    get:
      tags:
      - SupplierInvoice
      summary: Get a specific Invoice, DebitAdj, CreditAdj or Prepayment
      description: 'Data for a single invoice.


        The response headers include an ETag after a successful GET operation.'
      operationId: SupplierInvoice_GetByTypeBydocumentTypeinvoiceNumber
      parameters:
      - name: documentType
        in: path
        description: Identifies the Invoice
        required: true
        schema:
          type: string
      - name: invoiceNumber
        in: path
        description: Identifies the Invoice
        required: true
        schema:
          type: string
      - name: expandLinePrebookAccounts
        in: query
        description: Expland line-level pre-booking account and sub-account information.
        schema:
          type: boolean
      - name: expandLandedCosts
        in: query
        description: Expland landed costs information.
        schema:
          type: boolean
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoiceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoiceDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - SupplierInvoice
      summary: Update a specific SupplierInvoice
      description: 'Response Message has StatusCode NoContent if PUT operation succeed.


        Response Message has StatusCode BadRequest if PUT operation failed.


        The response headers include an ETag after a successful PUT operation.'
      operationId: SupplierInvoice_PutByTypeBydocumentTypeinvoiceNumber
      parameters:
      - name: documentType
        in: path
        description: Identifies the SupplierInvoice to update
        required: true
        schema:
          type: string
      - name: invoiceNumber
        in: path
        description: Identifies the SupplierInvoice to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Invoice to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceUpdateDto'
        required: true
        x-bodyName: supplierInvoice
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Supplier invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    delete:
      tags:
      - SupplierInvoice
      summary: Deletes a specific Supplier Invoice
      description: Response Message has StatusCode NoContent if DELETE operation succeed
      operationId: SupplierInvoice_DeleteBydocumentTypeinvoiceNumber
      parameters:
      - name: documentType
        in: path
        description: Identifies the docType of Supplier Invoice to delete
        required: true
        schema:
          enum:
          - Invoice
          - CreditAdj
          - DebitAdj
          - Prepayment
          - Refund
          - Payment
          type: string
      - name: invoiceNumber
        in: path
        description: Identifies the Supplier Invoice to delete
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierInvoice:
    get:
      tags:
      - SupplierInvoice
      summary: Get a range of Invoices - ScreenId=AP301000.
      operationId: SupplierInvoice_GetAllInvoices
      parameters:
      - name: supplier
        in: query
        description: Filter by Supplier
        schema:
          type: string
      - name: expandAttachment
        in: query
        description: Set to true if you want to see all attachments regarding this document.
        schema:
          type: boolean
      - name: expandLandedCosts
        in: query
        description: Expland landed cost lines
        schema:
          type: boolean
      - name: documentType
        in: query
        description: By type of document.
        schema:
          enum:
          - Invoice
          - CreditAdj
          - DebitAdj
          - Prepayment
          - Refund
          - Payment
          type: string
      - name: released
        in: query
        description: Parameter for showing if invoice has been released or not.
        schema:
          type: integer
          format: int32
      - name: project
        in: query
        description: Filter by the project with which the document is associated.
        schema:
          type: string
      - name: expandApproval
        in: query
        description: Set to true to include approval information.
        schema:
          type: boolean
      - name: expandNote
        in: query
        description: Set to true to include description.
        schema:
          type: boolean
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: status
        in: query
        description: The status of the document
        schema:
          enum:
          - Hold
          - Balanced
          - Voided
          - Scheduled
          - Open
          - Closed
          - Printed
          - Prebooked
          - Reserved
          type: string
      - name: expandLinePrebookAccounts
        in: query
        description: Expland line-level pre-booking account and sub-account information.
        schema:
          type: boolean
      - name: branch
        in: query
        description: Filter by Branch
        schema:
          type: string
      - name: financialPeriod
        in: query
        description: Filter by Financial Period, format YYYYPP
        schema:
          type: string
      - name: dueDate
        in: query
        description: 'This value indicates the date the document is due for payment. Use it to retrieve all records that have the Due date since that time, up to the future.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```


          _Note:_ __DueDate__ and __DueDateConditionCondition__ are __mutually inclusive__.'
        schema:
          type: string
          format: date-time
      - name: dueDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Due Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __DueDate__ and __DueDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: docDate
        in: query
        description: 'This value indicates the document date. Use it to retrieve all records that have the Document Date since that time, up to the future.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd```


          _Note:_ __Docate__ and __DocDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
          format: date-time
      - name: docDateCondition
        in: query
        description: 'This value represents the condition to be applied to the Document Date when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __DocumentDate__ and __DocumentDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: item
        in: query
        description: Filter by Item used into the document lines
        schema:
          type: string
      - name: balance
        in: query
        description: 'This value represents balance of the payment remaining to be applied and released. Only released applications will count towards the balance.


          _Note:_ __Balance__ and __BalanceCondition__ are __mutually inclusive__.'
        schema:
          type: number
          format: double
      - name: balanceCondition
        in: query
        description: 'This value represents the condition to be applied to the Balance when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __Balance__ and __BalanceCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: greaterThanValue
        in: query
        description: Greater than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierInvoiceDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierInvoiceDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - SupplierInvoice
      summary: Create an SupplierInvoice
      description: 'Response Message has StatusCode Created if POST operation succeed.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.


        The response headers include an ETag after a successful POST operation.'
      operationId: SupplierInvoice_Post
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the SupplierInvoice to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SupplierInvoiceUpdateDto'
        required: true
        x-bodyName: supplierInvoice
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierInvoice/approval:
    get:
      tags:
      - SupplierInvoice
      summary: Get an invoice based on the systemId.
      description: 'Data for a single invoice.


        The response headers include an ETag after a successful GET operation.'
      operationId: SupplierInvoice_GetByApprovalDocumentId
      parameters:
      - name: systemId
        in: query
        description: SystemID referes to the approval document id created when the document is sent to approval
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoiceDto'
            text/json:
              schema:
                $ref: '#/components/schemas/SupplierInvoiceDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierInvoice/{invoiceNumber}/action/release:
    post:
      tags:
      - SupplierInvoice
      summary: Release invoice operation
      description: 'The action result dto contains information about the result of running the action.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.'
      operationId: SupplierInvoice_ReleaseInvoiceByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Reference number of the document to be release
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '412':
          description: Supplier invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierInvoice/{invoiceNumber}/action/correct:
    post:
      tags:
      - SupplierInvoice
      summary: Correct invoice operation
      description: The response headers include an ETag after a successful POST operation.
      operationId: SupplierInvoice_CorrectInvoiceByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Reference number of the document to be corrected
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '412':
          description: Supplier invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierInvoice/{documentType}/{invoiceNumber}/action/reverse:
    post:
      tags:
      - SupplierInvoice
      summary: Provides an action for reversing a supplier invoice/adjustment
      description: The response headers include an ETag after a successful POST operation.
      operationId: SupplierInvoice_ReverseInvoiceBydocumentTypeinvoiceNumber
      parameters:
      - name: documentType
        in: path
        description: Identifies the Invoice
        required: true
        schema:
          type: string
      - name: invoiceNumber
        in: path
        description: Identifies the Invoice
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '412':
          description: Supplier invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierInvoice/{documentType}/{invoiceNumber}/action/sendtoapproval:
    post:
      tags:
      - SupplierInvoice
      summary: Send invoice to approval
      description: In this endpoint, If-Match can be checked against resource current version when calling with 'erp-api-background' HTTP header.
      operationId: SupplierInvoice_SendToApprovalBydocumentTypeinvoiceNumber
      parameters:
      - name: documentType
        in: path
        description: Document type
        required: true
        schema:
          type: string
      - name: invoiceNumber
        in: path
        description: Document number
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '412':
          description: Supplier invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierInvoice/{documentType}/{invoiceNumber}/action/release:
    post:
      tags:
      - SupplierInvoice
      summary: Release invoice operation
      description: 'The action result dto contains information about the result of running the action.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.'
      operationId: SupplierInvoice_ReleaseInvoiceByTypeBydocumentTypeinvoiceNumber
      parameters:
      - name: documentType
        in: path
        description: Document type of the released document to be reversed
        required: true
        schema:
          type: string
      - name: invoiceNumber
        in: path
        description: Reference number of the document to be release
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '412':
          description: Supplier invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierInvoice/{documentType}/{invoiceNumber}/action/prebook:
    post:
      tags:
      - SupplierInvoice
      summary: Pre-Book invoice operation
      description: 'The action result dto contains information about the result of running the action.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.'
      operationId: SupplierInvoice_PrebookInvoiceBydocumentTypeinvoiceNumber
      parameters:
      - name: documentType
        in: path
        description: Document type of the document to be Pre-Booked
        required: true
        schema:
          type: string
      - name: invoiceNumber
        in: path
        description: Reference number of the document to be Pre-Booked
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: Optional dto for updating the prebooking account and subaccount
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrebookingUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/PrebookingUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/PrebookingUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/PrebookingUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PrebookingUpdateDto'
        required: true
        x-bodyName: prebookingUpdateDto
      responses:
        '412':
          description: Supplier invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
            application/xml: {}
            text/xml: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierInvoice/{documentType}/{invoiceNumber}/action/voidinvoice:
    post:
      tags:
      - SupplierInvoice
      summary: Void invoice operation
      description: 'The action result dto contains information about the result of running the action.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.'
      operationId: SupplierInvoice_VoidInvoiceBydocumentTypeinvoiceNumber
      parameters:
      - name: documentType
        in: path
        description: Document type of the document to be Voided
        required: true
        schema:
          type: string
      - name: invoiceNumber
        in: path
        description: Reference number of the document to be Voided
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '412':
          description: Supplier invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierInvoice/{documentType}/{invoiceNumber}/action/writeoff:
    post:
      tags:
      - SupplierInvoice
      summary: Write-off invoice operation
      description: 'The action result dto contains information about the result of running the action.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.


        In this endpoint, If-Match can be checked against resource current version when calling with ''erp-api-background'' HTTP header.'
      operationId: SupplierInvoice_WriteoffInvoiceBydocumentTypeinvoiceNumber
      parameters:
      - name: documentType
        in: path
        description: Document type of the document to be Written Off
        required: true
        schema:
          type: string
      - name: invoiceNumber
        in: path
        description: Reference number of the document to be Written Off
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '200':
          description: Operation accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
        '412':
          description: Supplier invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
      security:
      - interactiveapi: []
  /v1/supplierInvoice/{invoiceNumber}/attachment:
    post:
      tags:
      - SupplierInvoice
      summary: Creates an attachment and associates it with a supplier invoice.
      description: 'Response Message has StatusCode Created if POST operation succeed.


        Response Message has StatusCode BadRequest if POST operation failed.


        The response headers include an ETag after a successful POST operation.'
      operationId: SupplierInvoice_CreateHeaderAttachmentByinvoiceNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Identifies the supplier invoice
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Supplier invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierInvoice/{invoiceNumber}/{lineNumber}/attachment:
    post:
      tags:
      - SupplierInvoice
      summary: Creates an attachment and associates it with a certain supplier invoice line.
      description: 'Response Message has StatusCode Created if POST operation succeed.


        Response Message has StatusCode BadRequest if POST operation failed.


        The response headers include an ETag after a successful POST operation.'
      operationId: SupplierInvoice_CreateLineAttachmentByinvoiceNumberlineNumber
      parameters:
      - name: invoiceNumber
        in: path
        description: Identifies the supplier invoice
        required: true
        schema:
          type: string
      - name: lineNumber
        in: path
        description: Specifies line number
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Supplier invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierInvoice/documentType/{documentType}/{invoiceNumber}/attachment:
    post:
      tags:
      - SupplierInvoice
      summary: Creates an attachment and associates it with a supplier invoice.
      description: 'Response Message has StatusCode Created if POST operation succeed.


        Response Message has StatusCode BadRequest if POST operation failed.


        The response headers include an ETag after a successful POST operation.'
      operationId: SupplierInvoice_CreateHeaderAttachmentByTypeBydocumentTypeinvoiceNumber
      parameters:
      - name: documentType
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: invoiceNumber
        in: path
        description: Identifies the supplier invoice
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Supplier invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/supplierInvoice/documentType/{documentType}/{invoiceNumber}/{lineNumber}/attachment:
    post:
      tags:
      - SupplierInvoice
      summary: Creates an attachment and associates it with a certain supplier invoice line.
      description: 'Response Message has StatusCode Created if POST operation succeed.


        Response Message has StatusCode BadRequest if POST operation failed.


        The response headers include an ETag after a successful POST operation.'
      operationId: SupplierInvoice_CreateLineAttachmentByTypeBydocumentTypeinvoiceNumberlineNumber
      parameters:
      - name: documentType
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: invoiceNumber
        in: path
        description: Identifies the supplier invoice
        required: true
        schema:
          type: string
      - name: lineNumber
        in: path
        description: Identifies the supplier invoice line
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the POST operation is successful, the server responds with 200 OK and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Supplier invoice version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    SupplierInvoiceDto:
      type: object
      properties:
        taxDetailLines:
          type: array
          items:
            $ref: '#/components/schemas/TaxDetailDto'
          description: The VAT details tab &gt;
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDto'
        approvalDetails:
          $ref: '#/components/schemas/approvalDetailsInSupplierInvoiceDto'
        invoiceLines:
          type: array
          items:
            $ref: '#/components/schemas/SupplierInvoiceLineDto'
          description: Transaction lines
        landedCosts:
          type: array
          items:
            $ref: '#/components/schemas/SupplierInvoiceLandedCostDto'
          description: The Landed cost lines tab &gt;
        hold:
          type: boolean
          description: The Top part &gt; Hold &gt; A check box that indicates that the status of the supplier ledger document is On hold.
        exchangeRate:
          type: number
          description: The Top part &gt; Currency &gt; The currency of the document.
          format: double
        paymentRefNo:
          type: string
          description: The Top part &gt; Payment ref.no &gt; The payment reference number of the document.
        originalReferenceNumber:
          type: string
          description: The original reference number of the document.
        creditTerms:
          $ref: '#/components/schemas/creditTermsInSupplierInvoiceDto'
        retainageApply:
          type: boolean
          description: The Top part &gt; Apply retainage &gt; A check box that indicates (if selected) that this invoice is an invoice with retainage.
        cashDiscountDate:
          type: string
          description: The Top part &gt; Cash discount date &gt; The end date of the cash discount period, which the system calculates by using the supplier's credit terms.
          format: date-time
        detailTotal:
          type: number
          description: The Top part &gt; Detail total &gt; The document total as specified in the Document details tab.
          format: double
        detailTotalInCurrency:
          type: number
          description: Background calculation giving you the Detail total in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        discountTotal:
          type: number
          description: The Top part &gt; Discount total &gt; The discount total calculated for the document. This total includes discounts of the Group and Document levels.
          format: double
        discountTotalInCurrency:
          type: number
          description: Background calculation giving you the Discount total in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        vatTaxableTotal:
          type: number
          description: The Top part &gt; VAT taxable total &gt; The document total that is subjected to VAT.
          format: double
        vatTaxableTotalInCurrency:
          type: number
          description: Background calculation giving you the VAT taxable total in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        vatExemptTotal:
          type: number
          description: The Top part &gt; VAT exempt total &gt; The document total that is exempt from VAT.
          format: double
        vatExemptTotalInCurrency:
          type: number
          description: Background calculation giving you the VAT exempt total in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        withholdingTax:
          type: number
          description: The Top part &gt; With. tax &gt; The amount of withholding tax calculated for the document, if applicable.
          format: double
        withholdingTaxInCurrency:
          type: number
          description: Background calculation giving you the With. tax in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        buyerReference:
          type: string
          description: The Top part &gt; Supplier ref. &gt; The document's original reference number as assigned by the supplier (for informational purposes).
        roundingDiff:
          type: number
          description: The Top part &gt; Rounding diff. &gt; The difference between the original invoice amount (including the VAT amount calculated by the system) and rounded invoice amount (including the VAT amount modified by a user for VAT-inclusive items).
          format: double
        roundingDiffInCurrency:
          type: number
          description: Background calculation giving you the Rounding diff. in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        amount:
          type: number
          description: The Top part &gt; Amount &gt; The amount to be paid for the document. Equal to the amount (or to the sum of amounts) shown in the Amount column of the Document details tab.
          format: double
        vatAmount:
          type: number
          description: The Top part &gt; VAT amount &gt; The VAT amount to be paid for the document. Enter this amount manually according to the VAT amount specified in the original document.
          format: double
        taxCalculationMode:
          enum:
          - TaxSetting
          - Gross
          - Net
          type: string
          description: The Financial details tab &gt; The VAT section &gt; VAT calculation mode &gt; The VAT calculation mode, which defines which amounts (VAT-inclusive or VAT-exclusive) should be entered in the detail lines of a document (TaxSetting, Gross, Net)
        supplierTaxZone:
          $ref: '#/components/schemas/supplierTaxZoneInSupplierInvoiceDto'
        paySelected:
          type: boolean
          description: The Financial details tab &gt; The Payment information section &gt; Approved for payment &gt; When set to true indicates that the document is approved for payment.
        curyRetainageTotal:
          type: number
          format: double
        curyRetainageUnreleasedAmt:
          type: number
          format: double
        documentVersionNumber:
          type: integer
          format: int64
        supplier:
          $ref: '#/components/schemas/supplierInSupplierInvoiceDto'
        documentType:
          enum:
          - Check
          - CreditAdj
          - DebitAdj
          - Invoice
          - Prepayment
          - QuickCheck
          - Refund
          - VoidCheck
          - VoidQuickCheck
          type: string
          description: 'The top part &gt; Top part &gt; Type &gt; The type of the document. The following types are available: Purchase invoice, credit adjustment, purchase credit note, prepayment.'
        referenceNumber:
          type: string
        postPeriod:
          type: string
          description: The Top part &gt; Post period* &gt; The post period of the payment document. Format MMYYYY.
        financialPeriod:
          type: string
          description: The financial period to which the transactions recorded in the document should be posted. Format YYYYMM.
        date:
          type: string
          description: The Top part &gt; Date* &gt; The date of the original supplier ledger document; by default, it is the current date, which can be changed.
          format: date-time
        origInvoiceDate:
          type: string
          description: The Top part &gt; OrigInvoiceDate* &gt; The original invoice date of the original supplier ledger document; by default, it is the current date, which can be changed.
          format: date-time
        dueDate:
          type: string
          description: The Top part &gt; Due date* &gt; The date when payment for the document is due in accordance with the supplier's credit terms.
          format: date-time
        approvalStatus:
          enum:
          - New
          - Canceled
          - SentToApproval
          - ReceivedByApproval
          - InProgressApproval
          - RejectedInApproval
          - ApprovedInApproval
          - ActiveWorkflowApproval
          type: string
          description: The Top part &gt; Approval status &gt; The status of the document in Visma.net Approval. [New, Canceled, SentToApproval, ReceivedByApproval, InProgressApproval, RejectedInApproval, ApprovedInApproval, ActiveWorkflowApproval.
        status:
          enum:
          - Hold
          - Balanced
          - Voided
          - Scheduled
          - Open
          - Closed
          - Printed
          - Prebooked
          - Reserved
          type: string
          description: The Top part &gt; Document status &gt; A read-only field that shows the status of the supplier ledger document:[Hold, Balanced, Voided, Scheduled, Open, Closed, Printed, Prebooked, Reserved]
        currencyId:
          type: string
          description: The Top part &gt; Currency &gt; The currency of the document.
        balance:
          type: number
          description: The Top part &gt; Balance &gt; The balance of the supplier ledger document after VAT (if inclusive) and the discount as specified in the tabs below.
          format: double
        balanceInCurrency:
          type: number
          description: Background calculation giving you the Balance in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        cashDiscount:
          type: number
          description: The Top part &gt; Cash discount &gt; The cash discount amount that has been or will be taken in the document, which the system calculates based in the specified credit terms.
          format: double
        cashDiscountInCurrency:
          type: number
          description: Background calculation giving you the Cash discount in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        paymentMethod:
          $ref: '#/components/schemas/paymentMethodInSupplierInvoiceDto'
        supplierReference:
          type: string
          description: The Top part &gt; Supplier ref. &gt; The document's original reference number as assigned by the supplier (for informational purposes).
        description:
          type: string
          description: The Top part &gt; Description &gt; A user-provided description for this supplier ledger document.
        createdDateTime:
          type: string
          format: date-time
        lastModifiedDateTime:
          type: string
          format: date-time
        note:
          type: string
          description: The table &gt; Document details tab and Applications tab &gt; Icon Notes &gt; Pop-up window for providing any user-defined text connected with to invoice.
        closedFinancialPeriod:
          type: string
          description: Format YYYYMM.
        location:
          $ref: '#/components/schemas/locationInSupplierInvoiceDto'
        vatTotal:
          type: number
          description: The Top part &gt; VAT total &gt; The total amount of tax paid in the document.
          format: double
        vatTotalInCurrency:
          type: number
          description: Background calculation giving you the VAT total in your default currency. This field is applicable if the amount is given in another currency than your default.
          format: double
        branchNumber:
          $ref: '#/components/schemas/BranchNumberDto'
        payDate:
          type: string
          description: The Financial details tab &gt; The Payment information section &gt; Pay date* &gt; The date when the invoice should be paid. The date is the difference between the document due date or discount date and the number of days specified in the Payment lead time field in AP303000.
          format: date-time
        paymentMessage:
          type: string
          description: The Financial details tab &gt; The Payment information section &gt; Payment message &gt; The message connected with the payment.
        cashAccount:
          type: string
          description: Financial details tab &gt; The payment information section &gt; Cash account &gt; The cash account associated with the payment method.
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents a ApInvoice in SupplierInvoiceController. Used by getting data.
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    financialPeriodInSupplierInvoiceUpdateDto:
      properties:
        value:
          type: string
      description: The financial period to which the transactions recorded in the document should be posted. Use the format YYYYMM.
    paymentMethodInSupplierInvoiceDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The Financial details tab &gt; Payment method &gt; The payment method used for the payment.
    prebookAccountNumberInSupplierInvoiceLineUpdateDto:
      properties:
        value:
          type: string
      description: Account used for prebooking. Note that this feature is not available for all countries.
    creditTermsInSupplierInvoiceDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The Top part &gt; Terms &gt; The credit terms associated with the supplier (unavailable for prepayments and debit adjustments)
    accountNumberInPrebookingUpdateDto:
      properties:
        value:
          type: string
      description: Account used for prebooking.
    TaxCategoryNumberDescriptionDto:
      type: object
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
    TaxDetailDto:
      type: object
      properties:
        taxId:
          type: string
          description: 'Mandatory field: VAT ID* &gt; The ID of the VAT applied to the document.'
        recordId:
          type: integer
          description: The id as stored in the database. It can be used when we want to update a VAT record.
          format: int32
        vatId:
          $ref: '#/components/schemas/vatIdInTaxDetailDto'
        vatRate:
          type: number
          description: VAT rate &gt; The rate of the VAT.
          format: double
        taxableAmount:
          type: number
          description: Taxable amount &gt; The taxable amount for the VAT, which is calculated at the document level.
          format: double
        vatAmount:
          type: number
          description: VAT &gt; The VAT amount for the specific VAT, which is calculated at the document level.
          format: double
        expenseAmount:
          type: number
          description: Expense Amount for the VAT type that has been added.
          format: double
      description: This class represents a VAT Detail Line. Used for getting data.
    inventoryIdInSupplierInvoiceLandedCostUpdateDto:
      properties:
        value:
          type: string
      description: Landed Costs Tab &gt; Item ID &gt; The ID of the inventory item
    DtoValueOfDecimal:
      type: object
      properties:
        value:
          type: number
          format: double
    SegmentUpdateDto:
      type: object
      properties:
        segmentId:
          type: integer
          format: int32
        segmentValue:
          type: string
    validateLineDetailsInSupplierInvoiceUpdateDto:
      properties:
        value:
          type: boolean
      description: If this flag is set/true, the system will surface any line validation errors to the clients rather than silently ignoring these.
    AttachmentDto:
      type: object
      properties:
        name:
          type: string
          description: The name of the attachment.
        id:
          type: string
          description: The ID of the attachment
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        revision:
          type: integer
          description: The version of the attachment.
          format: int32
    DtoValueOfNullableOfDateTime:
      type: object
      properties:
        value:
          type: string
          format: date-time
    TaxDetailUpdateDto:
      type: object
      properties:
        taxId:
          $ref: '#/components/schemas/DtoValueOfString'
        taxableAmount:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        vatAmount:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        expenseAmount:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
      description: This class represents a Tax Detail Line. Used to pass data to server for updating a tax line
    DtoValueOfNullableOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    vatIdInTaxDetailDto:
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
      description: VAT ID &gt; The ID of the specific VAT applied.
    DtoValueOfNullableOfSupplierInvoiceTypes:
      type: object
      properties:
        value:
          enum:
          - Invoice
          - CreditAdj
          - DebitAdj
          - Prepayment
          - Refund
          - Payment
          type: string
    branchNumberInSupplierInvoiceLineDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: 'The table &gt; Mandatory field: Branch* &gt; The branch that purchases the line item or service.

        Note: The field type has been changed from string to BranchNumberDto, please consider doing changes accordingly.'
    lineNumberInSupplierInvoiceLandedCostUpdateDto:
      properties:
        value:
          type: integer
          format: int32
      description: Landed Costs Tab &gt; Number at the left indicating the line number of the table.
    prebookSubaccountInSupplierInvoiceLineDto:
      properties:
        subaccountNumber:
          type: string
          description: 'Mandatory field: Subaccount* &gt; The subaccount number. Format 9-XX.'
        subaccountId:
          type: integer
          description: SubID &gt; The  identifier of the subaccount.
          format: int32
        description:
          type: string
          description: Description &gt; The description of the identifier.
        lastModifiedDateTime:
          type: string
          description: System generated information.
          format: date-time
        active:
          type: boolean
          description: Active &gt; The status of the identifier.
        segments:
          type: array
          items:
            $ref: '#/components/schemas/SegmentDto'
[...]
