openapi: 3.2.0
info:
  title: Bookkeeping & Invoicing/eAccounting API V2 Approval API
  description: 'Visit our complete Bookkeeping & Invoicing/eAccounting API docs for how to get started, information about authentication, error handling, query customization and more.


    ✉ API Support'
  version: v2
servers:
- url: https://eaccountingapi.vismaonline.com/v2/
tags:
- name: Approval
  description: 'Handles approval operations for various document types including supplier invoice drafts and VAT reports.


    ___


    Available in any of the following variants:

    * Pro

    * Standard

    * Bookkeeping

    * Solo

    * InvoicingCollaboration'
paths:
  /approval/vatreport/{id}:
    put:
      tags:
      - Approval
      summary: Replace the approval status of a vat report
      description: 'Update the approval status of a VAT report.


        ___

        Requires any of the following scopes:

        * ea:accounting'
      parameters:
      - name: id
        in: path
        description: The Id of the vat report
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalApi'
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VatReportApi'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
      operationId: putApprovalVatreportById
      x-operation-id-source: derived
  /approval/supplierinvoice/{id}:
    put:
      tags:
      - Approval
      summary: Replace the approval status of a supplier invoice draft
      description: 'Update the approval status of a supplier invoice draft.


        ___

        Requires any of the following scopes:

        * ea:purchase'
      parameters:
      - name: id
        in: path
        description: The Id of the invoice draft
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalApi'
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalResponseApi'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonExtendedBadRequest'
      operationId: putApprovalSupplierinvoiceById
      x-operation-id-source: derived
components:
  schemas:
    ApprovalApi:
      required:
      - DocumentApprovalStatus
      type: object
      properties:
        DocumentApprovalStatus:
          type: integer
          description: <strong>Possible values:</strong><br/>0 = None,<br/>1 = Approved,<br/>2 = Rejected,<br/>3 = ReadyForApproval
          format: int32
        RejectionMessage:
          maxLength: 200
          minLength: 0
          type:
          - string
          - 'null'
          description: '<strong>Possible values:</strong><br/>2 = Rejected<br/><br/>Purpose: The message sent to users when rejecting a document. Empty if DocumentApprovalStatus is not.'
        RejectionMessageReceivers:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: '<strong>Possible values:</strong><br/>2 = Rejected<br/><br/>Purpose: The recipients of the rejection message. Empty if DocumentApprovalStatus is not. List of user ids. Use GET /v2/users.'
      additionalProperties: false
    VatReportApi:
      required:
      - EndDate
      - Id
      - Name
      - StartDate
      type: object
      properties:
        Id:
          type: string
          description: The unique identifier of the VAT report
          format: uuid
          readOnly: true
        Name:
          minLength: 1
          type: string
          description: The name of the VAT report
          readOnly: true
        StartDate:
          type: string
          description: The start date of the VAT report period
          format: date-time
          readOnly: true
        EndDate:
          type: string
          description: The end date of the VAT report period
          format: date-time
          readOnly: true
        DocumentApprovalStatus:
          type: integer
          description: <strong>Possible values:</strong><br/>0 = None,<br/>1 = Approved,<br/>2 = Rejected,<br/>3 = ReadyForApproval<br/><br/>The document approval status of the VAT report.
          format: int32
          readOnly: true
        DocumentId:
          type:
          - string
          - 'null'
          description: 'Purpose: Fetch the associated document. Can be null if the vat report does not have an associated file created. Use GET /v2/documents/{id}'
          format: uuid
          readOnly: true
        CreatedUtc:
          type:
          - string
          - 'null'
          description: The UTC timestamp when the VAT report was created
          format: date-time
          readOnly: true
        IsRegretted:
          type: boolean
          description: Indicates whether the vat report was undone
          readOnly: true
        RegrettedByUserId:
          type:
          - string
          - 'null'
          description: 'Purpose: If the vat report was undone this indicates the user id that did the action. Can be null if not undone. Use GET /v2/users'
          format: uuid
          readOnly: true
        RegrettedDate:
          type:
          - string
          - 'null'
          description: 'Purpose: If the vat report was undone this indicates the date of the action. Can be null if not undone'
          format: date-time
          readOnly: true
        ModifiedUtc:
          type:
          - string
          - 'null'
          description: The UTC timestamp when the VAT report was last modified
          format: date-time
          readOnly: true
        SentForApprovalByUserId:
          type:
          - string
          - 'null'
          description: 'Purpose: If the vat report was sent for approval this indicates the user id that did the action. Can be null if not sent for approval. Use GET /v2/users'
          format: uuid
          readOnly: true
        VoucherId:
          type:
          - string
          - 'null'
          description: 'Purpose: Fetch the associated voucher. Can be null if there is no associated voucher. Use GET /v2/vouchers/{fiscalyearId}/{voucherId}'
          format: uuid
          readOnly: true
        TotalAmount:
          type: number
          description: Predicted vat amount to pay or be refunded
          format: double
          readOnly: true
        ApprovalEventsHistory:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DocumentApprovalEventApi'
          description: The history of approval events of the vat report
          readOnly: true
      additionalProperties: false
    CommonError:
      type: object
      properties:
        Field:
          type:
          - string
          - 'null'
        ErrorCode:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Key:
          type:
          - string
          - 'null'
      additionalProperties: false
    DocumentApprovalEventApi:
      type: object
      properties:
        DocumentApprovalStatus:
          type: integer
          description: <strong>Possible values:</strong><br/>0 = None,<br/>1 = Approved,<br/>2 = Rejected,<br/>3 = ReadyForApproval<br/><br/>The document approval status for this event.
          format: int32
          readOnly: true
        CreatedUtc:
          type: string
          description: The UTC timestamp when the approval event was created
          format: date-time
          readOnly: true
        CreatedByUserId:
          type: string
          description: The user id that performed the approval action. Use GET /v2/users
          format: uuid
          readOnly: true
      additionalProperties: false
    ApprovalResponseApi:
      type: object
      properties:
        DocumentId:
          type: string
          description: Document id which has been approved, rejected or is ready for approval.
          format: uuid
          readOnly: true
        DocumentType:
          type: integer
          description: <strong>Possible values:</strong><br/>0 = None,<br/>1 = SupplierInvoiceDraft,<br/>2 = SupplierInvoice
          format: int32
          readOnly: true
        DocumentApprovalStatus:
          type: integer
          description: <strong>Possible values:</strong><br/>0 = None,<br/>1 = Approved,<br/>2 = Rejected,<br/>3 = ReadyForApproval
          format: int32
          readOnly: true
      additionalProperties: false
    CommonExtendedBadRequest:
      type: object
      properties:
        ErrorCode:
          type: integer
          format: int32
        DeveloperErrorMessage:
          type:
          - string
          - 'null'
        ErrorId:
          type: string
          format: uuid
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CommonError'
      additionalProperties: false
x-tagGroups:
- name: Sales
  tags:
  - ArticleLabels
  - Articles
  - CustomerInvoiceDrafts
  - CustomerInvoiceOffsets
  - CustomerInvoices
  - CustomerInvoiceValuationHistories
  - CustomerLabels
  - CustomerLedgerItems
  - Customers
  - DeliveryMethods
  - DeliveryTerms
  - DiscountAgreements
  - Orders
  - QuoteDrafts
  - Quotes
  - SalesPriceLists
  - TermsOfPayment
  - WebshopOrders
- name: Purchase
  tags:
  - BankAccounts
  - ForeignPaymentCodes
  - PurchaseReceiptDrafts
  - SupplierInvoiceDrafts
  - SupplierInvoices
  - SupplierInvoiceValuationHistories
  - SupplierLedgerItems
  - Suppliers
- name: Common
  tags:
  - Approval
  - AppStoreActivationStatus
  - AttachmentLinks
  - Attachments
  - AutoInvoice
  - Bank
  - Charts
  - CompanySettings
  - Company
  - Countries
  - Currencies
  - Documents
  - IdentityLookup
  - MessageThreads
  - Mobile
  - Notes
  - PartnerResourceLinks
  - SalesDocumentAttachments
  - Trials
  - Units
  - Users
  - VoTokenValidation
  - WebHooks
  - Zapier
- name: Accounting
  tags:
  - AccountBalance
  - Accounts
  - AccountTypes
  - AllocationPeriods
  - ArticleAccountCodings
  - BankTransactions
  - CostCenterItems
  - CostCenters
  - FiscalYears
  - InventoryItems
  - PaymentVoucher
  - Projects
  - SieFileImportExport
  - VatCode
  - VatReport
  - VoucherDrafts
  - Vouchers
  - VoucherWithOverunderPayment
