openapi: 3.2.0
info:
  title: Visma.net ERP Landed Cost Code API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: LandedCostCode
paths:
  /v1/landedCostCode/{code}:
    get:
      tags:
      - LandedCostCode
      summary: Get a specific Landed Costs - ScreenId=PO2020PL
      operationId: LandedCostCode_GetAllLandedCostsBycode
      parameters:
      - name: code
        in: path
        description: Landed Cost Code Id
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LandedCostCodeDto'
            text/json:
              schema:
                $ref: '#/components/schemas/LandedCostCodeDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/landedCostCode:
    get:
      tags:
      - LandedCostCode
      summary: Get a range of Landed Costs - ScreenId=PO2020PL
      operationId: LandedCostCode_GetAllLandedCosts
      parameters:
      - name: code
        in: query
        description: Landed Cost Code
        schema:
          type: string
      - name: greaterThanValue
        in: query
        description: Enter the from-value for Landed Cost Code
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LandedCostCodeDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LandedCostCodeDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    LandedCostCodeDto:
      type: object
      properties:
        landedCostCodeId:
          type: string
          description: Landed Cost Code
        description:
          type: string
          description: Description
        landedCostType:
          enum:
          - FreightAndMisOriginCharges
          - CustomDuties
          - VAT
          - MiscDestinationCharges
          - Other
          type: string
          description: Type
        applicationMethod:
          enum:
          - FromAP
          - FromPO
          - FromBoth
          type: string
          description: Application Method
        allocationMethod:
          enum:
          - ByQuantity
          - ByCost
          - ByWeight
          - ByVolume
          - None
          type: string
          description: Allocation Method
        supplierId:
          type: string
          description: Supplier ID
        supplierLocationId:
          type: string
          description: Supplier Location ID
        terms:
          type: string
          description: Terms
        reasonCode:
          type: string
          description: Reason Code
        landedCostAccrualAccount:
          type: string
          description: Landed Cost Accrual Account
        landedCostAccrualSubaccount:
          type: string
          description: Landed Cost Accrual Sub.
        vatCategory:
          type: string
          description: Tax Category
        landedCostVarianceAccount:
          type: string
          description: Landed Cost Variance Account
        landedCostVarianceSubaccount:
          type: string
          description: Landed Cost Variance Sub.
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
