openapi: 3.2.0
info:
  title: Visma.net ERP Sales Order API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: Sales Order
paths:
  /v1/salesorder/{orderNbr}:
    get:
      tags:
      - Sales Order
      summary: Get a specific SO Order
      description: 'Data for a single Sales Order. OBS: End of life March 31 2026. REPLACED BY v3 ENDPOINT. SEE https://salesorder.visma.net/swagger/index.html'
      operationId: SalesOrder_GetByorderNbr
      parameters:
      - name: orderNbr
        in: path
        description: Identifies the Sales Order Number
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDto'
            text/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
    put:
      tags:
      - Sales Order
      summary: Update a specific Sale Order
      description: 'Response Message has StatusCode NoContent if PUT operation succeed. Response Message has StatusCode BadRequest if PUT operation failed. OBS: End of life March 31 2026. REPLACED BY v3 ENDPOINT. SEE https://salesorder.visma.net/swagger/index.html'
      operationId: SalesOrder_PutByorderNbr
      parameters:
      - name: orderNbr
        in: path
        description: Identifies the Sale Order to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Sale Order to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
        required: true
        x-bodyName: saleOrderUpdateDto
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v1/salesorder/{orderType}/{orderNbr}:
    get:
      tags:
      - Sales Order
      summary: Get a specific type of Order
      description: 'Data for a single Sales Order. OBS: End of life March 31 2026. REPLACED BY v3 ENDPOINT. SEE https://salesorder.visma.net/swagger/index.html'
      operationId: SalesOrder_GetOrderByTypeByorderTypeorderNbr
      parameters:
      - name: orderType
        in: path
        description: Identifies the Sales Order Type
        required: true
        schema:
          type: string
      - name: orderNbr
        in: path
        description: Identifies the Sales Order Number
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDto'
            text/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v1/salesorder/{orderType}/{orderNbr}/rotrut:
    get:
      tags:
      - Sales Order
      summary: Get ROT/RUT details for a specific type of order
      description: 'OBS: End of life March 31 2026. REPLACED BY v3 ENDPOINT. SEE https://salesorder.visma.net/swagger/index.html'
      operationId: SalesOrder_GetROTRUTByorderTypeorderNbr
      parameters:
      - name: orderType
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: orderNbr
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotRutBasicDto'
            text/json:
              schema:
                $ref: '#/components/schemas/RotRutBasicDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v1/salesorder:
    get:
      tags:
      - Sales Order
      summary: Get a range of SO Orders - ScreenId=SO301000 Request page size must be lower or…
      description: 'Data for all Sales Orders. Response Message has StatusCode OK if GET operation succeed. OBS: End of life March 31 2026. REPLACED BY v3 ENDPOINT. SEE https://salesorder.visma.net/swagger/index.html'
      operationId: SalesOrder_GetAllOrders
      parameters:
      - name: orderType
        in: query
        description: Filter by Order type.
        schema:
          type: string
      - name: status
        in: query
        description: Select to filter on status on order.
        schema:
          enum:
          - Open
          - Hold
          - CreditHold
          - Completed
          - Cancelled
          - BackOrder
          - Shipping
          - Invoiced
          - PendingApproval
          - Voided
          type: string
      - name: greaterThanValue
        in: query
        description: Filter on Order no. greater than value.
        schema:
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        description: This field has been deprecated and will be removed in future versions. The OrderBy parameter has no effect on the result.
        schema:
          type: string
      - name: showNotes
        in: query
        description: Set to true to include notes.
        schema:
          type: boolean
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
    post:
      tags:
      - Sales Order
      summary: Create a Sale Order
      description: 'Response Message has StatusCode Created if POST operation succeed. Response Message has StatusCode BadRequest or InternalServerError if POST operation failed. OBS: End of life March 31 2026. REPLACED BY v3 ENDPOINT. SEE https://salesorder.visma.net/swagger/index.html'
      operationId: SalesOrder_Post
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Sale Order to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
        required: true
        x-bodyName: saleOrderUpdateDto
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v1/salesorder/{orderType}/{orderNbr}/commissions:
    get:
      tags:
      - Sales Order
      summary: Get Sales Order Commissions - ScreenId=SO301000, tab Commissions
      description: 'Data for all Sales Order Commissions. OBS: End of life March 31 2026. REPLACED BY v3 ENDPOINT. SEE https://salesorder.visma.net/swagger/index.html'
      operationId: SalesOrder_GetCommissionsByorderTypeorderNbr
      parameters:
      - name: orderType
        in: path
        required: true
        schema:
          type: string
      - name: orderNbr
        in: path
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SOCommissionDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SOCommissionDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SOCommissionDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SOCommissionDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v1/salesorder/{orderType}/{orderNumber}/printOrder:
    get:
      tags:
      - Sales Order
      summary: Get the print report of the Sales Order Quote
      description: The File is in Content of the message
      operationId: SalesOrder_PrintOrderByorderNumberorderType
      parameters:
      - name: orderNumber
        in: path
        description: Identifies the order
        required: true
        schema:
          type: string
      - name: orderType
        in: path
        description: Identifies the Sales Order Type
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/salesorder/{saleOrderNumber}/action/createShipment:
    post:
      tags:
      - Sales Order
      summary: Create shipment operation
      description: The action result dto contains information about the result of running the action
      operationId: SalesOrder_CreateShipmentActionBysaleOrderNumber
      parameters:
      - name: saleOrderNumber
        in: path
        description: Reference number of the sale oreder from which the shipment will be created
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShipmentActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateShipmentActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateShipmentActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateShipmentActionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateShipmentActionDto'
        required: true
        x-bodyName: createShipmentActionDto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateShipmentActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/CreateShipmentActionResultDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/salesorder/{saleOrderNumber}/action/cancelSalesOrder:
    post:
      tags:
      - Sales Order
      summary: Cancel Order action
      description: 'The action result dto contains information about the result of running the action. Response Message has StatusCode BadRequest or InternalServerError if POST operation failed. OBS: End of life March 31 2026. REPLACED BY v3 ENDPOINT. SEE https://salesorder.visma.net/swagger/index.html'
      operationId: SalesOrder_CancelSalesOrderBysaleOrderNumber
      parameters:
      - name: saleOrderNumber
        in: path
        description: Reference number of the sale oreder that will be cancelled
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the action
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSalesOrderActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CancelSalesOrderActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/CancelSalesOrderActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/CancelSalesOrderActionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CancelSalesOrderActionDto'
        required: true
        x-bodyName: cancelSalesOrderActionDto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelSalesOrderActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/CancelSalesOrderActionResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/CancelSalesOrderActionResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/CancelSalesOrderActionResultDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v1/salesorder/{salesOrderNumber}/action/reopenSalesOrder:
    post:
      tags:
      - Sales Order
      summary: Reopen and update a specific Sales Order.
      description: 'The action result dto contains information about the result of running the action. OBS: End of life March 31 2026. REPLACED BY v3 ENDPOINT. SEE https://salesorder.visma.net/swagger/index.html'
      operationId: SalesOrder_ReopenSalesOrderBysalesOrderNumber
      parameters:
      - name: salesOrderNumber
        in: path
        description: Identifies the Sale Order to reopen
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReopenSalesOrderActionDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ReopenSalesOrderActionDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ReopenSalesOrderActionDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ReopenSalesOrderActionDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ReopenSalesOrderActionDto'
        required: true
        x-bodyName: reopenSalesOrderActionDto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReopenSalesOrderActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/ReopenSalesOrderActionResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReopenSalesOrderActionResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ReopenSalesOrderActionResultDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v1/salesorder/{orderNumber}/attachment:
    post:
      tags:
      - Sales Order
      summary: Creates an attachment and associates it with a sales order.
      description: Response Message has StatusCode Created if POST operation succeed
      operationId: SalesOrder_CreateHeaderAttachmentByorderNumber
      parameters:
      - name: orderNumber
        in: path
        description: Identifies the sales order
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v1/salesorder/orderType/{orderType}/{orderNumber}/attachment:
    post:
      tags:
      - Sales Order
      summary: Creates an attachment and associates it with a sales order on a specific order…
      description: Response Message has StatusCode Created if POST operation succeed
      operationId: SalesOrder_CreateHeaderAttachmentByorderNumberorderType
      parameters:
      - name: orderNumber
        in: path
        description: Identifies the sales order
        required: true
        schema:
          type: string
      - name: orderType
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/salesorder/{orderNumber}/{lineNumber}/attachment:
    post:
      tags:
      - Sales Order
      summary: Creates an attachment and associates it with a certain sales order line.
      description: Response Message has StatusCode Created if POST operation succeed
      operationId: SalesOrder_CreateLineAttachmentByorderNumberlineNumber
      parameters:
      - name: orderNumber
        in: path
        description: Identifies the sales order
        required: true
        schema:
          type: string
      - name: lineNumber
        in: path
        description: Specifies line number
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      deprecated: true
      security:
      - interactiveapi: []
  /v1/salesorder/orderType/{orderType}/{orderNumber}/{lineNumber}/attachment:
    post:
      tags:
      - Sales Order
      summary: Creates an attachment and associates it with a certain sales order line on a…
      description: Response Message has StatusCode Created if POST operation succeed
      operationId: SalesOrder_CreateLineAttachmentByorderNumberorderTypelineNumber
      parameters:
      - name: orderNumber
        in: path
        description: Identifies the sales order
        required: true
        schema:
          type: string
      - name: orderType
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: lineNumber
        in: path
        description: Specifies line number
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/salesorder/{orderType}/{orderNumber}/{lineNumber}/attachment/{fileId}:
    delete:
      tags:
      - Sales Order
      summary: Delete an attachment and remove associates it with a certain sales order line…
      description: Response Message has StatusCode OK if DELETE operation succeed
      operationId: SalesOrder_DeleteLineAttachmentByorderNumberorderTypelineNumberfileId
      parameters:
      - name: orderNumber
        in: path
        description: Identifies the sales order
        required: true
        schema:
          type: string
      - name: orderType
        in: path
        description: Identifies the sales order type
        required: true
        schema:
          type: string
      - name: lineNumber
        in: path
        description: Specifies line number
        required: true
        schema:
          type: integer
          format: int32
      - name: fileId
        in: path
        description: Specifies the id of the file
        required: true
        schema:
          type: string
          format: uuid
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/salesorder/{orderType}/{orderNumber}/attachment/{fileId}:
    delete:
      tags:
      - Sales Order
      summary: Delete an attachment and remove associates it with a certain sales order on a…
      description: Response Message has StatusCode OK if DELETE operation succeed
      operationId: SalesOrder_DeleteOrderAttachmentByorderNumberorderTypefileId
      parameters:
      - name: orderNumber
        in: path
        description: Identifies the sales order
        required: true
        schema:
          type: string
      - name: orderType
        in: path
        description: Identifies the sales order type
        required: true
        schema:
          type: string
      - name: fileId
        in: path
        description: Specifies the id of the file
        required: true
        schema:
          type: string
          format: uuid
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    glnInSalesOrderUpdateDto:
      properties:
        value:
          type: string
      description: Mandatory field if Customer or VatRegistrationId is not specified.
    WarehouseIdDescriptionDto:
      type: object
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
    DtoValueOfNullableOfRutRotTypes:
      type: object
      properties:
        value:
          enum:
          - Rut
          - Rot
          type: string
    locationInShipmentDto:
      properties:
        countryId:
          type: string
          description: Location*.
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: 'Mandatory field: The top part &gt; Location* &gt; The customer location to receive the shipment.'
    DtoValueOfNullableOfDateTime:
      type: object
      properties:
        value:
          type: string
          format: date-time
    DtoValueOfNullableOfGuid:
      type: object
      properties:
        value:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    countyInSalesOrderAddressDto:
      properties:
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: County &gt; The county or province.
    inventoryNumberInSalesOrderLineUpdateDto:
      properties:
        value:
          type: string
      description: Mandatory field
    ownerInShipmentDto:
      properties:
        id:
          type: string
          description: Click the magnifier &gt; The identifier
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: The top part &gt; Owner &gt; The user assigned to approve the document.
    shipViaInSalesOrderDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The Delivery settings tab &gt; Shipping information section &gt; Ship via &gt;  The Ship via code that represents the carrier and its service to be used for shipping the ordered goods.
    vatRegistrationIdInSalesOrderUpdateDto:
      properties:
        value:
          type: string
      description: Mandatory field if Customer or GLN is not specified.
    SalesOrderAddressUpdateDto:
      type: object
      properties:
        overrideAddress:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        addressLine1:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine2:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine3:
          $ref: '#/components/schemas/DtoValueOfString'
        postalCode:
          $ref: '#/components/schemas/DtoValueOfString'
        city:
          $ref: '#/components/schemas/DtoValueOfString'
        countryId:
          $ref: '#/components/schemas/DtoValueOfString'
        county:
          $ref: '#/components/schemas/DtoValueOfString'
    BranchNumberDto:
      type: object
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
    soBillingAddressInSalesOrderDto:
      properties:
        overrideAddress:
          type: boolean
          description: Override address &gt; A check box indicating that you want to override the default address information.
        addressId:
          type: integer
          format: int32
        addressLine1:
          type: string
          description: Address 1 &gt; The first line of the customer's/supplier's/company's/employee's contact address.
        addressLine2:
          type: string
          description: Address 2 &gt; The second line of the address.
        addressLine3:
          type: string
          description: Address 3 &gt; The third line of the address.
        postalCode:
          type: string
          description: Postcode &gt; The postcode.
        city:
          type: string
          description: City &gt; The city.
        country:
          $ref: '#/components/schemas/countryInSalesOrderAddressDto'
        county:
          $ref: '#/components/schemas/countyInSalesOrderAddressDto'
      description: Financial settings tab &gt; Invoice address section
    fobPointInSalesOrderDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Shipping information section &gt; FOB point &gt; The point where ownership of the goods is transferred to the customer.
    countyInShipmentAddressDto:
      properties:
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: County &gt; The county or province.
    DtoValueOfNullableOfSalesOrderOperations:
      type: object
      properties:
        value:
          enum:
          - Issue
          - Receipt
          type: string
    termsInSalesOrderDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Mandatory field: Financial settings tab &gt; Financial information section &gt; Terms* &gt; The credit terms used in relations with the customer. See also window CS206500.'
    modeOfTrasportInShipmentDto:
      properties:
        id:
          type: integer
          description: Click on the magnifier. &gt; The identifier.
          format: int32
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Intrastat section &gt; Mode of transportation &gt; The method of transportation.
    orderTypeInSalesOrderUpdateDto:
      properties:
        value:
          type: string
      description: Mandatory field
    customerInSalesOrderUpdateDto:
      properties:
        value:
          type: string
      description: Mandatory field if GLN or VatRegistrationId is not specified.
    toWarehouseInShipmentDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The top part &gt; To warehouse &gt; The warehouse to which the goods should be shipped in case of a transfer.
    DtoValueOfSalesOrderAddressUpdateDto:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/SalesOrderAddressUpdateDto'
    transactionTypeInShipmentDto:
      properties:
        id:
          type: integer
          description: Click on the magnifier. &gt; The identifier.
          format: int32
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Intrastat section &gt; Transaction type &gt; The 1-digit code that describes the nature of the transaction (according to EU regulations for Intrastat reporting).
    soBillingContactInSalesOrderDto:
      properties:
        overrideContact:
          type: boolean
          description: Override contact &gt; A check box indicating that you want to override the default contact information.
        contactId:
          type: integer
          format: int32
        name:
          type: string
          description: Name &gt; The legal name of to appear on the documents.
        attention:
          type: string
          description: Attention &gt; The attention line as it is used in your customer's/supplier's/company's business letters. The intention of this line is to direct the letter to the right person if the letter is not addressed to any specific person.
        email:
          type: string
          description: Email &gt; The email address of the customer/supplier/company as a business entity.
        web:
          type: string
          description: Web &gt; The website of the company, if one exists.
        phone1:
          type: string
          description: Phone 1 &gt; The default phone number.
        phone2:
          type: string
          description: Phone 2 &gt; An additional phone number.
        fax:
          type: string
          description: Fax &gt; The fax number.
      description: The Financial settings tab &gt; The Invoice address section or on the Delivery address section
    DtoValueOfSalesOrderContactUpdateDto:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/SalesOrderContactUpdateDto'
    TaxCategoryNumberDescriptionDto:
      type: object
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
    DtoValueOfNullableOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    ShipmentDetailLineDto:
      type: object
      properties:
        lineNumber:
          type: integer
          description: Document details tab &gt; The line number indicating sequence.
          format: int32
        orderType:
          type: string
          description: Document details tab &gt; The type of the document, which is one of the predefined order types or a custom order type.
        orderNbr:
          type: string
          description: Document details tab &gt; Order no. &gt; The reference number of the document.
        inventoryNumber:
          type: string
          description: Document details tab &gt; Item ID &gt; The ID of the item being shipped.
        freeItem:
          type: boolean
          description: Document details tab &gt; Free item &gt; The free item earned by the customer, if applicable. (This column does not appear for transfer.)
        warehouse:
          $ref: '#/components/schemas/warehouseInShipmentDetailLineDto'
        location:
          $ref: '#/components/schemas/locationInShipmentDetailLineDto'
        uom:
          type: string
          description: Document details tab &gt; UoM &gt; The unit of measure used for the item in shipment.
        shippedQty:
          type: number
          description: Document details tab &gt; Shipped qty. &gt; The quantity of the item shipped with the specified properties.
          format: double
        orderedQty:
          type: number
          description: Document details tab &gt; Ordered qty. &gt; The quantity of the item ordered with the specified properties.
          format: double
        openQty:
          type: number
          description: Document details tab &gt; Open qty. &gt; The number of items with the specified quantities still to be shipped.
          format: double
        lotSerialNbr:
          type: string
          description: Document details tab &gt; Lot/serial no. &gt; The lot or serial number of particular items of the item.
        expirationDate:
          type: string
          description: Document details tab &gt; Expiration date &gt; The expiration date of the item, if it is traced for this item ID.
          format: date-time
        reasonCode:
          type: string
          description: Document details tab &gt; Reason code &gt; The reason code used for shipments.
        description:
          type: string
          description: Document details tab &gt; Description &gt; A short description for the shipment.
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/AllocationsDto'
          description: Document details tab &gt; Allocations button &gt; Opens the Allocations dialog box, so that you can specify the locations, or lot or serial numbers for the units of the of the item.
        orderLineNbr:
          type: integer
          description: Document details tab &gt; Order line no. &gt; Read only. The order's line number that matches this shipment line.
          format: int32
        note:
          type: string
        externalLink:
          type: string
        alternateID:
          type: string
        customStr1:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr2:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr3:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr4:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr5:
          type: string
          description: A free custom colum of type string with max length 100.
        customDec1:
          type: number
          description: A free custom colum of type decimal with max 4 decimals.
          format: double
        customDec2:
          type: number
          description: A free custom colum of type decimal with max 4 decimals.
          format: double
        customInt1:
          type: integer
          description: A free custom colum of type int
          format: int32
        customInt2:
          type: integer
          description: A free custom colum of type int
          format: int32
        customDateTimeUTC1:
          type: string
          description: A free custom colum of type DateTime - in UTC timezone
          format: date-time
    soShippingContactInSalesOrderDto:
      properties:
        overrideContact:
          type: boolean
          description: Override contact &gt; A check box indicating that you want to override the default contact information.
        contactId:
          type: integer
          format: int32
        name:
          type: string
          description: Name &gt; The legal name of to appear on the documents.
        attention:
          type: string
          description: Attention &gt; The attention line as it is used in your customer's/supplier's/company's business letters. The intention of this line is to direct the letter to the right person if the letter is not addressed to any specific person.
        email:
          type: string
          description: Email &gt; The email address of the customer/supplier/company as a business entity.
        web:
          type: string
          description: Web &gt; The website of the company, if one exists.
        phone1:
          type: string
          description: Phone 1 &gt; The default phone number.
        phone2:
          type: string
          description: Phone 2 &gt; An additional phone number.
        fax:
          type: string
          description: Fax &gt; The fax number.
      description: Delivery settings tab &gt; Delivery address contact section
    transactionTypeInSalesOrderDto:
      properties:
        id:
          type: integer
          description: Click on the magnifier. &gt; The identifier.
          format: int32
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Intrastat section &gt; Transaction type
    CancelSalesOrderActionResultDto:
      type: object
      properties:
        actionId:
          type: string
          format: uuid
        actionResult:
          enum:
          - Queued
          - InProcess
          - Failed
          - Done
          type: string
        errorInfo:
          type: string
    deliveryContactInShipmentDto:
      properties:
        overrideContact:
          type: boolean
          description: Override contact &gt; A check box that you select to not use+ the default contact information and to type new contact information.
        contactId:
          type: integer
          format: int32
        name:
          type: string
          description: Name &gt; The legal name of to appear on the documents.
        attention:
          type: string
          description: Attention &gt; The attention line as it is used in your customer's/supplier's/company's business letters. The intention of this line is to direct the letter to the right person if the letter is not addressed to any specific person.
        email:
          type: string
          description: Email &gt; The email address of the customer/supplier/company as a business entity.
        web:
          type: string
          description: Web &gt; The website of the company, if one exists.
        phone1:
          type: string
          description: Phone 1 &gt; The default phone number.
        phone2:
          type: string
          description: Phone 2 &gt; An additional phone number.
        fax:
          type: string
          description: Fax &gt; The fax number.
      description: Delivery settings tab &gt; Delivery address contact section &gt;
    DtoValueOfNullableOfInt16:
      type: object
      properties:
        value:
          type: integer
          format: int32
    locationInShipmentDetailLineDto:
      properties:
        countryId:
          type: string
          description: Location*.
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: Document details tab &gt; Location &gt; The location in the warehouse from which the item is shipped.
    branchNumberInSalesOrderDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: 'Mandatory field: Document details tab &gt; Branch* &gt; The branch of the company.'
    salesPersonInSalesOrderDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The Commissions tab &gt; Salesperson ID &gt; The salesperson.
    shippingTermsInSalesOrderDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Shipping information section &gt; Shipping terms
    RotRutDistributionDto:
      type: object
      properties:
        lineNbr:
          type: integer
          format: int32
        personalId:
          type: string
        amount:
          type: number
          format: double
        extra:
          type: boolean
      description: This class represents a RutRot Distribution Line For RutRot in RutRotController. Used for getting data.
    SalesOrderDto:
      type: object
      properties:
        projectCD:
          type: string
          description: 'Mandatory field: The top part &gt; Project* &gt; The field consists of Project ID and Project description. Project ID: The identifier for the project with which this document is associated, or the code indicating that this document is not associated with any project; the non-project code is specified in the Project accounting preferences (PM101000) window.'
        printDescriptionOnInvoice:
          type: boolean
          description: The top part &gt; Print description on invoice &gt; A check box
        printNoteOnExternalDocuments:
          type: boolean
          description: The top part &gt; Print note on external sales documents &gt; A check box
        printNoteOnInternalDocuments:
          type: boolean
          description: The top part &gt; Print line note on internal sales documents &gt; A check box
        soBillingContact:
          $ref: '#/components/schemas/soBillingContactInSalesOrderDto'
        soBillingAddress:
          $ref: '#/components/schemas/soBillingAddressInSalesOrderDto'
        customerVATZone:
          $ref: '#/components/schemas/customerVATZoneInSalesOrderDto'
        invoiceSeparately:
          type: boolean
          description: Financial settings tab &gt; Financial information section &gt; Invoice separately &gt; A check box that indicating that this document is to be invoiced separately (if that is required).
        invoiceNbr:
          type: string
          description: Financial settings tab &gt; Financial information section &gt; Invoice no.&gt; The invoice number of the invoice generated for this order.
        invoiceDate:
          type: string
          description: Financial settings tab &gt; Financial information section &gt; Invoice date&gt; The date of the invoice generated for the order.
          format: date-time
        terms:
          $ref: '#/components/schemas/termsInSalesOrderDto'
        dueDate:
          type: string
          description: Financial settings tab &gt; Financial information section &gt; Due date &gt; The due date of the invoice according to the credit terms.
          format: date-time
        cashDiscountDate:
          type: string
          description: Financial settings tab &gt; Financial information section &gt; Cash discount date &gt; The date when the cash discount is available for the invoice based on the credit terms.
          format: date-time
        postPeriod:
          type: string
          description: The Financial settings tab &gt; Financial information section &gt; Post period &gt; The period to post the transactions generated by the invoice. Format MMYYYY.
        salesPerson:
          $ref: '#/components/schemas/salesPersonInSalesOrderDto'
        commissionPercent:
          type: string
          description: The Commissions tab &gt; Commission (%) &gt; The percentage of commission generally earned by the salesperson.
        commissionAmount:
          type: string
          description: "The Commissions tab &gt; Commission amt. &gt;\tThe commission amount earned by the salesperson on this document."
        commissionableAmount:
          type: string
          description: "The Commissions tab &gt; Commissionable amount\t&gt; The amount used to calculate the commission."
        owner:
          $ref: '#/components/schemas/ownerInSalesOrderDto'
        origOrderType:
          type: string
          description: 'Mandatory field: The top part &gt; Order type* &gt; The type of the document, which is one of the predefined order types or a custom order type created by using the window SO201000.'
        origOrderNbr:
          type: string
          description: The top part &gt; Order no. &gt; The order number of the document.
        soShippingContact:
          $ref: '#/components/schemas/soShippingContactInSalesOrderDto'
        soShippingAddress:
          $ref: '#/components/schemas/soShippingAddressInSalesOrderDto'
        schedShipment:
          type: string
          description: Delivery settings tab &gt; Shipping information section &gt; Sched. shipment &gt; The date when the ordered goods are scheduled to be shipped.
          format: date-time
        shipSeparately:
          type: boolean
          description: Delivery settings tab &gt; Shipping information section &gt; Ship separately &gt; This check box indicates that the goods for the customer should be shipped separately for each sales order.
        shipComplete:
          enum:
          - BackOrderAllowed
          - CancelRemainder
          - ShipComplete
          type: string
          description: Delivery settings tab &gt; Shipping information section &gt; Shipping rule &gt; An option that controls whether incomplete and partial shipments for the order are allowed.
        cancelBy:
          type: string
          description: Delivery settings tab &gt; Shipping information section &gt; Cancel by &gt; The date when the order should be cancelled if the Back order allowed option has been selected in the Shipping rule field.
          format: date-time
        canceled:
          type: boolean
          description: The Delivery settings tab &gt; The Shipping information section &gt; Cancelled &gt; A check box that indicates that the order has been cancelled on the date specified in Cancel by.
        preferredWarehouse:
          $ref: '#/components/schemas/preferredWarehouseInSalesOrderDto'
        shipVia:
          $ref: '#/components/schemas/shipViaInSalesOrderDto'
        fobPoint:
          $ref: '#/components/schemas/fobPointInSalesOrderDto'
        priority:
          type: integer
          description: Delivery settings tab &gt; Shipping information section &gt; Priority &gt; Field only for informational purposes. The level of priority for processing order of this customer, as specified for the customer on the Shipping settings tab on the AR303000 window.
          format: int32
        shippingTerms:
          $ref: '#/components/schemas/shippingTermsInSalesOrderDto'
        shippingZone:
          $ref: '#/components/schemas/shippingZoneInSalesOrderDto'
        residentialDelivery:
          type: boolean
          description: Delivery settings tab &gt; Shipping information section &gt; Residential delivery &gt; A check box that you select to indicate that the shipment should be delivered to a residential area.
        saturdayDelivery:
          type: boolean
          description: Delivery settings tab &gt; Shipping information section &gt; Saturday delivery &gt; A check box that indicates that the order may be delivered on Saturday.
        insurance:
          type: boolean
          description: Delivery settings tab &gt; Shipping information section &gt; Insurance &gt; A check box that you select to indicate that insurance is required for this order.
        transactionType:
          $ref: '#/components/schemas/transactionTypeInSalesOrderDto'
        paymentMethod:
          $ref: '#/components/schemas/paymentMethodInSalesOrderDto'
        cashAccount:
          type: string
          description: Payment settings tab &gt; Cash account
        paymentRef:
          type: string
          description: Payment settings tab &gt; Payment ref.
        isRotRutDeductible:
          type: boolean
          description: A check box indicating if the document is Rot/rut deductible (applicable for the Swedish markets)
        emailed:
          type: boolean
          description: A check box indicating if the document is emailed
        lines:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrderLineDto'
          description: Document details tab &gt;
        shipments:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrderShipmentDto'
          description: Shipment tab &gt;
        orderType:
          type: string
          description: 'Mandatory field: The top part &gt; Order type &gt; The type of the document, which is one of the predefined order types or a custom order type created by using the (SO201000) window.'
        orderNo:
          type: string
          description: 'The top part &gt; Order no.: &gt; The reference number of the document.'
        status:
          enum:
          - Open
          - Hold
          - CreditHold
          - Completed
          - Cancelled
          - BackOrder
          - Shipping
          - Invoiced
          - PendingApproval
          - Voided
          type: string
          description: 'The top part &gt; Status &gt; The status of the document, which can be one of the following options: On hold, Credit hold, Pending aååroval, Rejected, Open, Cancelled, Shipping, Back order, Invoiced, Completed.'
        hold:
          type: boolean
          description: The top part &gt; Hold &gt; A check box that you select if the document is on hold and should not be processed further at this time.
        date:
          type: string
          description: 'Mandatory field: The top part &gt; Date* &gt;  The date of the document.'
          format: date-time
        requestOn:
          type: string
          description: 'Mandatory field: The top part &gt; Requested on &gt; The date when the customer wants to receive the goods; this date provides the default values for the Requested on dates for order lines.'
          format: date-time
        customerOrder:
          type: string
          description: The top part &gt; Customer order &gt; The reference number of the original customer document that the sales order is based on.
        customerRefNo:
          type: string
          description: The top part &gt; External reference &gt; The reference number of the sales order in a third-party application if Visma.net Financials is integrated with such an application and imports the sales orders from it.
        customer:
          $ref: '#/components/schemas/customerInSalesOrderDto'
        contactId:
          type: integer
          description: The top part &gt; Contact &gt; The contact person of the customer.
          format: int32
        location:
          $ref: '#/components/schemas/locationInSalesOrderDto'
        currency:
          type: string
          description: The top part &gt; Currency &gt; The currency of the document.
        description:
          type: string
          description: The top part &gt; Description &gt; A brief description of the document.
        orderTotal:
          type: number
          description: 'The top part &gt; Order total &gt; The total amount of the document, which is calculated as follows:

            Line Total + Misc.Charges + Freight + Premium Freight – Discount Total+ Tax Total'
          format: double
        orderTotalInBaseCurrency:
          type: number
          format: double
        vatTaxableTotal:
          type: number
          description: The top part &gt; VAT taxable total &gt; The document total that is subject to VAT.
          format: double
        vatTaxableTotalInBaseCurrency:
          type: number
          format: double
        vatExemptTotal:
          type: number
          description: The top part &gt; VAT exempt total &gt; The document total that is exempt from VAT.
          format: double
        vatExemptTotalInBaseCurrency:
          type: number
          format: double
        taxTotal:
          type: number
          description: The top part &gt; VAT total &gt; The total amount of tax paid on the document.
          format: double
        taxTotalInBaseCurrency:
          type: number
          format: double
        exchangeRate:
          type: number
          format: double
        discountTotal:
          type: number
          format: double
        discountTotalInBaseCurrency:
          type: number
          format: double
        lastModifiedDateTime:
          type: string
          description: Background information collected from the system.
          format: date-time
        branchNumber:
          $ref: '#/components/schemas/branchNumberInSalesOrderDto'
        note:
          type: string
          description: Icon Notes on top of the window &gt; Pop-up window for providing any user-defined text connected to the order.
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDto'
          description: The data containing information about the document attachments
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents a SOOrder in SOOrderController. Used by getting data.
    InventoryNumberDescriptionDto:
      type: object
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
    DtoValueOfNullableOfInventoryReplenishmentSources:
      type: object
      properties:
        value:
          enum:
          - DropShipToOrder
          - Manufactured
          - None
          - Purchased
          - PurchaseToOrder
          - Transfer
          type: string
    customerInShipmentDto:
      properties:
        internalId:
          type: integer
          format: int32
        number:
          type: string
          description: The identifier of the particular destination of the selected type.
        name:
          type: string
          description: The name of the particular destination of the selected type.
      description: The top part &gt; Customer &gt; The customer to whom the goods specified in the document should be shipped. (This field does not appear for transfers.)
    AllocationsDto:
      type: object
      properties:
        lineNbr:
          type: integer
          description: Line no. &gt; The line of the purchase order that contains the selected item.
          format: int32
        itemId:
          type: string
          description: ItemId &gt; The id of the item.
        location:
          $ref: '#/components/schemas/locationInAllocationsDto'
        lotSerialNumber:
          type: string
          description: Lot/Serial no. &gt; The lot or serial number of the item.
        quantity:
          type: number
          description: Quantity &gt; The quantity of the stock item with the same lot number. It is 1 for items with serial numbers.
          format: double
        uom:
          type: string
          description: UoM &gt; The unit of measure for the specified quantity of the inventory item.
        expirationDate:
          type: string
          description: Expiration date &gt; The expiration date of the specified quantity of the stock item.
          format: date-time
        description:
          type: string
          description: Description &gt; The description of the stock item.
      description: This class represents a Allocations for Purchase Receipt Line in PurchaseReceiptController. Used for getting data.
    SalesOrderLineDto:
      type: object
      properties:
        invoiceNbr:
          type: string
          description: The reference number of the invoice generated for this order. This number is collected from the system and not visible on the sales order line.
        operation:
          enum:
          - Issue
          - Receipt
          type: string
          description: The operation to be performed in the workspace to fulfil the order. This information is collected from the system and not visible on the sales order line.
        freeItem:
          type: boolean
          description: A check box that indicates (if selected) that the stock item specified in the row is a free item. This information is collected from the system and not visible on the sales order line.
        requestedOn:
          type: string
          description: 'Mandatory field: The top part  &gt; Requested on* &gt; The date when the customer wants to receive the goods. The default value is the current business date.'
          format: date-time
        shipOn:
          type: string
          description: Ship on &gt; The date when the item is to be shipped.
          format: date-time
        shipComplete:
          enum:
          - BackOrderAllowed
          - CancelRemainder
          - ShipComplete
          type: string
          description: 'Shipping rule &gt; An option that controls whether incomplete and partial shipments for the order are allowed. (Values: Ship complete, Back order allowed, Cancel remainder)'
        undershipThreshold:
          type: number
          description: Undership threshold (%) &gt; The minimal percentage of goods shipped (with respect to the ordered quantity) to consider the order shipped completely.
          format: double
        overshipThreshold:
          type: number
          description: Overship threshold (%) &gt; The maximum percentage of goods shipped (with respect to the ordered quantity) allowed by the customer.
          format: double
        completed:
          type: boolean
          description: Completed &gt; A check box that can be selected to indicate to the system that this line is completed.
        markForPO:
          type: boolean
          description: Mark for purchase order &gt; A check box that indicates (if selected) that the order line was marked for purchasing (if it has not been shipped completely).
        poSource:
          enum:
          - DropShipToOrder
          - Manufactured
          - None
          - Purchased
          - PurchaseToOrder
          - Transfer
          type: string
          description: 'Purchase order source &gt; The purchase order source to be used to fulfill this line, which can be one of the following options: Purchase to order, Drop-shipment.'
        lotSerialNbr:
          type: string
          description: Lot/serial no. &gt; The lot or serial number of the item for returns
        expirationDate:
          type: string
          description: Expiration date &gt; The expiration date for the item with the specified lot number.
          format: date-time
        reasonCode:
          type: string
          description: Reason code &gt; The reason code to be used for creation or cancellation of the order, if applicable.
        salesPerson:
          $ref: '#/components/schemas/salesPersonInSalesOrderLineDto'
        taxCategory:
          type: string
          description: VAT code &gt; The VAT category of the goods mentioned in this line.
        commissionable:
          type: boolean
          description: VAT code &gt; The VAT category of the goods mentioned in this line.
        alternateID:
          type: string
          description: Alternate ID &gt; The alternate ID for the item, such as the item ID used by the customer.
        projectTask:
          type: integer
          description: Project task &gt; The particular task of the project with which this document is associated.
          format: int32
        projectTaskCd:
          type: string
          description: Project task code &gt; The particular task code of the project with which this document is associated.
        subaccount:
          $ref: '#/components/schemas/subaccountInSalesOrderLineDto'
        externalLink:
          type: string
        isRotRutDeductible:
          type: boolean
        lineNbr:
          type: integer
          description: Document details tab &gt; Line no. &gt; The line number of the document.
          format: int32
        sortOrder:
          type: integer
          description: Document details tab &gt; Line order &gt; The order number of the document line. The system regenerates this number automatically when you reorder the lines in the table.
          format: int32
        inventory:
          $ref: '#/components/schemas/InventoryNumberDescriptionDto'
        warehouse:
          $ref: '#/components/schemas/WarehouseIdDescriptionDto'
        uom:
          type: string
          description: 'Mandatory field: Document details tab &gt; UoM* &gt; The unit of measure (UoM) used for the item with this item ID.'
        quantity:
          type: number
          description: Document details tab &gt; Quantity &gt; The quantity of the item sold, measured in the UoM.
          format: double
        qtyOnShipments:
          type: number
          description: Document details tab &gt; Qty. on shipments &gt; A read-only column that displays the quantity of the stock item being prepared for shipment and already shipped for this order.
          format: double
        openQty:
          type: number
          description: Document details tab &gt; Open qty. &gt; The quantity of the item to be shipped; that is, the total quantity minus the quantity shipped according to closed shipment documents.
          format: double
        unitCost:
          type: number
          description: Document details tab &gt; Unit Cost &gt; The cost of the unit on the sales order.
          format: double
        unitPrice:
          type: number
          description: Document details tab &gt; Unit price &gt; The price of the unit on the sales order.
          format: double
        unitPriceInBaseCurrency:
          type: number
          format: double
        discountCode:
          type: string
          description: 'Mandatory field: Document details tab &gt; Discount details tab &gt; Discount code* &gt; The code of the discount that has been applied to this line.'
        discountPercent:
          type: number
          description: Document details tab &gt; Discount percent &gt; The percent of the line-level discount that has been applied manually or automatically to this line item (if the item is not a free item).
          format: double
        discountAmount:
          type: number
          description: Document details tab &gt; Discount amount &gt; The amount of the line-level discount that has been applied manually or automatically to this line item (if the item is not a free item).
          format: double
        manualDiscount:
          type: boolean
          description: Document details tab &gt; Manual discount &gt; A check box that indicates (if selected) that the discount has been applied manually.
        discUnitPrice:
          type: number
          description: Document details tab &gt; Disc. unit price &gt; The unit price, which has been recalculated after the application of discounts.
          format: double
        extPrice:
          type: number
          description: Document details tab &gt; Extended cost &gt; The extended price, which is the unit price multiplied by the quantity.
          format: double
        unbilledAmount:
          type: number
          description: Document details tab &gt; Amount not yet invoiced &gt; The amount of cancelled shipments and cancelled remainders.
          format: double
        lineDescription:
          type: string
          description: Document details tab &gt; Line description &gt; The description of the unit.
        branchNumber:
          $ref: '#/components/schemas/BranchNumberDto'
        note:
          type: string
          description: Tables in tab &gt; Icon Notes &gt; Pop-up window for providing any user-defined text connected to the order.
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDto'
          description: The data containing information about the document attachments
    shipViaInShipmentDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Shipping information section &gt; Ship via &gt; The carrier used for shipping the goods.
    saleOrderUpdateDtoInReopenSalesOrderActionDto:
      properties:
        project:
          $ref: '#/components/schemas/DtoValueOfNullableOfInt32'
        printDescriptionOnInvoice:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        printNoteOnExternalDocuments:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        printNoteOnInternalDocuments:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        soBillingContact:
          $ref: '#/components/schemas/DtoValueOfSalesOrderContactUpdateDto'
        soBillingAddress:
          $ref: '#/components/schemas/DtoValueOfSalesOrderAddressUpdateDto'
        customerVATZone:
          $ref: '#/components/schemas/DtoValueOfString'
        invoiceSeparately:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        terms:
          $ref: '#/components/schemas/DtoValueOfString'
        salesPerson:
          $ref: '#/components/schemas/DtoValueOfString'
        owner:
          $ref: '#/components/schemas/DtoValueOfNullableOfGuid'
        origOrderType:
          $ref: '#/components/schemas/DtoValueOfString'
        origOrderNbr:
          $ref: '#/components/schemas/DtoValueOfString'
        soShippingContact:
          $ref: '#/components/schemas/DtoValueOfSalesOrderContactUpdateDto'
        soShippingAddress:
          $ref: '#/components/schemas/DtoValueOfSalesOrderAddressUpdateDto'
        schedShipment:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        shipSeparately:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        shipComplete:
          $ref: '#/components/schemas/DtoValueOfNullableOfSalesOrderShipCompleteStatuses'
        cancelBy:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        canceled:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        preferredWarehouse:
          $ref: '#/components/schemas/DtoValueOfString'
        shipVia:
          $ref: '#/components/schemas/DtoValueOfString'
        fobPoint:
          $ref: '#/components/schemas/DtoValueOfString'
        priority:
          $ref: '#/components/schemas/DtoValueOfNullableOfInt16'
        shippingTerms:
          $ref: '#/components/schemas/DtoValueOfString'
        shippingZone:
          $ref: '#/components/schemas/DtoValueOfString'
        residentialDelivery:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        saturdayDelivery:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        insurance:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        transactionType:
          $ref: '#/components/schemas/DtoValueOfNullableOfInt32'
        paymentMethod:
          $ref: '#/components/schemas/DtoValueOfString'
        cashAccount:
          $ref: '#/components/schemas/DtoValueOfString'
        paymentRef:
          $ref: '#/components/schemas/DtoValueOfString'
        isRotRutDeductible:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        emailed:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        rotRutDetails:
          $ref: '#/components/schemas/RotRutUpdateDto'
        lines:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrderLineUpdateDto'
        orderType:
          $ref: '#/components/schemas/orderTypeInSalesOrderUpdateDto'
        orderNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        hold:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        date:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        requestOn:
[...]
