openapi: 3.2.0
info:
  title: Visma.net ERP Shipment API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: Shipment
paths:
  /v1/shipment/{shipmentNbr}:
    get:
      tags:
      - Shipment
      summary: Get a specific Shipment
      description: 'Data for a single Shipment.


        The response headers include an ETag after a successful GET operation.'
      operationId: Shipment_GetByshipmentNbr
      parameters:
      - name: shipmentNbr
        in: path
        description: Identifies the Shipment
        required: true
        schema:
          type: string
      - name: includeCustomFreeFields
        in: query
        description: Optional parameter to request custom free fields.
        schema:
          type: boolean
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentDto'
            text/json:
              schema:
                $ref: '#/components/schemas/ShipmentDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - Shipment
      summary: Update a specific Shipment
      description: 'Response Message has StatusCode NoContent if PUT operation succeeded.


        Response Message has StatusCode BadRequest if PUT operation failed.


        The response headers include an ETag after a successful PUT operation.'
      operationId: Shipment_PutByshipmentNbr
      parameters:
      - name: shipmentNbr
        in: path
        description: Identifies the Shipment to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Shipment to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ShipmentUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ShipmentUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ShipmentUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ShipmentUpdateDto'
        required: true
        x-bodyName: shipmentUpdateDto
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Shipment version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/shipment:
    get:
      tags:
      - Shipment
      summary: Get a range of SO Shipments - ScreenId=SO302000 Request page size must be lower…
      operationId: Shipment_GetAllShipments
      parameters:
      - name: customerId
        in: query
        schema:
          type: integer
          format: int32
      - name: customerNumber
        in: query
        schema:
          type: string
      - name: greaterThanValue
        in: query
        description: This field has been deprecated and will be removed in future versions. The GreaterThanValue parameter has no effect on the result.
        schema:
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        description: This field has been deprecated and will be removed in future versions. The OrderBy parameter has no effect on the result.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: status
        in: query
        schema:
          enum:
          - Open
          - Hold
          - Completed
          - Cancelled
          - Confirmed
          - Invoiced
          - Receipted
          - AutoGenerated
          - PartiallyInvoiced
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        schema:
          type: integer
          format: int32
      - name: shipmentType
        in: query
        description: Filter by Shipment Type
        schema:
          enum:
          - Issue
          - DropShip
          - Transfer
          type: string
      - name: shipmentDate
        in: query
        description: 'Shipment Date


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __ShipmentDate__ and __ShipmentDate__ are __mutually inclusive__.'
        schema:
          type: string
      - name: shipmentDateCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __ShipmentDate__ and __ShipmentDateCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: includeCustomFreeFields
        in: query
        description: Parameter to include custom free fields information in the result set, if true then custom free fields will be included in the result set
        schema:
          type: boolean
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShipmentDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShipmentDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - Shipment
      summary: Create a Shipment
      description: 'Response Message has StatusCode Created if POST operation succeed.


        Response Message has StatusCode BadRequest or InternalServerError if POST operation failed.


        The response headers include an ETag after a successful POST operation.'
      operationId: Shipment_Post
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Shipment to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentCreateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ShipmentCreateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ShipmentCreateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ShipmentCreateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ShipmentCreateDto'
        required: true
        x-bodyName: shipmentCreateDto
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/shipment/{shipmentNbr}/printShipmentConfirmation:
    get:
      tags:
      - Shipment
      summary: Get the shipment confirmation report
      operationId: Shipment_PrintShipmentConfirmationByshipmentNbr
      parameters:
      - name: shipmentNbr
        in: path
        description: Identifies the shipment
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/shipment/{shipmentNbr}/printPickList:
    get:
      tags:
      - Shipment
      summary: Get the pick list report
      operationId: Shipment_PrintPickListByshipmentNbr
      parameters:
      - name: shipmentNbr
        in: path
        description: Identifies the shipment
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/shipment/{shipmentNumber}/action/addSOLine:
    post:
      tags:
      - Shipment
      summary: Adds a Sales Order Line to a specific Shipment
      description: Response Message has StatusCode NoContent if POST operation succeeded
      operationId: Shipment_AddSOLineByshipmentNumber
      parameters:
      - name: shipmentNumber
        in: path
        description: Identifies the Shipment to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Sales Order Line to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentSOLine'
          text/json:
            schema:
              $ref: '#/components/schemas/ShipmentSOLine'
          application/xml:
            schema:
              $ref: '#/components/schemas/ShipmentSOLine'
          text/xml:
            schema:
              $ref: '#/components/schemas/ShipmentSOLine'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ShipmentSOLine'
        required: true
        x-bodyName: shipmentSOLine
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/shipment/{shipmentNumber}/action/addSOOrder:
    post:
      tags:
      - Shipment
      summary: Adds a Sales Order to a specific Shipment
      description: Response Message has StatusCode NoContent if POST operation succeeded
      operationId: Shipment_AddSOOrderByshipmentNumber
      parameters:
      - name: shipmentNumber
        in: path
        description: Identifies the Shipment to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Sales Order to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentSOOrder'
          text/json:
            schema:
              $ref: '#/components/schemas/ShipmentSOOrder'
          application/xml:
            schema:
              $ref: '#/components/schemas/ShipmentSOOrder'
          text/xml:
            schema:
              $ref: '#/components/schemas/ShipmentSOOrder'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ShipmentSOOrder'
        required: true
        x-bodyName: shipmentSOOrder
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/shipment/{shipmentNumber}/action/confirmShipment:
    post:
      tags:
      - Shipment
      summary: Confirm shipment operation
      description: The action result dto contains information about the result of running the action
      operationId: Shipment_ConfirmShipmentByshipmentNumber
      parameters:
      - name: shipmentNumber
        in: path
        description: Reference number of the shipment to be confirmed
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmShipmentActionResultDto'
            text/json:
              schema:
                $ref: '#/components/schemas/ConfirmShipmentActionResultDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/ConfirmShipmentActionResultDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/ConfirmShipmentActionResultDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/shipment/{shipmentNumber}/action/correctShipment:
    post:
      tags:
      - Shipment
      summary: Correct shipment operation
      description: Response Message has StatusCode BadRequest or InternalServerError if POST operation failed
      operationId: Shipment_CorrectShipmentByshipmentNumber
      parameters:
      - name: shipmentNumber
        in: path
        description: Reference number of the shipment to be corrected
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/shipment/{shipmentNumber}/action/addLine:
    post:
      tags:
      - Shipment
      summary: Adds a new Shipment Line to a specific Shipment
      description: Response Message has StatusCode NoContent if POST operation succeeded
      operationId: Shipment_AddLineByshipmentNumber
      parameters:
      - name: shipmentNumber
        in: path
        description: Identifies the Shipment to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the new Shipment Line to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentDetailLineAddDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ShipmentDetailLineAddDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ShipmentDetailLineAddDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ShipmentDetailLineAddDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ShipmentDetailLineAddDto'
        required: true
        x-bodyName: shipmentDetailLineAddDto
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/shipment/{shipmentNumber}/action/deleteLine/{lineNumber}:
    post:
      tags:
      - Shipment
      summary: Deletes a Shipment Line from a specific Shipment
      description: Response Message has StatusCode NoContent if POST operation succeeded
      operationId: Shipment_DeleteLineByshipmentNumberlineNumber
      parameters:
      - name: shipmentNumber
        in: path
        description: Identifies the Shipment to update
        required: true
        schema:
          type: string
      - name: lineNumber
        in: path
        description: Identifies the Shipment line to delete
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines if SOLine should be deleted or not - where applicable
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentUpdateDeleteLineDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ShipmentUpdateDeleteLineDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/ShipmentUpdateDeleteLineDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/ShipmentUpdateDeleteLineDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ShipmentUpdateDeleteLineDto'
        required: true
        x-bodyName: shipmentUpdateDeleteLineDto
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/shipment/{shipmentNumber}/action/cancelShipment:
    post:
      tags:
      - Shipment
      summary: Cancel shipment operation
      operationId: Shipment_CancelShipmentByshipmentNumber
      parameters:
      - name: shipmentNumber
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    lotSerialNumberInAllocationsUpdateDto:
      properties:
        value:
          type: string
      description: Lot/Serial no. &gt; The lot or serial number of the item.
    customStr4InShipmentUpdateDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    customStr3InShipmentUpdateDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    customInt1InShipmentUpdateDto:
      properties:
        value:
          type: integer
          format: int32
      description: A free custom colum of type int
    DtoValueOfNullableOfShipmentOperations:
      type: object
      properties:
        value:
          enum:
          - Issue
          - Receipt
          type: string
    locationInShipmentDto:
      properties:
        countryId:
          type: string
          description: Location*.
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: 'Mandatory field: The top part &gt; Location* &gt; The customer location to receive the shipment.'
    customInt1InShipmentDetailLineUpdateDto:
      properties:
        value:
          type: integer
          format: int32
      description: A free custom colum of type int
    customStr4InShipmentDetailLineUpdateDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    DtoValueOfNullableOfDateTime:
      type: object
      properties:
        value:
          type: string
          format: date-time
    locationInAllocationsUpdateDto:
      properties:
        value:
          type: string
      description: Location &gt; The location in the warehouse.
    ownerInShipmentDto:
      properties:
        id:
          type: string
          description: Click the magnifier &gt; The identifier
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: The top part &gt; Owner &gt; The user assigned to approve the document.
    customDateTimeUTC1InShipmentUpdateDto:
      properties:
        value:
          type: string
          format: date-time
      description: A free custom colum of type DateTime - in UTC timezone
    quantityInAllocationsUpdateDto:
      properties:
        value:
          type: number
          format: double
      description: Quantity &gt; The quantity of the stock item with the same lot number. It is 1 for items with serial numbers.
    expirationDateInShipmentDetailLineUpdateDto:
      properties:
        value:
          type: string
          format: date-time
      description: Property will become obsolete after version 5.31
    customDec2InShipmentUpdateDto:
      properties:
        value:
          type: number
          format: double
      description: A free custom colum of type decimal with max 4 decimals.
    uomInAllocationsUpdateDto:
      properties:
        value:
          type: string
      description: UoM &gt; The unit of measure for the specified quantity of the inventory item.
    customStr1InShipmentUpdateDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    countyInShipmentAddressDto:
      properties:
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: County &gt; The county or province.
    modeOfTrasportInShipmentDto:
      properties:
        id:
          type: integer
          description: Click on the magnifier. &gt; The identifier.
          format: int32
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Intrastat section &gt; Mode of transportation &gt; The method of transportation.
    customStr4InShipmentCreateDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    AllocationsUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
          description: The operation &gt;  Insert=1, Update=2, Delete=3
        lineNbr:
          $ref: '#/components/schemas/lineNbrInAllocationsUpdateDto'
        location:
          $ref: '#/components/schemas/locationInAllocationsUpdateDto'
        lotSerialNumber:
          $ref: '#/components/schemas/lotSerialNumberInAllocationsUpdateDto'
        quantity:
          $ref: '#/components/schemas/quantityInAllocationsUpdateDto'
        uom:
          $ref: '#/components/schemas/uomInAllocationsUpdateDto'
        expirationDate:
          $ref: '#/components/schemas/expirationDateInAllocationsUpdateDto'
      description: This class represents a Allocations for Purchase Receipt Line in PurchaseReceiptEndpoint. Used to add/update data.
    customInt2InShipmentUpdateDto:
      properties:
        value:
          type: integer
          format: int32
      description: A free custom colum of type int
    toWarehouseInShipmentDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The top part &gt; To warehouse &gt; The warehouse to which the goods should be shipped in case of a transfer.
    customStr2InShipmentDetailLineAddDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    customStr5InShipmentDetailLineUpdateDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    ShipmentCreateDto:
      type: object
      properties:
        shipmentType:
          $ref: '#/components/schemas/DtoValueOfNullableOfShipmentTypes'
        operation:
          $ref: '#/components/schemas/DtoValueOfNullableOfShipmentOperations'
        shipmentDate:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        location:
          $ref: '#/components/schemas/DtoValueOfString'
        customer:
          $ref: '#/components/schemas/DtoValueOfString'
        owner:
          $ref: '#/components/schemas/DtoValueOfString'
        hold:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        fromWarehouse:
          $ref: '#/components/schemas/DtoValueOfString'
        toWarehouse:
          $ref: '#/components/schemas/DtoValueOfString'
        controlQuantity:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        overrideContact:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        businessName:
          $ref: '#/components/schemas/DtoValueOfString'
        attention:
          $ref: '#/components/schemas/DtoValueOfString'
        phone1:
          $ref: '#/components/schemas/DtoValueOfString'
        email:
          $ref: '#/components/schemas/DtoValueOfString'
        overrideAddress:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        addressLine1:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine2:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine3:
          $ref: '#/components/schemas/DtoValueOfString'
        city:
          $ref: '#/components/schemas/DtoValueOfString'
        country:
          $ref: '#/components/schemas/DtoValueOfString'
        county:
          $ref: '#/components/schemas/DtoValueOfString'
        postalCode:
          $ref: '#/components/schemas/DtoValueOfString'
        shipVia:
          $ref: '#/components/schemas/DtoValueOfString'
        fobPoint:
          $ref: '#/components/schemas/DtoValueOfString'
        shippingTerms:
          $ref: '#/components/schemas/DtoValueOfString'
        shippingZone:
          $ref: '#/components/schemas/DtoValueOfString'
        residentialDelivery:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        saturdayDelivery:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        useCustomerAccount:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        insurance:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        freightAmt:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        freightCost:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        transactionType:
          $ref: '#/components/schemas/DtoValueOfNullableOfInt32'
        modeOfTrasport:
          $ref: '#/components/schemas/DtoValueOfNullableOfTransportationModes'
        container:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        note:
          $ref: '#/components/schemas/DtoValueOfString'
        shipmentDetailLines:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentDetailLineUpdateDto'
        shipmentPackageLines:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentPackageLineUpdateDto'
        customStr1:
          $ref: '#/components/schemas/customStr1InShipmentCreateDto'
        customStr2:
          $ref: '#/components/schemas/customStr2InShipmentCreateDto'
        customStr3:
          $ref: '#/components/schemas/customStr3InShipmentCreateDto'
        customStr4:
          $ref: '#/components/schemas/customStr4InShipmentCreateDto'
        customStr5:
          $ref: '#/components/schemas/customStr5InShipmentCreateDto'
        customDec1:
          $ref: '#/components/schemas/customDec1InShipmentCreateDto'
        customDec2:
          $ref: '#/components/schemas/customDec2InShipmentCreateDto'
        customInt1:
          $ref: '#/components/schemas/customInt1InShipmentCreateDto'
        customInt2:
          $ref: '#/components/schemas/customInt2InShipmentCreateDto'
        customDateTimeUTC1:
          $ref: '#/components/schemas/customDateTimeUTC1InShipmentCreateDto'
    customStr5InShipmentDetailLineAddDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    transactionTypeInShipmentDto:
      properties:
        id:
          type: integer
          description: Click on the magnifier. &gt; The identifier.
          format: int32
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Intrastat section &gt; Transaction type &gt; The 1-digit code that describes the nature of the transaction (according to EU regulations for Intrastat reporting).
    customStr5InShipmentUpdateDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    customStr2InShipmentCreateDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    ShipmentUpdateDeleteLineDto:
      required:
      - deleteSOLine
      type: object
      properties:
        deleteSOLine:
          $ref: '#/components/schemas/DtoValueOfBoolean'
    customDateTimeUTC1InShipmentDetailLineUpdateDto:
      properties:
        value:
          type: string
          format: date-time
      description: A free custom colum of type DateTime - in UTC timezone
    DtoValueOfNullableOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    customStr4InShipmentDetailLineAddDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    ShipmentDetailLineDto:
      type: object
      properties:
        lineNumber:
          type: integer
          description: Document details tab &gt; The line number indicating sequence.
          format: int32
        orderType:
          type: string
          description: Document details tab &gt; The type of the document, which is one of the predefined order types or a custom order type.
        orderNbr:
          type: string
          description: Document details tab &gt; Order no. &gt; The reference number of the document.
        inventoryNumber:
          type: string
          description: Document details tab &gt; Item ID &gt; The ID of the item being shipped.
        freeItem:
          type: boolean
          description: Document details tab &gt; Free item &gt; The free item earned by the customer, if applicable. (This column does not appear for transfer.)
        warehouse:
          $ref: '#/components/schemas/warehouseInShipmentDetailLineDto'
        location:
          $ref: '#/components/schemas/locationInShipmentDetailLineDto'
        uom:
          type: string
          description: Document details tab &gt; UoM &gt; The unit of measure used for the item in shipment.
        shippedQty:
          type: number
          description: Document details tab &gt; Shipped qty. &gt; The quantity of the item shipped with the specified properties.
          format: double
        orderedQty:
          type: number
          description: Document details tab &gt; Ordered qty. &gt; The quantity of the item ordered with the specified properties.
          format: double
        openQty:
          type: number
          description: Document details tab &gt; Open qty. &gt; The number of items with the specified quantities still to be shipped.
          format: double
        lotSerialNbr:
          type: string
          description: Document details tab &gt; Lot/serial no. &gt; The lot or serial number of particular items of the item.
        expirationDate:
          type: string
          description: Document details tab &gt; Expiration date &gt; The expiration date of the item, if it is traced for this item ID.
          format: date-time
        reasonCode:
          type: string
          description: Document details tab &gt; Reason code &gt; The reason code used for shipments.
        description:
          type: string
          description: Document details tab &gt; Description &gt; A short description for the shipment.
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/AllocationsDto'
          description: Document details tab &gt; Allocations button &gt; Opens the Allocations dialog box, so that you can specify the locations, or lot or serial numbers for the units of the of the item.
        orderLineNbr:
          type: integer
          description: Document details tab &gt; Order line no. &gt; Read only. The order's line number that matches this shipment line.
          format: int32
        note:
          type: string
        externalLink:
          type: string
        alternateID:
          type: string
        customStr1:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr2:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr3:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr4:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr5:
          type: string
          description: A free custom colum of type string with max length 100.
        customDec1:
          type: number
          description: A free custom colum of type decimal with max 4 decimals.
          format: double
        customDec2:
          type: number
          description: A free custom colum of type decimal with max 4 decimals.
          format: double
        customInt1:
          type: integer
          description: A free custom colum of type int
          format: int32
        customInt2:
          type: integer
          description: A free custom colum of type int
          format: int32
        customDateTimeUTC1:
          type: string
          description: A free custom colum of type DateTime - in UTC timezone
          format: date-time
    DtoValueOfNullableOfShipmentTypes:
      type: object
      properties:
        value:
          enum:
          - Issue
          - DropShip
          - Transfer
          type: string
    deliveryContactInShipmentDto:
      properties:
        overrideContact:
          type: boolean
          description: Override contact &gt; A check box that you select to not use+ the default contact information and to type new contact information.
        contactId:
          type: integer
          format: int32
        name:
          type: string
          description: Name &gt; The legal name of to appear on the documents.
        attention:
          type: string
          description: Attention &gt; The attention line as it is used in your customer's/supplier's/company's business letters. The intention of this line is to direct the letter to the right person if the letter is not addressed to any specific person.
        email:
          type: string
          description: Email &gt; The email address of the customer/supplier/company as a business entity.
        web:
          type: string
          description: Web &gt; The website of the company, if one exists.
        phone1:
          type: string
          description: Phone 1 &gt; The default phone number.
        phone2:
          type: string
          description: Phone 2 &gt; An additional phone number.
        fax:
          type: string
          description: Fax &gt; The fax number.
      description: Delivery settings tab &gt; Delivery address contact section &gt;
    customInt1InShipmentDetailLineAddDto:
      properties:
        value:
          type: integer
          format: int32
      description: A free custom colum of type int
    locationInShipmentDetailLineDto:
      properties:
        countryId:
          type: string
          description: Location*.
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: Document details tab &gt; Location &gt; The location in the warehouse from which the item is shipped.
    customStr1InShipmentDetailLineUpdateDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    ConfirmShipmentActionResultDto:
      type: object
      properties:
        actionId:
          type: string
          format: uuid
        actionResult:
          enum:
          - Queued
          - InProcess
          - Failed
          - Done
          type: string
        errorInfo:
          type: string
    customStr3InShipmentDetailLineAddDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    customStr3InShipmentDetailLineUpdateDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    customInt2InShipmentDetailLineUpdateDto:
      properties:
        value:
          type: integer
          format: int32
      description: A free custom colum of type int
    customStr1InShipmentCreateDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    customStr1InShipmentDetailLineAddDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    customerInShipmentDto:
      properties:
        internalId:
          type: integer
          format: int32
        number:
          type: string
          description: The identifier of the particular destination of the selected type.
        name:
          type: string
          description: The name of the particular destination of the selected type.
      description: The top part &gt; Customer &gt; The customer to whom the goods specified in the document should be shipped. (This field does not appear for transfers.)
    AllocationsDto:
      type: object
      properties:
        lineNbr:
          type: integer
          description: Line no. &gt; The line of the purchase order that contains the selected item.
          format: int32
        itemId:
          type: string
          description: ItemId &gt; The id of the item.
        location:
          $ref: '#/components/schemas/locationInAllocationsDto'
        lotSerialNumber:
          type: string
          description: Lot/Serial no. &gt; The lot or serial number of the item.
        quantity:
          type: number
          description: Quantity &gt; The quantity of the stock item with the same lot number. It is 1 for items with serial numbers.
          format: double
        uom:
          type: string
          description: UoM &gt; The unit of measure for the specified quantity of the inventory item.
        expirationDate:
          type: string
          description: Expiration date &gt; The expiration date of the specified quantity of the stock item.
          format: date-time
        description:
          type: string
          description: Description &gt; The description of the stock item.
      description: This class represents a Allocations for Purchase Receipt Line in PurchaseReceiptController. Used for getting data.
    shipViaInShipmentDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Shipping information section &gt; Ship via &gt; The carrier used for shipping the goods.
    customDateTimeUTC1InShipmentCreateDto:
      properties:
        value:
          type: string
          format: date-time
      description: A free custom colum of type DateTime - in UTC timezone
    customStr3InShipmentCreateDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    customInt1InShipmentCreateDto:
      properties:
        value:
          type: integer
          format: int32
      description: A free custom colum of type int
    customDec1InShipmentDetailLineUpdateDto:
      properties:
        value:
          type: number
          format: double
      description: A free custom colum of type decimal with max 4 decimals.
    customDec1InShipmentUpdateDto:
      properties:
        value:
          type: number
          format: double
      description: A free custom colum of type decimal with max 4 decimals.
    ShipmentUpdateDto:
      type: object
      properties:
        shipmentType:
          $ref: '#/components/schemas/DtoValueOfNullableOfShipmentTypes'
        operation:
          $ref: '#/components/schemas/DtoValueOfNullableOfShipmentOperations'
        shipmentDate:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
        location:
          $ref: '#/components/schemas/DtoValueOfString'
        customer:
          $ref: '#/components/schemas/DtoValueOfString'
        owner:
          $ref: '#/components/schemas/DtoValueOfString'
        hold:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        fromWarehouse:
          $ref: '#/components/schemas/DtoValueOfString'
        toWarehouse:
          $ref: '#/components/schemas/DtoValueOfString'
        controlQuantity:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        overrideContact:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        businessName:
          $ref: '#/components/schemas/DtoValueOfString'
        attention:
          $ref: '#/components/schemas/DtoValueOfString'
        phone1:
          $ref: '#/components/schemas/DtoValueOfString'
        email:
          $ref: '#/components/schemas/DtoValueOfString'
        overrideAddress:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        addressLine1:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine2:
          $ref: '#/components/schemas/DtoValueOfString'
        addressLine3:
          $ref: '#/components/schemas/DtoValueOfString'
        city:
          $ref: '#/components/schemas/DtoValueOfString'
        country:
          $ref: '#/components/schemas/DtoValueOfString'
        county:
          $ref: '#/components/schemas/DtoValueOfString'
        postalCode:
          $ref: '#/components/schemas/DtoValueOfString'
        shipVia:
          $ref: '#/components/schemas/DtoValueOfString'
        fobPoint:
          $ref: '#/components/schemas/DtoValueOfString'
        shippingTerms:
          $ref: '#/components/schemas/DtoValueOfString'
        shippingZone:
          $ref: '#/components/schemas/DtoValueOfString'
        residentialDelivery:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        saturdayDelivery:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        useCustomerAccount:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        insurance:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        freightAmt:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        freightCost:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        transactionType:
          $ref: '#/components/schemas/DtoValueOfNullableOfInt32'
        modeOfTrasport:
          $ref: '#/components/schemas/DtoValueOfNullableOfTransportationModes'
        container:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        note:
          $ref: '#/components/schemas/DtoValueOfString'
        shipmentDetailLines:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentDetailLineUpdateDto'
        shipmentPackageLines:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentPackageLineUpdateDto'
        customStr1:
          $ref: '#/components/schemas/customStr1InShipmentUpdateDto'
        customStr2:
          $ref: '#/components/schemas/customStr2InShipmentUpdateDto'
        customStr3:
          $ref: '#/components/schemas/customStr3InShipmentUpdateDto'
        customStr4:
          $ref: '#/components/schemas/customStr4InShipmentUpdateDto'
        customStr5:
          $ref: '#/components/schemas/customStr5InShipmentUpdateDto'
        customDec1:
          $ref: '#/components/schemas/customDec1InShipmentUpdateDto'
        customDec2:
          $ref: '#/components/schemas/customDec2InShipmentUpdateDto'
        customInt1:
          $ref: '#/components/schemas/customInt1InShipmentUpdateDto'
        customInt2:
          $ref: '#/components/schemas/customInt2InShipmentUpdateDto'
        customDateTimeUTC1:
          $ref: '#/components/schemas/customDateTimeUTC1InShipmentUpdateDto'
    shippingTermsInShipmentDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Shipping information section &gt; Shipping terms &gt; The shipping terms used in relations with the customer.
    customDec2InShipmentDetailLineUpdateDto:
      properties:
        value:
          type: number
          format: double
      description: A free custom colum of type decimal with max 4 decimals.
    customDec2InShipmentDetailLineAddDto:
      properties:
        value:
          type: number
          format: double
      description: A free custom colum of type decimal with max 4 decimals.
    ShipmentDetailLineUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        lineNumber:
          $ref: '#/components/schemas/DtoValueOfInt32'
        warehouse:
          $ref: '#/components/schemas/DtoValueOfString'
        location:
          $ref: '#/components/schemas/DtoValueOfString'
        uom:
          $ref: '#/components/schemas/DtoValueOfString'
        shippedQty:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        lotSerialNbr:
          $ref: '#/components/schemas/DtoValueOfString'
        expirationDate:
          $ref: '#/components/schemas/expirationDateInShipmentDetailLineUpdateDto'
        reasonCode:
          $ref: '#/components/schemas/DtoValueOfString'
        description:
          $ref: '#/components/schemas/DtoValueOfString'
        note:
          $ref: '#/components/schemas/DtoValueOfString'
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/AllocationsUpdateDto'
        customStr1:
          $ref: '#/components/schemas/customStr1InShipmentDetailLineUpdateDto'
        customStr2:
          $ref: '#/components/schemas/customStr2InShipmentDetailLineUpdateDto'
        customStr3:
          $ref: '#/components/schemas/customStr3InShipmentDetailLineUpdateDto'
        customStr4:
          $ref: '#/components/schemas/customStr4InShipmentDetailLineUpdateDto'
        customStr5:
          $ref: '#/components/schemas/customStr5InShipmentDetailLineUpdateDto'
        customDec1:
          $ref: '#/components/schemas/customDec1InShipmentDetailLineUpdateDto'
        customDec2:
          $ref: '#/components/schemas/customDec2InShipmentDetailLineUpdateDto'
        customInt1:
          $ref: '#/components/schemas/customInt1InShipmentDetailLineUpdateDto'
        customInt2:
          $ref: '#/components/schemas/customInt2InShipmentDetailLineUpdateDto'
        customDateTimeUTC1:
          $ref: '#/components/schemas/customDateTimeUTC1InShipmentDetailLineUpdateDto'
    customInt2InShipmentDetailLineAddDto:
      properties:
        value:
          type: integer
          format: int32
      description: A free custom colum of type int
    DtoValueOfInt32:
      type: object
      properties:
        value:
          type: integer
          format: int32
    ShipmentDetailLineAddDto:
      required:
      - inventoryNumber
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        inventoryNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        lineNumber:
          $ref: '#/components/schemas/DtoValueOfInt32'
        warehouse:
          $ref: '#/components/schemas/DtoValueOfString'
        location:
          $ref: '#/components/schemas/DtoValueOfString'
        uom:
          $ref: '#/components/schemas/DtoValueOfString'
        shippedQty:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        customStr1:
          $ref: '#/components/schemas/customStr1InShipmentDetailLineAddDto'
        customStr2:
          $ref: '#/components/schemas/customStr2InShipmentDetailLineAddDto'
        customStr3:
          $ref: '#/components/schemas/customStr3InShipmentDetailLineAddDto'
        customStr4:
          $ref: '#/components/schemas/customStr4InShipmentDetailLineAddDto'
        customStr5:
          $ref: '#/components/schemas/customStr5InShipmentDetailLineAddDto'
        customDec1:
          $ref: '#/components/schemas/customDec1InShipmentDetailLineAddDto'
        customDec2:
          $ref: '#/components/schemas/customDec2InShipmentDetailLineAddDto'
        customInt1:
          $ref: '#/components/schemas/customInt1InShipmentDetailLineAddDto'
        customInt2:
          $ref: '#/components/schemas/customInt2InShipmentDetailLineAddDto'
        customDateTimeUTC1:
          $ref: '#/components/schemas/customDateTimeUTC1InShipmentDetailLineAddDto'
    DtoValueOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    customDec1InShipmentDetailLineAddDto:
      properties:
        value:
          type: number
          format: double
      description: A free custom colum of type decimal with max 4 decimals.
    DtoValueOfNullableOfInt32:
      type: object
      properties:
        value:
          type: integer
          format: int32
    customStr5InShipmentCreateDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    customStr2InShipmentDetailLineUpdateDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    customDateTimeUTC1InShipmentDetailLineAddDto:
      properties:
        value:
          type: string
          format: date-time
      description: A free custom colum of type DateTime - in UTC timezone
    ShipmentOrderLineDto:
      type: object
      properties:
        orderType:
          type: string
          description: Orders tab &gt; Order typer &gt; The type of the order.
        orderNbr:
          type: string
          description: Orders tab &gt; Order no. &gt; The reference number of the sales or transfer order.
        shippedQty:
          type: number
          description: Orders tab &gt; Shipped qty. &gt; The quantity of goods shipped in accordance with the order.
          format: double
        shippedWeight:
          type: number
          description: Orders tab &gt; Shipped weight &gt; The weight of the goods shipped in accordance with the order.
          format: double
        shippedVolume:
          type: number
          description: Orders tab &gt; Shipped volume &gt; The volume of the goods shipped in accordance with the sales or transfer order.
          format: double
        invoiceType:
          type: string
          description: Orders tab &gt; Invoice type &gt; The type of invoice for the goods shipped for the sales order.
        invoiceNbr:
          type: string
          description: Orders tab &gt; Invoice no. &gt; The reference number of the invoice for the goods shipped.
        inventoryDocType:
          type: string
          description: Orders tab &gt; Inventory doc. type &gt; The type of the inventory document that lists the items for this shipment.
        inventoryRefNbr:
          type: string
          description: Orders tab &gt; Inventory ref. no. &gt; The reference number of the inventory document that lists the items for this shipment.
        note:
          type: string
    customDec1InShipmentCreateDto:
      properties:
        value:
          type: number
          format: double
      description: A free custom colum of type decimal with max 4 decimals.
    lineNbrInAllocationsUpdateDto:
      properties:
        value:
          type: integer
          format: int32
      description: Line no. &gt; The line of the purchase order that contains the selected item.
    customInt2InShipmentCreateDto:
      properties:
        value:
          type: integer
          format: int32
      description: A free custom colum of type int
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    locationInAllocationsDto:
      properties:
        countryId:
          type: string
          description: Location*.
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: Location &gt; The location in the warehouse.
    ShipmentSOLine:
      type: object
      properties:
        orderType:
          type: string
          description: Sales Order Type
        orderNumber:
          type: string
          description: Sales Order Number
        orderLineNumber:
          type: integer
          description: Sales Order Line Number, optional if Inventory Id is entered
          format: int32
        inventoryId:
          type: string
          description: Inventory Id, ignored if Order Line Number is specified. If more that one line on the Sales order has this Inventory Id, it will not work.
    customStr2InShipmentUpdateDto:
      properties:
        value:
          type: string
      description: A free custom colum of type string with max length 100.
    ShipmentDto:
      type: object
      properties:
        timeStamp:
          type: string
          format: byte
        shipmentNumber:
          type: string
          description: The top part &gt; Shipment no &gt; The unique reference number of the document, which is automatically generated by the system.
        shipmentType:
          enum:
          - Issue
          - DropShip
          - Transfer
          type: string
          description: 'The top part &gt; Type &gt; The type of the shipment document, which can be one of the following options: Shipment, Transfer.'
        status:
          enum:
          - Open
          - Hold
          - Completed
          - Cancelled
          - Confirmed
          - Invoiced
          - Receipted
          - AutoGenerated
          - PartiallyInvoiced
          type: string
          description: The top part &gt; Status &gt; The status of the document.
        hold:
          type: boolean
          description: The top part &gt; Hold &gt; This check box indicates (if selected) that the documents cannot be processed further until the check box is cleared.
        operation:
          enum:
          - Issue
          - Receipt
          type: string
          description: 'The top part &gt; Operation &gt; The operation to be performed in the Inventory workspace for this shipment: Issue or Receipt.'
        shipmentDate:
          type: string
          description: 'Mandatory field: The top part &gt; Shipment date* &gt; The date when the document has been created.'
          format: date-time
        customer:
          $ref: '#/components/schemas/customerInShipmentDto'
        location:
          $ref: '#/components/schemas/locationInShipmentDto'
        fromWarehouse:
          $ref: '#/components/schemas/fromWarehouseInShipmentDto'
        toWarehouse:
          $ref: '#/components/schemas/toWarehouseInShipmentDto'
        currencyId:
          type: string
          description: Delivery settings tab &gt; Freight currency &gt; By default, it is the currency of the sales order, but you can change it if needed.
        owner:
          $ref: '#/components/schemas/ownerInShipmentDto'
        shippedQuantity:
          type: number
          description: The top part &gt; Shipped quantity &gt; The quantity of goods shipped.
          format: double
        shippedWeight:
          type: number
          description: The top part &gt; Shipped weight &gt; The weight of the goods shipped.
          format: double
        shippedVolume:
          type: number
          description: The top part &gt; Shipped volume &gt; The total volume of the items in the shipment.
          format: double
        packages:
          type: integer
          description: The top part &gt; Packages &gt; The number of boxes included in this shipment.
          format: int32
        packagesWeight:
          type: number
          description: The top part &gt; Package weight &gt; The total weight of the shipment that includes the weight of boxes (for boxes determined automatically).
          format: double
        packagesVolume:
          type: number
          description: The top part &gt; Package volume &gt; The total volume of the shipment that includes the volume of boxes (for boxes determined automatically).
          format: double
        controlQuantity:
          type: number
          description: The top part &gt; Control quantity &gt; The control value, which you manually enter as a value equal to the shipped quantity if the Validate shipment total on confirmation check box has been selected in the Sales orders preferences (SO101000) window.
          format: double
        deliveryAddress:
          $ref: '#/components/schemas/deliveryAddressInShipmentDto'
        deliveryContact:
          $ref: '#/components/schemas/deliveryContactInShipmentDto'
        shipVia:
          $ref: '#/components/schemas/shipViaInShipmentDto'
        fobPoint:
          $ref: '#/components/schemas/fobPointInShipmentDto'
        shippingTerms:
          $ref: '#/components/schemas/shippingTermsInShipmentDto'
        shippingZone:
          $ref: '#/components/schemas/shippingZoneInShipmentDto'
        residentialDelivery:
          type: boolean
          description: Delivery settings tab &gt; Shipping information section &gt; Residential delivery &gt; This check box indicates (if selected) that the shipping address is a residential one.
        saturdayDelivery:
          type: boolean
          description: Delivery settings tab &gt; Shipping information section &gt; Saturday delivery &gt; This check box indicates delivery on saturday.
        useCustomerAccount:
          type: boolean
        insurance:
          type: boolean
          description: Delivery settings tab &gt; Shipping information section &gt; Insurance &gt; This check box indicates (if selected) that insurance is required for the shipment.
        freightCost:
          type: number
          description: Delivery settings tab &gt; Shipping information section &gt; Freight cost &gt; The freight cost of the shipment.
          format: double
        freightAmt:
          type: number
          description: Delivery settings tab &gt; Shipping information section &gt; Freight amt. &gt; The amount of freight the customer will be charged for the shipment.
          format: double
        transactionType:
          $ref: '#/components/schemas/transactionTypeInShipmentDto'
        modeOfTrasport:
          $ref: '#/components/schemas/modeOfTrasportInShipmentDto'
        container:
          type: boolean
          description: Delivery settings tab &gt; Intrastat section &gt; Container &gt; This check box indicates (if selected) that the shipment gets marked as shipped in container for Intrastat reporting purposes.
        shipmentDetailLines:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentDetailLineDto'
          description: Document details tab &gt;
        shipmentOrderLines:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentOrderLineDto'
          description: Orders tab &gt;
        shipmentPackageLines:
          type: array
          items:
            $ref: '#/components/schemas/PackageDetailLineDto'
          description: Packages tab &gt;
        lastModifiedDateTime:
          type: string
          description: System generated information.
          format: date-time
        note:
          type: string
        customStr1:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr2:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr3:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr4:
          type: string
          description: A free custom colum of type string with max length 100.
        customStr5:
          type: string
          description: A free custom colum of type string with max length 100.
        customDec1:
          type: number
          description: A free custom colum of type decimal with max 4 decimals.
          format: double
        customDec2:
          type: number
          description: A free custom colum of type decimal with max 4 decimals.
          format: double
        customInt1:
          type: integer
          description: A free custom colum of type int
          format: int32
        customInt2:
          type: integer
          description: A free custom colum of type int
          format: int32
        customDateTimeUTC1:
          type: string
          description: A free custom colum of type DateTime - in UTC timezone
          format: date-time
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: This class represents a Shipment in ShipmentController. Used by getting data.
    ShipmentSOOrder:
      type: object
      properties:
        orderType:
          type: string
          description: Sales Order Type
        orderNumber:
          type: string
          description: Sales Order Number
    shippingZoneInShipmentDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Shipping information section &gt; Shipping zone ID &gt; The shipping zone of the customer.
    countryInShipmentAddressDto:
      properties:
        id:
          type: string
          description: 'Mandatory field: Country ID* &gt; The unique two-letter country ID according to international standard ISO 3166.'
        name:
          type: string
          description: 'Mandatory field: Country name* &gt; The complete name of the country.'
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: Country &gt; The country.
    warehouseInShipmentDetailLineDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Mandatory field: Document details tab &gt; Warehouse* &gt; The warehouse from which the items is shipped.'
    DtoValueOfNullableOfTransportationModes:
      type: object
      properties:
        value:
          enum:
          - Unknown
          - BySea
          - ByRail
          - ByRoad
          - ByAeroPlane
          - ConsignmentsByPosts
          - FixedInstallations
          - InlandWaterway
          type: string
    fobPointInShipmentDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Delivery settings tab &gt; Shipping information section &gt; FOB point &gt; The point where obligation of goods passes to the customer.
    fromWarehouseInShipmentDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: 'Mandatory field: The top part &gt; Warehouse ID* &gt; The warehouse from which the goods should be shipped.'
    customDec2InShipmentCreateDto:
      properties:
        value:
          type: number
          format: double
      description: A free custom colum of type decimal with max 4 decimals.
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    DtoValueOfString:
      type: object
      properties:
        value:
          type: string
    DtoValueOfNullableOfDecimal:
      type: object
      properties:
        value:
          type: number
          format: double
    deliveryAddressInShipmentDto:
      properties:
        overrideAddress:
          type: boolean
          description: Override address &gt; A check box that you select to not include the default address information and to type new address information.
        addressId:
          type: integer
          format: int32
        addressLine1:
          type: string
          description: Address 1 &gt; The first line of the customer's/supplier's/company's/employee's contact address.
        addressLine2:
          type: string
          description: Address 2 &gt; The second line of the address.
        addressLine3:
          type: string
          description: Address 3 &gt; The third line of the address.
        postalCode:
          type: string
          description: Postcode &gt; The postcode.
        city:
          type: string
          description: City &gt; The city.
        country:
          $ref: '#/components/schemas/countryInShipmentAddressDto'
        county:
          $ref: '#/components/schemas/countyInShipmentAddressDto'
      description: Delivery settings tab &gt; Delivery address section &gt;
    PackageDetailLineDto:
      type: object
      properties:
        lineNumber:
          type: integer
          description: Packages tab &gt; Line number. The sequence of the lines.
          format: int32
        confirmed:
          type: boolean
          description: Packages tab &gt; Confirmed &gt; This check box indicates (if selected) that shipping of the package specified on the line has been confirmed.
        boxId:
          type: string
          description: 'Mandatory field: Packages tab &gt; Box ID* &gt; The box used for the package.'
        type:
          type: string
          description: 'Packages tab &gt; Type &gt; The type of package: Auto or Manual.'
        description:
          type: string
          description: Packages tab &gt; Description &gt; The description of the item or description of the box contents.
        weight:
          type: number
          description: Packages tab &gt; Weight &gt; The gross weight of the package.
          format: double
        uom:
          type: string
          description: Packages tab &gt; UoM &gt; The unit of measure in which the weight of the package is specified.
        volume:
          type: number
          description: Packages tab &gt; Volume &gt; The gross volume of the package.
          format: double
        volumeUOM:
          type: string
          description: Packages tab &gt; VolumeUoM &gt; The unit of measure in which the volume of the package is specified.
        declaredValue:
          type: number
          description: Packages tab &gt; Declared value &gt; The amount of the package specified for insurance, you can edit the value if needed.
          format: double
        coDAmount:
          type: number
          description: Packages tab &gt; Cost of delivery amount &gt; The amount to be charged on delivery of the package, you can edit the value if needed.
          format: double
        trackingNumber:
          type: string
          description: Packages tab &gt; Tracking number &gt; The tracking number provided for the package by the carrier if integration with carrier is configured.
        customRefNbr1:
          type: string
          description: Packages tab &gt; Customer ref. no. 1 &gt; An auxiliary reference number to appear on the carrier label for the box.
        customRefNbr2:
          type: string
          description: Packages tab &gt; Customer ref. no. 2 &gt; An additional auxiliary reference number to appear on the carrier label for the box.
    ShipmentPackageLineUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        lineNumber:
          $ref: '#/components/schemas/DtoValueOfInt32'
        confirmed:
          $ref: '#/components/schemas/DtoValueOfNullableOfBoolean'
        boxId:
          $ref: '#/components/schemas/DtoValueOfString'
        description:
          $ref: '#/components/schemas/DtoValueOfString'
        weight:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        volume:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        declaredValue:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        codAmount:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        trackingNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        customRefNbr1:
          $ref: '#/components/schemas/DtoValueOfString'
        customRefNbr2:
          $ref: '#/components/schemas/DtoValueOfString'
    expirationDateInAllocationsUpdateDto:
      properties:
        value:
          type: string
          format: date-time
      description: Expiration date &gt; The expiration date of the specified quantity of the stock item.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
