openapi: 3.2.0
info:
  title: Visma.net ERP Discount Code V2 API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: DiscountCodeV2
paths:
  /v2/discountCode:
    get:
      tags:
      - DiscountCodeV2
      summary: Get a range of discount codes - ScreenId=AR209000
      operationId: DiscountCodeV2_GetDiscountCodes
      parameters:
      - name: lastModifiedDateTime
        in: query
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: System retrieved information for state/condition.
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: discountCode
        in: query
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DiscountCodeDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DiscountCodeDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    DiscountCodeDto:
      type: object
      properties:
        discountCode:
          type: string
        description:
          type: string
        discountType:
          type: string
          description: 'DiscountType: L - Line, G - Group, D - Document'
        applicableTo:
          type: string
          description: "Mandatory field: Discount codes table &gt; Applicable to &gt; The entity to which the discount may be applied.\nApplicable To values: \nCU - Customer,\nCI - Customer and Item,\nCP - Customer and Item Price Class,\nCE - Customer Price Class,\nPI - Customer Price Class and Item,\nPP - Customer Price Class and Item Price Class,\nCB - Customer and Branch,\nPB - Customer Price Class and Branch,\nWH - Warehouse,\nWI - Warehouse and Item,\nWC - Warehouse and Customer,\nWP - Warehouse and Item Price Class,\nWE - Warehouse and Customer Price Class,\nBR - Branch,\nIN - Item,\nIE - Item Price Class,\nUN - Unconditional"
        applyToDeferredRevenue:
          type: boolean
          description: Discount codes table &gt; Apply to deferred revenue &gt; A check box that (if selected) indicates that a discount should be applied to a component price while computing a deferred revenue for the component.
        manual:
          type: boolean
          description: Discount codes table &gt; Manual &gt; A check box that (if selected) indicates that this discount is excluded from automatic searches for the best available discount.
        excludeFromDiscountableAmount:
          type: boolean
          description: Discount codes table &gt; Exclude from discountable amount &gt; A check box that (if selected) indicates that the line amount is excluded from the amount that is the base for any applicable Group or Document discount.
        skipDocumentDiscounts:
          type: boolean
          description: Discount codes table &gt; Skip document discounts &gt; A check box that indicates (if selected) that after this discount has been applied, no other applicable discounts should be applied.
        autoNumbering:
          type: boolean
          description: Discount codes table &gt; Auto numbering &gt; A check box that you select to use auto-numbering for generating IDs for series based on this discount code.
        lastNumber:
          type: string
          description: Discount codes table &gt; Last number &gt; The last ID used for the series if series IDs are auto-numbered.
        createdDateTime:
          type: string
          description: System generated value.
          format: date-time
        lastModifiedDateTime:
          type: string
          description: System generated value.
          format: date-time
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
