openapi: 3.2.0
info:
  title: Visma.net ERP Payment Method API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: Payment Method
paths:
  /v1/paymentmethod/{paymentMethodNumber}:
    get:
      tags:
      - Payment Method
      summary: Get a specific Supplier Payment Method
      operationId: PaymentMethod_GetBypaymentMethodNumber
      parameters:
      - name: paymentMethodNumber
        in: path
        description: Identifies the Supplier Payment Method
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodDto'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/PaymentMethodDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/PaymentMethodDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/paymentmethod:
    get:
      tags:
      - Payment Method
      summary: Get a range of Supplier Payment Methods - ScreenId=CA204000
      operationId: PaymentMethod_GetAllPaymentMethod
      parameters:
      - name: greaterThanValue
        in: query
        schema:
          type: string
      - name: numberToRead
        in: query
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        schema:
          type: integer
          format: int32
      - name: lastModifiedDateTime
        in: query
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethodDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethodDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethodDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethodDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    PaymentMethodDetailDto:
      type: object
      properties:
        detailID:
          type: string
          description: 'Mandatory field: Table column &gt; ID* &gt; The identifier of the payment method element.'
        description:
          type: string
          description: Table column &gt; Description &gt; The name for the payment method element.
        bankingDetailType:
          type: string
          description: Table column &gt; BankingDetailType &gt; The bank account type
    PaymentMethodDto:
      type: object
      properties:
        paymentMethodID:
          type: string
          description: 'Mandatory field: The top part &gt; Payment method ID* &gt; The unique identifier of the payment method.'
        active:
          type: boolean
          description: The top part &gt; Active &gt; A check box that indicates whether the payment method is active in the system.
        meansOfPayment:
          enum:
          - CreditCard
          - CashOrCheck
          - DirectDeposit
          type: string
          description: 'The top part &gt; Means of payment &gt; One of the system''s built-in payment templates. The following options are available: Credit card, Cash, Direct deposit.'
        description:
          type: string
          description: 'Mandatory field: The top part &gt; Description* &gt; A description of the payment method.'
        useInAP:
          type: boolean
          description: The top part &gt; Use for supplier &gt; A check box that indicates whether the payment method will be used in Supplier ledger.
        details:
          type: array
          items:
            $ref: '#/components/schemas/PaymentMethodDetailDto'
          description: The settings for Customer ledger and The settings of Supplier ledger tab &gt; The table
      description: This class represents a Payment Method in PaymentMethodController. Used for getting data.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
