openapi: 3.2.0
info:
  title: Visma.net ERP Dimension API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: Dimension
paths:
  /v1/dimension:
    get:
      tags:
      - Dimension
      summary: Get a list of all Dimension names/IDs ScreenId=CS202000
      operationId: Dimension_GetDimensionList
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
            text/json:
              schema:
                type: array
                items:
                  type: string
            application/xml:
              schema:
                type: array
                items:
                  type: string
            text/xml:
              schema:
                type: array
                items:
                  type: string
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/dimension/{dimensionId}:
    get:
      tags:
      - Dimension
      summary: Get a specific Dimension
      operationId: Dimension_GetDimensionBydimensionId
      parameters:
      - name: dimensionId
        in: path
        description: Identifies the dimension
        required: true
        schema:
          type: string
      - name: greaterThanValue
        in: query
        description: Greater-than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: numberToRead
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.
        schema:
          type: integer
          format: int32
      - name: skipRecords
        in: query
        description: This field has been deprecated and will be removed in future versions. Use pagenumber and pagesize for pagination purposes. Pagenumber and pagesize does not work with NumberToRead and SkipRecords.        ///
        schema:
          type: integer
          format: int32
      - name: orderBy
        in: query
        description: This field has been deprecated and will be removed in future versions. The OrderBy parameter has no effect on the result.
        schema:
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: expandSegmentsValues
        in: query
        description: Flag can be used to return data without the segment values.
        schema:
          type: boolean
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtoDimension'
            text/json:
              schema:
                $ref: '#/components/schemas/DtoDimension'
            application/xml:
              schema:
                $ref: '#/components/schemas/DtoDimension'
            text/xml:
              schema:
                $ref: '#/components/schemas/DtoDimension'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/dimension/{dimensionId}/{segmentId}:
    get:
      tags:
      - Dimension
      summary: Get a specific Segment for a specific Dimension
      description: 'Data for Segment


        The response header includes an ETag after a successful GET operation.'
      operationId: Dimension_GetSegmentBydimensionIdsegmentId
      parameters:
      - name: dimensionId
        in: path
        description: Identifies the Dimension
        required: true
        schema:
          type: string
      - name: segmentId
        in: path
        description: Identifies the Segment
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtoSegment'
            text/json:
              schema:
                $ref: '#/components/schemas/DtoSegment'
            application/xml:
              schema:
                $ref: '#/components/schemas/DtoSegment'
            text/xml:
              schema:
                $ref: '#/components/schemas/DtoSegment'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - Dimension
      summary: Update a Segment
      description: 'Response Message has StatusCode NoContent if PUT operation succeed


        The response headers include an ETag after a successful PUT operation.


        Response Message has StatusCode InternalServerError if PUT operation failed'
      operationId: Dimension_UpdateSegmentBydimensionIdsegmentId
      parameters:
      - name: dimensionId
        in: path
        description: Identifies the Dimension for which the Segment is defined
        required: true
        schema:
          type: string
      - name: segmentId
        in: path
        description: Identifies the Segment
        required: true
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Segment to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DtoSegmentUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/DtoSegmentUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/DtoSegmentUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/DtoSegmentUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DtoSegmentUpdateDto'
        required: true
        x-bodyName: update
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Segment version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/dimension/{dimensionId}/{segmentId}/{valueId}:
    get:
      tags:
      - Dimension
      summary: Get a specific SegmentValue for a specific Segment for a specific Dimension
      operationId: Dimension_GetSegmentValueBydimensionIdsegmentIdvalueId
      parameters:
      - name: dimensionId
        in: path
        description: Identifies the Dimension
        required: true
        schema:
          type: string
      - name: segmentId
        in: path
        description: Identifies the Segment
        required: true
        schema:
          type: integer
          format: int32
      - name: valueId
        in: path
        description: Identifies the SegmentValue by Id. Must be Base64 encoded.
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtoSegmentValue'
            text/json:
              schema:
                $ref: '#/components/schemas/DtoSegmentValue'
            application/xml:
              schema:
                $ref: '#/components/schemas/DtoSegmentValue'
            text/xml:
              schema:
                $ref: '#/components/schemas/DtoSegmentValue'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/dimension/{dimensionId}/{segmentId}/publicid/{publicId}:
    get:
      tags:
      - Dimension
      summary: Get a specific SegmentValue for a specific Segment for a specific Dimension
      operationId: Dimension_GetSegmentValueBydimensionIdsegmentIdpublicId
      parameters:
      - name: dimensionId
        in: path
        description: Identifies the Dimension
        required: true
        schema:
          type: string
      - name: segmentId
        in: path
        description: Identifies the Segment
        required: true
        schema:
          type: integer
          format: int32
      - name: publicId
        in: path
        description: Identifies the SegmentValue by its publicId
        required: true
        schema:
          type: string
          format: uuid
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtoSegmentValue'
            text/json:
              schema:
                $ref: '#/components/schemas/DtoSegmentValue'
            application/xml:
              schema:
                $ref: '#/components/schemas/DtoSegmentValue'
            text/xml:
              schema:
                $ref: '#/components/schemas/DtoSegmentValue'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    DtoValueOfString:
      type: object
      properties:
        value:
          type: string
    DtoSegmentValue:
      type: object
      properties:
        internalId:
          type: string
          description: Unique identifier for the segment value
          format: uuid
        segmentId:
          type: integer
          description: The top part &gt; Segment ID &gt; The system-generated number representing the order of the segment in the segmented key.
          format: int32
        valueId:
          type: string
          description: The table &gt; Value &gt; The string that is the value of the selected segment.
        description:
          type: string
          description: The table &gt; Description &gt; The user-defined segment description.
        publicId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        active:
          type: boolean
          description: The table &gt; Active &gt; A check box that indicates (if selected) that the value is active.
        timeStamp:
          type: string
        lastModified:
          type: string
          format: date-time
        mappedSegValue:
          type: string
    DtoDimension:
      type: object
      properties:
        id:
          type: string
          description: 'Mandatory field: The top part &gt; Segment key ID* &gt; The ID of the segmented key. ACCGROUP, ACCOUNT, BIZACCT, CASHACCOUNT, CONTRACT, CONTRACTITEM, CUSTOMER, EMPLOYEE, INLOCATION, INSITE, INSUBITEM, INVENTORY, LOCATION, MLISTCD, PROJECT, PROTASK, SALESPER, SUBACCOUNT, TMCONTRACT, SUPLLIER'
        length:
          type: integer
          description: The top part &gt; Length &gt; The total length of the key.
          format: int32
        description:
          type: string
          description: 'Mandatory field: The top part &gt; Description* &gt; A detailed description of the segmented key.'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/DtoSegment'
          description: The table &gt;
    DtoSegment:
      type: object
      properties:
        internalId:
          type: string
          description: Unique identifier for the segment.
          format: uuid
        segmentId:
          type: integer
          description: Segment ID &gt; The system-generated number representing the order of the segment in the segmented key.
          format: int32
        description:
          type: string
          description: 'Mandatory field: Description &gt; The user-defined segment description.'
        length:
          type: integer
          description: Length &gt; The maximum length of the segment.
          format: int32
        publicId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        timeStamp:
          type: string
        lastModified:
          type: string
          description: System generated information.
          format: date-time
        validate:
          type: boolean
          description: Validate &gt; A check box that indicates (if selected) that validation of segment values is turned on.
        segmentValues:
          type: array
          items:
            $ref: '#/components/schemas/DtoSegmentValue'
          description: The table &gt;
        isAutoNumber:
          type: boolean
          description: Select segment and click View segment &gt; Auto number &gt; A check box that indicates (if selected) that the number series selected in the Number series ID field will be used to generate values for this segment in IDs.
        consolNumChar:
          type: integer
          description: Select segment and click View segment &gt; Number of characters &gt; The length (in characters) of the string in the parent's subaccount to which the segment value is mapped; this column is displayed for only the SUBACCOUNT key.
          format: int32
        consolOrder:
          type: integer
          description: Select segment and click View segment &gt; Consol. order &gt; The number that represents the order of this string among other strings in the parent company's subaccount; this column is displayed for only the SUBACCOUNT key.
          format: int32
    DtoSegmentUpdateDto:
      type: object
      properties:
        segmentValues:
          type: array
          items:
            $ref: '#/components/schemas/DtoSegmentValueUpdateDtoBase'
        dimensionId:
          type: string
        segementId:
          type: integer
          format: int32
        description:
          $ref: '#/components/schemas/DtoValueOfString'
    DtoValueOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    DtoSegmentValueUpdateDtoBase:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        value:
          type: string
        description:
          $ref: '#/components/schemas/DtoValueOfString'
        active:
          $ref: '#/components/schemas/DtoValueOfBoolean'
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
