openapi: 3.2.0
info:
  title: Visma.net ERP Credit Term API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: CreditTerm
paths:
  /v1/creditTerm:
    get:
      tags:
      - CreditTerm
      summary: Get a range of credit terms - ScreenId=CS206500
      operationId: CreditTerm_GetCreditTerms
      parameters:
      - name: lastModifiedDateTime
        in: query
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: System retrieved information for state/condition.
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: termsId
        in: query
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePaginationDtoOfCreditTermDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BasePaginationDtoOfCreditTermDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BasePaginationDtoOfCreditTermDto:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalCount:
          type: integer
          format: int64
        records:
          type: array
          items:
            $ref: '#/components/schemas/CreditTermDto'
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    InstalmentSchedule:
      type: object
      properties:
        days:
          type: integer
          format: int32
        percent:
          type: number
          format: double
    CreditTermDto:
      type: object
      properties:
        termsId:
          type: string
        description:
          type: string
        visibleTo:
          type: string
          description: 'VisibleTo: AL - All, VE - Suppliers, CU - Customers, DS - Disabled'
        dueDateType:
          type: string
          description: "Due Date Type , values:\nN - Fixed Number of Days, \nD - Day of Next Month, \nE - End of the Month, \nM - End of Next Month, \nT - Day of the Month, \nP - Fixed Number of Days starting Next Month, \nC - Custom."
        moveDueDateIfOnTheWeekend:
          type: string
          description: "Move Due Date If On The Weekend, values:\n1 - Keep the exact date, \n2 - Day before (Friday),  \n3 - Day after (Monday)."
        dueDay1:
          type: integer
          format: int32
        dueDay1DayFrom1:
          type: integer
          format: int32
        dueDay1DayTo1:
          type: integer
          format: int32
        dueDay2:
          type: integer
          format: int32
        dueDay2DayFrom1:
          type: integer
          format: int32
        dueDay2DayTo1:
          type: integer
          format: int32
        discountType:
          type: string
          description: "Discount Type , values:\nN - Fixed Number of Days, \nD - Day of Next Month, \nE - End of the Month, \nM - End of Next Month, \nT - Day of the Month, \nP - Fixed Number of Days starting Next Month."
        discountDay:
          type: integer
          format: int32
        discountPercent:
          type: number
          format: double
        delayDays:
          type: integer
          format: int32
        calculationType:
          type: string
          description: 'Calculation Type: G - Gross amount, N - Net amount'
        instalmentType:
          type: string
          description: 'Instalment Type: S - Simple, M - Multiple'
        numberOfInstalments:
          type: integer
          format: int32
        instalmentFrequency:
          type: string
          description: 'Instalment Frequency, values:

            W - Weekly,

            M - Monthly,

            B - Semi-monthly (the second installment comes a half a month after the first one, and so on).'
        instalmentMethod:
          type: string
          description: 'Instalment Method, values:

            E - Equal Parts,

            A - All Tax in First Installment (the total amount before tax is split equally between installments and the entire amount of tax is added to the first installment),

            S - Split by Percents in Table (the days and amounts of installments are defined by the related Instalments Schedule records).'
        instalmentsSchedule:
          type: array
          items:
            $ref: '#/components/schemas/InstalmentSchedule'
        createdDateTime:
          type: string
          format: date-time
        lastModifiedDateTime:
          type: string
          format: date-time
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
