openapi: 3.2.0
info:
  title: Visma.net ERP Unit Of Measure API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: Unit of Measure
paths:
  /v1/unitofmeasure:
    get:
      tags:
      - Unit of Measure
      summary: Get a range of Units of Measure - ScreenId=CS203100
      operationId: UnitOfMeasure_GetAllUnitsOfMeasure
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnitOfMeasureDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnitOfMeasureDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnitOfMeasureDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnitOfMeasureDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    UnitOfMeasureDto:
      type: object
      properties:
        fromUnit:
          type: string
          description: 'Mandatory field: The table &gt; From unit* &gt; The unit to be converted.'
        toUnit:
          type: string
          description: 'Mandatory field: The table &gt; To unit* &gt; The unit to which the unit specified in the From unit will be converted with the use of the specified operation and specified conversion factor.'
        unitMultDiv:
          enum:
          - Multiply
          - Divide
          type: string
          description: The table &gt; Multiply/divide &gt; The operation to be performed for conversion of the From unit to the To unit.
        unitRate:
          type: number
          description: The table &gt; Conversion factor &gt; The factor to be used for the unit conversion with the specified operation.
          format: double
        supplementaryMeasureUnit:
          enum:
          - None
          - Carats
          - NumberOfCells
          - CarryingCapacityTons
          - Gram
          - GramFissileIsotypes
          - Kilogram
          - KilogramCholineChloride
          - KilogramHydrogenPeroxide
          - KilogramPotassiumOxide
          - KilogramPotassiumHydroxide
          - KilogramMethylamines
          - KilogramDrainedNetWeight
          - KilogramSubstance90Dry
          - KilogramNitrogen
          - KilogramSodiumHydroxide
          - KilogramDiphosphorusPentaoxide
          - KilogramUranium
          - NumberOfItems
          - NumberOfPairs
          - Items100
          - Items1000
          - KilowattHours1000
          - Litre
          - LitrePureAlco
          - Litres1000
          - Meter
          - SquareMeter
          - CubicMeter
          - CubicMeters1000
          - Terajoule
          type: string
          description: The table &gt; Supplementary measure unit &gt; The supplementary measure unit to which the conversion will be made for Intrastat.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
