openapi: 3.2.0
info:
  title: Visma.net ERP Branch API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: Branch
paths:
  /v1/branch/{branchNumber}:
    get:
      tags:
      - Branch
      summary: Get a specific branch
      operationId: Branch_GetSpecificBranchBybranchNumber
      parameters:
      - name: branchNumber
        in: path
        description: Identifies the branch
        required: true
        schema:
          type: string
      - name: expandAddress
        in: query
        description: True to get main address for branch.
        schema:
          type: boolean
      - name: expandContact
        in: query
        description: True to get main contact for a branch.
        schema:
          type: boolean
      - name: expandCurrency
        in: query
        description: True to get base currency for a branch.
        schema:
          type: boolean
      - name: expandVatZone
        in: query
        description: True to get vat zone for a branch.
        schema:
          type: boolean
      - name: expandLedger
        in: query
        description: True to get ledger for a branch.
        schema:
          type: boolean
      - name: expandIndustryCode
        in: query
        description: True to get industry code for a branch.
        schema:
          type: boolean
      - name: expandDeliveryAddress
        in: query
        description: True to get delivery address for a branch.
        schema:
          type: boolean
      - name: expandDeliveryContact
        in: query
        description: True to get delivery contact for a branch.
        schema:
          type: boolean
      - name: expandDefaultCountry
        in: query
        description: True to get default country for a branch.
        schema:
          type: boolean
      - name: expandBankSettings
        in: query
        description: True to get payment settings for Branch.
        schema:
          type: boolean
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BranchDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BranchDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/branch:
    get:
      tags:
      - Branch
      summary: Get a range of Branches - ScreenId=CS101500
      operationId: Branch_GetAllBranches
      parameters:
      - name: greaterThanValue
        in: query
        description: Filter by branch ID (number) greater than.
        schema:
          type: string
      - name: orderBy
        in: query
        description: Order by Branch ID
        schema:
          enum:
          - Id
          - Number
          - Name
          - OrganizationId
          - LastModifiedDateTime
          type: string
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
          format: date-time
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: expandAddress
        in: query
        description: True to get main address for branch.
        schema:
          type: boolean
      - name: expandContact
        in: query
        description: True to get main contact for a branch.
        schema:
          type: boolean
      - name: expandCurrency
        in: query
        description: True to get base currency for a branch.
        schema:
          type: boolean
      - name: expandVatZone
        in: query
        description: True to get vat zone for a branch.
        schema:
          type: boolean
      - name: expandLedger
        in: query
        description: True to get ledger for a branch.
        schema:
          type: boolean
      - name: expandIndustryCode
        in: query
        description: True to get industry code for a branch.
        schema:
          type: boolean
      - name: expandDeliveryAddress
        in: query
        description: True to get delivery address for a branch.
        schema:
          type: boolean
      - name: expandDeliveryContact
        in: query
        description: True to get delivery contact for a branch.
        schema:
          type: boolean
      - name: expandDefaultCountry
        in: query
        description: True to get default country for a branch.
        schema:
          type: boolean
      - name: expandBankSettings
        in: query
        description: True to get payment settings for Branch.
        schema:
          type: boolean
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BranchDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BranchDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/branch/{branchNumber}/BankSettings:
    put:
      tags:
      - Branch
      summary: Update bank settings for branch
      description: Response Message has StatusCode No Content if PUT operation succeed
      operationId: Branch_PutBankSettingsForBranchBybranchNumber
      parameters:
      - name: branchNumber
        in: path
        description: branch number to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the bank settings to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankSettingsUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/BankSettingsUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/BankSettingsUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/BankSettingsUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BankSettingsUpdateDto'
        required: true
        x-bodyName: bankSettings
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    mainContactInBranchDto:
      properties:
        contactId:
          type: integer
          format: int32
        name:
          type: string
          description: Name &gt; The legal name of to appear on the documents.
        attention:
          type: string
          description: Attention &gt; The attention line as it is used in your customer's/supplier's/company's business letters. The intention of this line is to direct the letter to the right person if the letter is not addressed to any specific person.
        email:
          type: string
          description: Email &gt; The email address of the customer/supplier/company as a business entity.
        web:
          type: string
          description: Web &gt; The website of the company, if one exists.
        phone1:
          type: string
          description: Phone 1 &gt; The default phone number.
        phone2:
          type: string
          description: Phone 2 &gt; An additional phone number.
        fax:
          type: string
          description: Fax &gt; The fax number.
      description: The Organisation details tab &gt;  The Main contact section &gt;
    BankSettingsUpdateDto:
      type: object
      properties:
        bankName:
          $ref: '#/components/schemas/bankNameInBankSettingsUpdateDto'
        bankAddress1:
          $ref: '#/components/schemas/bankAddress1InBankSettingsUpdateDto'
        bankAddress2:
          $ref: '#/components/schemas/bankAddress2InBankSettingsUpdateDto'
        bankAddress3:
          $ref: '#/components/schemas/bankAddress3InBankSettingsUpdateDto'
        bankCountry:
          $ref: '#/components/schemas/bankCountryInBankSettingsUpdateDto'
        iban:
          $ref: '#/components/schemas/ibanInBankSettingsUpdateDto'
        bban:
          $ref: '#/components/schemas/bbanInBankSettingsUpdateDto'
        bbaN2:
          $ref: '#/components/schemas/bbaN2InBankSettingsUpdateDto'
        bbaN3:
          $ref: '#/components/schemas/bbaN3InBankSettingsUpdateDto'
        bic:
          $ref: '#/components/schemas/bicInBankSettingsUpdateDto'
        creditorId:
          $ref: '#/components/schemas/creditorIdInBankSettingsUpdateDto'
      description: Bank settings update Dto
    bbanInBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: BBAN
    bicInBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: BIC
    vatZoneInBranchDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The Delivery settings tab &gt; Delivery instruction section &gt; VAT zone ID &gt; The VAT zone of the delivery location.
    ledgerInBranchDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The ledgers tab &gt; The ledger column and the Description column.
    countryInAddressDto:
      properties:
        id:
          type: string
          description: 'Mandatory field: Country ID* &gt; The unique two-letter country ID according to international standard ISO 3166.'
        name:
          type: string
          description: 'Mandatory field: Country name* &gt; The complete name of the country.'
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: Country &gt; The country.
    bbaN3InBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: BBAN 3
    bankNameInBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: Bank name
    industryCodeInBranchDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: The Organisation details tab &gt; Configuration settings section &gt; Industry code &gt; The branch's industry code ID.
    bankAddress2InBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: Bank address 2
    bankSettingsInBranchDto:
      properties:
        bankName:
          type: string
          description: Bank name
        bankAddress1:
          type: string
          description: Bank address1
        bankAddress2:
          type: string
          description: BankAddress2
        bankAddress3:
          type: string
          description: BankAddress3
        bankCountry:
          type: string
          description: BankCountry
        iban:
          type: string
          description: IBAN
        bban:
          type: string
          description: BBAN
        bbaN2:
          type: string
          description: BBAN2
        bbaN3:
          type: string
          description: BBAN3
        bic:
          type: string
          description: BIC
        creditorId:
          type: string
          description: CreditorId
      description: The payment settings tab.
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    bbaN2InBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: BBAN 2
    creditorIdInBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: Creditor Id
    ibanInBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: IBAN
    bankCountryInBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: Bank country
    BranchDto:
      type: object
      properties:
        branchId:
          type: integer
          description: The top part &gt; Branch ID* &gt; The unique identifier of the Branch
          format: int32
        number:
          type: string
          description: 'Mandatory field: The top part &gt; Branch CD* &gt; The branch number , which you compose according to the rules defined by the BIZACCT segmented key.'
        name:
          type: string
          description: The top part &gt; Company name &gt; The name of the company.
        organizationId:
          type: integer
          format: int32
        isMainBranch:
          type: boolean
          description: The top part &gt; Is main organisation &gt; If you want this company to be the main company of your branches, select this check box.
        isActive:
          type: boolean
          description: The top part &gt; Is active branch.
        lastModifiedDateTime:
          type: string
          description: System generated information. This information is not visible in the window.
          format: date-time
        corporateId:
          type: string
          description: The Organisation details tab &gt; VAT registration info section &gt; Corporate ID &gt; The corporate ID of the company.
        vatRegistrationId:
          type: string
          description: The Organisation details tab &gt; VAT registration info section &gt; VAT registration ID &gt; The company registration ID for the country’s tax authority.
        mainAddress:
          $ref: '#/components/schemas/mainAddressInBranchDto'
        mainContact:
          $ref: '#/components/schemas/mainContactInBranchDto'
        deliveryAddress:
          $ref: '#/components/schemas/deliveryAddressInBranchDto'
        deliveryContact:
          $ref: '#/components/schemas/deliveryContactInBranchDto'
        defaultCountry:
          $ref: '#/components/schemas/defaultCountryInBranchDto'
        industryCode:
          $ref: '#/components/schemas/industryCodeInBranchDto'
        currency:
          $ref: '#/components/schemas/currencyInBranchDto'
        vatZone:
          $ref: '#/components/schemas/vatZoneInBranchDto'
        ledger:
          $ref: '#/components/schemas/ledgerInBranchDto'
        bankSettings:
          $ref: '#/components/schemas/bankSettingsInBranchDto'
    currencyInBranchDto:
      properties:
        id:
          type: string
          description: Currency Id.
        description:
          type: string
          description: Currency description.
        symbol:
          type: string
          description: Currency symbol.
      description: The Organisation details tab &gt; Base currency settings (shared) section &gt; This group of elements holds information that is shared among all branches of the company.
    mainAddressInBranchDto:
      properties:
        addressId:
          type: integer
          format: int32
        addressLine1:
          type: string
          description: Address 1 &gt; The first line of the customer's/supplier's/company's/employee's contact address.
        addressLine2:
          type: string
          description: Address 2 &gt; The second line of the address.
        addressLine3:
          type: string
          description: Address 3 &gt; The third line of the address.
        postalCode:
          type: string
          description: Postcode &gt; The postcode.
        city:
          type: string
          description: City &gt; The city.
        country:
          $ref: '#/components/schemas/countryInAddressDto'
        county:
          $ref: '#/components/schemas/countyInAddressDto'
      description: The Organisation details tab &gt; The Main address section &gt;
    deliveryContactInBranchDto:
      properties:
        contactId:
          type: integer
          format: int32
        name:
          type: string
          description: Name &gt; The legal name of to appear on the documents.
        attention:
          type: string
          description: Attention &gt; The attention line as it is used in your customer's/supplier's/company's business letters. The intention of this line is to direct the letter to the right person if the letter is not addressed to any specific person.
        email:
          type: string
          description: Email &gt; The email address of the customer/supplier/company as a business entity.
        web:
          type: string
          description: Web &gt; The website of the company, if one exists.
        phone1:
          type: string
          description: Phone 1 &gt; The default phone number.
        phone2:
          type: string
          description: Phone 2 &gt; An additional phone number.
        fax:
          type: string
          description: Fax &gt; The fax number.
      description: The Delivery settings tab &gt; Delivery contact section &gt;
    bankAddress3InBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: Bank address 3
    deliveryAddressInBranchDto:
      properties:
        addressId:
          type: integer
          format: int32
        addressLine1:
          type: string
          description: Address 1 &gt; The first line of the customer's/supplier's/company's/employee's contact address.
        addressLine2:
          type: string
          description: Address 2 &gt; The second line of the address.
        addressLine3:
          type: string
          description: Address 3 &gt; The third line of the address.
        postalCode:
          type: string
          description: Postcode &gt; The postcode.
        city:
          type: string
          description: City &gt; The city.
        country:
          $ref: '#/components/schemas/countryInAddressDto'
        county:
          $ref: '#/components/schemas/countyInAddressDto'
      description: The Delivery settings tab &gt; Delivery address section &gt;
    defaultCountryInBranchDto:
      properties:
        id:
          type: string
          description: 'Mandatory field: Country ID* &gt; The unique two-letter country ID according to international standard ISO 3166.'
        name:
          type: string
          description: 'Mandatory field: Country name* &gt; The complete name of the country.'
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: 'Mandatory field: The organisation details tab &gt; Configuration settings section &gt; Default country* &gt; The default country, which is the country of most of the company''s customers and suppliers.'
    bankAddress1InBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: Bank address 1
    countyInAddressDto:
      properties:
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: County &gt; The county or province.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
