openapi: 3.2.0
info:
  title: Visma.net ERP Supplier Account API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: SupplierAccount
paths:
  /v1/supplieraccount/{supplierId}:
    get:
      tags:
      - SupplierAccount
      summary: Get expense accounts for a supplier
      operationId: SupplierAccount_GetBysupplierId
      parameters:
      - name: supplierId
        in: path
        description: The id of the supplier
        required: true
        schema:
          type: string
      - name: supplierItemId
        in: query
        description: The list of supplier itemIds to search the expense account for. If the list empty, then the general expense account for the specific supplier is returned
        style: form
        schema:
          type: array
          items:
            type: string
      - name: vatRegistrationId
        in: query
        description: The vat registration id of the supplier
        schema:
          type: string
      - name: linesNonTaxable
        in: query
        description: Indicates if all lines are taxable or not. Default is false
        schema:
          type: boolean
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierAccountsDto'
            text/json:
              schema:
                $ref: '#/components/schemas/SupplierAccountsDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    subaccountInSupplierAccountDto:
      properties:
        subaccountNumber:
          type: string
          description: 'Mandatory field: Subaccount* &gt; The subaccount number. Format 9-XX.'
        subaccountId:
          type: integer
          description: SubID &gt; The  identifier of the subaccount.
          format: int32
        description:
          type: string
          description: Description &gt; The description of the identifier.
        lastModifiedDateTime:
          type: string
          description: System generated information.
          format: date-time
        active:
          type: boolean
          description: Active &gt; The status of the identifier.
        segments:
          type: array
          items:
            $ref: '#/components/schemas/SegmentDto'
          description: Segments are entities that you use to define the structure of IDs for the subaccount.  This information is collected from window CS202000.
        timeStamp:
          type: string
          description: The timestamp of the subaccount, used for concurrency control.
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: The default Expense SubAccount for the supplier
    SupplierItemAccountDto:
      type: object
      properties:
        supplierItemId:
          type: string
          description: The supplier item id for which the account is displayed.
        itemId:
          type: string
          description: The item id matched to the SupplierItemId. If null, this means that no itemId was found for the corresponding {Visma.net.ERP.Web.Api.Model.V1.SupplierItemAccountDto.SupplierItemId}
        accountID:
          type: string
          description: The Account ID is the actual ID of the expense account for the SupplierItemID or of the supplier if no SUpplierItemId was specified in the request. If null, this means that no account was found for the {Visma.net.ERP.Web.Api.Model.V1.SupplierItemAccountDto.SupplierItemId}
        subaccount:
          $ref: '#/components/schemas/subaccountInSupplierItemAccountDto'
    subaccountInSupplierItemAccountDto:
      properties:
        subaccountNumber:
          type: string
          description: 'Mandatory field: Subaccount* &gt; The subaccount number. Format 9-XX.'
        subaccountId:
          type: integer
          description: SubID &gt; The  identifier of the subaccount.
          format: int32
        description:
          type: string
          description: Description &gt; The description of the identifier.
        lastModifiedDateTime:
          type: string
          description: System generated information.
          format: date-time
        active:
          type: boolean
          description: Active &gt; The status of the identifier.
        segments:
          type: array
          items:
            $ref: '#/components/schemas/SegmentDto'
          description: Segments are entities that you use to define the structure of IDs for the subaccount.  This information is collected from window CS202000.
        timeStamp:
          type: string
          description: The timestamp of the subaccount, used for concurrency control.
          format: byte
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: The SubAccount for the SupplierItemID. If null, this means that no account was found for the {Visma.net.ERP.Web.Api.Model.V1.SupplierItemAccountDto.SupplierItemId}
    SegmentDto:
      type: object
      properties:
        segmentId:
          type: integer
          description: The Segment values window &gt; The Top part &gt; The ID of the segment.
          format: int32
        segmentDescription:
          type: string
          description: The Segment values window &gt; The Top part &gt; The description of the segment.
        segmentValue:
          type: string
          description: The Segment values window &gt; The table &gt; The value of the segment, alphanumeric.
        segmentValueDescription:
          type: string
          description: The Segment values window &gt; The table &gt; The description of the segment value.
    SupplierAccountsDto:
      type: object
      properties:
        supplierAccount:
          $ref: '#/components/schemas/supplierAccountInSupplierAccountsDto'
        supplierItemAccounts:
          type: array
          items:
            $ref: '#/components/schemas/SupplierItemAccountDto'
          description: The list of SUpplierItems Ids with their expense accounts
    supplierAccountInSupplierAccountsDto:
      properties:
        number:
          type: string
          description: The supplier number
        name:
          type: string
          description: The supplier name
        accountID:
          type: string
          description: The default Expense Account ID for the supplier
        subaccount:
          $ref: '#/components/schemas/subaccountInSupplierAccountDto'
      description: The supplier account information
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
