openapi: 3.2.0
info:
  title: Visma.net ERP Kit Assembly API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: KitAssembly
paths:
  /v1/kitassembly:
    get:
      tags:
      - KitAssembly
      summary: Get a range of Kit Assemblies - ScreenId = IN307000
      operationId: KitAssembly_GetKitAssemblies
      parameters:
      - name: lastModifiedDateTime
        in: query
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: System retrieved information for state/condition.
        schema:
          type: string
      - name: createdDateTime
        in: query
        description: 'This value, generated by the system, indicates the creation date and time. Use it to retrieve all records that have been created since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: createdDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __CreatedDateTime__ and __CreatedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      - name: refNo
        in: query
        schema:
          type: string
      - name: status
        in: query
        description: 'Filter by Kit Assembly Status. Possible values: H (Hold), B (Balanced), R (Released)'
        schema:
          enum:
          - H
          - B
          - R
          type: string
      - name: expandStockComponents
        in: query
        schema:
          type: boolean
      - name: expandNonStockComponents
        in: query
        schema:
          type: boolean
      - name: expandKitAllocations
        in: query
        schema:
          type: boolean
      - name: pageNumber
        in: query
        description: Pagination parameter. Page number.
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: 'Pagination parameter. Number of items to be collected.

          Please use a page size lower or equal to the allowed max page size which is returned as part of the metadata information.

          If requested page size is greater than allowed max page size, request will be limited to max page size.'
        schema:
          type: integer
          format: int32
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasePaginationDtoOfKitAssemblyDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BasePaginationDtoOfKitAssemblyDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    post:
      tags:
      - KitAssembly
      summary: Creates a Kit Assembly
      description: Response Message has StatusCode Created if POST operation succeed
      operationId: KitAssembly_Post
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: Defines the data for the Kit Assembly to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KitAssemblyInsertDto'
          text/json:
            schema:
              $ref: '#/components/schemas/KitAssemblyInsertDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/KitAssemblyInsertDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/KitAssemblyInsertDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/KitAssemblyInsertDto'
        required: true
        x-bodyName: kitAssemblyInsertDto
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/kitassembly/{type}/{refNo}:
    get:
      tags:
      - KitAssembly
      summary: Get a Kit Assembly - ScreenId = IN307000
      operationId: KitAssembly_GetKitAssemblyBytyperefNo
      parameters:
      - name: type
        in: path
        description: Kit Assembly Type
        required: true
        schema:
          type: string
      - name: refNo
        in: path
        description: Kit Assembly Ref No
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KitAssemblyDto'
            text/json:
              schema:
                $ref: '#/components/schemas/KitAssemblyDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    put:
      tags:
      - KitAssembly
      summary: Updates a specific Kit Assembly document
      description: Response Message has StatusCode NoContent if PUT operation succeed
      operationId: KitAssembly_PutBytyperefNo
      parameters:
      - name: type
        in: path
        description: Kit Assembly Type
        required: true
        schema:
          type: string
      - name: refNo
        in: path
        description: Kit Assembly Ref No
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      requestBody:
        description: The data to update for the Kit Assembly
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KitAssemblyUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/KitAssemblyUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/KitAssemblyUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/KitAssemblyUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/KitAssemblyUpdateDto'
        required: true
        x-bodyName: KitAssemblyUpdateDto
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
    delete:
      tags:
      - KitAssembly
      summary: Delete a specific Kit Assembly Document
      description: Response Message has StatusCode NoContent if DELETE operation succeed
      operationId: KitAssembly_DeleteBytyperefNo
      parameters:
      - name: type
        in: path
        description: Kit Assembly Type
        required: true
        schema:
          type: string
      - name: refNo
        in: path
        description: Kit Assembly Ref No
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/kitassembly/{type}/{refNo}/action/release:
    post:
      tags:
      - KitAssembly
      summary: Release Kit Assembly
      description: The action result dto contains information about the result of running the action
      operationId: KitAssembly_ReleaseKitAssemblyBytyperefNo
      parameters:
      - name: type
        in: path
        description: Kit Assembly Type
        required: true
        schema:
          type: string
      - name: refNo
        in: path
        description: Kit Assembly Ref No
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    KitAssemblyStockComponentAllocationsUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        lineNbr:
          $ref: '#/components/schemas/DtoValueOfInt32'
        itemId:
          $ref: '#/components/schemas/DtoValueOfString'
        location:
          $ref: '#/components/schemas/DtoValueOfString'
        lotSerialNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        quantity:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        uom:
          $ref: '#/components/schemas/DtoValueOfString'
        expirationDate:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
      description: 'Lot/serial allocations for stock components in kit assemblies.

        Used for adding and updating allocations.'
    DtoValueOfDecimal:
      type: object
      properties:
        value:
          type: number
          format: double
    DtoValueOfNullableOfDateTime:
      type: object
      properties:
        value:
          type: string
          format: date-time
    LocationDescriptionDto:
      type: object
      properties:
        countryId:
          type: string
          description: Location*.
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
    BasePaginationDtoOfKitAssemblyDto:
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalCount:
          type: integer
          format: int64
        records:
          type: array
          items:
            $ref: '#/components/schemas/KitAssemblyDto'
    KitAssemblyLinkInsertDto:
      type: object
      properties:
        orderType:
          $ref: '#/components/schemas/orderTypeInKitAssemblyLinkInsertDto'
        orderNumber:
          $ref: '#/components/schemas/orderNumberInKitAssemblyLinkInsertDto'
        orderLineNumber:
          $ref: '#/components/schemas/orderLineNumberInKitAssemblyLinkInsertDto'
    INAllocationsDto:
      type: object
      properties:
        lineNbr:
          type: integer
          format: int32
        location:
          $ref: '#/components/schemas/LocationDescriptionDto'
        lotSerialNumber:
          type: string
        quantity:
          type: number
          format: double
        uom:
          type: string
        expirationDate:
          type: string
          format: date-time
      description: This class represents Allocation/Kit Allocation. Used for getting data.
    KitAssemblyInsertDto:
      type: object
      properties:
        kitAssemblyLink:
          $ref: '#/components/schemas/KitAssemblyLinkInsertDto'
        type:
          type: string
          description: 'Type, possible values: P - Production, D - Disassembly'
        refNo:
          type: string
        hold:
          $ref: '#/components/schemas/DtoValueOfBoolean'
        date:
          $ref: '#/components/schemas/DtoValueOfDateTime'
        postPeriod:
          $ref: '#/components/schemas/DtoValueOfString'
        itemId:
          $ref: '#/components/schemas/DtoValueOfString'
        revision:
          $ref: '#/components/schemas/DtoValueOfString'
        reasonCode:
          $ref: '#/components/schemas/DtoValueOfString'
        description:
          $ref: '#/components/schemas/DtoValueOfString'
        warehouse:
          $ref: '#/components/schemas/DtoValueOfString'
        location:
          $ref: '#/components/schemas/DtoValueOfString'
        uoM:
          $ref: '#/components/schemas/DtoValueOfString'
        quantity:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        stockComponentLines:
          type: array
          items:
            $ref: '#/components/schemas/KitAssemblyStockComponentsUpdateDto'
        stockComponentAllocations:
          type: array
          items:
            $ref: '#/components/schemas/KitAssemblyStockComponentAllocationsUpdateDto'
          description: "This property is deprecated and will be removed in a future version. \nUse StockComponentLineAllocations within each StockComponentLine instead."
        nonStockComponentLines:
          type: array
          items:
            $ref: '#/components/schemas/KitAssemblyNonStockComponentsUpdateDto'
        kitAllocations:
          type: array
          items:
            $ref: '#/components/schemas/INAllocationsUpdateDto'
    orderNumberInKitAssemblyLinkInsertDto:
      properties:
        value:
          type: string
      description: Reference to the order number that the kit assembly is connected to
    DtoValueOfInt32:
      type: object
      properties:
        value:
          type: integer
          format: int32
    DtoValueOfBoolean:
      type: object
      properties:
        value:
          type: boolean
    orderTypeInKitAssemblyLinkInsertDto:
      properties:
        value:
          type: string
      description: Reference to the order type that the kit assembly is connected to
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    KitAssemblyUpdateDto:
      type: object
      properties:
        type:
          type: string
          description: 'Type, possible values: P - Production, D - Disassembly'
        refNo:
          type: string
        hold:
          $ref: '#/components/schemas/DtoValueOfBoolean'
        date:
          $ref: '#/components/schemas/DtoValueOfDateTime'
        postPeriod:
          $ref: '#/components/schemas/DtoValueOfString'
        itemId:
          $ref: '#/components/schemas/DtoValueOfString'
        revision:
          $ref: '#/components/schemas/DtoValueOfString'
        reasonCode:
          $ref: '#/components/schemas/DtoValueOfString'
        description:
          $ref: '#/components/schemas/DtoValueOfString'
        warehouse:
          $ref: '#/components/schemas/DtoValueOfString'
        location:
          $ref: '#/components/schemas/DtoValueOfString'
        uoM:
          $ref: '#/components/schemas/DtoValueOfString'
        quantity:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        stockComponentLines:
          type: array
          items:
            $ref: '#/components/schemas/KitAssemblyStockComponentsUpdateDto'
        stockComponentAllocations:
          type: array
          items:
            $ref: '#/components/schemas/KitAssemblyStockComponentAllocationsUpdateDto'
          description: "This property is deprecated and will be removed in a future version. \nUse StockComponentLineAllocations within each StockComponentLine instead."
        nonStockComponentLines:
          type: array
          items:
            $ref: '#/components/schemas/KitAssemblyNonStockComponentsUpdateDto'
        kitAllocations:
          type: array
          items:
            $ref: '#/components/schemas/INAllocationsUpdateDto'
    DtoValueOfString:
      type: object
      properties:
        value:
          type: string
    KitAssemblyStockComponentsUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        lineNbr:
          $ref: '#/components/schemas/DtoValueOfInt32'
        itemId:
          $ref: '#/components/schemas/DtoValueOfString'
        location:
          $ref: '#/components/schemas/DtoValueOfString'
        uoM:
          $ref: '#/components/schemas/DtoValueOfString'
        quantity:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        unitCost:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        reasonCode:
          $ref: '#/components/schemas/DtoValueOfString'
        stockComponentLineAllocations:
          type: array
          items:
            $ref: '#/components/schemas/KitAssemblyStockComponentAllocationsUpdateDto'
    DtoValueOfDateTime:
      type: object
      properties:
        value:
          type: string
          format: date-time
    DtoValueOfNullableOfDecimal:
      type: object
      properties:
        value:
          type: number
          format: double
    KitAssemblyNonStockComponentsUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
        lineNbr:
          $ref: '#/components/schemas/DtoValueOfInt32'
        itemId:
          $ref: '#/components/schemas/DtoValueOfString'
        uoM:
          $ref: '#/components/schemas/DtoValueOfString'
        quantity:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        unitCost:
          $ref: '#/components/schemas/DtoValueOfDecimal'
        reasonCode:
          $ref: '#/components/schemas/DtoValueOfString'
    KitAssemblyDto:
      type: object
      properties:
        type:
          type: string
          description: 'Type, possible values: P - Production, D - Disassembly'
        refNo:
          type: string
        status:
          type: string
          description: 'Status, possible values: H - On Hold, B - Balanced, R - Released'
        hold:
          type: boolean
        date:
          type: string
          format: date-time
        postPeriod:
          type: string
        itemID:
          type: string
        revision:
          type: string
        reasonCode:
          type: string
        description:
          type: string
        warehouse:
          type: string
        location:
          type: string
        uoM:
          type: string
        quantity:
          type: number
          format: double
        createdDateTime:
          type: string
          format: date-time
        lastModifiedDateTime:
          type: string
          format: date-time
        salesOrderLink:
          type: string
        stockComponentLines:
          type: array
          items:
            $ref: '#/components/schemas/KitAssemblyStockComponentsDto'
        nonStockComponentLines:
          type: array
          items:
            $ref: '#/components/schemas/KitAssemblyNonStockComponentDto'
        kitAllocations:
          type: array
          items:
            $ref: '#/components/schemas/INAllocationsDto'
        timestamp:
          type: string
          description: Timestamp of the kit assembly record
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    KitAssemblyNonStockComponentDto:
      type: object
      properties:
        lineNbr:
          type: integer
          format: int32
        itemId:
          type: string
        description:
          type: string
        uoM:
          type: string
        quantity:
          type: number
          format: double
        unitCost:
          type: number
          format: double
        reasonCode:
          type: string
        componentQty:
          type: number
          format: double
        allowComponentQtyVariance:
          type: boolean
        minComponentQty:
          type: number
          format: double
        maxComponentQty:
          type: number
          format: double
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    KitAssemblyStockComponentsDto:
      type: object
      properties:
        lineNbr:
          type: integer
          format: int32
        itemId:
          type: string
        description:
          type: string
        location:
          type: string
        uoM:
          type: string
        quantity:
          type: number
          format: double
        unitCost:
          type: number
          format: double
        reasonCode:
          type: string
        componentQty:
          type: number
          format: double
        minComponentQty:
          type: number
          format: double
        allowComponentQtyVariance:
          type: boolean
        maxComponentQty:
          type: number
          format: double
        allowComponentSubstitution:
          type: boolean
        disassemblyCoeff:
          type: number
          format: double
        allocations:
          type: array
          items:
            $ref: '#/components/schemas/INAllocationsDto'
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
    orderLineNumberInKitAssemblyLinkInsertDto:
      properties:
        value:
          type: integer
          format: int32
      description: Reference to the order line number that the kit assembly is connected to
    INAllocationsUpdateDto:
      type: object
      properties:
        operation:
          enum:
          - Insert
          - Update
          - Delete
          type: string
          description: The operation &gt;  Insert=1, Update=2, Delete=3
        lineNbr:
          $ref: '#/components/schemas/DtoValueOfInt32'
        location:
          $ref: '#/components/schemas/DtoValueOfString'
        lotSerialNumber:
          $ref: '#/components/schemas/DtoValueOfString'
        quantity:
          $ref: '#/components/schemas/DtoValueOfNullableOfDecimal'
        uom:
          $ref: '#/components/schemas/DtoValueOfString'
        expirationDate:
          $ref: '#/components/schemas/DtoValueOfNullableOfDateTime'
      description: This class represents a Kit Allocations from Kit Assembly. Used to add/update data.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
