openapi: 3.2.0
info:
  title: Visma.net ERP Financial Period API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: FinancialPeriod
paths:
  /v1/financialPeriod:
    get:
      tags:
      - FinancialPeriod
      summary: Get a range of Financial Periods - ScreenId=GL201000
      operationId: FinancialPeriod_GetAll
      parameters:
      - name: greaterThanValue
        in: query
        description: Enter the year or year-period lower than the first period or year you want, format YYYY or YYYYPP
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FinancialPeriodDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FinancialPeriodDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FinancialPeriodDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FinancialPeriodDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/financialPeriod/{financialPeriodId}:
    get:
      tags:
      - FinancialPeriod
      summary: Get a specific Financial Period - ScreenId=GL201000
      operationId: FinancialPeriod_GetByfinancialPeriodId
      parameters:
      - name: financialPeriodId
        in: path
        description: Returns the financial period for the specified FinancialPeriodId, format YYYYPP
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialPeriodDto'
            text/json:
              schema:
                $ref: '#/components/schemas/FinancialPeriodDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/FinancialPeriodDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/FinancialPeriodDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    FinancialPeriodDto:
      type: object
      properties:
        year:
          type: integer
          description: 'Mandatory field: The top part &gt; Financial year* &gt; The financial year.'
          format: int32
        period:
          type: string
          description: The table &gt; Period &gt; The period no and the year.
        startDate:
          type: string
          description: The table &gt; Start date &gt; The date when the financial period starts.
          format: date-time
        endDate:
          type: string
          description: The table &gt; End date &gt; The date when the financial period ends.
          format: date-time
        description:
          type: string
          description: The table &gt; Description &gt; The description of the financial period (such as the name of the month or the number of the quarter).
        active:
          type: boolean
          description: The table &gt; Active &gt; A check box that indicates (if selected) that the period can be used for posting transactions.
        closedInSupplierLedger:
          type: boolean
          description: The table &gt; Closed in Supplier ledger &gt; A read-only check box that indicates (if selected) that the financial period is closed in the Supplier ledger workspace; if this check box is cleared, the period is active in the this workspace.
        closedInCustomerLedger:
          type: boolean
          description: The table &gt; Closed in Customer ledger &gt; A read-only check box that indicates (if selected) that the financial period is closed in the Customer ledger workspace; if this check box is cleared, the period is active in this workspace.
        closedInInventoryManagement:
          type: boolean
          description: "The table &gt; Closed in Inventory management &gt; Inventory management\tA read-only check box that indicates (if selected) that the financial period is closed in the Inventory workspace; if this check box is cleared, the period is active in the workspace."
        closedInGeneralLedger:
          type: boolean
          description: The table &gt; Closed in General ledger &gt; A read-only check box that indicates (if selected) that the financial period is closed in the General ledger workspace; if this check box is cleared, the period is active in the this workspace.
        closedInCashManagement:
          type: boolean
          description: The table &gt; Closed in Cash management &gt; A read-only check box that indicates (if selected) that the financial period is closed in the Cash management; if this check box is cleared, the period is active in this workspace.
        closedInFixedAssets:
          type: boolean
          description: The table &gt; Closed in Fixed assets &gt; A read-only check box that indicates (if selected) that the financial period is closed in the Fixed assets workspace; if this check box is cleared, the period is active in the this workspace.
      description: This class represents a Financial Period in FinancialPeriodController. Used by getting data.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
