openapi: 3.2.0
info:
  title: Visma.net ERP Organization API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: Organization
paths:
  /v1/organization/{organizationNumber}:
    get:
      tags:
      - Organization
      summary: Get organisation information by organization number
      description: 'Data for a single organization.


        The response headers include an ETag after a successful GET operation.'
      operationId: Organization_GetByOrganizationCdByorganizationNumber
      parameters:
      - name: organizationNumber
        in: path
        description: The organisation code.
        required: true
        schema:
          type: string
      - name: expandBranches
        in: query
        description: True to expand all Branches related to this Organization.
        schema:
          type: boolean
      - name: expandBankSettings
        in: query
        description: True to expand payment settings for organization.
        schema:
          type: boolean
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: greaterThanValue
        in: query
        description: Greater than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedOrganizationDto'
            text/json:
              schema:
                $ref: '#/components/schemas/ExtendedOrganizationDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/organization:
    get:
      tags:
      - Organization
      summary: Get all organisations
      operationId: Organization_GetAll
      parameters:
      - name: expandBranches
        in: query
        description: True to expand all Branches related to this Organization.
        schema:
          type: boolean
      - name: expandBankSettings
        in: query
        description: True to expand payment settings for organization.
        schema:
          type: boolean
      - name: lastModifiedDateTime
        in: query
        description: 'This value, generated by the system, indicates the last time the record was modified. Use it to retrieve all records that have been modified since that time, up to the present.


          Accepted format:

          * ```yyyy-MM-dd```

          * ```yyyy-MM-dd HH:mm:ss```

          * ```yyyy-MM-dd HH:mm:ss.FFF```

          * ```yyyy-MM-ddTHH:mm:ss```

          * ```yyyy-MM-ddTHH:mm:ss.FFF```


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: lastModifiedDateTimeCondition
        in: query
        description: 'This value represents the condition to be applied when retrieving records.


          Accepted values (without the single quotes):

          * ''&gt;'' for greater than

          * ''&lt;'' for less than

          * ''&gt;='' for greater than or equal

          * ''&lt;='' for less than or equal


          _Note:_ __LastModifiedDateTime__ and __LastModifiedDateTimeCondition__ are __mutually inclusive__.'
        schema:
          type: string
      - name: greaterThanValue
        in: query
        description: Greater than value. The item which is the object for this, varies from API to API.
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExtendedOrganizationDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExtendedOrganizationDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/organization/{organizationNumber}/BankSettings:
    put:
      tags:
      - Organization
      summary: Update bank settings for organization
      description: 'Response Message has StatusCode No Content if PUT operation succeed.


        Response Message has StatusCode BadRequest if PUT operation failed.


        The response headers include an ETag after a successful PUT operation.'
      operationId: Organization_PutBankSettingsForOrganizationByorganizationNumber
      parameters:
      - name: organizationNumber
        in: path
        description: organization number to update
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      - name: If-Match
        in: header
        description: 'The If-Match HTTP header allows clients to update a resource only if its current version matches a specific ETag. This mechanism helps prevent conflicts when multiple clients attempt to modify the same resource simultaneously.

          The If-Match header should be included in the request headers using the following syntax: If-Match: "etag_value"

          * If the update is successful, the server responds with 204 No Content and includes the new ETag value in the response headers.

          * If the ETag on the server does not match the value provided in the If-Match header, the server responds with 412 Precondition Failed.'
        schema:
          type: string
      requestBody:
        description: Defines the data for the bank settings to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankSettingsUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/BankSettingsUpdateDto'
          application/xml:
            schema:
              $ref: '#/components/schemas/BankSettingsUpdateDto'
          text/xml:
            schema:
              $ref: '#/components/schemas/BankSettingsUpdateDto'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BankSettingsUpdateDto'
        required: true
        x-bodyName: bankSettings
      responses:
        '204':
          description: NoContent
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
        '412':
          description: Organisation version does not match with If-Match header
          content:
            application/json: {}
            text/json: {}
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    ledgerInExtendedOrganizationDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Ledger
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    industryCodeInExtendedOrganizationDto:
      properties:
        id:
          type: string
          description: Click on the magnifier. &gt; The identifier.
        description:
          type: string
          description: Click on the magnifier. &gt; The description.
      description: Industry Code
    TaxCategoryNumberDescriptionDto:
      type: object
      properties:
        number:
          type: string
          description: Number of item
        description:
          type: string
          description: Name of item/description
    BankSettingsUpdateDto:
      type: object
      properties:
        bankName:
          $ref: '#/components/schemas/bankNameInBankSettingsUpdateDto'
        bankAddress1:
          $ref: '#/components/schemas/bankAddress1InBankSettingsUpdateDto'
        bankAddress2:
          $ref: '#/components/schemas/bankAddress2InBankSettingsUpdateDto'
        bankAddress3:
          $ref: '#/components/schemas/bankAddress3InBankSettingsUpdateDto'
        bankCountry:
          $ref: '#/components/schemas/bankCountryInBankSettingsUpdateDto'
        iban:
          $ref: '#/components/schemas/ibanInBankSettingsUpdateDto'
        bban:
          $ref: '#/components/schemas/bbanInBankSettingsUpdateDto'
        bbaN2:
          $ref: '#/components/schemas/bbaN2InBankSettingsUpdateDto'
        bbaN3:
          $ref: '#/components/schemas/bbaN3InBankSettingsUpdateDto'
        bic:
          $ref: '#/components/schemas/bicInBankSettingsUpdateDto'
        creditorId:
          $ref: '#/components/schemas/creditorIdInBankSettingsUpdateDto'
      description: Bank settings update Dto
    ExtendedOrganizationDto:
      type: object
      properties:
        organizationCd:
          type: string
          description: Organization Cd
        name:
          type: string
          description: Name
        organizationType:
          type: string
          description: Organization Type
        fileTaxByBranches:
          type: boolean
          description: File Tax By Branches
        baseCurrency:
          type: string
          description: Base Currency
        mainAddress:
          $ref: '#/components/schemas/mainAddressInExtendedOrganizationDto'
        mainContact:
          $ref: '#/components/schemas/mainContactInExtendedOrganizationDto'
        deliveryAddress:
          $ref: '#/components/schemas/deliveryAddressInExtendedOrganizationDto'
        deliveryContact:
          $ref: '#/components/schemas/deliveryContactInExtendedOrganizationDto'
        corporateId:
          type: string
          description: CorporateId
        vatRegistrationId:
          type: string
          description: VatRegistrationId
        defaultCountry:
          $ref: '#/components/schemas/defaultCountryInExtendedOrganizationDto'
        industryCode:
          $ref: '#/components/schemas/industryCodeInExtendedOrganizationDto'
        currency:
          $ref: '#/components/schemas/currencyInExtendedOrganizationDto'
        vatZone:
          $ref: '#/components/schemas/vatZoneInExtendedOrganizationDto'
        lastModifiedDateTime:
          type: string
          description: LastModifiedDateTime
          format: date-time
        ledger:
          $ref: '#/components/schemas/ledgerInExtendedOrganizationDto'
        bankSettings:
          $ref: '#/components/schemas/bankSettingsInExtendedOrganizationDto'
        branches:
          type: array
          items:
            $ref: '#/components/schemas/BranchNumberDto'
          description: Branches
        timeStamp:
          type: string
          description: 'Identifier that represents a specific version of the resource.

            It helps to prevent simultaneous updates of the resource from overwriting each other (by using ETags and If-Match headers)'
          format: byte
      description: ExtendedOrganizationDto
    mainContactInExtendedOrganizationDto:
      properties:
        contactId:
          type: integer
          format: int32
        name:
          type: string
          description: Name &gt; The legal name of to appear on the documents.
        attention:
          type: string
          description: Attention &gt; The attention line as it is used in your customer's/supplier's/company's business letters. The intention of this line is to direct the letter to the right person if the letter is not addressed to any specific person.
        email:
          type: string
          description: Email &gt; The email address of the customer/supplier/company as a business entity.
        web:
          type: string
          description: Web &gt; The website of the company, if one exists.
        phone1:
          type: string
          description: Phone 1 &gt; The default phone number.
        phone2:
          type: string
          description: Phone 2 &gt; An additional phone number.
        fax:
          type: string
          description: Fax &gt; The fax number.
      description: Main Contact
    bicInBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: BIC
    bbanInBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: BBAN
    countryInAddressDto:
      properties:
        id:
          type: string
          description: 'Mandatory field: Country ID* &gt; The unique two-letter country ID according to international standard ISO 3166.'
        name:
          type: string
          description: 'Mandatory field: Country name* &gt; The complete name of the country.'
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: Country &gt; The country.
    bbaN3InBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: BBAN 3
    bankNameInBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: Bank name
    bankAddress2InBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: Bank address 2
    MetadataDto:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        maxPageSize:
          type: integer
          format: int64
    BranchNumberDto:
      type: object
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
    bbaN2InBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: BBAN 2
    creditorIdInBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: Creditor Id
    ibanInBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: IBAN
    vatZoneInExtendedOrganizationDto:
      properties:
        id:
          type: string
          description: Click the magnifier. The identifier for the VAT zone of the supplier, which is specified in the  AP303000 window.
        description:
          type: string
          description: Click the magnifier. The description for the VAT zone of the supplier, which is specified in the  AP303000 window.
        defaultVatCategory:
          type: string
          description: Click the magnifier. The Default VAT category for the VAT zone of the supplier, which is specified in the  AP303000 window.
        defaultTaxCategory:
          $ref: '#/components/schemas/TaxCategoryNumberDescriptionDto'
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: Vat Zone
    bankCountryInBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: Bank country
    bankSettingsInExtendedOrganizationDto:
      properties:
        bankName:
          type: string
          description: Bank name
        bankAddress1:
          type: string
          description: Bank address1
        bankAddress2:
          type: string
          description: BankAddress2
        bankAddress3:
          type: string
          description: BankAddress3
        bankCountry:
          type: string
          description: BankCountry
        iban:
          type: string
          description: IBAN
        bban:
          type: string
          description: BBAN
        bbaN2:
          type: string
          description: BBAN2
        bbaN3:
          type: string
          description: BBAN3
        bic:
          type: string
          description: BIC
        creditorId:
          type: string
          description: CreditorId
      description: Bank Settings
    deliveryContactInExtendedOrganizationDto:
      properties:
        contactId:
          type: integer
          format: int32
        name:
          type: string
          description: Name &gt; The legal name of to appear on the documents.
        attention:
          type: string
          description: Attention &gt; The attention line as it is used in your customer's/supplier's/company's business letters. The intention of this line is to direct the letter to the right person if the letter is not addressed to any specific person.
        email:
          type: string
          description: Email &gt; The email address of the customer/supplier/company as a business entity.
        web:
          type: string
          description: Web &gt; The website of the company, if one exists.
        phone1:
          type: string
          description: Phone 1 &gt; The default phone number.
        phone2:
          type: string
          description: Phone 2 &gt; An additional phone number.
        fax:
          type: string
          description: Fax &gt; The fax number.
      description: Delivery Contact
    defaultCountryInExtendedOrganizationDto:
      properties:
        id:
          type: string
          description: 'Mandatory field: Country ID* &gt; The unique two-letter country ID according to international standard ISO 3166.'
        name:
          type: string
          description: 'Mandatory field: Country name* &gt; The complete name of the country.'
        errorInfo:
          type: string
        metadata:
          $ref: '#/components/schemas/MetadataDto'
      description: Default Country
    bankAddress3InBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: Bank address 3
    deliveryAddressInExtendedOrganizationDto:
      properties:
        addressId:
          type: integer
          format: int32
        addressLine1:
          type: string
          description: Address 1 &gt; The first line of the customer's/supplier's/company's/employee's contact address.
        addressLine2:
          type: string
          description: Address 2 &gt; The second line of the address.
        addressLine3:
          type: string
          description: Address 3 &gt; The third line of the address.
        postalCode:
          type: string
          description: Postcode &gt; The postcode.
        city:
          type: string
          description: City &gt; The city.
        country:
          $ref: '#/components/schemas/countryInAddressDto'
        county:
          $ref: '#/components/schemas/countyInAddressDto'
      description: Delivery Address
    currencyInExtendedOrganizationDto:
      properties:
        id:
          type: string
          description: Currency Id.
        description:
          type: string
          description: Currency description.
        symbol:
          type: string
          description: Currency symbol.
        isBaseCurrency:
          type: boolean
          description: Identify if the currency is the base currency.
        decimalPrecision:
          type: integer
          description: Decimal precision.
          format: int32
        isUsedForAccounting:
          type: boolean
          description: Identify if is used for accounting.
      description: Currency
    mainAddressInExtendedOrganizationDto:
      properties:
        addressId:
          type: integer
          format: int32
        addressLine1:
          type: string
          description: Address 1 &gt; The first line of the customer's/supplier's/company's/employee's contact address.
        addressLine2:
          type: string
          description: Address 2 &gt; The second line of the address.
        addressLine3:
          type: string
          description: Address 3 &gt; The third line of the address.
        postalCode:
          type: string
          description: Postcode &gt; The postcode.
        city:
          type: string
          description: City &gt; The city.
        country:
          $ref: '#/components/schemas/countryInAddressDto'
        county:
          $ref: '#/components/schemas/countyInAddressDto'
      description: Main Address
    bankAddress1InBankSettingsUpdateDto:
      properties:
        value:
          type: string
      description: Bank address 1
    countyInAddressDto:
      properties:
        id:
          type: string
          description: Click the magnifier &gt; The identifier
        name:
          type: string
          description: Click the magnifier &gt; The displayed name
      description: County &gt; The county or province.
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
