{
  "openapi": "3.0.4",
  "info": {
    "title": "Bookkeeping & Invoicing/eAccounting API V2",
    "description": "Visit our complete [Bookkeeping & Invoicing/eAccounting API docs](https://developer.vismaonline.com) for how to get started, information about authentication, error handling, query customization and more.<br/><br/>✉ [API Support](https://developer.vismaonline.com/docs/lets-get-started#support)",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://eaccountingapi.vismaonline.com/v2/"
    }
  ],
  "paths": {
    "/accountbalances/{date}": {
      "get": {
        "tags": [
          "AccountBalance"
        ],
        "summary": "Get account balances by date",
        "description": "Get all account balances at a specific date. The response will include a list of account balances with their details, such as account number, name, and balance at the given date.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfAccountBalanceApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/accountbalances/{accountNumber}/{date}": {
      "get": {
        "tags": [
          "AccountBalance"
        ],
        "summary": "Get account balance by account number and date",
        "description": "Get the balance for a specific account at a specific date. The response will include the account details and the balance at the given date.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The account number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "Date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountBalanceApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get accounts",
        "description": "Get all accounts, or add query parameters to filter the results. The response will include a list of accounts with their details, such as account name, number, VAT code information, and fiscal year details.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfAccountApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create account",
        "description": "Create a new account to a specified fiscal year. Use the FiscalYearId property to specify the fiscal year. Account types can be set automatically or provided manually depending on the useDefaultAccountType parameter.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting",
        "parameters": [
          {
            "name": "useDefaultAccountType",
            "in": "query",
            "description": "If true, the system will provide the standard account type",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountApi"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountApi"
                }
              }
            }
          },
          "400": {
            "description": "Account can't be created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/standardaccounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get standard accounts",
        "description": "Get a list of the predefined standard accounts. This endpoint is only available for Dutch companies and returns the account types and their corresponding account numbers.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfStandardAccountApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{fiscalyearId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get accounts by fiscal year",
        "description": "Get a list of accounts for a specific fiscal year, or add query parameters to filter the results.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly",
        "parameters": [
          {
            "name": "fiscalyearId",
            "in": "path",
            "description": "The fiscal year Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfAccountApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{fiscalyearId}/{accountNumber}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get single account",
        "description": "Get a specific account from a given fiscal year by specifying the account number. The response includes detailed account information and description if available.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly",
        "parameters": [
          {
            "name": "fiscalyearId",
            "in": "path",
            "description": "The fiscal year Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The account number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Replace account",
        "description": "Replace an existing account's data in a given fiscal year, with the provided new data. \r\nThis operation will only update the account in the specified fiscal year.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting",
        "parameters": [
          {
            "name": "fiscalyearId",
            "in": "path",
            "description": "The fiscal year ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "accountNumber",
            "in": "path",
            "description": "The account number",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountApi"
                }
              }
            }
          },
          "400": {
            "description": "Account can't be replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/accounts/batch": { },
    "/accountTypes": {
      "get": {
        "tags": [
          "AccountTypes"
        ],
        "summary": "Get default account types",
        "description": "Get the default account types. The response will include a list of account types and their descriptions.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfAccountTypesApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/allocationperiods": {
      "get": {
        "tags": [
          "AllocationPeriods"
        ],
        "summary": "Get allocation periods",
        "description": "Get all allocation periods, or add query parameters to filter the results. The response includes details such as the period's name, start and end dates, and its active status.\r\n\r\n**Note**: This endpoint returns only active (non-deleted) allocation periods. If you need to retrieve deleted allocation periods for synchronization purposes, use the separate `/v2/allocationperiods/deleted` endpoint.\r\n\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase\r\n* ea:purchase_readonly",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfAllocationPeriodApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AllocationPeriods"
        ],
        "summary": "Add allocation periods for voucher or supplier invoice",
        "description": "Creates new allocation periods from allocation plans for vouchers or supplier invoices.\n\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AllocationPlan"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Allocation periods created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllocationPeriodApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AllocationPeriods"
        ],
        "summary": "Update allocation periods for voucher or supplier invoice",
        "description": "Updates existing allocation periods from modified allocation plans for vouchers or supplier invoices.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AllocationPlan"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Allocation periods updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllocationPeriodApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/allocationperiods/deleted": { },
    "/allocationperiods/{allocationPeriodId}": {
      "get": {
        "tags": [
          "AllocationPeriods"
        ],
        "summary": "Get single allocation period",
        "description": "Get a specific allocation period by its unique identifier. The response includes details such as the period's name, start and end dates, and its active status.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase\r\n* ea:purchase_readonly",
        "parameters": [
          {
            "name": "allocationPeriodId",
            "in": "path",
            "description": "The Id of the allocation period to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllocationPeriodApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/approval/vatreport/{id}": {
      "put": {
        "tags": [
          "Approval"
        ],
        "summary": "Replace the approval status of a vat report",
        "description": "Update the approval status of a VAT report.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the vat report",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VatReportApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/approval/supplierinvoice/{id}": {
      "put": {
        "tags": [
          "Approval"
        ],
        "summary": "Replace the approval status of a supplier invoice draft",
        "description": "Update the approval status of a supplier invoice draft.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the invoice draft",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalResponseApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/appstore/status": {
      "get": {
        "tags": [
          "AppStoreActivationStatus"
        ],
        "summary": "Get app store activation statuses",
        "description": "Get app store activation status. Each status indicates whether a specific third-party application is activated or deactivated for the user.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly\r\n* ea:sales\r\n* ea:sales_readonly\r\n* ea:purchase\r\n* ea:purchase_readonly",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfAppStoreActivationStatusApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AppStoreActivationStatus"
        ],
        "summary": "Update app store activation status",
        "description": "Update the activation status for a third-party application in the app store.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly\r\n* ea:sales\r\n* ea:sales_readonly\r\n* ea:purchase\r\n* ea:purchase_readonly",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppStoreActivationStatusApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppStoreActivationStatusApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/articleaccountcodings": {
      "get": {
        "tags": [
          "ArticleAccountCodings"
        ],
        "summary": "Get article account codings",
        "description": "Get all article account codings, or add query parameters to filter the results. The response will include a list of article account codings with their accounting rules, VAT settings, and account numbers for different sales scenarios.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "parameters": [
          {
            "name": "vatRateDate",
            "in": "query",
            "description": "Date to get VAT rates for. Defaults to today",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfArticleAccountCodingApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/articleaccountcodings/{articleAccountCodingId}": {
      "get": {
        "tags": [
          "ArticleAccountCodings"
        ],
        "summary": "Get a specific article account coding",
        "description": "Get a specific article account coding by its unique identifier. The response will include the article account coding's details such as name, type, VAT rate information, and account numbers for different sales scenarios.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "parameters": [
          {
            "name": "articleAccountCodingId",
            "in": "path",
            "description": "The ID of the article account coding to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "vatRateDate",
            "in": "query",
            "description": "Date to get VAT rates for. Defaults to today",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleAccountCodingApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/articlelabels": {
      "get": {
        "tags": [
          "ArticleLabels"
        ],
        "summary": "Gets all article labels",
        "description": "Get all article labels, or add query parameters to filter the results. The response will include a list of article labels with their details, such as name and description information.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfArticleLabelApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ArticleLabels"
        ],
        "summary": "Create an article label",
        "description": "Create a new article label.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleLabelApi"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created article label",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleLabelApi"
                }
              }
            }
          },
          "400": {
            "description": "The article label can't be created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/articlelabels/{articlelabelid}": {
      "get": {
        "tags": [
          "ArticleLabels"
        ],
        "summary": "Gets an article label by id",
        "description": "Get a specific article label by its unique identifier. The response will contain the aricle label's details, including the article's name and description information.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "parameters": [
          {
            "name": "articleLabelId",
            "in": "path",
            "description": "This represents the Id of the article label.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleLabelApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/articlelabels/batch": { },
    "/articlelabels/{articleLabelId}": {
      "put": {
        "tags": [
          "ArticleLabels"
        ],
        "summary": "Replace an article label",
        "description": "Replace an existing article label's data with the provided new data. The article label must already exist in the system.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales",
        "parameters": [
          {
            "name": "articleLabelId",
            "in": "path",
            "description": "This represents the Id of the article label",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleLabelApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated article label",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleLabelApi"
                }
              }
            }
          },
          "400": {
            "description": "The article label can't be updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ArticleLabels"
        ],
        "summary": "Delete an article label",
        "description": "Deletes a specified article label. \r\n\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales",
        "parameters": [
          {
            "name": "articleLabelId",
            "in": "path",
            "description": "This represents the Id of the article label",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "404": {
            "description": "Article label not found"
          },
          "400": {
            "description": "Article label can't be deleted"
          }
        }
      }
    },
    "/articles": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Gets articles",
        "description": "Get all articles, or add query parameters to filter the results. The response will include a list of articles with their details, such as name, description, price information and stock data.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "parameters": [
          {
            "name": "showPricesWithTwoDecimals",
            "in": "query",
            "description": "Show prices with two decimals",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer ID for price calculations.If customerId is provided in querystring,\r\n                                       then article prices and discounts will be returned based on which pricelist \r\n                                       and discount agreement is assigned to customer.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfArticleApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Create a single article",
        "description": "Create a new article.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleApi"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleApi"
                }
              }
            }
          },
          "400": {
            "description": "The article can't be created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/articles/statistics": { },
    "/articles/{articleId}": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Gets an article by id",
        "description": "Get a specific article by its unique identifier. The response will contain the article's details, including name, description, pricing, stock information and associated labels.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "This represents the Id of the article",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "showPricesWithTwoDecimals",
            "in": "query",
            "description": "Show prices with two decimals",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Customer ID for price calculations.If customerId is provided in querystring,\r\n                                       then article prices and discounts will be returned based on which pricelist\r\n                                       and discount agreement is assigned to customer.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Articles"
        ],
        "summary": "Replace an article",
        "description": "Replace an existing article's data with the provided new data. The article must already exist in the system.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "This represents the Id of the article",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleApi"
                }
              }
            }
          },
          "400": {
            "description": "The article can't be updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/articles/batch": { },
    "/attachmentlinks": {
      "post": {
        "tags": [
          "AttachmentLinks"
        ],
        "summary": "Create new links between an existing document and a set of attachments",
        "description": "Create news link between an existing document and a set of attachments.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:purchase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentLinkApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentLinkApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/attachmentlinks/batch": { },
    "/attachmentlinks/{attachmentId}": {
      "delete": {
        "tags": [
          "AttachmentLinks"
        ],
        "summary": "Delete the link between an existing document and its attachment",
        "description": "Delete a link between an existing document and an attachment.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:purchase",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "description": "The attachment Id to unlink",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/attachments": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "summary": "Get attachments",
        "description": "Get all attachments, or add query parameters to filter the result. The response will include a list of attachments, with details such as attachment id, file name, and upload date.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase\r\n* ea:purchase_readonly\r\n* ea:accounting\r\n* ea:accounting_readonly",
        "parameters": [
          {
            "name": "includeMatched",
            "in": "query",
            "description": "Default value: true. When set to false the endpoint returns just the unmatched attachments.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeTemporaryUrl",
            "in": "query",
            "description": "Default value: true. When set to false the endpoint returns attachments but does not provide the TemporaryUrl.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfAttachment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Attachments"
        ],
        "summary": "Create an attachment",
        "description": "Create a new attachment.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase\r\n* ea:accounting",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentUploadApi"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attachment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/attachments/{attachmentId}": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "summary": "Get a specific attachment based on id",
        "description": "Get a specific attachment by its unique identifier. The response will include details such as attachment id, file name, upload date, and a link to download the attachment.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase\r\n* ea:purchase_readonly\r\n* ea:accounting\r\n* ea:accounting_readonly",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "description": "This represents the Id of the attachment you want to get",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Attachments"
        ],
        "summary": "Delete an attachment",
        "description": "Delete an attachment. Only attachments without any linked transactions can be deleted.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase\r\n* ea:accounting",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "description": "This represents the Id of the attachment you want to delete",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/attachments/{attachmentId}/interpretation": { },
    "/autoinvoice/inbound": { },
    "/autoinvoice/inbound/{sequenceNumber}": { },
    "/bankaccounts": {
      "get": {
        "tags": [
          "BankAccounts"
        ],
        "summary": "Get bank accounts",
        "description": "Get all bank accounts, or add query parameters to filter the results. The response will include a list of bank accounts with their details, such as account type, bank information, and current balance.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase\r\n* ea:purchase_readonly",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfBankAccountApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "BankAccounts"
        ],
        "summary": "Create a bank account",
        "description": "Create a new bank account for your company.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountApi"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bank account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountApi"
                }
              }
            }
          },
          "400": {
            "description": "Bank account can't be created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/bankaccounts/{bankAccountId}": {
      "get": {
        "tags": [
          "BankAccounts"
        ],
        "summary": "Get a bank account",
        "description": "Get a specific bank account by its unique identifier. The response will include detailed information about the bank account, including its type, bank details, balance information, and any associated properties.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase\r\n* ea:purchase_readonly",
        "parameters": [
          {
            "name": "bankAccountId",
            "in": "path",
            "description": "This represents the Id of the Bank Account.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Bank account not found"
          }
        }
      },
      "put": {
        "tags": [
          "BankAccounts"
        ],
        "summary": "Replace a bank account",
        "description": "Replace an existing bank account's data with the provided new data. The bank account must already exist in the system.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase",
        "parameters": [
          {
            "name": "bankAccountId",
            "in": "path",
            "description": "This represents the Id of the Bank Account.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank account replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountApi"
                }
              }
            }
          },
          "400": {
            "description": "Bank account can't be replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Bank account not found"
          }
        }
      },
      "delete": {
        "tags": [
          "BankAccounts"
        ],
        "summary": "Delete a bank account",
        "description": "Delete a specified bank account. Only bank accounts without any linked transactions can be deleted. To hide a bank account that has transactions, set the `isActive` property to `false` in a PUT request.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase",
        "parameters": [
          {
            "name": "bankAccountId",
            "in": "path",
            "description": "This represents the Id of the Bank Account.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "404": {
            "description": "Bank account not found"
          },
          "400": {
            "description": "Bank account can't be deleted"
          }
        }
      }
    },
    "/banktransactions/{bankAccountId}/matched": {
      "get": {
        "tags": [
          "BankTransactions"
        ],
        "summary": "Get a list of matched bank transactions",
        "description": "Get all matched bank transactions for a specific bank account within a date range, or add query parameters to filter the results. Matched bank transactions are those that have been reconciled with business transactions in the accounting system.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly\r\n* ea:sales\r\n* ea:sales_readonly\r\n* ea:purchase\r\n* ea:purchase_readonly",
        "parameters": [
          {
            "name": "bankAccountId",
            "in": "path",
            "description": "The company bank account to which the requested transactions correspond",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Default: First day of the current month",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Default: Last day of the current month",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfBankTransactionApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/banktransactions/{bankAccountId}/unmatched": {
      "get": {
        "tags": [
          "BankTransactions"
        ],
        "summary": "Get a list of unmatched bank transactions",
        "description": "Get all unmatched bank transactions for a specific bank account within a date range, or add query parameters to filter the results. Unmatched bank transactions are those that have not yet been reconciled with business transactions in the accounting system.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly\r\n* ea:sales\r\n* ea:sales_readonly\r\n* ea:purchase\r\n* ea:purchase_readonly",
        "parameters": [
          {
            "name": "bankAccountId",
            "in": "path",
            "description": "The company bank account to which the requested transactions correspond",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Default: First day of the current month",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Default: Last day of the current month",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfBankTransactionApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/banktransactions/{bankAccountId}/{bankTransactionId}": {
      "get": {
        "tags": [
          "BankTransactions"
        ],
        "summary": "Get a specific bank transaction",
        "description": "Get a specific bank transaction by its unique identifier. The response includes detailed information about the transaction and any associated reconciliation data.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly\r\n* ea:sales\r\n* ea:sales_readonly\r\n* ea:purchase\r\n* ea:purchase_readonly",
        "parameters": [
          {
            "name": "bankAccountId",
            "in": "path",
            "description": "The company bank account of the request transaction",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "bankTransactionId",
            "in": "path",
            "description": "The requested transaction id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankTransactionApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Bank transaction not found"
          }
        }
      }
    },
    "/banks": {
      "get": {
        "tags": [
          "Bank"
        ],
        "summary": "Get available banks",
        "description": "Get all available banks for the company's country, or add query parameters to filter the results. The response will include a list of banks with their identifiers and names.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:purchase\r\n* ea:purchase_readonly",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfBankApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/charts/salesandpurchaseinvoices": { },
    "/charts/salesandpurchaseinvoices/documents": { },
    "/companysettings": {
      "get": {
        "tags": [
          "CompanySettings"
        ],
        "summary": "Get company settings",
        "description": "Get the current company settings for the authenticated user's company.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySettingsApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CompanySettings"
        ],
        "summary": "Replace company settings",
        "description": "Update the company settings' data with the provided new data.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySettingsApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySettingsApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/companysettings/accountinglocksettings": {
      "put": {
        "tags": [
          "CompanySettings"
        ],
        "summary": "Update accounting lock settings",
        "description": "Updates the accounting lock interval and related settings for the company.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountingLockSettingsApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySettingsApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/companysettings/rotrut": {
      "put": {
        "tags": [
          "CompanySettings"
        ],
        "summary": "Update ROT/RUT settings",
        "description": "Update ROT/RUT settings for Swedish companies using reduced invoicing.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRotRutSettingsApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySettingsApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/companysettings/taxrules/recommended": { },
    "/companysettings/numberseries": { },
    "/companysettings/taxrules": { },
    "/companysettings/autoinvoice/inbound": { },
    "/companysettings/new": { },
    "/company/info": { },
    "/company/kivra/register": { },
    "/company/kivra/status": { },
    "/costcenteritems/{itemId}": {
      "get": {
        "tags": [
          "CostCenterItems"
        ],
        "summary": "Get a specific cost center item",
        "description": "Get a specific cost center item by its unique identifier. The response will include the item's details such as name, short name, and status.\n\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly\r\n* ea:sales\r\n* ea:sales_readonly\r\n* vls:api",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "description": "The unique identifier of the cost center item to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostCenterItemApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized. Access denied."
          },
          "403": {
            "description": "Forbidden. The company is not active, or the startup guide is not completed."
          }
        }
      }
    },
    "/costcenteritems": {
      "post": {
        "tags": [
          "CostCenterItems"
        ],
        "summary": "Create a single cost center item",
        "description": "Create a new cost center item within an existing cost center. The item will be assigned a unique identifier and can be used for project tracking and cost allocation.\n\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:sales\r\n* vls:api",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CostCenterItemApi"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostCenterItemApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access denied."
          },
          "403": {
            "description": "Forbidden. The company is not active, or the startup guide is not completed."
          }
        }
      }
    },
    "/costcenteritems/{costCenterItemId}": {
      "put": {
        "tags": [
          "CostCenterItems"
        ],
        "summary": "Replace the data in a cost center item",
        "description": "Replace an existing cost center item's data with the provided new data.\nThe cost center assignment cannot be changed through this operation.\n\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:sales\r\n* vls:api",
        "parameters": [
          {
            "name": "costCenterItemId",
            "in": "path",
            "description": "The unique identifier of the cost center item to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CostCenterItemApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostCenterItemApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized. Access denied."
          },
          "403": {
            "description": "Forbidden. The company is not active, or the startup guide is not completed."
          }
        }
      }
    },
    "/costcenters": {
      "get": {
        "tags": [
          "CostCenters"
        ],
        "summary": "Get cost centers",
        "description": "Get all cost centers, or add query parameters to filter the results. The response will include a list of cost centers with their details, such as name, number, active status, and associated cost center items.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:accounting_readonly\r\n* ea:sales\r\n* ea:sales_readonly\r\n* vls:api",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfCostCenterApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access denied."
          },
          "403": {
            "description": "Forbidden. The company is not active, or the startup guide is not completed."
          }
        }
      }
    },
    "/costcenters/{id}": {
      "put": {
        "tags": [
          "CostCenters"
        ],
        "summary": "Update a cost center",
        "description": "Replace an existing cost center's data with the provided new data. The cost center must already exist in the system.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:accounting\r\n* ea:sales\r\n* vls:api",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "This represents the Id of the cost center.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CostCenterApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostCenterApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized. Access denied."
          },
          "403": {
            "description": "Forbidden. The company is not active, or the startup guide is not completed."
          }
        }
      }
    },
    "/countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get countries",
        "description": "Get all countries, or add query parameters to filter the results. The response will include a list of countries with their details, such as name, code, and EU membership status.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly\r\n* vls:api",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfCountryApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/countries/{countrycode}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get a specific country",
        "description": "Get a specific country by its two-letter country code. The response will include the country details such as name, code, and EU membership status.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly\r\n* vls:api",
        "parameters": [
          {
            "name": "countrycode",
            "in": "path",
            "description": "Two letter code of requested country",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/currencies": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get a list of currencies",
        "description": "Get all available currencies for the company. The response includes a list of currency codes that can be used for transactions and invoicing.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly\r\n* ea:purchase\r\n* ea:purchase_readonly",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfCurrencyApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/currencies/exchangerate": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get currency exchange rate",
        "description": "Get the exchange rate between two currencies for a specific date. This is useful for converting amounts between currencies in international transactions.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly\r\n* ea:purchase\r\n* ea:purchase_readonly",
        "parameters": [
          {
            "name": "sourceCurrencyCode",
            "in": "query",
            "description": "Source currency code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetCurrencyCode",
            "in": "query",
            "description": "Target currency code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date for the exchange rate",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeRateApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/customerinvoicedrafts": {
      "get": {
        "tags": [
          "CustomerInvoiceDrafts"
        ],
        "summary": "Get all customer invoice drafts",
        "description": "Get all customer invoice drafts, or add query parameters to filter the results. The response will include a list of customer invoice drafts with their details, such as customer information, rows, totals and attachments.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfCustomerInvoiceDraftApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomerInvoiceDrafts"
        ],
        "summary": "Create a single customer invoice draft",
        "description": "Create a new customer invoice draft.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales",
        "parameters": [
          {
            "name": "overrideCustomerIsPrivatePerson",
            "in": "query",
            "description": "True to override if the customer on the draft is a private individual",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInvoiceDraftApi"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer invoice draft created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInvoiceDraftApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/customerinvoicedrafts/statistics": { },
    "/customerinvoicedrafts/{invoiceDraftId}": {
      "get": {
        "tags": [
          "CustomerInvoiceDrafts"
        ],
        "summary": "Get a customer invoice draft by id",
        "description": "Get a specific customer invoice draft by its unique identifier. The response will include the invoice draft details, such as customer information, rows, totals and attachments.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "parameters": [
          {
            "name": "invoiceDraftId",
            "in": "path",
            "description": "Id of the draft",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInvoiceDraftApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/customerinvoicedrafts/dryrun": { },
    "/customerinvoicedrafts/{customerInvoiceDraftId}": {
      "put": {
        "tags": [
          "CustomerInvoiceDrafts"
        ],
        "summary": "Replace the data in a customer invoice draft",
        "description": "Replace an existing customer invoice draft's data with the provided new data. The draft must already exist in the system.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales",
        "parameters": [
          {
            "name": "customerInvoiceDraftId",
            "in": "path",
            "description": "This is the id of the draft to update",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInvoiceDraftApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer invoice draft updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInvoiceDraftApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CustomerInvoiceDrafts"
        ],
        "summary": "Delete a customer invoice draft",
        "description": "Delete an existing customer invoice draft.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales",
        "parameters": [
          {
            "name": "customerInvoiceDraftId",
            "in": "path",
            "description": "The id of the draft you want to delete",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer invoice draft deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/customerinvoicedrafts/{customerInvoiceDraftId}/convert": {
      "post": {
        "tags": [
          "CustomerInvoiceDrafts"
        ],
        "summary": "Convert a CustomerInvoiceDraft to a CustomerInvoice",
        "description": "Convert an existing customer invoice draft to a customer invoice.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales",
        "parameters": [
          {
            "name": "customerInvoiceDraftId",
            "in": "path",
            "description": "Id of the draft you want to convert",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "keepOriginalDraftDate",
            "in": "query",
            "description": "Set to true so invoice date matches draft date",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "overrideCompanyKeepOriginalDraftDate",
            "in": "query",
            "description": "Set to true to override company settings for draft date",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInvoiceDraftValidationApi"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer invoice created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInvoiceApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/customerinvoices/{creditInvoiceId}/offset/candidates": { },
    "/customerinvoices/{creditInvoiceId}/offset": { },
    "/customerinvoices": {
      "get": {
        "tags": [
          "CustomerInvoices"
        ],
        "summary": "Get all customer invoices",
        "description": "Get all customer invoices, or add query parameters to filter the results. The response will include a list of customer invoices with their details, such as customer information, rows, totals, and payment status.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "parameters": [
          {
            "name": "modifiedSinceUtc",
            "in": "query",
            "description": "Used to get the invoices which have been modified since a prompted date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfCustomerInvoiceApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomerInvoices"
        ],
        "summary": "Create a single customer invoice",
        "description": "Create a new customer invoice.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "parameters": [
          {
            "name": "rotReducedAutomaticDistribution",
            "in": "query",
            "description": "Used for the automatic distribution per person of the rot reduced invoicing amount",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInvoiceApi"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInvoiceApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/customerinvoices/statistics": { },
    "/customerinvoices/bookkeepingevents": { },
    "/customerinvoices/bookkeepingevents/{bankTransactionId}": { },
    "/customerinvoices/{invoiceId}": {
      "get": {
        "tags": [
          "CustomerInvoices"
        ],
        "summary": "Gets a customer invoice with a specific id",
        "description": "Get a specific customer invoice by its unique identifier. The response will include the invoice details, such as customer information, rows, totals, and payment status.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "Customer invoice id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerInvoiceApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/customerinvoices/{invoiceId}/pdf": {
      "get": {
        "tags": [
          "CustomerInvoices"
        ],
        "summary": "Gets a customer invoice in Portable Document Format (PDF)",
        "description": "Get a customer invoice in PDF format.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "Customer invoice id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceUrlApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/customerinvoices/{invoiceId}/payments": {
      "post": {
        "tags": [
          "CustomerInvoices"
        ],
        "summary": "Post a customer invoice payment",
        "description": "Create a payment for a customer invoice. The payment will be posted in the general ledger.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "Customer invoice id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoicePaymentApi"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicePaymentApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/customerinvoices/dryrun": { },
    "/customerinvoices/{invoiceId}/emailsettings": { },
    "/customerinvoices/{invoiceId}/email": {
      "post": {
        "tags": [
          "CustomerInvoices"
        ],
        "summary": "Send an invoice via email",
        "description": "Send an invoice by email.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "Customer invoice id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/customerinvoices/{invoiceId}/einvoice": {
      "post": {
        "tags": [
          "CustomerInvoices"
        ],
        "summary": "Send an invoice electronically",
        "description": "Send an invoice by e-invoice.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "Customer invoice id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ElectronicInvoiceRequestApi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/customerinvoices/{invoiceId}/paymentreminders": {
      "post": {
        "tags": [
          "CustomerInvoices"
        ],
        "summary": "Send an a payment reminder for an invoice",
        "description": "Send a payment reminder email to an overdue invoice.\r\n<br><br>\r\n___\r\n Requires any of the following scopes: \r\n* ea:sales\r\n* ea:sales_readonly",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "Customer invoice id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentReminderEmailApi"
              }
            }
          }
        },
[...]
