openapi: 3.2.0
info:
  title: Visma.net ERP Number Sequence API
  version: v1
servers:
- url: https://api.finance.visma.net
tags:
- name: NumberSequence
paths:
  /v1/numberSequence/{numberingId}:
    get:
      tags:
      - NumberSequence
      summary: Get a specific Numbering
      operationId: NumberSequence_GetBynumberingId
      parameters:
      - name: numberingId
        in: path
        description: Identifies the Numbering
        required: true
        schema:
          type: string
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberingDto'
            text/json:
              schema:
                $ref: '#/components/schemas/NumberingDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/NumberingDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/NumberingDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
  /v1/numberSequence:
    get:
      tags:
      - NumberSequence
      summary: Get a specific Numbering - ScreenId=CS201010
      operationId: NumberSequence_GetAll
      parameters:
      - name: erp-api-background
        in: header
        description: 'Accepts the request and queues it to be executed in the background by our least busy worker. Responds with 202 Accepted and a document containing a JobId reference and details state location.

          Supported values:

          * a URL: when the background operation is finished, a notification will be posted to the URL with a document containing a reference id, status code and a details state location.

          * "none" (without quotes): Fire and forget; no notification will be sent when background operation is finished.

          * "subscription[:<name_1>=<value_1>,..,<name_n>=<value_n>]" (without quotes): when the background operation is finsihed, a notification is posted to the Webhook subscription set up in Developer Portal for your integration client.

          Optionally a set of name-value pairs can be added. These will be sent as headers in the POST request to the Webhook subscription''s url.


          To find status and details of a background-api operation, GET .. v1/background/{id}. To get the response payload of a background-api operation, if any, GET .. v1/background/{id}/content'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NumberingDto'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NumberingDto'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NumberingDto'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NumberingDto'
        '202':
          description: Server accepted and queued the request for background execution.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/json:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            application/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
            text/xml:
              schema:
                $ref: '#/components/schemas/BackgroundApiAcceptedDto'
      security:
      - interactiveapi: []
components:
  schemas:
    NumberingSequenceDto:
      type: object
      properties:
        numberingId:
          type: string
          description: 'Mandatory field: The top part &gt; Numbering ID &gt; The unique ID of the numbering series, which is an alphanumeric string of up to 10 characters.'
        branch:
          $ref: '#/components/schemas/branchInNumberingSequenceDto'
        startNbr:
          type: string
          description: 'Mandatory field: The table &gt; Start number* &gt; The number to be used first in this numbering series or subsequence.'
        endNbr:
          type: string
          description: 'Mandatory field: The table &gt; End number* &gt; The number to be used at the end of this series. The end number cannot be less than the Start number.'
        startDate:
          type: string
          description: 'Mandatory field: The table &gt; Start dat*e &gt; The date when this series will first be used.'
          format: date-time
        lastNbr:
          type: string
          description: 'Mandatory field: The table &gt; Last number* &gt; The most recent allocated number used for an object in this series.'
        warnNbr:
          type: string
          description: 'Mandatory field: The table &gt; Warning number* &gt; The minimum number that triggers a warning that available numbers will be used up soon.'
        nbrStep:
          type: integer
          description: 'Mandatory field: The table &gt; Numbering step* &gt; The increment this series uses to generate the next number.'
          format: int32
        nextNumber:
          type: string
          description: Next number that will be assigned
    branchInNumberingSequenceDto:
      properties:
        number:
          type: string
          description: Click the magnifier. &gt; The identifier.
        name:
          type: string
          description: Click the magnifier. &gt; The name.
      description: The table &gt; Branch &gt; The branch using the numbering series.
    BackgroundApiAcceptedDto:
      type: object
      properties:
        id:
          type: string
        stateLocation:
          type: string
    NumberingDto:
      type: object
      properties:
        numberingId:
          type: string
          description: 'Mandatory field: The top part &gt; Numbering ID &gt; The unique ID of the numbering series, which is an alphanumeric string of up to 10 characters.'
        description:
          type: string
          description: 'Mandatory field: The top part &gt; Description* &gt; The description of the numbering series.'
        manualNumbering:
          type: boolean
          description: The top part &gt; Manual numbering &gt; A check box that indicates (if selected) that the system will not generate numbers for the series and users will need to specify document numbers manually.
        newNumberSymbol:
          type: string
          description: 'Mandatory field: The top part &gt; New number symbol* &gt; An alphanumeric string used to indicate that a new number for an object will be assigned.'
        sequence:
          type: array
          items:
            $ref: '#/components/schemas/NumberingSequenceDto'
  securitySchemes:
    interactiveapi:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://connect.visma.com/connect/authorize
          tokenUrl: https://connect.visma.com/connect/token
          scopes:
            vismanet_erp_interactive_api:read: vismanet_erp_interactive_api:read
            vismanet_erp_interactive_api:update: vismanet_erp_interactive_api:update
            vismanet_erp_interactive_api:create: vismanet_erp_interactive_api:create
            vismanet_erp_interactive_api:delete: vismanet_erp_interactive_api:delete
            vismanet_erp_interactive_api:ui-extension: vismanet_erp_interactive_api:ui-extension
