{
  "openapi": "3.0.4",
  "info": {
    "title": "Spiris Lön API V2",
    "description": "Visit our complete [Spiris Lön/Cloud Payroll API docs](https://developer.vismaonline.com) for how to get started, more information about authentication, error handling, query customization and more.",
    "contact": {
      "email": "api@spiris.se"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://vlsapi.vismaonline.com/"
    }
  ],
  "paths": {
    "/v2/agreements": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Get agreements",
        "description": "Get all agreements or add query parameters to filter the results.  The response will include a paginated list of agreements.\r\n  \r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfAgreementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Agreements"
        ],
        "summary": "Creates an agreement.",
        "description": "Creates an agreement.\r\n\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateAgreementRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agreements/{agreementId}": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Get agreement by id",
        "description": " Gets an agreement by specified id.\r\n\r\n",
        "parameters": [
          {
            "name": "agreementId",
            "in": "path",
            "description": "Id of the agreement",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The agreement with the specified id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/breakrules": {
      "get": {
        "tags": [
          "BreakRule"
        ],
        "summary": "Get break rules",
        "description": "Get all break rules or add query parameters to filter the results. The response will include a paginated list of break rules.\r\n\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfBreakRuleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "BreakRule"
        ],
        "summary": "Create a break rule",
        "description": "Create a break rule with properties specified in the request body\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateBreakRuleRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BreakRuleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/breakrules/{breakRuleId}": {
      "get": {
        "tags": [
          "BreakRule"
        ],
        "summary": "Get break rule by id",
        "description": "Gets a specific break rule by ID. Query options can be applied to customize the response. The response contains the requested break rule.\r\n\r\n\r\n",
        "parameters": [
          {
            "name": "breakRuleId",
            "in": "path",
            "description": "The Id of the break rule",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BreakRuleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/careofsickchild": {
      "post": {
        "tags": [
          "CareOfSickChild"
        ],
        "summary": "Create a care of sick child shortcut",
        "description": "Create a new care of sick child shortcut for an employee. The shortcut will be registered based on the specified registration method (time, hours, or percentage). If the end date is in a different month than the start date, the shortcut will be split into separate shortcuts for each month.\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CareOfSickChildRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CareOfSickChildResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/careofsickchild/{shortcutId}": {
      "get": {
        "tags": [
          "CareOfSickChild"
        ],
        "summary": "Get a care of sick child shortcut by id",
        "description": "Get a specific care of sick child shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The care of sick child shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CareOfSickChildResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CareOfSickChild"
        ],
        "summary": "Update a care of sick child shortcut",
        "description": "Update an existing care of sick child shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CareOfSickChildRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CareOfSickChildResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CareOfSickChild"
        ],
        "summary": "Delete a care of sick child shortcut",
        "description": "Delete a care of sick child shortcut by its unique identifier. Only shortcuts that have not been read (imported by a payroll administrator) can be deleted. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/careofsickchild/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "CareOfSickChild"
        ],
        "summary": "Get care of sick child shortcuts between dates",
        "description": "Get all care of sick child shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CareOfSickChildResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/migration/companysettings": { },
    "/v2/migration/company/completeguide": { },
    "/v2/migration/company/mtmigrationguidestatuscompleted": { },
    "/v2/migration/company/guidestate": { },
    "/v2/migration/employees": { },
    "/v2/migration/employees/{employeeId}": { },
    "/v2/employees": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Get all employees",
        "description": "Retrieves a paginated list of all employees in the company. \r\nYou can use query options ($filter, $select, $orderby, $top, $skip) to customize your request.\r\nThe endpoint includes both active and draft employees but excludes deleted employees. Limited employees are also included in the results.\r\n\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfEmployeeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Employees"
        ],
        "summary": "Create employee",
        "description": "Create employee in this company.\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateEmployeeRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmployeeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/employees/{employeeId}": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Get employee by id",
        "description": "Retrieves a specific employee by their unique identifier. The response includes comprehensive employee information such as personal details, contact information, address, employment status and other associated information.\nYou can use OData query options like `$select` to retrieve only specific fields from the employee record.\n\n\r\n\r\n",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Id of the employee",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/employees/{employeeId}/workschedules": {
      "post": {
        "tags": [
          "Employees"
        ],
        "summary": "Create employee work schedule",
        "description": "Add a work schedule to an employee.\r\n\r\n",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Id of employee",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddWorkScheduleToEmployeeRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddWorkScheduleToEmployeeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/employees/{employeeId}/agreements": {
      "post": {
        "tags": [
          "Employees"
        ],
        "summary": "Create employee agreement",
        "description": "Add an agreement to an employee.\r\n\r\n",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Id of employee",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddAgreementToEmployeeRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddAgreementToEmployeeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/externalperiods": {
      "get": {
        "tags": [
          "ExternalPeriods"
        ],
        "summary": "Get external periods",
        "description": "Get external periods.\n\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfExternalPeriodResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ExternalPeriods"
        ],
        "summary": "Create an external period",
        "description": "Create an external period.\n\nThe request is validated as follows:\n\n- A project/cost-center distribution is required.\n- Within each of `Project`, `CostCenter1`, `CostCenter2` and `CostCenter3`, percentages must be non-negative and total at most 100%. An allocation with a percentage of 0 is kept and applied as a 0% row on the payslip; it is not discarded.\n- Referenced projects and cost center items must exist on the company, and each cost center item must belong to the cost center dimension it is supplied under.\n- For requests that carry a project/cost-center distribution, `DeviationPeriodToDate` must match the employee's payroll period settings (the last day of a month, or the company's configured payment period day).\n- The period cannot be earlier than the employee's latest locked payslip.\n\nA validation failure returns `400 Bad Request` with a message describing the failing rule.\n\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExternalPeriodRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPeriodResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/externalperiods/{externalPeriodId}": {
      "get": {
        "tags": [
          "ExternalPeriods"
        ],
        "summary": "Get external period by unique identifier",
        "description": "Get external period by unique identifier.\n\r\n\r\n",
        "parameters": [
          {
            "name": "externalPeriodId",
            "in": "path",
            "description": "The external period unique identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPeriodResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ExternalPeriods"
        ],
        "summary": "Delete an external period",
        "description": "Delete an external period.\n\r\n\r\n",
        "parameters": [
          {
            "name": "externalPeriodId",
            "in": "path",
            "description": "The external period unique identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/externalperiods/{employeeId}/{deviationDate}": {
      "get": {
        "tags": [
          "ExternalPeriods"
        ],
        "summary": "Get external period by employee and deviation date",
        "description": "Get external period by employee and deviation date.\n\r\n\r\n",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "The unique identifier of the employee",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "deviationDate",
            "in": "path",
            "description": "The deviation date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalPeriodResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/holiday": {
      "post": {
        "tags": [
          "Holiday"
        ],
        "summary": "Create a holiday shortcut",
        "description": "Create a new holiday shortcut for an employee. The shortcut will be registered based on the specified registration method (time, hours or percentage).\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HolidayRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/holiday/{shortcutId}": {
      "get": {
        "tags": [
          "Holiday"
        ],
        "summary": "Get a holiday shortcut by id",
        "description": "Get a specific holiday shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The holiday shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Holiday"
        ],
        "summary": "Update a holiday shortcut",
        "description": "Update an existing holiday shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HolidayRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Holiday"
        ],
        "summary": "Delete a holiday shortcut",
        "description": "Delete a holiday shortcut by its unique identifier. Only shortcuts that have not been read (imported by a payroll administrator) can be deleted. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/holiday/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "Holiday"
        ],
        "summary": "Get holiday shortcuts between dates",
        "description": "Get all holiday shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HolidayResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/hoursworked": {
      "post": {
        "tags": [
          "HoursWorked"
        ],
        "summary": "Create an hours worked shortcut",
        "description": "Create a new hours worked shortcut for an employee. The shortcut will be registered based on the specified registration method (time or hours).\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HoursWorkedRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoursWorkedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/hoursworked/{shortcutId}": {
      "get": {
        "tags": [
          "HoursWorked"
        ],
        "summary": "Get an hours worked shortcut by id",
        "description": "Get a specific hours worked shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The hours worked shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoursWorkedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "HoursWorked"
        ],
        "summary": "Update an hours worked shortcut",
        "description": "Update an existing hours worked shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HoursWorkedRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoursWorkedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HoursWorked"
        ],
        "summary": "Delete an hours worked shortcut",
        "description": "Delete an hours worked shortcut by its unique identifier. Only shortcuts that have not been read (imported by a payroll administrator) can be deleted. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/hoursworked/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "HoursWorked"
        ],
        "summary": "Get hours worked shortcuts between dates",
        "description": "Get all hours worked shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HoursWorkedResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/migration/migrationStatus": { },
    "/v2/shortcuts/otherabsence": {
      "post": {
        "tags": [
          "OtherAbsence"
        ],
        "summary": "Create an other absence shortcut",
        "description": "Create a new other absence shortcut for an employee. The shortcut will be registered based on the specified registration method (time, hours or percentage).\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OtherAbsenceRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherAbsenceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/otherabsence/{shortcutId}": {
      "get": {
        "tags": [
          "OtherAbsence"
        ],
        "summary": "Get an other absence shortcut by id",
        "description": "Get a specific other absence shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The other absence shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherAbsenceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "OtherAbsence"
        ],
        "summary": "Update an other absence shortcut",
        "description": "Update an existing other absence shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OtherAbsenceRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherAbsenceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "OtherAbsence"
        ],
        "summary": "Delete an other absence shortcut",
        "description": "Delete an other absence shortcut by its unique identifier. Only shortcuts that have not been read (imported by a payroll administrator) can be deleted. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/otherabsence/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "OtherAbsence"
        ],
        "summary": "Get other absence shortcuts between dates",
        "description": "Get all other absence shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OtherAbsenceResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/otheradditiondeduction": {
      "post": {
        "tags": [
          "OtherAdditionDeduction"
        ],
        "summary": "Create other addition and deduction shortcut",
        "description": "Create a new other addition and deduction shortcut for an employee. The shortcut will be registered for specified date based on provided rows.\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OtherAdditionDeductionRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherAdditionDeductionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/otheradditiondeduction/{shortcutId}": {
      "get": {
        "tags": [
          "OtherAdditionDeduction"
        ],
        "summary": "Get other addition and deduction shortcut by id",
        "description": "Get a specific other addition and deduction shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The other addition and deduction shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherAdditionDeductionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "OtherAdditionDeduction"
        ],
        "summary": "Update other addition and deduction shortcut",
        "description": "Update an existing other addition and deduction shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OtherAdditionDeductionRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherAdditionDeductionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "OtherAdditionDeduction"
        ],
        "summary": "Delete other addition and deduction shortcut",
        "description": "Delete other addition and deduction shortcut by its unique identifier. Only shortcuts that have not been read (imported by a payroll administrator) can be deleted. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/otheradditiondeduction/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "OtherAdditionDeduction"
        ],
        "summary": "Get other addition and deduction shortcuts between dates",
        "description": "Get all other addition and deduction shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OtherAdditionDeductionResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/overtime": {
      "post": {
        "tags": [
          "Overtime"
        ],
        "summary": "Create an overtime shortcut",
        "description": "Create a new overtime shortcut for an employee. The shortcut will be registered based on the specified registration method (time or hours).\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OvertimeRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OvertimeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/overtime/{shortcutId}": {
      "get": {
        "tags": [
          "Overtime"
        ],
        "summary": "Get an overtime shortcut by id",
        "description": "Get a specific overtime shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The overtime shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OvertimeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Overtime"
        ],
        "summary": "Update an overtime shortcut",
        "description": "Update an existing overtime shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OvertimeRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OvertimeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Overtime"
        ],
        "summary": "Delete an overtime shortcut",
        "description": "Delete an overtime shortcut by its unique identifier. Only shortcuts that have not been read (imported by a payroll administrator) can be deleted. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/overtime/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "Overtime"
        ],
        "summary": "Get overtime shortcuts between dates",
        "description": "Get all overtime shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OvertimeResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/parentalleave": {
      "post": {
        "tags": [
          "ParentalLeave"
        ],
        "summary": "Create a parental leave shortcut",
        "description": "Create a new parental leave shortcut for an employee. The shortcut will be registered based on the specified registration method (time, hours or percentage).\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ParentalLeaveRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParentalLeaveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/parentalleave/{shortcutId}": {
      "get": {
        "tags": [
          "ParentalLeave"
        ],
        "summary": "Get a parental leave shortcut by id",
        "description": "Get a specific parental leave shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The parental leave shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParentalLeaveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ParentalLeave"
        ],
        "summary": "Update a parental leave shortcut",
        "description": "Update an existing parental leave shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ParentalLeaveRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParentalLeaveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ParentalLeave"
        ],
        "summary": "Delete a parental leave shortcut",
        "description": "Delete a parental leave shortcut by its unique identifier. Only shortcuts that have not been read (imported by a payroll administrator) can be deleted. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/parentalleave/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "ParentalLeave"
        ],
        "summary": "Get parental leave shortcuts between dates",
        "description": "Get all parental leave shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ParentalLeaveResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/paycodes": {
      "get": {
        "tags": [
          "Paycodes"
        ],
        "summary": "Gets paycodes",
        "description": "Get all paycodes. Use query parameters to filter the results.\r\n\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfPayCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/paycodes/{paycodeId}": {
      "get": {
        "tags": [
          "Paycodes"
        ],
        "summary": "Gets a paycode by id",
        "description": "Get a specific paycode by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n\r\n",
        "parameters": [
          {
            "name": "paycodeId",
            "in": "path",
            "description": "Id of desired paycode",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayCodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/paycodes/travelandexpense": {
      "get": {
        "tags": [
          "Paycodes"
        ],
        "summary": "Gets paycodes to use for travel and expense shortcut.",
        "description": "Gets paycodes to use for travel and expense shortcut.\r\nUse query parameters to select specific properties in the response.\r\nResponse  containing lists of paycodes grouped by these categories: ReimbursmentPaycodes, AllowancePaycodes, BenefitPaycodes, CompensationPaycodes.\r\n\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelAndExpensePaycodesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/paycodes/otheradditiondeduction": {
      "get": {
        "tags": [
          "Paycodes"
        ],
        "summary": "Gets paycodes to use for other addition deduction shortcut.",
        "description": "Gets paycodes to use for other addition deduction shortcut. \r\nUse query parameters to select specific properties in the response.\r\nResponse containing lists of paycodes grouped by these categories: CompensationPaycodes, DeductionPaycodes, BenefitPaycodes, AdjustmentTaxPaycodes\r\n\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherAdditionDeductionPaycodesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payrollsettings": {
      "get": {
        "tags": [
          "PayrollSettings"
        ],
        "summary": "Get payroll settings.",
        "description": "Get the payroll settings or NotFound status if using modifiedSinceUtc parameter and no results have been found after that date.\r\n\r\n",
        "parameters": [
          {
            "name": "modifiedSinceUtc",
            "in": "query",
            "description": "Only return payroll settings if they have been changed after the date. Otherwise returns NotFound status.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayrollSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payslips/wagerun/{wagerunId}": {
      "get": {
        "tags": [
          "Payslips"
        ],
        "summary": "Gets payslips for specified wage run",
        "description": "Gets the payslips for a wagerun. Use query options ($filter, $select, $orderby, $top, $skip) to customize your request.\r\n    \r\n\r\n",
        "parameters": [
          {
            "name": "wagerunId",
            "in": "path",
            "description": "Id of wage run which payslips to return.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfPayslipResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payslips/{payslipId}": {
      "get": {
        "tags": [
          "Payslips"
        ],
        "summary": "Gets payslip by id",
        "description": "Gets a payslip by id. Use query parameters to select specific properties in the response.\r\n\r\n\r\n",
        "parameters": [
          {
            "name": "payslipId",
            "in": "path",
            "description": "Id of wanted payslip.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayslipResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/payslips/{employeeId}/withdetails": {
      "get": {
        "tags": [
          "Payslips"
        ],
        "summary": "Gets all employees payslips with employee details",
        "description": "Get all payslips, both open and locked, with details on an employee. Use query options ($filter, $select, $orderby, $top, $skip) to customize your request.\r\nPayslip includes net, gross salaries and preliminary tax.\r\n\r\n",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Id of employee which payslips to return.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfPayslipDetailedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/migration/reportSettings/foramonthlyfok": { },
    "/v2/migration/reportSettings/bygglosen": { },
    "/v2/shortcuts/sickleave": {
      "post": {
        "tags": [
          "SickLeave"
        ],
        "summary": "Create a sick leave shortcut",
        "description": "Create a new sick leave shortcut for an employee. The shortcut will be registered based on the specified registration method (time, hours, or percentage). If the end date is in a different month than the start date, the shortcut will be split into separate shortcuts for each month.\r\n\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SickLeaveRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SickLeaveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/sickleave/{shortcutId}": {
      "get": {
        "tags": [
          "SickLeave"
        ],
        "summary": "Get a sick leave shortcut by id",
        "description": "Get a specific sick leave shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The sick leave shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SickLeaveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "SickLeave"
        ],
        "summary": "Update a sick leave shortcut",
        "description": "Update an existing sick leave shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SickLeaveRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SickLeaveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SickLeave"
        ],
        "summary": "Delete a sick leave shortcut",
        "description": "Delete a sick leave shortcut by its unique identifier. Only shortcuts that have not been read (imported by a payroll administrator) can be deleted. The shortcut must belong to the same third-party client that created it.\r\n\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/sickleave/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "SickLeave"
        ],
        "summary": "Get sick leave shortcuts between dates",
        "description": "Get all sick leave shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SickLeaveResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/timebank": {
      "post": {
        "tags": [
          "TimeBank"
        ],
        "summary": "Create a timebank shortcut",
        "description": "Create a new timebank shortcut for an employee. The shortcut will be registered based on the specified registration method (time or hours).\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TimeBankRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeBankResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/timebank/{shortcutId}": {
      "get": {
        "tags": [
          "TimeBank"
        ],
        "summary": "Get a timebank shortcut by id",
        "description": "Get a specific timebank shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The timebank shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeBankResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "TimeBank"
        ],
        "summary": "Update a timebank shortcut",
        "description": "Update an existing timebank shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TimeBankRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeBankResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "TimeBank"
        ],
        "summary": "Delete a timebank shortcut",
        "description": "Delete a timebank shortcut by its unique identifier. Only shortcuts that have not been read (imported by a payroll administrator) can be deleted. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/timebank/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "TimeBank"
        ],
        "summary": "Get timebank shortcuts between dates",
        "description": "Get all timebank shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeBankResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/timeruleannualdates": {
      "get": {
        "tags": [
          "TimeRuleAnnualDates"
        ],
        "summary": "Get time rule annual dates",
        "description": "Get all time rule annual dates or add query parameters to filter the results. The response will include a collection of matched time rule annual dates with their information such as unique identifier, name, etc.\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfTimeRuleAnnualDateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "TimeRuleAnnualDates"
        ],
        "summary": "Create an annual date for time rule",
        "description": "Create a new time rule annual date for a company. The annual date will be registered based on supplied information.\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TimeRuleAnnualDateRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeRuleAnnualDateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/timeruleannualdates/{timeRuleAnnualDateId}": {
      "get": {
        "tags": [
          "TimeRuleAnnualDates"
        ],
        "summary": "Get time rule annual date by unique identifier",
        "description": "Get time rule annual date by specific identifier. The response will include a time rule annual date (if it's found) information such as unique identifier, name, etc.\r\n\r\n",
        "parameters": [
          {
            "name": "timeRuleAnnualDateId",
            "in": "path",
            "description": "Time rule annual date unique identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeRuleAnnualDateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shortcuts/travelandexpense": {
      "post": {
        "tags": [
          "TravelAndExpense"
        ],
        "summary": "Create a travel and expense shortcut",
        "description": "Create a new travel and expense shortcut for an employee. The shortcut will be registered for specified date based on provided rows.\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TravelAndExpenseRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelAndExpenseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
[...]
