{
  "openapi": "3.0.4",
  "info": {
    "title": "Spiris Lön API V1",
    "description": "Visit our complete [Spiris Lön/Cloud Payroll API docs](https://developer.vismaonline.com) for how to get started, more information about authentication, error handling, query customization and more.",
    "contact": {
      "email": "api@spiris.se"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://vlsapi.vismaonline.com/"
    }
  ],
  "paths": {
    "/v1/agreements": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Get agreements",
        "description": "Get all agreements or add query parameters to filter the results.  The response will include a paginated list of agreements.\r\n  \r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfAgreementApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agreements/{agreementId}": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Get agreement by id",
        "description": " Gets an agreement by specified id.\r\n\r\n",
        "parameters": [
          {
            "name": "agreementId",
            "in": "path",
            "description": "Id of the agreement",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/breakrules": {
      "get": {
        "tags": [
          "BreakRule"
        ],
        "summary": "Get break rules",
        "description": "Get all break rules or add query parameters to filter the results. The response will include a paginated list of break rules.\r\n\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfBreakRuleApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/breakrules/{breakRuleId}": {
      "get": {
        "tags": [
          "BreakRule"
        ],
        "summary": "Get break rule by id",
        "description": "Gets a specific break rule by ID. Query options can be applied to customize the response. The response contains the requested break rule.\r\n\r\n\r\n",
        "parameters": [
          {
            "name": "breakRuleId",
            "in": "path",
            "description": "The Id of the break rule",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BreakRuleApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/careofsickchild": {
      "post": {
        "tags": [
          "CareOfSickChildren"
        ],
        "summary": "Create a care of sick child shortcut",
        "description": "Create a new care of sick child shortcut for an employee. The shortcut will be registered based on the specified registration method (time, hours, or percentage). If the end date is in a different month than the start date, the shortcut will be split into separate shortcuts for each month.\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CareOfSickChildApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CareOfSickChildApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/careofsickchild/{careOfSickChildId}": {
      "get": {
        "tags": [
          "CareOfSickChildren"
        ],
        "summary": "Get a care of sick child shortcut by id",
        "description": "Get a specific care of sick child shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "careOfSickChildId",
            "in": "path",
            "description": "The care of sick child shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CareOfSickChildApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/careofsickchild/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "CareOfSickChildren"
        ],
        "summary": "Get care of sick child shortcuts between dates",
        "description": "Get all care of sick child shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CareOfSickChildApi"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/careofsickchild/{id}": {
      "put": {
        "tags": [
          "CareOfSickChildren"
        ],
        "summary": "Update a care of sick child shortcut",
        "description": "Update an existing care of sick child shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CareOfSickChildApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CareOfSickChildApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companysettings": { },
    "/v1/employees": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Get all employees",
        "description": "Retrieves a paginated list of all employees in the company. \r\nYou can use query options ($filter, $select, $orderby, $top, $skip) to customize your request.\r\nThe endpoint includes both active and draft employees but excludes deleted employees. Limited employees are also included in the results.\r\n\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfEmployeeApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Get employee by id",
        "description": "Retrieves a specific employee by their unique identifier. The response includes comprehensive employee information such as personal details, contact information, address, employment status and other associated information.\nYou can use OData query options like `$select` to retrieve only specific fields from the employee record.\n\n\r\n\r\n",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Id of the employee",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/employees/{employeeId}/workschedules": { },
    "/v1/employees/{employeeId}/agreements": { },
    "/v1/externalperiod/{employeeId}/{deviationDate}": { },
    "/v1/externalperiod": { },
    "/v1/externalperiod/{externalPeriodId}": { },
    "/v1/heartbeat": { },
    "/v1/shortcuts/holiday": {
      "post": {
        "tags": [
          "Holiday"
        ],
        "summary": "Create a holiday shortcut",
        "description": "Create a new holiday shortcut for an employee. The shortcut will be registered based on the specified registration method (time, hours or percentage).\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HolidayApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidayApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/holiday/{holidayId}": {
      "get": {
        "tags": [
          "Holiday"
        ],
        "summary": "Get a holiday shortcut by id",
        "description": "Get a specific holiday shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "holidayId",
            "in": "path",
            "description": "The holiday shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidayApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/holiday/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "Holiday"
        ],
        "summary": "Get holiday shortcuts between dates",
        "description": "Get all holiday shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HolidayApi"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/holiday/{id}": {
      "put": {
        "tags": [
          "Holiday"
        ],
        "summary": "Update a holiday shortcut",
        "description": "Update an existing holiday shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HolidayApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidayApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/hoursworked": {
      "post": {
        "tags": [
          "HoursWorked"
        ],
        "summary": "Create a hours worked shortcut",
        "description": "Create a new hours worked shortcut for an employee. The shortcut will be registered based on the specified registration method (time or hours).\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HoursWorkedApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoursWorkedApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/hoursworked/{hoursWorkedId}": {
      "get": {
        "tags": [
          "HoursWorked"
        ],
        "summary": "Get a hours worked shortcut by id",
        "description": "Get a specific hours worked shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "hoursWorkedId",
            "in": "path",
            "description": "The hours worked shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoursWorkedApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/hoursworked/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "HoursWorked"
        ],
        "summary": "Get hours worked shortcuts between dates",
        "description": "Get all hours worked shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HoursWorkedApi"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/hoursworked/{id}": {
      "put": {
        "tags": [
          "HoursWorked"
        ],
        "summary": "Update a hours worked shortcut",
        "description": "Update an existing hours worked shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HoursWorkedApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoursWorkedApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/migrationStatus": { },
    "/v1/notifications/failed": { },
    "/v1/shortcuts/otherabsence": {
      "post": {
        "tags": [
          "OtherAbsence"
        ],
        "summary": "Create an other absence shortcut",
        "description": "Create a new other absence shortcut for an employee. The shortcut will be registered based on the specified registration method (time, hours or percentage).\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OtherAbsenceApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherAbsenceApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/otherabsence/{otherAbsenceId}": {
      "get": {
        "tags": [
          "OtherAbsence"
        ],
        "summary": "Get an other absence shortcut by id",
        "description": "Get a specific other absence shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "otherAbsenceId",
            "in": "path",
            "description": "The other absence shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherAbsenceApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/otherabsence/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "OtherAbsence"
        ],
        "summary": "Get other absence shortcuts between dates",
        "description": "Get all other absence shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OtherAbsenceApi"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/otherabsence/{id}": {
      "put": {
        "tags": [
          "OtherAbsence"
        ],
        "summary": "Update an other absence shortcut",
        "description": "Update an existing other absence shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OtherAbsenceApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherAbsenceApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/otheradditiondeduction": {
      "post": {
        "tags": [
          "OtherAdditionDeduction"
        ],
        "summary": "Create an other addition deduction shortcut",
        "description": "Create a new other addition and deduction shortcut for an employee. The shortcut will be registered for specified date based on provided rows.\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OtherAdditionDeductionApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherAdditionDeductionApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/otheradditiondeduction/{otheradditiondeductionId}": {
      "get": {
        "tags": [
          "OtherAdditionDeduction"
        ],
        "summary": "Get an other addition deduction shortcut by id",
        "description": "Get a specific other addition and deduction shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "otherAdditionDeductionId",
            "in": "path",
            "description": "The other addition deduction shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherAdditionDeductionApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/otheradditiondeduction/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "OtherAdditionDeduction"
        ],
        "summary": "Get other addition deduction shortcuts between dates",
        "description": "Get all other addition and deduction shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OtherAdditionDeductionApi"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/otherAdditionDeduction/{id}": {
      "put": {
        "tags": [
          "OtherAdditionDeduction"
        ],
        "summary": "Update an other addition deduction shortcut",
        "description": "Update an existing other addition and deduction shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OtherAdditionDeductionApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherAdditionDeductionApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/overtime": {
      "post": {
        "tags": [
          "Overtime"
        ],
        "summary": "Create an overtime shortcut",
        "description": "Create a new overtime shortcut for an employee. The shortcut will be registered based on the specified registration method (time or hours).\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OvertimeApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OvertimeApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/overtime/{overtimeId}": {
      "get": {
        "tags": [
          "Overtime"
        ],
        "summary": "Get an overtime shortcut by id",
        "description": "Get a specific overtime shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "overtimeId",
            "in": "path",
            "description": "The overtime shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OvertimeApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/overtime/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "Overtime"
        ],
        "summary": "Get overtime shortcuts between dates",
        "description": "Get all overtime shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OvertimeApi"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/overtime/{id}": {
      "put": {
        "tags": [
          "Overtime"
        ],
        "summary": "Update an overtime shortcut",
        "description": "Update an existing overtime shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/OvertimeApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OvertimeApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/parentalLeave": {
      "post": {
        "tags": [
          "ParentalLeave"
        ],
        "summary": "Create a parental leave shortcut",
        "description": "Create a new parental leave shortcut for an employee. The shortcut will be registered based on the specified registration method (time, hours or percentage).\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ParentalLeaveApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParentalLeaveApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/parentalLeave/{parentalLeaveId}": {
      "get": {
        "tags": [
          "ParentalLeave"
        ],
        "summary": "Get a parental leave shortcut by id",
        "description": "Get a specific parental leave shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "parentalLeaveId",
            "in": "path",
            "description": "The parental leave shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParentalLeaveApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/parentalLeave/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "ParentalLeave"
        ],
        "summary": "Get parental leave shortcuts between dates",
        "description": "Get all parental leave shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ParentalLeaveApi"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/parentalLeave/{id}": {
      "put": {
        "tags": [
          "ParentalLeave"
        ],
        "summary": "Update a parental leave shortcut",
        "description": "Update an existing parental leave shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ParentalLeaveApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParentalLeaveApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/paycodes": {
      "get": {
        "tags": [
          "Paycodes"
        ],
        "summary": "Gets paycodes",
        "description": "Get all paycodes. Use query parameters to filter the results.\r\n\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfPaycodeApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/paycodes/{paycodeId}": {
      "get": {
        "tags": [
          "Paycodes"
        ],
        "summary": "Gets a paycode by id",
        "description": "Get a specific paycode by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n\r\n",
        "parameters": [
          {
            "name": "paycodeId",
            "in": "path",
            "description": "Id of desired paycode",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaycodeApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/paycodes/travelandexpense": {
      "get": {
        "tags": [
          "Paycodes"
        ],
        "summary": "Gets paycodes to use for travel and expense shortcut.",
        "description": "Gets paycodes to use for travel and expense shortcut.\r\nUse query parameters to select specific properties in the response.\r\nResponse  containing lists of paycodes grouped by these categories: ReimbursmentPaycodes, AllowancePaycodes, BenefitPaycodes, CompensationPaycodes.\r\n\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelAndExpensePaycodesApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/paycodes/otheradditiondeduction": {
      "get": {
        "tags": [
          "Paycodes"
        ],
        "summary": "Gets paycodes to use for other addition deduction shortcut.",
        "description": "Gets paycodes to use for other addition deduction shortcut. \r\nUse query parameters to select specific properties in the response.\r\nResponse containing lists of paycodes grouped by these categories: CompensationPaycodes, DeductionPaycodes, BenefitPaycodes, AdjustmentTaxPaycodes\r\n\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtherAdditionDeductionPaycodesApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payrollsettings": {
      "get": {
        "tags": [
          "PayrollSettings"
        ],
        "summary": "Get payroll settings.",
        "description": "Get the payroll settings or NotFound status if using modifiedSinceUtc parameter and no results have been found after that date.\r\n\r\n",
        "parameters": [
          {
            "name": "modifiedSinceUtc",
            "in": "query",
            "description": "Only return payroll settings if they have been changed after the date. Otherwise returns NotFound status.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayrollSettingsApi"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payslips/wagerun/{wagerunId}": {
      "get": {
        "tags": [
          "Payslips"
        ],
        "summary": "Gets payslips for specified wage run",
        "description": "Gets the payslips for a wagerun. Use query options ($filter, $select, $orderby, $top, $skip) to customize your request.\r\n    \r\n\r\n",
        "parameters": [
          {
            "name": "wagerunId",
            "in": "path",
            "description": "Id of wage run which payslips to return.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfPayslipApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payslips/{payslipId}": {
      "get": {
        "tags": [
          "Payslips"
        ],
        "summary": "Gets payslip by id",
        "description": "Gets a payslip by id. Use query parameters to select specific properties in the response.\r\n\r\n\r\n",
        "parameters": [
          {
            "name": "payslipId",
            "in": "path",
            "description": "Id of wanted payslip.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayslipApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payslips/{employeeId}/withdetails": { },
    "/v1/shortcutsoperations/{shortcutId}": {
      "delete": {
        "tags": [
          "Shortcuts"
        ],
        "summary": "Delete a shortcut",
        "description": "Delete a shortcut.\r\n\r\n",
        "parameters": [
          {
            "name": "shortcutId",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/sickleave": {
      "post": {
        "tags": [
          "SickLeave"
        ],
        "summary": "Create a sick leave shortcut",
        "description": "Create a new sick leave shortcut for an employee. The shortcut will be registered based on the specified registration method (time, hours, or percentage). If the end date is in a different month than the start date, the shortcut will be split into separate shortcuts for each month.\r\n\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SickLeaveApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SickLeaveApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/sickleave/{sickLeaveId}": {
      "get": {
        "tags": [
          "SickLeave"
        ],
        "summary": "Get a sick leave shortcut by id",
        "description": "Get a specific sick leave shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n\r\n",
        "parameters": [
          {
            "name": "sickLeaveId",
            "in": "path",
            "description": "The sick leave shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SickLeaveApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/sickleave/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "SickLeave"
        ],
        "summary": "Get sick leave shortcuts between dates",
        "description": "Get all sick leave shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SickLeaveApi"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/sickleave/{id}": {
      "put": {
        "tags": [
          "SickLeave"
        ],
        "summary": "Update a sick leave shortcut",
        "description": "Update an existing sick leave shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n\r\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SickLeaveApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SickLeaveApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/timebank": {
      "post": {
        "tags": [
          "Timebank"
        ],
        "summary": "Create a timebank shortcut",
        "description": "Create a new timebank shortcut for an employee. The shortcut will be registered based on the specified registration method (time or hours).\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TimebankApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimebankApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/timebank/{timebankId}": {
      "get": {
        "tags": [
          "Timebank"
        ],
        "summary": "Get a timebank shortcut by id",
        "description": "Get a specific timebank shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "timebankId",
            "in": "path",
            "description": "The timebank shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimebankApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/timebank/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "Timebank"
        ],
        "summary": "Get timebank shortcuts between dates",
        "description": "Get all timebank shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimebankApi"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/timebank/{id}": {
      "put": {
        "tags": [
          "Timebank"
        ],
        "summary": "Update a timebank shortcut",
        "description": "Update an existing timebank shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TimebankApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimebankApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/timeruleannualdates": {
      "get": {
        "tags": [
          "TimeRuleAnnualDates"
        ],
        "summary": "Get time rule annual dates",
        "description": "Get all time rule annual dates or add query parameters to filter the results. The response will include a collection of matched time rule annual dates with their information such as unique identifier, name, etc.\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfTimeRuleAnnualDateApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/timeruleannualdates/{timeRuleAnnualDateId}": {
      "get": {
        "tags": [
          "TimeRuleAnnualDates"
        ],
        "summary": "Get time rule annual date by unique identifier",
        "description": "Get time rule annual date by specific identifier. The response will include a time rule annual date (if it's found) information such as unique identifier, name, etc.\r\n\r\n",
        "parameters": [
          {
            "name": "timeRuleAnnualDateId",
            "in": "path",
            "description": "Time rule annual date unique identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeRuleAnnualDateApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/travelandexpense": {
      "post": {
        "tags": [
          "TravelAndExpense"
        ],
        "summary": "Create a travel and expense shortcut",
        "description": "Create a new travel and expense shortcut for an employee. The shortcut will be registered for specified date based on provided rows.\r\n\r\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TravelAndExpenseApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelAndExpenseApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/travelandexpense/{travelAndExpenseId}": {
      "get": {
        "tags": [
          "TravelAndExpense"
        ],
        "summary": "Get a travel and expense shortcut by id",
        "description": "Get a specific travel and expense shortcut by its unique identifier. Use query parameters to select specific properties in the response.\r\n\r\n",
        "parameters": [
          {
            "name": "travelAndExpenseId",
            "in": "path",
            "description": "The travel and expense shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelAndExpenseApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/travelandexpense/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "TravelAndExpense"
        ],
        "summary": "Get travel and expense shortcuts between dates",
        "description": "Get all travel and expense shortcuts within a specified date range. Use query parameters to filter the results or include only shortcuts created by the same client.\r\n\r\n",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "description": "Start date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "End date in format yyyy-MM-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeOnlySameClientShortcuts",
            "in": "query",
            "description": "If true, only includes shortcuts created by the same client",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TravelAndExpenseApi"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shortcuts/travelandexpense/{id}": {
      "put": {
        "tags": [
          "TravelAndExpense"
        ],
        "summary": "Update a travel and expense shortcut",
        "description": "Update an existing travel and expense shortcut by replacing its content. Only shortcuts that have not been read (imported by a payroll administrator) can be updated. The shortcut must belong to the same third-party client that created it.\r\n\r\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The shortcut id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TravelAndExpenseApi"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TravelAndExpenseApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wageruns": {
      "get": {
        "tags": [
          "Wageruns"
        ],
        "summary": "Get wage runs",
        "description": "Get all wage runs or add query parameters to filter the results. The response will include a collection of matched wage runs with their information such as wage run unique identifier, payment period dates, associated payslips, etc.\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfWagerunApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/wageruns/{wagerunId}": {
      "get": {
        "tags": [
          "Wageruns"
        ],
        "summary": "Get wage run by unique identifier",
        "description": "Get wage run by specific identifier. The response will include a wage run (if it's found) information such as wage run unique identifier, payment period dates, associated payslips, etc.\r\n\r\n",
        "parameters": [
          {
            "name": "wagerunId",
            "in": "path",
            "description": "Wage run unique identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WagerunApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workdayoverrides": {
      "get": {
        "tags": [
          "WorkDayOverride"
        ],
        "summary": "Get work day overrides",
        "description": "Get all work day overrides or add query parameters to filter the results. The response will include a collection of matched work day overrides with their information such as unique identifier, date, working times/duration, etc.\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfWorkDayOverrideApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workschedules": {
      "get": {
        "tags": [
          "WorkSchedules"
        ],
        "summary": "Get work schedules",
        "description": "Get all work schedules or add query parameters to filter the results. The response will include a collection of matched work schedules with their information such as unique identifier, date, working days, seasons, etc.\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfWorkScheduleApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workschedules/{workScheduleId}": {
      "get": {
        "tags": [
          "WorkSchedules"
        ],
        "summary": "Get work schedule by unique identifier",
        "description": "Get work schedule by specific identifier. The response will include a work schedule (if it's found) information such as unique identifier, date, working days, seasons, etc.\r\n\r\n",
        "parameters": [
          {
            "name": "workScheduleId",
            "in": "path",
            "description": "Work schedule unique identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkScheduleApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workscheduletimeadjustments": {
      "get": {
        "tags": [
          "WorkScheduleTimeAdjustment"
        ],
        "summary": "Get work schedule time adjustments",
        "description": "Get all work schedule time adjustments or add query parameters to filter the results. The response will include a collection of matched work schedule time adjustments with their information such as unique identifier, name, work days, etc.\r\n\r\n",
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseOfWorkScheduleTimeAdjustmentApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workscheduletimeadjustments/{workScheduleTimeAdjustmentId}": {
      "get": {
        "tags": [
          "WorkScheduleTimeAdjustment"
        ],
        "summary": "Get work schedule time adjustment by unique identifier",
        "description": "Get work schedule time adjustment by specific identifier. The response will include a work schedule time adjustment (if it's found) information such as unique identifier, name, work days, etc.\r\n\r\n",
        "parameters": [
          {
            "name": "workScheduleTimeAdjustmentId",
            "in": "path",
            "description": "Work schedule time adjustment unique identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkScheduleTimeAdjustmentApi"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonExtendedBadRequest"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddAgreementToEmployeeBatchRequest": {
        "type": "object",
        "properties": {
          "Agreements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddAgreementToEmployeeRequest"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AddAgreementToEmployeeBatchResponse": {
        "type": "object",
        "properties": {
          "NumberOfAgreementsAdded": {
            "type": "integer",
            "description": "Number of agreements successfully added to employees",
            "format": "int32",
            "readOnly": true
          },
          "Agreements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddAgreementToEmployeeResponse"
            },
            "description": "List of individual agreement assignment results",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AddAgreementToEmployeeRequest": {
        "required": [
          "ActiveFromUtc",
          "AgreementId",
          "HasConfidenceTime",
          "Id"
        ],
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "AgreementId": {
            "type": "string",
            "format": "uuid"
          },
          "ActiveFromUtc": {
            "type": "string",
            "format": "date-time"
          },
          "HasConfidenceTime": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "AddAgreementToEmployeeResponse": {
        "type": "object",
        "properties": {
          "AgreementId": {
            "type": "string",
            "description": "Unique identifier of the agreement that was assigned",
            "format": "uuid"
          },
          "Success": {
            "type": "boolean",
            "description": "Indicates whether the agreement was successfully added to the employee"
          },
          "ValidationError": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CommonValidationError"
              }
            ],
            "description": "Validation error details if the operation was not successful",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AddWorkScheduleToEmployeeBatchRequest": {
        "type": "object",
        "properties": {
          "WorkSchedules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddWorkScheduleToEmployeeRequest"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AddWorkScheduleToEmployeeBatchResponse": {
        "type": "object",
        "properties": {
          "NumberOfWorkSchedulesAdded": {
            "type": "integer",
            "description": "Number of work schedules successfully added to employees",
            "format": "int32",
            "readOnly": true
          },
          "WorkSchedules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddWorkScheduleToEmployeeResponse"
            },
            "description": "List of individual work schedule assignment results",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AddWorkScheduleToEmployeeRequest": {
        "required": [
          "ActiveSince",
          "Id",
          "WorkScheduleId",
          "WorkWeekCycleStart"
        ],
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "WorkScheduleId": {
            "type": "string",
            "format": "uuid"
          },
          "WorkWeekCycleStart": {
            "type": "integer",
            "format": "int32"
          },
          "ActiveSince": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "AddWorkScheduleToEmployeeResponse": {
        "type": "object",
        "properties": {
          "WorkScheduleId": {
            "type": "string",
            "description": "Unique identifier of the work schedule that was assigned",
            "format": "uuid"
          },
          "Success": {
            "type": "boolean",
            "description": "Indicates whether the work schedule was successfully added to the employee"
          },
          "ValidationError": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CommonValidationError"
              }
            ],
            "description": "Validation error details if the operation was not successful",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AgreementApi": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "description": "Unique identifier for the agreement",
            "format": "uuid"
          },
          "Name": {
            "type": "string",
            "description": "Name of the agreement",
            "nullable": true
          },
          "UsesFlex": {
            "type": "boolean",
            "description": "Indicates whether flex time is enabled for this agreement"
          },
          "UsesTimeBalance": {
            "type": "boolean",
            "description": "Indicates whether time balance tracking is enabled for this agreement"
          },
          "RegisteredTimeRoundOffBeforeStartInMinutes": {
            "type": "integer",
            "description": "Number of minutes to round off registered time before the schedule start",
            "format": "int32",
            "nullable": true
          },
          "RegisteredTimeRoundOffAfterEndInMinutes": {
            "type": "integer",
            "description": "Number of minutes to round off registered time after the schedule end",
            "format": "int32",
            "nullable": true
          },
          "UsesOvertime": {
            "type": "boolean",
            "description": "Indicates whether overtime compensation is enabled for this agreement"
          },
          "Overtime1CompensationAfterMinutes": {
            "type": "integer",
            "description": "Number of minutes after which overtime level 1 compensation begins",
            "format": "int32",
            "nullable": true
          },
          "Overtime2CompensationAfterMinutes": {
            "type": "integer",
            "description": "Number of minutes after which overtime level 2 compensation begins",
            "format": "int32",
            "nullable": true
          },
          "Overtime3CompensationAfterMinutes": {
            "type": "integer",
            "description": "Number of minutes after which overtime level 3 compensation begins",
            "format": "int32",
            "nullable": true
          },
          "Overtime4CompensationAfterMinutes": {
            "type": "integer",
            "description": "Number of minutes after which overtime level 4 compensation begins",
            "format": "int32",
            "nullable": true
          },
          "UsesInconvenientTime": {
            "type": "boolean",
            "description": "Indicates whether inconvenient time is enabled for this agreement"
          },
          "Discriminator": {
            "type": "string",
            "description": "Type discriminator for the agreement.",
            "nullable": true
          },
          "CreatedUtc": {
            "type": "string",
            "description": "UTC timestamp when the agreement was created",
            "format": "date-time"
          },
          "ModifiedUtc": {
            "type": "string",
            "description": "UTC timestamp when the agreement was last modified",
            "format": "date-time"
          },
          "IsActive": {
            "type": "boolean",
            "description": "Indicates whether the agreement is currently active and can be used"
          },
          "CompensateInMoney": {
            "type": "boolean",
            "description": "Indicates whether overtime can be compensated in money"
          },
          "CompensateInTime": {
            "type": "boolean",
            "description": "Indicates whether overtime can be compensated in time off"
          },
          "CompensateInTimeAndMoney": {
            "type": "boolean",
            "description": "Indicates whether overtime can be compensated in a combination of time off and money"
          },
          "OrdinaryScheduleStartTime": {
            "type": "string",
            "description": "Start time of the ordinary work schedule (format: HH:mm)",
            "nullable": true
          },
          "ExtraTimeCompensationAfterMinutes": {
            "type": "integer",
            "description": "Number of minutes after which extra time compensation begins",
            "format": "int32",
            "nullable": true
          },
          "FlexMinInHoursAndMinutes": {
            "type": "string",
            "description": "Minimum flex time balance in hours and minutes format (HH:mm)",
            "nullable": true
          },
          "FlexMaxInHoursAndMinutes": {
            "type": "string",
            "description": "Maximum flex time balance in hours and minutes format (HH:mm)",
            "nullable": true
          },
          "CompMinInHoursAndMinutes": {
            "type": "string",
            "description": "Minimum compensation limit in hours and minutes format (HH:mm)",
            "nullable": true
          },
          "CompMaxInHoursAndMinutes": {
            "type": "string",
            "description": "Maximum compensation limit in hours and minutes format (HH:mm)",
            "nullable": true
          },
          "CompensationTime1Multiplier": {
            "type": "number",
            "description": "Multiplier factor for calculating time compensation at level 1 (e.g., 1.5 means 150%)",
            "format": "double"
          },
          "CompensationTime2Multiplier": {
            "type": "number",
            "description": "Multiplier factor for calculating time compensation at level 2 (e.g., 2.0 means 200%)",
            "format": "double"
          },
          "CompensationTime3Multiplier": {
            "type": "number",
[...]
